{% load base_tags %}

{% for file in files|get_objects %}
<div class='file'>
    <i class='file-{{ file|get_file_extension }}'></i>
    <div class="file__info">
        <h4 class='file__name'>{{ file|get_file_name }}</h4>
        <p class="file__size">{{ file|get_file_size }}</p>
    </div>
    <div class="file__actions">
        <button onclick="window.open('{{ file.file.url }}')">
            <svg viewBox="0 0 384 448">
                <path opacity='0.3' d="M360 480H24a24 24 0 0 1-24-24v-16a24 24 0 0 1 24-24h336a24 24 0 0 1 24 24v16a24 24 0 0 1-24 24z"></path>
                <path d="M151.92 32h80a23.94 23.94 0 0 1 24 24v136h87.7c17.8 0 26.8 21.51 14.2 34.11l-152.3 152.26a19.36 19.36 0 0 1-27.3 0L26.12 226.14c-12.6-12.6-3.7-34.11 14.1-34.11h87.7V56a23.94 23.94 0 0 1 24-24z"></path>
            </svg>
        </button>
    </div>
</div>
{% endfor %}