<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="style.css"> <!-- Стили страницы -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous"> <!-- Стили для отображения формул -->
    <link rel="stylesheet" href="../../../highlight.css"> <!-- Стили для подсветки кода -->
    <link href="../../../ql-editor.css" rel="stylesheet" /> <!-- Стили панели инструментов -->
    
    <title>Почта</title>
</head>

<body class='light__theme orange__color__scheme'>
    <!-- Навигационное меню -->
    <aside>
        <!-- Логотип -->
        <img src='../../../img/atom.png' id='logo' alt='logo' onclick="reload(this)" />
        <!-- Навигация -->
        <nav>
            <button><span class="fi fi-rr-apps"><p>Главная</p></button>
            <button><span class="fi fi-rr-book-alt"><p>Дневник</p></button>
            <button class='active'><span class="fi fi-rr-envelope"><p>Почта</p></button>
            <button><span class="fi fi-rr-stats"><p>Отчеты</p></button>
            <button><span class="fi-rr-trophy"><p>Портфолио</p></button>
        </nav>
        <nav>
            <button onclick="switch_theme()"><span class="fi-rr-opacity"><p>Тема</p></button>
            <button onclick="switch_color_scheme()"><span class="fi-rr-palette"><p>Цвет</p></button>
        </nav>
    </aside>
    <!-- Шапка -->
    <header>
        <div class='page-header'>
            <span class="fi fi-rr-envelope" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 5px;'>Почта</h1></span>
            <div class="main-btn"><button onclick="open_create_mail_form()">Написать</button></div>
        </div>
        <nav class='toolbar'>
            <button><span class="fi-rr-list-check"></button>
            <button><span class="fi fi-rr-bell"></button>
        </nav>
        <div class="profile">
            <div class="info">
                <h4>Ученик</h4>
                <h2>Имя Фамилия</h2>
            </div>
            <img src='../../../img/Kaelthas.jpg'/>
        </div>
    </header>
    <!-- Почта -->
    <section id="mail">
        <main>
            <div class='day'>
                <div class="item new-mail">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Заголовок</h2>
                            <h3>7.05</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Отправитель</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
                <div class="item new-mail">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Заголовок</h2>
                            <h3>7.05</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Отправитель</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                    <div class="files" style='width: 100%'>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-docx'></i>
                                <h4>Домашнее задание.docx</h4>
                            </div>
                            <div class="file-btns">
                                <button class='download-file'></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-pptx'></i>
                                <h4>Теория.pptx</h4>
                            </div>
                            <div class="file-btns">
                                <button class='download-file'></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item old-mail">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Заголовок</h2>
                            <h3>7.05</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Отправитель</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
                <div class="item old-mail">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Заголовок</h2>
                            <h3>7.05</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Отправитель</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
                <div class="item old-mail">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Заголовок</h2>
                            <h3>7.05</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Отправитель</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
                <div class="item old-mail">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Заголовок</h2>
                            <h3>7.05</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Отправитель</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
                <div class="item old-mail">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Заголовок</h2>
                            <h3>7.05</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Отправитель</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
            </div>
            <!-- Кнопка "Больше писем" -->
            <div id="more-news" class='main-btn' style='margin-top: 50px'>
                <button>Больше писем</button>
            </div>
        </main>
        <img src='../../../img/atom.png' class='bg'/>
        <!-- Форма просмотра письма -->
        <div class='form'>
            <!-- Затемняющий фильтр -->
            <div class='filter' onclick="close_form(this)"></div>
            <div class="form-wrapper">
                <form>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Заголовок</h2>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Отправитель</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                    <div>
                        <span class="fi-rr-calendar" style='font-size: 0.8rem; margin-right: 5px'></span>
                        <h3 style='display: inline-block'>Дата отправки: 26.03</h3>
                    </div>
                    <hr class='divider'/>
                    <div class='files' style='width: 100%;'>
                        <div class="file">
                            <div class="file-info"><i class='file-docx'></i><h4>Домашнее задание.docx</h4></div>
                            <div class="file-btns"><button class='download-file'></button></div>
                        </div>
                        <div class="file">
                            <div class="file-info"><i class='file-pptx'></i><h4>Теория.pptx</h4></div>
                            <div class="file-btns"><button class='download-file'></button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Форма создания письма -->
        <div class='form'>
            <!-- Затемняющий фильтр -->
            <div class='filter' onclick="close_form(this)"></div>
            <div class="form-wrapper">
                <form>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <div class="dropdown">
                                <input placeholder="Кому" onkeyup="filterFunction(this)" class='dropdown-input'>
                                <div class="dropdown-content" style="display: none">
                                    <a onclick="search_fill(this)"><p>Смышляев Дмитрий Ильич</p></a>
                                    <a onclick="search_fill(this)"><p>Каратаев Вадим Алексеевич</p></a>
                                    <a onclick="search_fill(this)"><p>Сыч Эрнест Евгеньевич</p></a>
                                    <a onclick="search_fill(this)"><p>IT квантум</p></a>
                                    <a onclick="search_fill(this)"><p>Промдизайн квантум</p></a>
                                </div>
                              </div>
                        </div>
                        <button class='form-btn' type="submit"><span class="fi-rr-paper-plane" style='font-size: 1rem; margin-right: 5px'></span>Отправить</button>
                    </div>
                    <input name="news-title" class='text-field text-field-title' autocomplete="off" placeholder="Тема"></input>
                    <div id="editor" class='text-field'></div>
                    <button class='form-btn' type="button"><span class="fi-rr-clip" style='font-size: 1rem; margin-right: 5px'></span>Документ</button>
                    <div class='files'>
                        <div class="file">
                            <div class="file-info"><i class='file-xml'></i><h4>excel document.xml</h4></div>
                            <div class="file-btns"><button class="del-file"></button></div>
                        </div>
                        <div class="file">
                            <div class="file-info"><i class='file-pptx'></i><h4>presentation.pptx</h4></div>
                            <div class="file-btns"><button class="del-file"></button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../../JS/sections_manager.js'></script> <!-- Менеджер секций-->

    <!-- Подсветка кода -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <!-- Сама панель инструментов -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <!-- Отображение математических формул -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.js" integrity="sha384-zDIgORxjImEWftZXZpWLs2l57fMX9B3yWFPN5Ecabe211Hm5ZG/OIz2b07DYPUcH" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <!-- Настройки панели -->
    <script src='../../../JS/toolbar_options.js'></script>
</body>

</html>