<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="style.css"> <!-- Стили страницы -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous"> <!-- Стили для отображения формул -->
    <link rel="stylesheet" href="../../../highlight.css"> <!-- Стили для подсветки кода -->
    <link href="../../../ql-editor.css" rel="stylesheet" /> <!-- Стили панели инструментов -->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Почта</title>
</head>

<body class='dark__theme blue__color__scheme'>
    <!-- Навигационное меню -->
    <aside>
        <!-- Логотип -->
        <img src='../../../img/atom.png' id='logo' alt='logo' onclick="reload(this)" />
        <!-- Навигация -->
        <nav>
            <button><span class="fi fi-rr-apps"><p>Главная</p></button>
            <button><span class="fi fi-rr-book-alt"><p>Дневник</p></button>
            <button class='active'><span class="fi fi-rr-envelope"><p>Почта</p></button>
            <button><span class="fi fi-rr-stats"><p>Отчеты</p></button>
            <button><span class="fi-rr-trophy"><p>Портфолио</p></button>
        </nav>
    </aside>
    <!-- Шапка -->
    <header>
        <div class='page-header'>
            <span class="fi fi-rr-envelope" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 10px;'>Почта</h1></span>
            <div class="main-btn"><button onclick="open_form('#create-mail-form')">Написать</button></div>
        </div>
        <div class='profile-header'>
            <nav class='toolbar'>
                <button><span class="fi-rr-list-check"></button>
                <button><span class="fi fi-rr-bell"></button>
            </nav>
            <button class="profile" onclick="open_menu('#settings')">
                <div class="info">
                    <h4>Ученик</h4>
                    <h2>Имя Фамилия</h2>
                </div>
                <img src='../../../img/Kaelthas.jpg'/>
            </button>
            <menu id="settings">
                <h3>Настройки</h3>
                <button onclick="switch_theme()">Темная тема<span class="toggle theme"></span>
                <button onclick="switch_color_scheme()">Цветовая схема<span class="toggle color-scheme"></span>
                <button>Выйти</button>
            </menu>
        </div>
    </header>
    <!-- Почта -->
    <section id="mail">
        <main>
            <div class="item new-mail" data-aos="fade-up">
                <div class="mail-sender">
                    <img src='../../../img/Kaelthas.jpg'/>
                    <h4>Фамилия Имя<br>Отчество</h4>
                </div>
                <div class="mail-info">
                    <div class='item-header'>
                        <h2>Тема письма</h2>
                        <h3>3.06 2021</h3>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                    <div class='files'>
                        <div class="file file-mini">
                            <div class="file-info">
                                <i class='file-docx'></i>
                                <h4>Домашнее задание.docx</h4>
                            </div>
                        </div>
                        <div class="file file-mini">
                            <div class="file-info">
                                <i class='file-pptx'></i>
                                <h4>Теория.pptx</h4>
                            </div>
                        </div>
                        <div class='file file-mini'>
                            <div class="file-info">
                                <i class='file-mov'></i>
                                <h4>video.mov</h4>
                            </div>
                        </div>
                        <div class='file file-mini'>
                            <div class="file-info">
                                <i class='file-mp3'></i>
                                <h4>audio.mp3</h4>
                            </div>
                        </div>
                        <div class='file file-mini'>
                            <div class="file-info">
                                <i class='file-pyc'></i>
                                <h4>python prog.pyc</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item old-mail" data-aos="fade-up">
                <div class="mail-sender">
                    <img src='../../../img/Kaelthas.jpg'/>
                    <h4>Фамилия Имя<br>Отчество</h4>
                </div>
                <div class="mail-info">
                    <div class='item-header'>
                        <h2>Тема письма</h2>
                        <h3>3.06 2021</h3>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                    <div class='files'>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-docx'></i>
                                <h4>Домашнее задание.docx</h4>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-pptx'></i>
                                <h4>Теория.pptx</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Кнопка "Больше писем" -->
            <div class='main-btn' style='margin: 25px 0;' data-aos="fade-up">
                <button>Больше писем</button>
            </div>
        </main>
        <img src='../../../img/atom.png' class='bg'/>

        <!-- Форма просмотра письма -->
        <div class='form'>
            <div class="form-wrapper">
                <form>
                    <div class='item-header mail-header'>
                        <div class="sender">
                            <img src='../../../img/Kaelthas.jpg'/>
                            <div class="info">
                                <h2>Фамилия Имя Отчество</h2>
                                <h4>3.06 2021</h4>
                            </div>
                        </div>
                        <nav>
                            <button class='form-btn'><span class='fi-rr-undo'></span>Ответить</button>
                            <button class='form-btn'><span class='fi-rr-star'></span>Важное</button>
                            <button class='form-btn'><span class='fi-rr-trash'></span>Удалить</button>
                        </nav>
                    </div>
                    <h2>Тема письма</h2>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php. Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php. Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                    <div class='files'>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-docx'></i>
                                <h4>Домашнее задание.docx</h4>
                            </div>
                            <div class="file-btns">
                                <button class='download-file'></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-pptx'></i>
                                <h4>Теория.pptx</h4>
                            </div>
                            <div class="file-btns">
                                <button class='download-file'></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Форма создания письма -->
        <div class='form' id='create-mail-form'>
            <div class="form-wrapper">
                <div class="forms__container">
                    <form>
                        <div class="item-header">
                            <input placeholder="Поиск пользователей" onkeyup="filterFunction(this)" class='dropdown-input'>
                            <button class='filter-button active' type="button" onclick="filter_applying(this, 'Ученик')"><i class="fi-rr-backpack"></i></button>
                            <button class='filter-button active' type="button" onclick="filter_applying(this, 'Учитель')"><i class="fi-rr-graduation-cap"></i></button>
                            <button class='filter-button active' type="button" onclick="filter_applying(this, 'Группа')"><i class="fi-rr-physics"></i></button>
                            <button class='filter-button active' type="button" onclick="filter_applying(this, 'Администратор')"><i class="fi-rr-crown"></i></button>
                        </div>
                        <div class="users unselected" style='display: none'>
                            <div class="user draggable">
                                <img src='../../../img/Kaelthas.jpg'/>
                                <div class="info">
                                    <h4>Ученик</h4>
                                    <h2>Смышляев Дмитрий</h2>
                                </div>
                            </div>
                            <div class="user draggable">
                                <img src='../../../img/Kaelthas.jpg'/>
                                <div class="info">
                                    <h4>Учитель</h4>
                                    <h2>Сыч Эрнест</h2>
                                </div>
                            </div>
                            <div class="user draggable">
                                <img src='../../../img/atom.png'/>
                                <div class="info">
                                    <h4>Группа</h4>
                                    <h2>IT квантум</h2>
                                </div>
                            </div>
                            <div class="user draggable">
                                <img src='../../../img/Kaelthas.jpg'/>
                                <div class="info">
                                    <h4>Администратор</h4>
                                    <h2>Каратаев Вадим</h2>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form>
                        <div class='item-header'>
                            <h1>Получатели</h1>
                            <button class='form-btn' type="submit">Отправить</button>
                        </div>
                        <div class="users selected">
                            <!-- Место для выбранных пользователей -->
                        </div>
                        <input class='text-field text-field-title' autocomplete="off" placeholder="Тема"></input>
                        <div id="editor" class='text-field'></div>
                        <button class='form-btn' type="button">Документ</button>
                        <div class='files'>
                            <div class="file">
                                <div class="file-info">
                                    <i class='file-xml'></i>
                                    <h4>excel document.xml</h4>
                                </div>
                                <div class="file-btns">
                                    <button class="del-file"></button>
                                </div>
                            </div>
                            <div class="file">
                                <div class="file-info">
                                    <i class='file-pptx'></i>
                                    <h4>presentation.pptx</h4>
                                </div>
                                <div class="file-btns">
                                    <button class="del-file"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../../JS/sections_manager.js'></script>

    <!-- Подсветка кода -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <!-- Сама панель инструментов -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <!-- Отображение математических формул -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.js" integrity="sha384-zDIgORxjImEWftZXZpWLs2l57fMX9B3yWFPN5Ecabe211Hm5ZG/OIz2b07DYPUcH" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <!-- Настройки панели -->
    <script src='../../../JS/toolbar_options.js'></script>

    <!-- Библиотека для перетаскивания -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/utils/Draggable.min.js"></script>
    <script src="../../../JS/draggable_options.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>AOS.init({ offset: -200 })</script>

    <!-- <script type="module">
        import pointers from 'https://cdn.skypack.dev/morphing-pointer@0.4.0';

        new pointers.MorphingPointer().init()
    </script> -->
</body>

</html>