/* Почта */
#mail { padding-left: 190px }

/* Шапка секции */
header .page-header  {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 0 10px;
}
header .page-header  .week-selector {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .page-header  .week-selector .weeks {
    height: 40px;
    margin: 0 5px;
    font-size: 24px;
}
header .page-header  .week-selector .btn {
    width: 40px;
    padding: 4px;
}
header .page-header .week-selector span { font-size: 32px }

/* Письма */
#mail main {
    width: 1000px;
    height: 800px;
    padding: 25px 10px 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#mail main .day{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#mail main .day > h3 {
    text-align: right;
}
#mail main .day .item {
    padding: 10px 25px 15px 25px;
    position: relative;
}
#mail main .day .item .item-header {
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 5px;
    height: 40px;
}
#mail main .day .item .item-header .lesson-title h2 {
    display: inline-block;
    margin-right: 10px;
}
#mail main .day .item .item-header .lesson-title h3 {
    color: #0E58B5;
    font-weight: bold;
    display: inline-block;
}
#mail main .day .item .item-header .lesson-teacher {
    display: flex; align-items: center;
    height: 100%;
}
#mail main .day .item .item-header .lesson-teacher img {
    width: 32px; height: 32px;
}
#mail main .day .item .item-header .lesson-teacher h4 {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
#mail main .day .item .item-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Стилизация выпадающего списка */
.dropdown-input{ font-size: 1.5rem; color: #111926; font-weight: bold; margin-top: 10px; min-width: 400px }
.dropdown{ position: relative;  display: inline-block }
.dropdown-content{ display: none; position: absolute; background-color: #f6f6f6; min-width: 230px; z-index: 1 }
.dropdown-content a{ color: black; padding: 6px 16px; display: block }
.dropdown-content a:hover{ background-color: #f1f1f1 }

/* Кнопка "Написать" */
.main-btn{
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #0E58B5;
    color: #fff;
    font-size: 24px;
    transition-duration: .2s;
    transition-property: transform box-shadow;
    box-shadow: 0 5px 0 0 #0b458b;
    transform: translate(0, 0);
}
.main-btn:hover{
    box-shadow: 0 3px 0 0 #0b458b;
    transform: translate(0, 3px);
}