/* Почта */
#mail { padding-left: 304px }

/* Шапка секции */
header .page-header{
    display: flex; justify-content: space-between;
    width: 1000px;
    padding: 0 10px; margin-right: auto;
    position: relative;
}
header .page-header > div{
    height: 100%;
    display: flex; align-items: center;
}
header .page-header > div > p{
    background-color: var(--button-bg-color);
    padding: 0 16px;
    display: flex; align-items: center;
    border-radius: 8px;
}
header .page-header > div > p svg{
    margin-left: 4px;
}
#mail-tabs{ right: 150px }
#mail-tabs button div{
    display: flex; align-items: center; gap: 8px;
}

header .page-header .main-btn{
    width: max-content;
}

/* Письма */
#mail main{
    width: 1000px;
    padding: 25px 10px 100px;
}
#mail .container{
    display: flex; flex-direction: column; gap: 10px;
    padding-top: 5px;
}

/* Письмо */
#mail main .item{
    border: #0001 solid 1px;
    position: relative;
    display: flex;
}
.mail-sender{
    background-image: 
		linear-gradient(transparent 0px, transparent 49px, rgba(255,255,255, 0.2) 50px, transparent 51px, transparent 99px, rgba(255,255,255, 0.2) 100px), 
		linear-gradient(120deg, transparent 0, transparent 48px, rgba(255,255,255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255,255,255, 0.2) 99px, transparent 100px), 
		linear-gradient(60deg, transparent 0, transparent 48px, rgba(255,255,255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255,255,255, 0.2) 99px, transparent 100px), 
		linear-gradient(90deg, var(--color-scheme-gradient), var(--color-scheme));
	background-size: 100px 100px, 115px 100px, 115px 100px, auto;
    width: 156px;
    border-radius: 10px 0 0 10px;
    padding: 16px;
    display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 8px;
}
.mail-sender img{
    width: 96px; height: 96px;
    object-fit: cover;
    border: #fff6 solid 4px; border-radius: 50%;
}
.mail-sender h4{
    color: #fff; font-size: 1rem; text-align: center;
}
.mail-info{
    width: calc(100% - 156px); height: 100%;
    padding: 16px;
    display: flex; flex-direction: column; gap: 8px;
}

.mail-info .item-header{
    display: flex; align-items: center;
    height: 32px;
}
.mail-info .item-header h2{
    display: inline-block;
    margin-right: 10px;
    max-width: 84%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.mail-info .item-header h3{
    color: var(--color-scheme-dark); font-weight: bold;
    margin-top: 4px;
    min-width: 16%;
    white-space: nowrap;
}
.mail-info .files{
    margin-top: 8px;
}
.mail-info .files .file:hover{
    transform: none;
}
.mail-info .item-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Псевдоэлемент письма */
.item::after, form::after{
    content: '';
    position: absolute;
    right: 0; top: 0;
    height: 100%; width: 10px;
    border-radius: 0 10px 10px 0;
}

.new-mail::after{ background-color: var(--color-scheme-gradient) } /* Непрочитанное */
.old-mail::after{ background-color: var(--color-scheme) } /* Прочитанное */

.form .form-wrapper form .user{
    min-width: max-content;
}

/* Адаптивность */
@media screen and (max-width: 992px){
    #mail main, #mail, header{ width: 100% }
    #mail{ padding: 0 45px }
    header{ padding: 25px 45px }
    header .page-header, header .profile-header{ width: 100% }
}