{% load static %}
{% load base_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    
    {% include "CoreApp/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href='{% static "AdminApp/style.css" %}'> <!-- Стили страницы -->
    
    <title>Поиск</title>
</head>

<body>

    {% include "CoreApp/AsideMenu/index.html" with user=user active='admin_page' %}

    <main class="mainContainer">
        {% include "AdminApp/HeadMenu/index.html" with active='courses' %}

        <section class="Tab active">

            <nav>
                <div class="column g8">
                    <h3>Поиск по Направлениям</h3>
                    <input type="text" placeholder="Введите группу">
                </div>
                <div class="column g8">
                    <h3>Направление</h3>
                    <div class="filtering" style="width: 12rem">
                        <div class="dropdownSelect">
                            <div class="dropdownSelect__trigger">
                                <div>Все</div>
                                <div class="arrowDown"></div>
                            </div>
                            <div class="dropdownSelect__options">
                                <span class='dropdownSelect__option selected'>Все</span>
                                <span class='dropdownSelect__option'>IT</span>
                                <span class='dropdownSelect__option'>Энерджи</span>
                                <span class='dropdownSelect__option'>Хайтек</span>
                                <span class='dropdownSelect__option'>ПромДизайн</span>
                                <span class='dropdownSelect__option'>ПромРобо</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column g8">
                    <h3>Добавление</h3>
                    <button class="secondaryButton" onclick="open_form('#createGroup')">
                        Добавить группу
                    </button>
                </div>
            </nav>

            <div class="row">
                <button class="danger combinedButton">
                    <svg viewBox="0 0 448 512">
                        <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM143 207C152.4 197.7 167.6 197.7 176.1 207L223.1 254.1L271 207C280.4 197.7 295.6 197.7 304.1 207C314.3 216.4 314.3 231.6 304.1 240.1L257.9 287.1L304.1 335C314.3 344.4 314.3 359.6 304.1 368.1C295.6 378.3 280.4 378.3 271 368.1L223.1 321.9L176.1 368.1C167.6 378.3 152.4 378.3 143 368.1C133.7 359.6 133.7 344.4 143 335L190.1 287.1L143 240.1C133.7 231.6 133.7 216.4 143 207V207z"/>
                        <path style='opacity: .3' d="M394.6 466.8C393.1 492.2 372.1 512 346.7 512H101.3C75.87 512 54.86 492.2 53.39 466.8L32 96H416L394.6 466.8zM143 240.1L190.1 287.1L143 335C133.7 344.4 133.7 359.6 143 368.1C152.4 378.3 167.6 378.3 176.1 368.1L223.1 321.9L271 368.1C280.4 378.3 295.6 378.3 304.1 368.1C314.3 359.6 314.3 344.4 304.1 335L257.9 287.1L304.1 240.1C314.3 231.6 314.3 216.4 304.1 207C295.6 197.7 280.4 197.7 271 207L223.1 254.1L176.1 207C167.6 197.7 152.4 197.7 143 207C133.7 216.4 133.7 231.6 143 240.1V240.1z"/>
                    </svg>
                    Удалить выбранные курсы
                </button>
            </div>

            <div class="table scrollbarX">
                <div class="tableHeader">
                    <input type="checkbox" title='Выбрать все' onchange="$('.tableRow input[type=checkbox]').prop('checked', $(this).prop('checked'));">
                    <p style="width: 20rem">Группа</p>
                    <p style="width: 20rem">Учитель</p>
                    <p style="width: 12rem">Количество учеников</p>
                </div>
                
                {% for course in courses %}
                <div class="tableRow">
                    <input type="checkbox">
                    <div class="tableUser row g8">
                        <img src="{{ course.type.image.url }}" class="tableUser__avatar avatar">
                        <div class='column'>
                            <p class="tableUser__name">{{ course }}</p>
                            <p class="tableUser__role">Группа</p>
                        </div>
                    </div>
                    <div class="tableUser row g8" title="Перейти в профиль" onclick="location.href=`{% url 'settings_page' course.teacher.id %}`">
                        <img src="{{ course.teacher.image.url }}" class="tableUser__avatar avatar">
                        <div class='column'>
                            <p class="tableUser__name">
                                {{ course.teacher.surname }}
                                {{ course.teacher.name }}
                                {{ course.teacher.patronymic }}
                            </p>
                            <p class="tableUser__role">Учитель</p>
                        </div>
                    </div>
                    
                    <div class="tableCell number">
                        <h3>{{ course.students|get_objects|length }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>

        </section>

    </main>

    <!-- Форма создания группы -->
    <div class='modal' id='createGroup'>
        <div class="modal__viewport" style="width: 56rem">
            <form class="modal__content">
                <div class='modal__block'>
                    <h1 class="modal__title">Создание группы</h1>
                    <button class='secondaryButton' type="submit">
                        <svg viewBox="0 0 24 24">
                            <circle cx="12" cy="14" r="2" opacity='0.6'/>
                            <path d="M22.536,4.122,19.878,1.464A4.99,4.99,0,0,0,19,.775V3a5.006,5.006,0,0,1-5,5H10A5.006,5.006,0,0,1,5,3V0A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V7.657A4.966,4.966,0,0,0,22.536,4.122ZM12,18a4,4,0,1,1,4-4A4,4,0,0,1,12,18Z"/>
                            <path opacity='0.6' d="M10,6h4a3,3,0,0,0,3-3V.064A5.128,5.128,0,0,0,16.343,0H7V3A3,3,0,0,0,10,6Z"/>
                        </svg>    
                        Сохранить
                    </button>
                </div>

                <h3>Направление</h3>
                <div class="filtering" style="width: 16rem">
                    <div class="dropdownSelect">
                        <div class="dropdownSelect__trigger">
                            <div>Не выбрано</div>
                            <div class="arrowDown"></div>
                        </div>
                        <div class="dropdownSelect__options">
                            <span class='dropdownSelect__option selected'>Не выбрано</span>
                            {% for subject in subjects %}
                            <span class='dropdownSelect__option'>{{ subject.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <h3>Название</h3>
                <input class='text-field text-field-title' autocomplete="off" type='text'/>

                <h3>Распиcание</h3>

                <div class="row g8" id="lessonsTime">
                    <div class="column g8">
                        <h3>ПН</h3>
                        <input type="time" step='300' class='text-field text-field-title'>
                    </div>
                    <div class="column g8">
                        <h3>ВТ</h3>
                        <input type="time" class='text-field text-field-title'>
                    </div>
                    <div class="column g8">
                        <h3>СР</h3>
                        <input type="time" class='text-field text-field-title'>
                    </div>
                    <div class="column g8">
                        <h3>ЧТ</h3>
                        <input type="time" class='text-field text-field-title'>
                    </div>
                    <div class="column g8">
                        <h3>ПТ</h3>
                        <input type="time" class='text-field text-field-title'>
                    </div>
                    <div class="column g8">
                        <h3>СБ</h3>
                        <input type="time" class='text-field text-field-title'>
                    </div>
                    <div class="column g8">
                        <h3>ВС</h3>
                        <input type="time" class='text-field text-field-title'>
                    </div>
                </div>

                <h3>Учитель</h3>
                <div id="selectedTeachers" class="selectedUsers">
                    <!-- Здесь появляются учителя -->
                </div>
                <input type="text" onkeyup="filterFunction(this, $('#teacherSelect'))" id='teacherSearch' placeholder="Введите ФИО">
                <div class="userSelect" id='teacherSelect'>
                    {% for teacher in teachers %}
                    <div class="userSelect__user row">
                        <img src="{{ teacher.image.url }}" class='userSelect__userImage'>
                        <div class="userSelect__userInfo">
                            <h3 class="userSelect__userName">{{ teacher.surname }} {{ teacher.name }}</h3>
                            <p class="userSelect__userRole">Учитель</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h3>Ученики</h3>
                <div id="selectedStudents" class="selectedUsers">
                    <!-- Здесь появляются ученики -->
                </div>
                <input type="text" onkeyup="filterFunction(this, $('#studentSelect'))" id='studentSearch' placeholder="Введите ФИО">
                <div class="userSelect" id='studentSelect'>
                    {% for student in students %}
                    <div class="userSelect__user row">
                        <img src="{{ student.image.url }}" class='userSelect__userImage'>
                        <div class="userSelect__userInfo">
                            <h3 class="userSelect__userName">{{ student.surname }} {{ student.name }}</h3>
                            <p class="userSelect__userRole">Ученик</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </form>
        </div>
    </div>

    <div class="alertsContainer column" id='alertsContainer'></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    
    <script src="{% static 'CoreApp/text/options.js' %}"></script>
    <script src="{% static 'CoreApp/drop/dropdownSelect.js' %}"></script> <!-- Выпадающие меню -->
    <script src="{% static 'AdminApp/CoursesTable/scripts.js' %}"></script>

    <script>
        $('#teacherSelect .userSelect__user').click( function() {
            if ($(this).parent().attr('id') == 'teacherSelect') {
                $('#selectedTeachers').append($(this));
                $('#teacherSearch').val('').focus();
                $('.userSelect').hide();
                $('#teacherSearch').hide();
            } else {
                $('#teacherSelect').append($(this));
                $('#teacherSearch').show();
            }
        });

        $('#studentSelect .userSelect__user').click( function() {
            if ($(this).parent().attr('id') == 'studentSelect') {
                $('#selectedStudents').append($(this));
                $('#studentSearch').val('').focus();
                $('.userSelect').hide();
            } else {
                $('#studentSelect').append($(this));
            }
        });
    </script>
</body>

</html>