<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='Student interface.css' /> <!-- Стили страницы -->
    <link rel='stylesheet' href='../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../img/logo.svg" type="image/svg" />
    <title>Дневник</title>
</head>

<body>
    <!-- Навигационное меню -->
    <aside>
        <img src='../../img/logo.svg' id='logo' alt='logo' onclick="reload(this)"/>
        <nav>
            <button><span class="fi fi-rr-apps"></button>
            <button class='active'><span class="fi fi-rr-book-alt"></button>
            <button><span class="fi fi-rr-envelope"></button>
            <button><span class="fi fi-rr-stats"></button>
        </nav>
        <nav style='position:absolute; bottom: 15px'>
            <button><span class="fi fi-rr-list-check"></button>
            <button><span class="fi fi-rr-bell"></button>
            <button class='user-img'><span class="fi fi-rr-circle"></button>
        </nav>
    </aside>
    <!-- Дневник -->
    <section id="diary">
        <header>
            <h1>Diary</h1>
            <div class="week-selector">
                <button><span class="fi-rr-angle-double-small-left"></span></button>
                <h3 style='color: #fff'>01.02 - 07.02</h3>
                <button><span class="fi-rr-angle-double-small-right"></span></button>
            </div>
        </header>
        <main>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                <div class="item four">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Зарывных П. С</h4>
                            <img src='../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                <div class="item absence">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
                <div class="item one">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
            </div>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                <div class="item four">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
                <div class="item two">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
            </div>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                <div class="item absence">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
                <div class="item one">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../img/unnamed.png'/>
                        </div>
                    </div>
                    <p class='item-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
            </div>
        </main>
        <img src='../../img/atom.png' class='bg'/>
    </section>
    <script src='../../JS/sections_manager.js'></script> <!-- Менеджер секций-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

</html>