<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='Student interface.css' /> <!-- Стили страницы -->
    <link rel='stylesheet' href='../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../img/logo.svg" type="image/svg" />
    <title>Почта</title>
</head>

<body>
    <!-- Навигационное меню -->
    <aside>
        <img src='../../img/logo.svg' id='logo' alt='logo' onclick="reload(this)"/>
        <nav>
            <button><span class="fi fi-rr-apps"></button>
            <button><span class="fi fi-rr-book-alt"></button>
            <button class='active'><span class="fi fi-rr-envelope"></button>
            <button><span class="fi fi-rr-stats"></button>
        </nav>
        <nav style='position:absolute; bottom: 15px'>
            <button><span class="fi fi-rr-list-check"></button>
            <button><span class="fi fi-rr-bell"></button>
            <button class='user-img'><span class="fi fi-rr-circle"></button>
        </nav>
    </aside>
    <!-- Почта -->
    <section id="mail">
        <h1>Mail</h1>
    </section>
    <script src='../../JS/sections_manager.js'></script> <!-- Менеджер секций-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

</html>