<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../../main.css'/> <!-- Основные стили -->
    <link rel='stylesheet' href='main - student.css'/> <!-- Стили страницы -->
    <link rel='stylesheet' href='../../uicons-regular-rounded.css'/> <!-- Иконки -->
    <title>Главная</title>
</head>
<body>
    <!-- Навигационное меню -->
    <aside>
        <img src='../../img/logo.svg' id='logo' alt='logo'/>
        <nav>
            <button class='active'><span class="fi fi-rr-apps"></button>
            <button><span class="fi fi-rr-book-alt"></button>
            <button><span class="fi fi-rr-envelope"></button>
            <button><span class="fi fi-rr-stats"></button>
        </nav>
        <nav style='position:absolute; bottom: 15px'>
            <button><span class="fi fi-rr-list-check"></button>
            <button><span class="fi fi-rr-bell"></button>
            <button class='user-img'><span class="fi fi-rr-circle"></button>
        </nav>
    </aside>
    <!-- Верхние виджеты -->
    <section id='widgets'>
        <div id='mini-task-manager'>
            <h1>Good day, name!</h1>
        </div>
        <div id='courses-manager'>
            <h1>Your courses</h1>
        </div>
    </section>
    <!-- Новости -->
</body>
</html>