<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='main - student.css' /> <!-- Стили страницы -->
    <link rel='stylesheet' href='../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../img/logo.svg" type="image/svg" />
    <title>Главная</title>
</head>

<body>
    <!-- Навигационное меню -->
    <aside>
        <img src='../../img/logo.svg' id='logo' alt='logo' />
        <nav>
            <button class='active'><span class="fi fi-rr-apps"></button>
            <button><span class="fi fi-rr-book-alt"></button>
            <button><span class="fi fi-rr-envelope"></button>
            <button><span class="fi fi-rr-stats"></button>
        </nav>
        <nav style='position:absolute; bottom: 15px'>
            <button><span class="fi fi-rr-list-check"></button>
            <button><span class="fi fi-rr-bell"></button>
            <button class='user-img'><span class="fi fi-rr-circle"></button>
        </nav>
    </aside>
    <section id='main-page'>
        <!-- Верхние виджеты -->
        <section id='widgets'>
            <div id='mini-task-manager'>
                <h1>Good day, name!</h1>
                <h3>Lorem ipsum dolor sit amet</h3>
                <div>
                    <ul>
                        <li><input type='checkbox'/><h4>First task</h4></li>
                        <li><input type='checkbox'/><h4>Second task</h4></li>
                        <li><input type='checkbox'/><h4>Third task</h4></li>
                        <li><input type='checkbox'/><h4>New homework</h4></li>
                        <li><input type='checkbox'/><h4>First task</h4></li>
                        <li><input type='checkbox'/><h4>Second task</h4></li>
                        <li><input type='checkbox'/><h4>Third task</h4></li>
                        <li><input type='checkbox'/><h4>New homework</h4></li>
                        <li><input type='checkbox'/><h4>First task</h4></li>
                        <li><input type='checkbox'/><h4>Second task</h4></li>
                        <li><input type='checkbox'/><h4>Third task</h4></li>
                        <li><input type='checkbox'/><h4>New homework</h4></li>
                    </ul>
                    <button id='new-task'>
                        <span class="fi fi-rr-plus"><p>new task</p>
                    </button>
                </div>
            </div>
            <div id='courses-manager'>
                <h1>Your courses</h1>
                <div>
                    <div class='item'>
                        <img src="../../img/default_bg.png" alt="Превью" />
                        <h2>IT</h2>
                        <h4>ВТ 18:20 ЧТ 18:20</h4>
                        <h4>Зарывных П. С</h4>
                    </div>
                    <div class='item'>
                        <img src="../../img/default_bg.png" alt="Превью" />
                        <h2>Math</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                    <div class='item'>
                        <img src="../../img/default_bg.png" alt="Превью" />
                        <h2>English</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- Новости -->
        <section id='news'>
            <h1>News</h1>
            <div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe voluptate, adipisci in culpa dignissimos, tenetur tempora non earum architecto sit dolorum eos aliquam sapiente quasi, sint similique blanditiis! Minus, aut.</p>
                </div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Molestias, eum mollitia? Rem labore nobis expedita similique quia non nostrum, dolores porro dignissimos animi temporibus pariatur voluptates provident fugit totam enim qui eligendi officiis. Iusto laudantium iure nostrum asperiores?</p>
                </div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Necessitatibus et nesciunt dicta harum. Pariatur ratione ipsa sint amet ea, porro impedit! Ad doloribus enim, laboriosam saepe perspiciatis dolorem totam eaque vitae, facilis sapiente unde, accusantium cum quis odio.</p>
                </div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe voluptate, adipisci in culpa dignissimos, tenetur tempora non earum architecto sit dolorum eos aliquam sapiente quasi, sint similique blanditiis! Minus, aut.</p>
                </div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Molestias, eum mollitia? Rem labore nobis expedita similique quia non nostrum, dolores porro dignissimos animi temporibus pariatur voluptates provident fugit totam enim qui eligendi officiis. Iusto laudantium iure nostrum asperiores?</p>
                </div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Necessitatibus et nesciunt dicta harum. Pariatur ratione ipsa sint amet ea, porro impedit! Ad doloribus enim, laboriosam saepe perspiciatis dolorem totam eaque vitae, facilis sapiente unde, accusantium cum quis odio.</p>
                </div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe voluptate, adipisci in culpa dignissimos, tenetur tempora non earum architecto sit dolorum eos aliquam sapiente quasi, sint similique blanditiis! Minus, aut.</p>
                </div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Molestias, eum mollitia? Rem labore nobis expedita similique quia non nostrum, dolores porro dignissimos animi temporibus pariatur voluptates provident fugit totam enim qui eligendi officiis. Iusto laudantium iure nostrum asperiores?</p>
                </div>
                <div class="item">
                    <img src="../../img/default_bg.png" alt="Превью">
                    <h2>Title</h2>
                    <p>Necessitatibus et nesciunt dicta harum. Pariatur ratione ipsa sint amet ea, porro impedit! Ad doloribus enim, laboriosam saepe perspiciatis dolorem totam eaque vitae, facilis sapiente unde, accusantium cum quis odio.</p>
                </div>
            </div>
        </section>
    </section>
</body>

</html>