<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="style.css"> <!-- Стили страницы -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous"> <!-- Стили для отображения формул -->
    <link rel="stylesheet" href="../../../highlight.css"> <!-- Стили для подсветки кода -->
    <link href="../../../ql-editor.css" rel="stylesheet" /> <!-- Стили панели инструментов -->
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Дневник</title>
</head>

<body class='light__theme blue__color__scheme'>
    <!-- Навигационное меню -->
    <aside>
        <!-- Логотип -->
        <img src='../../../img/atom.png' id='logo' alt='logo' onclick="reload(this)" />
        <!-- Навигация -->
        <nav>
            <button><span class="fi fi-rr-apps"><p>Главная</p></button>
            <button class='active'><span class="fi fi-rr-book-alt"><p>Дневник</p></button>
            <button><span class="fi fi-rr-envelope"><p>Почта</p></button>
            <button><span class="fi fi-rr-stats"><p>Отчеты</p></button>
            <button><span class="fi-rr-trophy"><p>Портфолио</p></button>
        </nav>
    </aside>
    <!-- Шапка -->
    <header>
        <div class='page-header'>
            <span class="fi fi-rr-book-alt" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 10px;'>Дневник</h1></span>
            <div class="week-selector">
                <div class='main-btn'><button class='btn'><span class="fi-rr-angle-double-small-left"></span></button></div>
                <div class='main-btn'><button class="weeks">01.02 - 07.02</button></div>
                <div class='main-btn'><button class='btn'><span class="fi-rr-angle-double-small-right"></span></button></div>
            </div>
        </div>
        <div class='profile-header'>
            <nav class='toolbar'>
                <button><span class="fi-rr-list-check"></button>
                <button><span class="fi fi-rr-bell"></button>
            </nav>
            <button class="profile" onclick="open_menu('#settings')">
                <div class="info">
                    <h4>Ученик</h4>
                    <h2>Имя Фамилия</h2>
                </div>
                <img src='../../../img/Kaelthas.jpg'/>
            </button>
            <menu id="settings">
                <h3>Настройки</h3>
                <button onclick="switch_theme()">Темная тема<span class="toggle theme"></span>
                <button onclick="switch_color_scheme()">Цветовая схема<span class="toggle color-scheme"></span>
                <button>Выйти</button>
            </menu>
        </div>
    </header>
    <!-- Дневник -->
    <section id="diary">
        <main>
            <div class='day' data-aos='fade-up'>
                <h3>BT 02.02.2021</h3>
                <div class="item disease" data-aos='fade-up'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Предмет</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
            <div class='day' data-aos='fade-up'>
                <h3>BT 02.02.2021</h3>
                <div class="item absence" data-aos='fade-up'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
                <div class="item one" data-aos='fade-up'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
            <div class='day' data-aos='fade-up'>
                <h3>BT 02.02.2021</h3>
                <div class="item four" data-aos='fade-up'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                    <div class="files" style='width: 100%'>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-docx'></i>
                                <h4>Домашнее задание.docx</h4>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-pptx'></i>
                                <h4>Теория.pptx</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item two" data-aos='fade-up'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
            <div class='day' data-aos='fade-up'>
                <h3>BT 02.02.2021</h3>
                <div class="item absence" data-aos='fade-up'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
                <div class="item three" data-aos='fade-up'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
        </main>
        <img src='../../../img/atom.png' class='bg' />
        <!-- Форма просмотра домашнего задания -->
        <div class='form'>
            <div class="form-wrapper">
                <form class='four'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Зарывных П. С</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                    <hr class='divider'/>
                    <div class="item-header">
                        <h2>Домашнее задание</h2>
                        <button class='form-btn' type="submit"><span class="fi-rr-paper-plane"></span>Сдать</button>
                    </div>  
                    <textarea class='text-field' autocomplete="off" placeholder="Комментарий"></textarea>
                    <button class='form-btn' type="button"><span class="fi-rr-clip"></span>Документ</button>
                    <div class='files'>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-java'></i>
                                <h4>java prog.java</h4>
                            </div>
                            <div class="file-btns">
                                <button class="del-file"></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-xml'></i>
                                <h4>excel document.xml</h4>
                            </div>
                            <div class="file-btns">
                                <button class="del-file"></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-pptx'></i>
                                <h4>presentation.pptx</h4>
                            </div>
                            <div class="file-btns">
                                <button class="del-file"></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-doc'></i>
                                <h4>document.doc</h4>
                            </div>
                            <div class="file-btns">
                                <button class="del-file"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../../JS/sections_manager.js'></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>AOS.init({ offset: -200 })</script>
</body>

</html>