/* Дневник */
#diary { padding-left: 190px }

/* Шапка секции */
header .page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 50px;
    padding: 0 10px;
    margin-right: auto;
}
header .page-header .week-selector {
    height: 40px;
    display: flex; align-items: center;
}
header .page-header .week-selector .main-btn .weeks {
    margin: 0 5px;
    font-size: 24px;
}
header .page-header .week-selector .main-btn .btn {
    padding: 4px;
    font-size: 32px;
}
header .page-header .week-selector .main-btn .btn span{
    color: #fff;
}
/* Кнопки "<<" и ">>" */
.main-btn button{
    height: 40px;
    width: max-content;
}

/* Занятия */
#diary main {
    width: 1000px;
    padding: 0 10px 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#diary main .day{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#diary main .day > h3 {
    text-align: right;
}
#diary main .day .item {
    padding: 10px 25px 15px 25px;
    position: relative;
    border: #0001 solid 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#diary main .day .item .item-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
#diary main .day .item .item-header .lesson-title h2 {
    display: inline-block;
    margin-right: 10px;
}
#diary main .day .item .item-header .lesson-title h3 {
    color: var(--color-scheme-dark);
    font-weight: bold;
    display: inline-block;
}
#diary main .day .item .item-header .lesson-teacher {
    display: flex; 
    align-items: center;
}
#diary main .day .item .item-header .lesson-teacher img {
    width: 32px; height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
#diary main .day .item .item-header .lesson-teacher h4 {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
#diary main .day .item .files{
    margin-top: 10px;
}
#diary main .day .item .item-text{
    overflow: hidden;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Псевдоэлемент оценки */
.day > .item::after, form::after {
    content: '';
    position: absolute;
    right: 0; top: 0;
    height: 100%; width: 10px;
    border-radius: 0 10px 10px 0;
}
.four::after { background-color: #33B679 } /* Идеально */
.three::after { background-color: #F4511E } /* С замечаниями */
.two::after { background-color: #F6BF26 } /* Сойдет */
.one::after { background-color: #D50000 } /* Плохо */
.absence::after { background-color: #3F51B5 } /* Отсутствие */
.disease::after { background-color: #8E24AA } /* Отсутствие по болезни */


@media screen and (max-width: 790px){
    #diary main, #diary, header{
        width: 100%;
    }
    #diary{
        padding: 0 45px;
    }
    header{
        padding: 25px 45px;
    }
    header .page-header, header .profile-header{
        width: 100%;
    }
}