/* Дневник */
#diary { padding-left: 190px }

/* Шапка секции */
header .page-header{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 0 10px;
}
header .page-header .week-selector {
    height: 40px;
    display: flex;
    align-items: center;
}
header .page-header .week-selector .weeks {
    height: 40px;
    margin: 0 5px;
    font-size: 24px;
}
header .page-header .week-selector .btn {
    width: 40px;
    padding: 4px;
    font-size: 32px;
}

/* Занятия */
#diary main {
    width: 1000px;
    height: 800px;
    padding: 25px 10px 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#diary main .day{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#diary main .day > h3 {
    text-align: right;
}
#diary main .day .item {
    padding: 10px 40px 15px 25px;
    position: relative;
    border: #0001 solid 1px;
}
#diary main .day .item .item-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 5px;
}
#diary main .day .item .item-header .lesson-title h2 {
    display: inline-block;
    margin-right: 10px;
}
#diary main .day .item .item-header .lesson-title h3 {
    color: #0E58B5;
    font-weight: bold;
    display: inline-block;
}
#diary main .day .item .item-header .lesson-teacher {
    display: flex; 
    align-items: center;
}
#diary main .day .item .item-header .lesson-teacher img {
    width: 32px; height: 32px;
}
#diary main .day .item .item-header .lesson-teacher h4 {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
#diary main .day .item .item-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Кнопки "<<" и ">>" */
.main-btn{
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #0E58B5;
    color: #fff;
    transition-duration: .2s;
    transition-property: transform box-shadow;
    box-shadow: 0 5px 0 0 #0b458b;
    transform: translate(0, 0);
}
.main-btn:hover{
    box-shadow: 0 3px 0 0 #0b458b;
    transform: translate(0, 3px);
}

/* Псевдоэлемент оценки */
.day > .item::after, form::after {
    content: '';
    position: absolute;
    right: 0; top: 0;
    height: 100%; width: 15px;
    border-radius: 0 15px 15px 0;
}
.four::after { background-color: #00D575 } /* Идеально */
.three::after { background-color: #FE9C4A } /* С замечаниями */
.two::after { background-color: #FFCB3A } /* Сойдет */
.one::after { background-color: #FF3A3A } /* Плохо */
.absence::after { background-color: #4C50B8 } /* Отсутствие */
.disease::after { background-color: #9c48c4 } /* Отсутствие по болезни */