body{
    padding: 0;
}
.mainContainer{
    width: 100%; height: 100%;
    display: flex; flex-direction: row;
    background-color: var(--bg-color);
    padding: 0;
    gap: 0;
}

.wizard__progress{
    width: 28rem;
    background-color: var(--aside-bg-color);
    padding: 4rem 6rem;
    display: flex; flex-direction: column; gap: 3rem;
}
.wizard__progress .logo{
    width: 16rem; height: 4rem;
}

.progress{
    display: flex; flex-direction: column; gap: 1.5rem;
}
.progress__stage{
    display: flex; flex-direction: row; align-items: center; gap: 1rem;
    position: relative;
}
.progress__stage span{
    width: 3rem; height: 3rem;
    line-height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--theme-light-alpha);
    text-align: center;
    font-weight: 600;
    color: var(--text-primary-color);
}
.progress__stage .column{
    height: 3rem;
    padding: 0.25rem 0;
}
.progress__stage h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-primary-color);
}
.progress__stage p{
    color: #9ca2ab;
}
.progress__stage.active span{
    background-color: var(--bgColor);
    color: var(--currentColor);
}
.progress__stage.active h3{
    color: var(--currentColor);
}
.progress__stage.done span{
    background-color: var(--currentColor);
    color: #fff;
}
.progress__stage.done::before{
    background-color: var(--currentColor);
}

.illustration{
    width: 28rem; height: 16rem;
    margin: auto -6rem -4rem -6rem;
}


.wizard{
    height: 100%; width: calc(100% - 24rem);
    padding: 6rem;
    display: flex; flex-direction: column; gap: 6rem;
}

.wizard__info{
    width: 32rem;
    text-align: right;
}
.wizard__info b{
    color: var(--currentColor);
}

.stage{
    width: 32rem;
    display: flex; flex-direction: column; gap: 2rem;
}
.stage__title{
    font-size: 2rem;
    font-weight: 500;
}
.stage__subtitle{
    font-size: 1.125rem;
    font-weight: 400;
    color: #9ca2ab;
}
.stage h3{
    font-size: 1rem;
    color: var(--text-primary-color);
}
.stage__input{
    background-color: var(--item-bg-color);
    height: 3rem; width: 100%;
    padding: 0 1rem;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    color: var(--text-primary-color);
}
.stage__input::placeholder{
    color: #9ca2ab;
}

.wizard__buttons{
    display: flex;
    justify-content: space-between;
}
.stage button{
    height: 3rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
}
#previousStage{
    background-color: var(--item-bg-color);
    color: #70757D;
}
#previousStage:hover{
    color: var(--text-ptimary-color);
}

#nextStage{
    background-color: var(--currentColor);
    color: #fff;
}
#nextStage:hover{
    filter: brightness(0.9);
}