<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="style.css">
    <title>Статистика</title>
</head>

<body class='dark__theme orange__color__scheme'>
    <!-- Навигационное меню -->
    <aside>
        <!-- Логотип -->
        <img src='../../../img/atom.png' id='logo' alt='logo' onclick="reload(this)" />
        <!-- Навигация -->
        <nav>
            <button><span class="fi fi-rr-apps"><p>Главная</p></button>
            <button><span class="fi fi-rr-book-alt"><p>Дневник</p></button>
            <button><span class="fi fi-rr-envelope"><p>Почта</p></button>
            <button class='active'><span class="fi fi-rr-stats"><p>Отчеты</p></button>
            <button><span class="fi-rr-trophy"><p>Портфолио</p></button>
        </nav>
        <nav>
            <button onclick="switch_theme()"><span class="fi-rr-opacity"><p>Тема</p></button>
            <button onclick="switch_color_scheme()"><span class="fi-rr-palette"><p>Цвет</p></button>
        </nav>
    </aside>
    <!-- Шапка -->
    <header>
        <div class='page-header'>
            <span class="fi fi-rr-stats" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 5px'>Статистика</h1></span>
        </div>
        <div class='profile-header'>
            <nav class='toolbar'>
                <button><span class="fi-rr-list-check"></button>
                <button><span class="fi fi-rr-bell"></button>
            </nav>
            <div class="profile">
                <div class="info">
                    <h4>Ученик</h4>
                    <h2>Имя Фамилия</h2>
                </div>
                <img src='../../../img/Kaelthas.jpg'/>
            </div>
        </div>
    </header>
    <!-- Статистика -->
    <section id="statistics">
        <main>
            <div class='day'>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Зарывных П. С</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <div class='graph' id="graph1"></div>
                </div>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>English</h2>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <div class="graph" id='graph2'></div>
                </div>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Math</h2>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <div class="graph" id='graph3'></div>
                </div>
            </div>
        </main>
        <img src='../../../img/atom.png' class='bg'/>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../../JS/sections_manager.js'></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src='../../../JS/statGraph.js'></script> <!-- Графики статистики-->
</body>

</html>