<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="style.css">
    <title>Статистика</title>
</head>

<body>
    <!-- Навигационное меню -->
    <aside>
        <img src='../../../img/logo.png' id='logo' alt='logo' onclick="reload(this)"/>
        <nav>
            <button><a href='/student/main'><span class="fi fi-rr-apps"></a></button>
            <button><a href='student/diary'><span class="fi fi-rr-book-alt"></a></button>
            <button><a href='student/mail'><span class="fi fi-rr-envelope"></a></button>
            <button class='active'><a href='student/stat'><span class="fi fi-rr-stats"></a></button>
            <button><a href='student/portfolio'><span class="fi-rr-trophy"></a></button>
        </nav>
        <nav style='position: absolute; bottom: 15px'>
            <button><span class="fi fi-rr-list-check"></button> <!-- TaskManager -->
            <button><span class="fi fi-rr-bell"></button> <!-- Notifications -->
            <button class='user-img'><span class="fi fi-rr-circle"></button>
        </nav>
    </aside>
    
    <!-- Статистика -->
    <section id="statistics">
        <header>
            <span class="fi fi-rr-stats" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 5px;'>Статистика</h1></span>
        </header>
        <main>
            <div class='day'>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Зарывных П. С</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <div class='graph' id="graph1"></div>
                </div>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>English</h2>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <div class="graph" id='graph2'></div>
                </div>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>Math</h2>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png'/>
                        </div>
                    </div>
                    <div class="graph" id='graph3'></div>
                </div>
            </div>
        </main>
        <img src='../../../img/atom.png' class='bg'/>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../../JS/sections_manager.js'></script> <!-- Менеджер секций-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src='../../../JS/statGraph.js'></script> <!-- Графики статистики-->
</body>

</html>