/* Статистика */
#statistics{ padding-left: 190px }
header .page-header{
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 0 10px;
}
#statistics main{
    width: 1000px;
    height: 800px;
    padding: 25px 10px 200px 10px;
    overflow-y: scroll;
}
#statistics main .day > h3{
    text-align: right;
    margin-top: 10px;
}
#statistics main .day .item{
    padding: 10px 25px 25px 25px;
    margin-top: 10px;
    position: relative;
}
#statistics main .day .item .item-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#statistics main .day .item .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
#statistics main .day .item .item-header .lesson-teacher{
    display: flex;
    align-items: center;
}
#statistics main .day .item .item-header .lesson-teacher img{
    width: 40px;
    height: 40px;
}
#statistics main .day .item .item-header .lesson-teacher h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
