header .page-header{
    display: flex; justify-content: space-between;
}
#statistics main{
    display: flex; gap: 12px; flex-direction: column;
}
#statistics main > h3{
    text-align: right;
    margin-top: 10px;
}
#statistics main .item{
    padding: 16px;
}
#statistics main .item .item-header{
    display: flex; justify-content: space-between;
    margin-bottom: 5px;
}
#statistics main .item .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
#statistics main .item .item-header .lesson-teacher{
    display: flex; align-items: center;
}
#statistics main .item .item-header .lesson-teacher img{
    width: 32px; height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
#statistics main .item .item-header .lesson-teacher h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
.graph svg{
    width: 630px;
    height: 200px;
}
.graph svg > rect{
    fill: transparent;
}