.profile-header{
    margin-left: auto;
}
.form::before{
    display: none;
}
.form .form-wrapper{
    position: fixed; top: 0;
}
/* .form .form-wrapper form{
    border: #0001 solid 1px;
} */

@media screen and (max-width: 992px){
    header{
        flex-direction: column-reverse; gap: 25px;
        height: 100px;
    }
    header .profile-header{
        width: 1000px;
        margin-right: auto;
        padding: 0 10px;
    }
}
@media screen and (max-width: 790px){
    /* Формы */
    /* .form .form-wrapper form{
        width: 100%;
    }
    .form .form-wrapper{
        width: calc(100% - 90px);
        left: 45px;
    } */
    /* .form .form-wrapper form .preview{
        width: calc(100% + 50px);
    } */
    header{
        padding: 25px 45px;
    }
    header .page-header, header .profile-header{
        width: 100%;
    }
}