.profile-header{
    margin-left: auto;
}
.form .form-wrapper{
    position: fixed; top: 0; left: 190px;
}
.form .form-wrapper form{
    background-color: var(--item-bg-color);
    width: 1000px;
    border: #0001 solid 1px;
}
.form .form-wrapper form .form-btn{
    background-color: var(--item-bg-color);
}
.dark__theme{
    --button-bg-active-color: #1B1C22;
}
.form .form-wrapper form .form-btn:hover{
    background-color: var(--button-bg-active-color);
}
/* .form .form-wrapper form .preview{
    width: 1000px;
} */
.form .form-wrapper form .files .file{
    background-color: var(--bg-secondary-color);
}

@media screen and (max-width: 992px){
    header{
        flex-direction: column-reverse; gap: 25px;
        height: 100px;
    }
    header .profile-header{
        width: 1000px;
        margin-right: auto;
        padding: 0 10px;
    }
}
@media screen and (max-width: 790px){
    /* Формы */
    .form .form-wrapper form{
        width: 100%;
    }
    .form .form-wrapper{
        width: calc(100% - 90px);
        left: 45px;
    }
    .form .form-wrapper form .preview{
        width: calc(100% + 50px);
    }
    header{
        padding: 25px 45px;
    }
    header .page-header, header .profile-header{
        width: 100%;
    }
}