{% load static %}
{% load base_tags %}
{% load project_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% include "CoreApp/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href='{% static "ProfileApp/style.css" %}'> <!-- Стили страницы -->
    <link rel="stylesheet" href='{% static "CoreApp/text/ql-editor.css" %}'>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    
    <title>Личный кабинет</title>
</head>

<body>

    {% include "CoreApp/AsideMenu/index.html" with user=user %}

    <section class="profilePage mainContainer">

        {% include "ProfileApp/AccountView/index.html" with requested_user=requested_user %}

        <div class="profileContent column g24">
            {% include "ProfileApp/HeadMenu/index.html" with active='projects' requested_user=requested_user %}
            
            <div class="profile__tabs">
                <div class="profile__tab active" id='projectTab'>  
                    <section class="projects">
                        {% for project in projects %}
                        <div class="project" onclick="location.href = `{% url 'project_info' project.id %}`">
                            <img src="{{ project.image.url }}" class="project__illustration">
                            <div class="project__content">
                                <p class="project__title">{{ project.title }}</p>
                                
                                <p class="project__description">{{ project.description|get_text }}</p>
        
                                <div class="project__info">
                                    <div class="column g8">
                                        <p>Направление</p>
                                        
                                        <div class="row g8">
                                            {% for subject in project.course_subject|get_objects %}
                                            <span class="tag">{{ subject.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                    <div class="column g8">
                                        <p>Статус</p>
                                        <span class="tag">{{ project|get_type }}</span>
                                    </div>
        
                                    <div class="column g8">
                                        <p>Участники</p>
                                        <div class="project__members members">
                                            <div class="member" title="Фамилия Имя">
                                                <img src="{{ project.teamleader.image.url }}" class="avatar">
                                            </div>
        
                                            {% for user in project.team|get_objects %}
                                            <div class="member" title="Фамилия Имя">
                                                <img src="{{ user.image.url }}" class="avatar">
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
</body>

</html>