<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='../../main.css' /> <!-- Основные стили -->
    <link rel="stylesheet" href="style.css"> <!-- Стили страницы -->

    <link rel="shortcut icon" href="../../img/google.svg" type="image/png" /> <!-- Иконка вкладки -->
    <link rel='stylesheet' href='../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    
    <link href="../../ql-editor.css" rel="stylesheet" /> <!-- Стили панели инструментов -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/> <!-- Слайдер -->
    
    <title>Главная</title>
</head>

<body class='light__theme' colorScheme="colorScheme__blue">

    <!-- Навигационное меню -->
    <nav class='navigation'>

        <!-- Логотип -->
        <div class='navigation__logo'>
            <img src='../../img/google.svg' alt='logo'/>
        </div>

        <div class='navigation__group column g8'>
            <button class='navigation__link active'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M352 496V368a16 16 0 0 0-16-16h-96a16 16 0 0 0-16 16v128a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16V311.07c1.78-1.21 3.85-1.89 5.47-3.35L288 115l218.74 192.9c1.54 1.38 3.56 2 5.26 3.2V496a16 16 0 0 1-16 16H368a16 16 0 0 1-16-16z"></path>
                    <path d="M527.92 283.91L298.6 81.64a16 16 0 0 0-21.17 0L48.11 283.92a16 16 0 0 1-22.59-1.21L4.1 258.89a16 16 0 0 1 1.21-22.59l256-226a39.85 39.85 0 0 1 53.45 0l255.94 226a16 16 0 0 1 1.22 22.59l-21.4 23.82a16 16 0 0 1-22.6 1.2z"></path>
                </svg>
            </button>
            <button class='navigation__link'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M576 62.75v337.84c0 16.23-13.13 29.77-30 30.66-49.47 2.6-149.52 12.1-218.7 46.92-10.65 5.36-23.28-1.94-23.28-13.49V100.81a15.37 15.37 0 0 1 7.27-13.17c67.24-41.16 176.16-52.48 231-55.59C560.64 31 576 45 576 62.75z"></path>
                    <path d="M264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31 0 45 0 62.75V400.6c0 16.24 13.13 29.78 30 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63a15.05 15.05 0 0 0-7.25-12.99z"></path>
                </svg>
            </button>
            <button class='navigation__link'>
                <svg viewBox="0 0 512 512">
                    <path opacity='0.3' d="M320 288h192v144c0 25.6-22.4 48-48 48H48c-25.6 0-48-22.4-48-48V288h192v48a16 16 0 0 0 16 16h96a16 16 0 0 0 16-16z"></path>
                    <path d="M464 128h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128z"></path>
                </svg>
            </button>
            <button class='navigation__link'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M352 287.9H162.3L79.5 350a9.7 9.7 0 0 1-15.5-7.8V288a64.06 64.06 0 0 1-64-64V64A64.06 64.06 0 0 1 64 0h288a64.06 64.06 0 0 1 64 64v160a63.91 63.91 0 0 1-64 63.9z"></path>
                    <path d="M576 224v160a64.06 64.06 0 0 1-64 64h-32v54.3a9.7 9.7 0 0 1-15.5 7.8L381.7 448H256a64.06 64.06 0 0 1-64-64v-64h160a96.15 96.15 0 0 0 96-96v-64h64a64.06 64.06 0 0 1 64 64z"></path>
                </svg>
            </button>
        </div>

        <div class='navigation__group column g8'>
            <button onclick="switch_theme()" class='navigation__link'>
                <svg viewBox="0 0 16 16">
                    <g id="eclipse" transform="translate(-8 -8)">
                        <path opacity='0.3' d="M12,24a4,4,0,1,1,4-4A4,4,0,0,1,12,24Z"/>
                        <g>
                        <path d="M16.333,10.667A5.007,5.007,0,0,0,11.426,14.7,5.409,5.409,0,0,1,12,14.667,5.34,5.34,0,0,1,17.332,20a5.394,5.394,0,0,1-.033.573,5,5,0,0,0-.966-9.906Z"/>
                        <path d="M16.333,10a.667.667,0,0,1-.667-.667V8.667a.667.667,0,0,1,1.334,0v.667A.667.667,0,0,1,16.333,10Z"/>
                        <path d="M23.333,16.333h-.667a.667.667,0,1,1,0-1.333h.667a.667.667,0,0,1,0,1.333Z"/>
                        <path d="M20.341,11.66a.668.668,0,0,1,0-.943l.471-.472a.667.667,0,1,1,.943.943l-.471.472A.668.668,0,0,1,20.341,11.66Z"/>
                        <path d="M20.812,21.088l-.471-.472a.667.667,0,0,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                        <path d="M11.383,11.66l-.471-.472a.667.667,0,1,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                        </g>
                    </g>
                </svg>
            </button>
            <button onclick="switch_color_scheme()" class='navigation__link'>
                <svg viewBox="0 0 16 16">
                    <g id="roller" transform="translate(-8 -8)">
                        <path d="M19.5,8H9.833A1.835,1.835,0,0,0,8,9.833v2.333A1.835,1.835,0,0,0,9.833,14H19.5a1.835,1.835,0,0,0,1.833-1.833V9.834A1.835,1.835,0,0,0,19.5,8Z"/>
                        <path opacity='0.3' d="M22.333,10.333h-1v1.333h1a.333.333,0,0,1,.333.333v3a.334.334,0,0,1-.333.333H15.666a2,2,0,0,0-2,2V18H15v-.667a.668.668,0,0,1,.667-.667h6.667A1.667,1.667,0,0,0,24,15V12A1.668,1.668,0,0,0,22.333,10.333Z"/>
                        <path d="M15.5,18H13.167A1.168,1.168,0,0,0,12,19.167v3.667A1.167,1.167,0,0,0,13.167,24H15.5a1.168,1.168,0,0,0,1.167-1.167V19.166A1.168,1.168,0,0,0,15.5,18Z"/>
                    </g>
                </svg>
            </button>
        </div>

        <div class='navigation__group column g8'>

            <!-- Список задач -->
            <button class='navigation__link' onclick="
                $('#agenda').toggleClass('active');
                $('#notifications').removeClass('active');
                $(this).toggleClass('active');
                $(this).next().removeClass('active');
            ">
                <svg viewBox="0 0 512 512">
                    <path opacity='0.3' d="M166.57 282.71L44 159.21a17.87 17.87 0 0 1 .18-25.2l42.1-41.77a17.87 17.87 0 0 1 25.2.18l68.23 68.77L336.87 5.11a17.88 17.88 0 0 1 25.21.18L404 47.41a17.88 17.88 0 0 1-.18 25.21L191.78 282.89a17.88 17.88 0 0 1-25.21-.18z"></path>
                    <path d="M504.5 172a25.86 25.86 0 0 1 0 36.42L210.1 504.46a25.48 25.48 0 0 1-36.2 0L7.5 337.1a25.84 25.84 0 0 1 0-36.41l36.2-36.41a25.48 25.48 0 0 1 36.2 0L192 377l240.1-241.46a25.5 25.5 0 0 1 36.2 0L504.5 172z"></path>
                </svg>
            </button>

            <!-- Уведомления -->
            <button class='navigation__link attention' onclick="
                $('#notifications').toggleClass('active');
                $('#agenda').removeClass('active');
                $(this).toggleClass('active');
                $(this).prev().removeClass('active');
            ">
                <svg viewBox="0 0 448 512">
                    <path d="M448 384c-.1 16.4-13 32-32.1 32H32.08C13 416 .09 400.4 0 384a31.25 31.25 0 0 1 8.61-21.71c19.32-20.76 55.47-52 55.47-154.29 0-77.7 54.48-139.9 127.94-155.16V32a32 32 0 1 1 64 0v20.84C329.42 68.1 383.9 130.3 383.9 208c0 102.3 36.15 133.53 55.47 154.29A31.27 31.27 0 0 1 448 384z"></path>
                    <path opacity='0.3' d="M160 448h128a64 64 0 0 1-128 0z"></path>
                </svg>
            </button>

            <!-- Профиль -->
            <div class="navigation__profile">
                <img src='../../img/Kaelthas.jpg'>
            </div>
        </div>

    </nav>

    <!-- Навигационное меню для смартфонов -->
    <nav class='navigationBar'>

        <button class='navigation__link active'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M352 496V368a16 16 0 0 0-16-16h-96a16 16 0 0 0-16 16v128a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16V311.07c1.78-1.21 3.85-1.89 5.47-3.35L288 115l218.74 192.9c1.54 1.38 3.56 2 5.26 3.2V496a16 16 0 0 1-16 16H368a16 16 0 0 1-16-16z"></path>
                <path d="M527.92 283.91L298.6 81.64a16 16 0 0 0-21.17 0L48.11 283.92a16 16 0 0 1-22.59-1.21L4.1 258.89a16 16 0 0 1 1.21-22.59l256-226a39.85 39.85 0 0 1 53.45 0l255.94 226a16 16 0 0 1 1.22 22.59l-21.4 23.82a16 16 0 0 1-22.6 1.2z"></path>
            </svg>
            Главная
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M576 62.75v337.84c0 16.23-13.13 29.77-30 30.66-49.47 2.6-149.52 12.1-218.7 46.92-10.65 5.36-23.28-1.94-23.28-13.49V100.81a15.37 15.37 0 0 1 7.27-13.17c67.24-41.16 176.16-52.48 231-55.59C560.64 31 576 45 576 62.75z"></path>
                <path d="M264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31 0 45 0 62.75V400.6c0 16.24 13.13 29.78 30 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63a15.05 15.05 0 0 0-7.25-12.99z"></path>
            </svg>
            Задания
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 512 512">
                <path opacity='0.3' d="M320 288h192v144c0 25.6-22.4 48-48 48H48c-25.6 0-48-22.4-48-48V288h192v48a16 16 0 0 0 16 16h96a16 16 0 0 0 16-16z"></path>
                <path d="M464 128h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128z"></path>
            </svg>
            Проекты
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M352 287.9H162.3L79.5 350a9.7 9.7 0 0 1-15.5-7.8V288a64.06 64.06 0 0 1-64-64V64A64.06 64.06 0 0 1 64 0h288a64.06 64.06 0 0 1 64 64v160a63.91 63.91 0 0 1-64 63.9z"></path>
                <path d="M576 224v160a64.06 64.06 0 0 1-64 64h-32v54.3a9.7 9.7 0 0 1-15.5 7.8L381.7 448H256a64.06 64.06 0 0 1-64-64v-64h160a96.15 96.15 0 0 0 96-96v-64h64a64.06 64.06 0 0 1 64 64z"></path>
            </svg>
            Сообщения
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 512 512">
                <path opacity='0.3' d="M400 144A144 144 0 1 1 256 0a144 144 0 0 1 144 144z"></path>
                <path d="M384 320h-55.1a174.1 174.1 0 0 1-145.8 0H128A128 128 0 0 0 0 448v16a48 48 0 0 0 48 48h416a48 48 0 0 0 48-48v-16a128 128 0 0 0-128-128z"></path>
            </svg>
            Профиль
        </button>

    </nav>

    <!-- Основной контейнер -->
    <section class="mainContainer column">

        <!-- <div id="today" class="column g16">

            <div class="flex space-between items-center g16">
                <h1>Сегодня</h1>
                <div class="row g16">
                    <h1>22 февраля 2022</h1> 
                    <svg style='width: 1.5rem; fill: var(--currentColor)' viewBox="0 0 448 512">
                        <path d="M96 32C96 14.33 110.3 0 128 0C145.7 0 160 14.33 160 32V64H288V32C288 14.33 302.3 0 320 0C337.7 0 352 14.33 352 32V64H400C426.5 64 448 85.49 448 112V192H0V112C0 85.49 21.49 64 48 64H96V32z"/>
                        <path style='opacity: .4' d="M448 464C448 490.5 426.5 512 400 512H48C21.49 512 0 490.5 0 464V192H448V464zM80 256C71.16 256 64 263.2 64 272V368C64 376.8 71.16 384 80 384H176C184.8 384 192 376.8 192 368V272C192 263.2 184.8 256 176 256H80z"/>
                    </svg>
                </div>
            </div>
            
            <div id="todayCarousel" class="carousel">
                <div class="carousel__slide lesson">
                    <p class="lesson__time">9:00</p>
                    <div class="lesson__info column g4">
                        <p class="lesson__group">Группа</p>
                        <p class="lesson__topic">Тема занятия</p>
                    </div>
                </div>
                <div class="carousel__slide lesson">
                    <p class="lesson__time">10:15</p>
                    <div class="lesson__info column g4">
                        <p class="lesson__group">IT 1-1</p>
                        <p class="lesson__topic">Паттерны проектирования</p>
                    </div>
                </div>
                <div class="carousel__slide lesson">
                    <p class="lesson__time">11:45</p>
                    <div class="lesson__info column g4">
                        <p class="lesson__group">IT 1-1</p>
                        <p class="lesson__topic">Паттерны проектирования</p>
                    </div>
                </div>
                <div class="carousel__slide lesson">
                    <p class="lesson__time">13:30</p>
                    <div class="lesson__info column g4">
                        <p class="lesson__group">IT 1-1</p>
                        <p class="lesson__topic">Паттерны проектирования</p>
                    </div>
                </div>
                <div class="carousel__slide lesson">
                    <p class="lesson__time">15:00</p>
                    <div class="lesson__info column g4">
                        <p class="lesson__group">IT 1-1</p>
                        <p class="lesson__topic">Паттерны проектирования</p>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Виджеты -->
        <section id='widgets' class='row g16'>
            
            <!-- Виджет "События" -->
            <div id="eventsWidget">
                <div id="eventCarousel" class="carousel">
                    <div class="carousel__slide event">
                        <img src="../../img/backgrounds/1.jpg" class='event__banner'>
                        <div class="event__content column g16">
                            <p class="event__tag">Событие</p>
                            <h2 class="event__title">Настала пора зимних праздников: "Зимняя сказка"</h2>
                            <p class="event__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quas, accusamus quaerat numquam dicta corporis perspiciatis amet quae. Voluptas itaque dolor facere ab! A, repudiandae reprehenderit at tempora nostrum laborum facilis ex repellat nemo quo temporibus, tenetur nobis magnam incidunt dolorum officiis. Aperiam perspiciatis quaerat ullam architecto suscipit! Qui ab ipsa itaque nam suscipit, dolor facere adipisci ad distinctio quibusdam, modi dolorum illo ut corporis velit? Provident, sapiente vel, autem dolore perspiciatis excepturi architecto nulla dolorum sunt natus maxime debitis odio, id fugiat rerum ea animi modi ex porro praesentium cumque. Temporibus similique sed possimus molestiae qui. Illum, temporibus impedit.</p>
                            <button class="event__button">Подробнее</button>
                        </div>
                    </div>
                    <div class="carousel__slide event">
                        <img src="../../img/backgrounds/2.jpg" class='event__banner'>
                        <div class="event__content column g16">
                            <p class="event__tag">Событие</p>
                            <h2 class="event__title">Настала пора зимних праздников: "Зимняя сказка"</h2>
                            <p class="event__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quas, accusamus quaerat numquam dicta corporis perspiciatis amet quae. Voluptas itaque dolor facere ab! A, repudiandae reprehenderit at tempora nostrum laborum facilis ex repellat nemo quo temporibus, tenetur nobis magnam incidunt dolorum officiis. Aperiam perspiciatis quaerat ullam architecto suscipit! Qui ab ipsa itaque nam suscipit, dolor facere adipisci ad distinctio quibusdam, modi dolorum illo ut corporis velit? Provident, sapiente vel, autem dolore perspiciatis excepturi architecto nulla dolorum sunt natus maxime debitis odio, id fugiat rerum ea animi modi ex porro praesentium cumque. Temporibus similique sed possimus molestiae qui. Illum, temporibus impedit.</p>
                            <button class="event__button">Подробнее</button>
                        </div>
                    </div>
                    <div class="carousel__slide event">
                        <img src="../../img/backgrounds/3.jpg" class='event__banner'>
                        <div class="event__content column g16">
                            <p class="event__tag">Событие</p>
                            <h2 class="event__title">Настала пора зимних праздников: "Зимняя сказка"</h2>
                            <p class="event__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quas, accusamus quaerat numquam dicta corporis perspiciatis amet quae. Voluptas itaque dolor facere ab! A, repudiandae reprehenderit at tempora nostrum laborum facilis ex repellat nemo quo temporibus, tenetur nobis magnam incidunt dolorum officiis. Aperiam perspiciatis quaerat ullam architecto suscipit! Qui ab ipsa itaque nam suscipit, dolor facere adipisci ad distinctio quibusdam, modi dolorum illo ut corporis velit? Provident, sapiente vel, autem dolore perspiciatis excepturi architecto nulla dolorum sunt natus maxime debitis odio, id fugiat rerum ea animi modi ex porro praesentium cumque. Temporibus similique sed possimus molestiae qui. Illum, temporibus impedit.</p>
                            <button class="event__button">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Виджет "Расписание" -->
            <div id="scheduleWidget">
                <div class='courseList column scrollbar'>
                    <div class='course row g16'>
                        <img src="../../img/illustrations/robo.svg" class='course__illustration'/>
                        <div class="course__info column g4">
                            <p class='course__title'>Направление</p>
                            <p class='course__teacher'>Фамилия И. О.</p>
                        </div>
                        <div class="row g4" style='margin-left: auto'>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Пн</p>
                            </div>
                            <div class="lesson column">
                                <p class="lesson__day">Вт</p>
                                <p class='lesson__time'>18:20</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Ср</p>
                            </div>
                            <div class="lesson column">
                                <p class="lesson__day">Чт</p>
                                <p class='lesson__time'>18:20</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Пт</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Сб</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Вс</p>
                            </div>
                        </div>
                        <svg viewBox="0 0 256 512">
                            <path d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path>
                        </svg>
                    </div>
                    <div class='course row g16'>
                        <img src="../../img/illustrations/designer.svg" class='course__illustration'/>
                        <div class="course__info column g4">
                            <p class='course__title'>Направление</p>
                            <p class='course__teacher'>Фамилия И. О.</p>
                        </div>
                        <div class="row g4" style='margin-left: auto'>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Пн</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Вт</p>
                            </div>
                            <div class="lesson column">
                                <p class="lesson__day">Ср</p>
                                <p class='lesson__time'>10:00</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Чт</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Пт</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Сб</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Вс</p>
                            </div>
                        </div>
                        <svg viewBox="0 0 256 512">
                            <path d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path>
                        </svg>
                    </div>
                    <div class='course row g16'>
                        <img src="../../img/illustrations/science.svg" class='course__illustration'/>
                        <div class="course__info column g4">
                            <p class='course__title'>Направление</p>
                            <p class='course__teacher'>Фамилия И. О.</p>
                        </div>
                        <div class="row g4" style='margin-left: auto'>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Пн</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Вт</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Ср</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Чт</p>
                            </div>
                            <div class="lesson column">
                                <p class="lesson__day">Пт</p>
                                <p class='lesson__time'>16:30</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Сб</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Вс</p>
                            </div>
                        </div>
                        <svg viewBox="0 0 256 512">
                            <path d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path>
                        </svg>
                    </div>
                    <div class='course row g16'>
                        <img src="../../img/illustrations/it.svg" class='course__illustration'/>
                        <div class="course__info column g4">
                            <p class='course__title'>Направление</p>
                            <p class='course__teacher'>Фамилия И. О.</p>
                        </div>
                        <div class="row g4" style='margin-left: auto'>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Пн</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Вт</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Ср</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Чт</p>
                            </div>
                            <div class="lesson column">
                                <p class="lesson__day">Пт</p>
                                <p class='lesson__time'>16:30</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Сб</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Вс</p>
                            </div>
                        </div>
                        <svg viewBox="0 0 256 512">
                            <path d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path>
                        </svg>
                    </div>
                </div>

                <!-- Форма просмотра курса -->
                <div class='form'>
                    <div class="form-wrapper">
                        <form>
                            <div class='course row g16'>
                                <img src="../../img/illustrations/science.svg" class='course__illustration'/>
                                <div class="course__info column g4">
                                    <p class='course__title'>Направление</p>
                                    <p class='course__teacher'>Фамилия И. О.</p>
                                </div>
                                <div class="row g4" style='margin-left: auto'>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Пн</p>
                                    </div>
                                    <div class="lesson column">
                                        <p class="lesson__day">Вт</p>
                                        <p class='lesson__time'>18:20</p>
                                    </div>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Ср</p>
                                    </div>
                                    <div class="lesson column">
                                        <p class="lesson__day">Чт</p>
                                        <p class='lesson__time'>18:20</p>
                                    </div>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Пт</p>
                                    </div>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Сб</p>
                                    </div>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Вс</p>
                                    </div>
                                </div>
                            </div>

                            <h2 class='px16'>Участники</h2>
                            <div class="users">
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                                <div class="user row g8 items-center">
                                    <img src="../../img/Kaelthas.jpg" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>Фамилия Имя</p>
                                        <p class='user__type'>Ученик</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </section>

        <!-- Новости -->
        <section id='news' class='column g24'>

            <!-- Шапка раздела -->
            <div class='row g24'>
                <h1>Новости</h1>
                <button class='secondaryButton' onclick="open_form('#newNewsItemForm')">Добавить новость</button>
                <!-- <input type="text" class='newsSearch' placeholder="🔍︎"> -->
            </div>

            <!-- Блок новостей -->
            <div class='newsContainer'>
                
                <div class="newsItem" style="
                    background: linear-gradient(0deg, #0008 30%, #fff4 50%, #0006 80%), url(../../img/backgrounds/9.jpg);
                    background-size: cover;
                    ">
                    <div class="newsItem__author">
                        <img src="../../img/avatars/Upstream-7.png" class="avatar">
                        <p>Автор новости</p>
                    </div>
                    <p class="newsItem__title">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <p class="newsItem__date">24 февраля 2022</p>
                </div>
                <div class="newsItem" style="
                    background: linear-gradient(0deg, #0008 30%, #fff4 50%, #0006 80%), url(../../img/backgrounds/9.jpg);
                    background-size: cover;
                    ">
                    <div class="newsItem__author">
                        <img src="../../img/avatars/Upstream-7.png" class="avatar">
                        <p>Автор новости</p>
                    </div>
                    <p class="newsItem__title">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <p class="newsItem__date">24 февраля 2022</p>
                </div>
                <div class="newsItem" style="
                    background: linear-gradient(0deg, #0008 30%, #fff4 50%, #0006 80%), url(../../img/backgrounds/9.jpg);
                    background-size: cover;
                    ">
                    <div class="newsItem__author">
                        <img src="../../img/avatars/Upstream-7.png" class="avatar">
                        <p>Автор новости</p>
                    </div>
                    <p class="newsItem__title">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <p class="newsItem__date">24 февраля 2022</p>
                </div>
                <div class="newsItem" style="
                    background: linear-gradient(0deg, #0008 30%, #fff4 50%, #0006 80%), url(../../img/backgrounds/9.jpg);
                    background-size: cover;
                    ">
                    <div class="newsItem__author">
                        <img src="../../img/avatars/Upstream-7.png" class="avatar">
                        <p>Автор новости</p>
                    </div>
                    <p class="newsItem__title">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <p class="newsItem__date">24 февраля 2022</p>
                </div>
            </div>

            <!-- Кнопка "Больше новостей" -->
            <button class='secondaryButton' style='margin: 0 auto'>Больше новостей</button>

            <!-- Форма создания новости -->
            <div class='modal' id='newNewsItemForm'>
                <div class="modal__viewport">
                    <form class="modal__content">
                        <div class='modal__block'>
                            <h1 class="modal__title">Добавление новости</h1>
                            <div class="row g8">
                                <button class='secondaryButton' type="button">
                                    <svg viewBox="0 0 15.999 14.667">
                                        <g transform="translate(-8.001 -9.667)">     
                                            <path opacity='0.3' d="M12.167,21.333a2.5,2.5,0,0,1-2.362-1.7l-.023-.077a2.449,2.449,0,0,1-.116-.723V14.287l-1.616,5.4a1.514,1.514,0,0,0,1.061,1.837L19.42,24.285a1.5,1.5,0,0,0,1.823-1.041l.6-1.91H12.167Z"/>
                                            <path d="M14,14.333A1.333,1.333,0,1,0,12.667,13,1.335,1.335,0,0,0,14,14.333Z"/>
                                            <path d="M22.333,9.667h-10a1.669,1.669,0,0,0-1.667,1.667v7.333a1.669,1.669,0,0,0,1.667,1.667h10A1.669,1.669,0,0,0,24,18.667V11.334A1.668,1.668,0,0,0,22.333,9.667ZM12.333,11h10a.333.333,0,0,1,.333.333v4.733L20.56,13.609a1.194,1.194,0,0,0-.894-.41,1.165,1.165,0,0,0-.891.421L16.3,16.592l-.806-.806a1.171,1.171,0,0,0-1.654,0L12,17.626V11.333A.333.333,0,0,1,12.333,11Z"/>
                                        </g>
                                    </svg>
                                    Добавить обложку
                                </button>
                                <!-- <div class="file">
                                    <i class='file-jpg'></i>
                                    <div class="file__info">
                                        <h4 class='file__name'>Обложка.jpg</h4>
                                        <p class="file__size">6.3 MB</p>
                                    </div>
                                </div> -->
                                <button class='secondaryButton' type="submit">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M10,17H7.329a2.978,2.978,0,0,1-2.122-.879L.052,10.966C.023,11.308,0,11.651,0,12A12.009,12.009,0,0,0,11,23.949V18A1,1,0,0,0,10,17Z"/>
                                        <path d="M20.436,3.478l-1.79,1.79A2.516,2.516,0,0,1,16.879,6H15.5a.5.5,0,0,0-.5.5v1A2.5,2.5,0,0,1,12.5,10a.5.5,0,0,0-.5.5V11a1,1,0,0,0,1,1h3a3,3,0,0,1,3,3v.962a.5.5,0,0,0,.146.353l2.625,2.626A11.949,11.949,0,0,0,20.436,3.478Z"/>
                                        <path opacity='0.6' d="M17,15.962V15a1,1,0,0,0-1-1H13a3,3,0,0,1-3-3v-.5A2.5,2.5,0,0,1,12.5,8a.5.5,0,0,0,.5-.5v-1A2.5,2.5,0,0,1,15.5,4h1.379a.507.507,0,0,0,.353-.146l1.661-1.661A11.974,11.974,0,0,0,.5,8.587l6.12,6.12A1,1,0,0,0,7.329,15H10a3,3,0,0,1,3,3v5.949a11.962,11.962,0,0,0,7.483-3.469l-2.751-2.751A2.516,2.516,0,0,1,17,15.962Z"/>
                                    </svg>
                                    Опубликовать
                                </button>
                            </div>
                        </div>

                        <h3>Заголовок</h3>
                        <input class='text-field text-field-title' autocomplete="off"></input>

                        <!-- Редактор содержимого новости -->
                        <h3>Текст</h3>
                        <div id="editor" class='text-field'></div>

                        <!-- Прикрепление файлов к новости -->
                        <button class='secondaryButton' type="button" style="margin-top: 1rem">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.666" height="16" viewBox="0 0 14.666 16">
                                <g transform="translate(-8.667 -8)">
                                    <path opacity='0.3' d="M10.667,12.5a3.171,3.171,0,0,1,3.167-3.167h6.089A1.832,1.832,0,0,0,18.167,8H10.5A1.835,1.835,0,0,0,8.667,9.833V20.166A1.835,1.835,0,0,0,10.5,22h.167Z"/>
                                    <path d="M21.5,10.667H13.833A1.835,1.835,0,0,0,12,12.5v9.667A1.835,1.835,0,0,0,13.833,24H21.5a1.835,1.835,0,0,0,1.833-1.833V12.5A1.835,1.835,0,0,0,21.5,10.667ZM20.167,22h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.333h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"/>
                                </g>
                            </svg>
                            Прикрепить файл
                        </button>

                        <div class='files'>
                            <div class="file">
                                <i class='file-docx'></i>
                                <div class="file__info">
                                    <h4 class='file__name'>Домашнее задание.docx</h4>
                                    <p class="file__size">6.3 MB</p>
                                </div>
                                <div class="file__actions">
                                    <button class="deleteButton" type='button'></button>
                                </div>
                            </div>
                            <div class="file">
                                <i class='file-pptx'></i>
                                <div class="file__info">
                                    <h4 class='file__name'>Теория.pptx</h4>
                                    <p class="file__size">16 MB</p>
                                </div>
                                <div class="file__actions">
                                    <button class="deleteButton" type='button'></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </section>

    </section>

    <!-- Уведомления -->
    <section class="notifications" id="notifications">
        <div class="notifications__container">
            <div class="notification">
                <img src="../../img/3d/cube-dynamic-color.png">
                <div class="column">
                    <p class="notification__title">Группа</p>
                    <p class="notification__text">Появилось новое задание по теме <strong>Тема задания</strong></p>
                    <div class="row g8">
                        <button class="secondaryButton" title="Отметить как прочитанное">
                            <svg viewBox="0 0 448 512">
                                <path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/>
                            </svg>
                        </button>
                        <button class="secondaryButton">
                            <svg viewBox="0 0 640 512">
                                <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z"/>
                            </svg>
                            Перейти к заданию
                        </button>
                    </div>
                </div>
            </div>
            <div class="notification">
                <img src="../../img/avatars/Upstream-8.png" class="avatar">
                <div class="column">
                    <p class="notification__title">Название проекта</p>
                    <p class="notification__text">Появилось новое проектное задание <strong>Заголовок задания</strong></p>
                    <div class="row g8">
                        <button class="secondaryButton" title="Отметить как прочитанное">
                            <svg viewBox="0 0 448 512">
                                <path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/>
                            </svg>
                        </button>
                        <button class="secondaryButton">
                            <svg viewBox="0 0 640 512">
                                <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z"/>
                            </svg>
                            Перейти к проекту
                        </button>
                    </div>
                </div>
            </div>
            <div class="notification">
                <img src="../../img/avatars/Upstream-7.png" class="avatar">
                <div class="column">
                    <div class="notification__header">
                        <p class="notification__title">Имя Фамилия</p>
                        <p class="notification__time">14:26</p>
                    </div>
                    <p class="notification__text">Отправил Вам сообщение <strong>Тема сообщения</strong></p>
                    <div class="row g8">
                        <button class="secondaryButton" title="Отметить как прочитанное">
                            <svg viewBox="0 0 448 512">
                                <path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/>
                            </svg>
                        </button>
                        <button class="secondaryButton">
                            <svg viewBox="0 0 640 512">
                                <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z"/>
                            </svg>
                            Перейти к сообщению
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Повестка дня -->
    <section class="agenda" id="agenda">
        <div class="agenda__container">
            <div class="agenda__lesson">
                <p class="time">8:00</p>
                <div class="column">
                    <p class="title">Группа</p>
                    <p class="text">Тема занятия</p>
                    <div class="row g8">
                        <button class="secondaryButton">
                            <svg viewBox="0 0 640 512">
                                <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z"/>
                            </svg>
                            Журнал
                        </button>
                    </div>
                </div>
            </div>
            <div class="agenda__lesson">
                <p class="time">10:15</p>
                <div class="column">
                    <p class="title">Группа</p>
                    <p class="text">Тема занятия</p>
                    <div class="row g8">
                        <button class="secondaryButton">
                            <svg viewBox="0 0 640 512">
                                <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z"/>
                            </svg>
                            Журнал
                        </button>
                    </div>
                </div>
            </div>
            <div class="agenda__lesson">
                <p class="time">11:45</p>
                <div class="column">
                    <p class="title">Группа</p>
                    <p class="text">Тема занятия</p>
                    <div class="row g8">
                        <button class="secondaryButton">
                            <svg viewBox="0 0 640 512">
                                <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z"/>
                            </svg>
                            Журнал
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Кнопка "В начало страницы" -->
    <div id="arrowTop" hidden>
        <svg viewBox="0 0 14 14">
            <g transform="translate(-5 -5)">
                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
            </g>
        </svg> 
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    <script src='../../JS/script.js'></script> <!-- JavaScript -->

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> <!-- Панель инструментов -->
    <script src='../../JS/toolbar_options.js'></script> <!-- Настройки панели -->
    
    <script>
        $("#scheduleWidget .course").click(function () {
            $('#scheduleWidget .form').addClass("active");
            $(".mainContainer").css("overflow", "hidden");
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <script>
        // const todayCarousel = new Carousel(document.querySelector("#todayCarousel"), {
        //     center: false,
        //     slidesPerPage : 1,
        //     Dots: false,
        //     infinite: false,
        //     friction: 0.8,
        // });

        const eventCarousel = new Carousel(document.querySelector("#eventCarousel"), {
            Dots: true,
            infinite: true,
            friction: 0.9,
        });
        setInterval(() => eventCarousel.slideTo(eventCarousel.pageIndex + 1), 10000)
    </script>
    
</body>
</html>