
/* Основной контейнер */
.mainContainer{
    border-radius: 1.5rem 0 0 0;
}

/* Шапка */
header h3{
    font-weight: 800;
}
header h3.active{
    color: var(--currentColor);
}
header h3:not(.active):hover{
    color: var(--text-primary-color);
}

/* Виджет  "Сегодня" */
#today{
    width: 100%;
}
#today h1{
    font-weight: 500;
}
#today .lesson{
    width: 18rem; height: 7rem;
    background-color: var(--item-bg-color);
    border: var(--theme-light) solid 1px;
    padding: 0.5rem 1rem;
    display: flex; flex-direction: column; gap: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
#today .lesson:hover{
    background-color: var(--theme-light);
}
#todayCarousel{
    height: 7rem;
}
#todayCarousel .carousel__slide {
    height: 7rem; width: 18rem;
    overflow: hidden;
    margin-right: 1rem;
}

#today .lesson__time{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--currentColor);
}
.lesson__info{
    position: relative;
    padding-left: 1rem;
}
.lesson__info::before{
    content: "";
    position: absolute; top: 0; left: 0;
    width: 0.25rem; height: 100%;
    background-color: var(--currentColor);
    border-radius: 0.125rem;
}
#today .lesson__group{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
#today .lesson__topic{
    font-size: 1.125rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#today .lesson svg{
    width: 1.5rem; height: 1.5rem;
    fill: var(--currentColor);
}

/* Виджет "События" */
#eventsWidget{
    width: calc(100% - 48rem - 1rem); height: 22rem;
    border-radius: 0.5rem;
}

.event{
    height: 22rem; width: 100%;
    display: flex; flex-direction: row;
    border-radius: 0.5rem;
}
.event__banner{
    width: calc(100% - 32rem); height: 22rem;
    object-fit: cover;
}
.event__content{
    width: 32rem; height: 22rem;
    background-color: var(--item-bg-color);
    padding: 1.5rem 2rem;
}
.event__tag{
    text-transform: uppercase;
    color: var(--currentColor);
    font-weight: 900;
    font-size: 1.125rem;
}
.event__title{
    color: var(--text-primary-color);
    font-size: 1.75rem; font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.event__text{
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.event__button{
    margin-top: auto;
    width: 100%; height: 3rem;
    line-height: 3rem;
    border-radius: 0.25rem;
    background-color: var(--theme-light-alpha);
    color: var(--text-primary-color);
    font-size: 1.125rem;
    font-weight: 600;
}
.light__theme .event__button:hover{
    filter: brightness(0.9);
}
.dark__theme .event__button:hover{
    filter: brightness(1.25);
}


/* Виджет "Расписание" */
#scheduleWidget{
    width: 48rem; height: 22rem;
}

.courseList{
    width: 100%; min-height: 22rem; max-height: 22rem;
    overflow: auto;
    gap: calc(2rem / 3);
}

/* Направление */
.course{
    height: 5rem; width: 100%;
    border-radius: 0.5rem;
    background-color: var(--item-bg-color);
    cursor: pointer;
    transition: transform .1s;
    padding: 0 1rem;
    border: 1px solid var(--theme-light);
}
.course:active{
    transform: scale(0.98);
}
.course__illustration{
    width: 4rem; height: 4rem;
    margin: 0.5rem 0;
}
.course__title{
    font-size: 1.25rem; font-weight: 500;
    color: var(--text-primary-color);
    width: 12rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.course svg{
    width: 1rem; height: 1rem;
    fill: var(--text-primary-color);
    margin: 0 0.5rem;
}

/* Визуализация расписания */
.lesson{
    background-color: var(--bgColor);
    width: 3rem; height: 3rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}
.lesson__day{
    font-weight: 800;
}
.lesson__day, .lesson__time{
    color: var(--currentColor);
    text-align: center;
}
.lesson.inactive{
    background-color: var(--theme-light);
}
.lesson.inactive .lesson__day{
    color: #70757D;
}

/* Новости */
.newsSearch{
    margin-left: auto;
    height: 3rem; width: 24rem;
    border-radius: 0.5rem;
    background-color: var(--item-bg-color);
    padding: 0 1rem;
    color: var(--text-primary-color);
    font-size: 1.125rem;
}

.newsContainer{
    flex-wrap: wrap;
}

/* Элемент новости */
.newsItem{
    width: calc((100% - 3rem) / 4); height: 28rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--item-bg-color);
    border: 1px solid var(--theme-light);
}
.newsItem:hover{
    background-color: var(--theme-light);
}
.newsItem:hover .newsItem__content{
    transform: translate(0, -0.25rem);
}
.newsItem__preview{
    width: 100%; height: 16rem;
    object-fit: cover;
}
.newsItem__content{ 
    width: 100%; height: 12rem;
    padding: 1.5rem 2rem;
    transition: transform .3s;
}
.newsItem__tag{
    text-transform: uppercase;
    color: var(--currentColor);
    font-weight: 900;
    font-size: 1.125rem;
}
.newsItem__title{
    color: var(--text-primary-color);
    font-size: 1.5rem; font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.newsItem__date{
    font-size: 0.875rem; font-weight: 500;
    margin-top: auto;
}
.light__theme .newsItem{
    box-shadow: 0 0 2rem var(--theme-light);
}


@media screen and (max-width: 1600px){
    .newsItem{
        width: calc((100% - 2rem) / 3);
    }
}
@media screen and (max-width: 1100px){
    .newsItem{
        width: calc((100% - 1rem) / 2);
    }
    #scheduleWidget{
        width: 32rem;
    }
    #eventsWidget{
        width: calc(100% - 32rem - 1rem);
    }
    .lesson.inactive{
        display: none;
    }
}
@media screen and (max-width: 820px){
    #widgets{
        flex-direction: column; gap: 2rem;
    }
    #scheduleWidget, #eventsWidget{
        width: 100%;
    }
    #eventsWidget, #eventsWidget .carousel__slide, #eventsWidget .carousel, #eventsWidget .carousel__viewport, #eventsWidget .carousel__track{
        height: 32rem !important;
    }
    .event{
        height: 32rem;
        flex-direction: column;
    }
    .event__banner{
        width: 100%; height: 10rem;
    }
    .event__content{
        width: 100%;
    }
    .lesson.inactive{
        display: flex;
    }
}

@media screen and (max-width: 740px){
    .mainContainer{
        padding: 1rem;
    }
    .newsItem{
        width: 100%;
    }
    #scheduleWidget, #eventsWidget, #today{
        padding: 1rem;
    }
}

@media screen and (max-width: 576px){
    .lesson.inactive{
        display: none;
    }
}


.carousel{
    color: var(--text-primary-color);

    --carousel-button-bg: var(--theme-light);
    --carousel-button-svg-width: 1rem;
    --carousel-button-svg-height: 1rem;
    --carousel-button-svg-stroke-width: 3;
}
.carousel:hover .carousel__button{
    opacity: 0.75;
}
.carousel__button{
    opacity: 0;
    transition: all .4s;
}

#eventCarousel .carousel__slide {
    height: 22rem; width: 100% !important;
    border-radius: 0.5rem;
    padding: 0 !important;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--theme-light);
}
.carousel__dots{
    transform: translate(0, -0.5rem);
}

.carousel__dot::after{
    width: 1.125rem !important;
    border-radius: 0.2rem !important;
}
.carousel__dot.is-selected::after{
    background-color: var(--currentColor) !important;
}
