

.projectPage{
    width: 80rem;
    margin: 0 auto;
}
.projectPage:after{
    content: "_";
    opacity: 0;
}

.projectPage__header{
    border-bottom: var(--item-bg-color) solid 0.125rem;
}

.section{
    background-color: var(--item-bg-color);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    display: flex; flex-direction: column; gap: 1rem;
    border: var(--theme-light) solid 1px;
}

.projectPreview{
    margin: -1rem -1.5rem 0 -1.5rem;
    height: 24rem;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}
.projectPreview img{
    width: 100%;
}

.participants{
    flex-wrap: wrap;
}
.participant{
    border: var(--theme-light) solid 1px;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    background-color: var(--item-bg-color);
}
.participant .avatar{
    width: 6rem; height: 6rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
}