.mainContainer > header{
    width: calc(100% - 32rem - 1.5rem);
}

.Tab{
    display: none; flex-direction: column; gap: 1.5rem;
    width: calc(100% - 32rem - 1.5rem);
    padding-bottom: 1.5rem;
    position: relative;
}
.Tab.active{
    display: flex;
}

@media screen and (max-width: 420px){
    .menu__button p{
        display: none !important;
    }
}

/* .project{
} */
.project__banner{
    height: 32rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.project__title{
    font-size: 2.5rem;
    font-weight: 500;
}

.application__textarea{
    background-color: var(--theme-light-alpha);
}
.application__header h2{
    font-weight: 500;
    font-size: 2rem;
}

.member{
    height: 3rem;
    border-radius: 1.5rem;
    margin-right: -1.5rem;
    border: var(--bg-color) solid 0.25rem;
}
.member .avatar{
    width: 3rem; height: 3rem;
}
.member__info{
    width: 0;
    overflow: hidden;
    transition: all .5s;
    opacity: 0;
}
.member:hover .member__info{
    width: 14rem;
    margin-right: 2rem;
    opacity: 1;
}
.member__name{
    white-space: nowrap;
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project__members.expanded .member{
    margin-right: -0.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
}
.project__members.expanded .member:hover{
    background-color: var(--theme-light-alpha);
    border-color: var(--theme-light-alpha);
    margin-right: 0;
}
.project__members.expanded .member.selected .avatar{
    border: var(--currentColor) solid 0.25rem;
}

.project__description{
    font-size: 1.25rem;
}

/* .board{
} */
.board__section{
    width: calc((100% - 4rem) / 5);
    display: flex; flex-direction: column; gap: 1rem;
}
.board__sectionHeader{
    height: 3rem; width: 100%;
    border-radius: 0.5rem;
    padding: 0 1rem;
    background-color: var(--item-bg-color);
    border: var(--theme-light) solid 1px;
}
.board__sectionTitle{
    color: var(--text-primary-color);
    font-size: 1.25rem;
    font-weight: 500;
}
.board__sectionCounter{
    width: 2rem; height: 2rem;
    background-color: var(--theme-light);
    color: var(--currentColor);
    border-radius: 0.25rem;
    line-height: 2rem;
    text-align: center;
    margin-right: -0.5rem;
}
.board__sectionTasks{
    padding-bottom: 16rem;
}

.task{
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--item-bg-color);
    border: var(--theme-light) solid 1px;
    transition: transform .2s;
    cursor: pointer;
}
.task:hover{
    transform: scale(1.02);
}
.light__theme .task:hover{
    box-shadow: 0 0 1rem var(--theme-light);
}

.task__title{
    color: var(--text-primary-color);
    font-weight: 600;
    font-size: 1.25rem;
}
.task__description{
    margin-top: -0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.task__header .actionButton{
    width: 2rem; height: 2rem;
    padding: 0.5rem;
}
.task__header .actionButton:hover{
    background-color: var(--aside-bg-color);
}

.task__progress{
    height: 0.25rem;
}
.task__progress .subscale{
    height: 0.25rem;
}

.task__deadline{
    display: flex; flex-direction: row; gap: 0.5rem;
    align-items: center;
}
.task__deadline svg{
    width: 1rem; height: 1rem;
    fill: #70757D;
}

.task__priority span{
    height: 1.75rem;
    border-radius: 0.5rem;
    background-color: var(--theme-light);
}
.task__priority svg{
    width: 1rem; height: 1rem;
    margin: 0.375rem;
}
.task__header p{
    font-weight: 500;
    text-transform: uppercase;
}

.task__priority[data='high'] span{
    background-color: #ec413733;
}
.task__priority[data='high'] svg{
    fill: #ec4137;
}
.task__priority[data='high'] p{
    color: #ec4137;
}

.task__priority[data='medium'] span{
    background-color: #fbbc0733;
}
.task__priority[data='medium'] svg{
    fill: #fbbc07;
}
.task__priority[data='medium'] p{
    color: #fbbc07;
}

.task__priority[data='low'] span{
    background-color: #4486f633;
}
.task__priority[data='low'] svg{
    fill: #4486f6;
}
.task__priority[data='low'] p{
    color: #4486f6;
}

.task__priority[data='none'] span{
    background-color: #484c5333;
}
.task__priority[data='none'] svg{
    fill: var(--text-primary-color);
}
.task__priority[data='none'] p{
    color: var(--text-primary-color);
}


.task__footer{
    height: 2.25rem;
}
.task__users{
    margin-left: auto;
}
.task__user .avatar{
    width: 2rem; height: 2rem;
    margin-left: -0.5rem;
    border: var(--item-bg-color) solid 0.125rem;
}


.chat{
    position: fixed; top: 0; right: 0;
    width: 32rem; height: calc(100% - 3rem);
    max-width: calc(100% - 3rem);
    background-color: var(--item-bg-color);
    padding: 1.5rem;
    border-radius: 1rem;
    border: var(--theme-light) solid 1px;
    margin: 1.5rem;
}
.chat__header{
    display: none;
    margin-bottom: 1.5rem;
}

.chat__history{
    height: calc(100% - 5rem);
    overflow: auto;
}

.message{
    align-items: flex-start;
}
.message__sender{
    width: 2rem; height: 2rem;
}
.message__bubble{
    background-color: var(--theme-light);
    padding: 0.5rem 0.75rem;
    border-radius: 0 0.75rem 0.75rem 0.75rem;
    max-width: 20rem;
}
.light__theme .message__bubble{
    background-color: #f1f3f5;
}
.message .message__text{
    color: var(--text-primary-color);
    font-weight: 400;
}

.message.myMessage{
    flex-direction: row-reverse;
}
.message.myMessage .message__bubble{
    border-radius: 0.75rem 0 0.75rem 0.75rem;
    background-color: var(--currentColor);
}
.message.myMessage .message__text{
    color: #fff;
}

.chat__input{
    height: 4rem;
    border-radius: 0.75rem;
    overflow: hidden;
}
.chat__input input{
    height: 4rem; width: calc(100% - 4rem - 0.25rem);
    padding: 0 1rem;
    
    background-color: var(--aside-bg-color);
    color: var(--text-primary-color);
    font-size: 1.125rem;
    font-weight: 400;
}
.light__theme .chat__input input{
    background-color: #f1f3f5;
}

.chat__input button{
    width: 4rem; height: 4rem;
    background-color: var(--bgColor);
    padding: 1.375rem;
    transition: all 0.2s;
}
.chat__input button svg{
    width: 1.25rem; height: 1.25rem;
    fill: var(--currentColor);
    transition: all 0.2s;
}
.chat__input button:hover{
    background-color: var(--currentColor);
}
.chat__input button:hover svg{
    fill: #fff;
}

#openChatButton{
    display: none;
    position: fixed; bottom: 1.5rem; right: 1.5rem;
    height: 4rem; width: 4rem;
    padding: 1.25rem;
    border-radius: 2rem;
    background-color: var(--currentColor);
}
#openChatButton svg{
    fill: #fff;
}

.modal__content .task__title{
    font-size: 2rem;
    font-weight: 500;
}


#userSearch{
    background-color: var(--theme-light-alpha);
    height: 3rem; width: 100%;
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1.125rem;
    color: var(--text-primary-color);
}

@media screen and (max-width: 1400px){
    .Tab, header{
        width: 100% !important;
    }
    .chat{
        display: none;
        height: calc(100% - 2rem);
        margin: 1rem;
        max-width: calc(100% - 2rem);
    }
    .chat__header{
        display: block;
    }
    .chat__history{
        height: calc(100% - 8.5rem);
    }
    #openChatButton{
        display: block;
    }
}
@media screen and (max-width: 1100px){
    .board{
        width: 100%;
        overflow: auto;
        scroll-snap-type: x mandatory;
    }
    .board__section{
        scroll-snap-align: start;
        min-width: 16rem;
    }
}
@media screen and (max-width: 740px){
    #openChatButton{
        bottom: 5rem; right: 1rem;
    }
    .chat{
        height: calc(100% - 2rem - 4rem);
    }
}
@media screen and (max-width: 400px){
    .board__section{
        min-width: calc(100% - 4rem);
    }
}


.applications{
    display: flex; flex-direction: column; gap: 1rem;
}

.application{
    width: 100%;
    background-color: var(--item-bg-color);
    border-radius: 0.5rem;
    padding: 1rem 1.25rem;
    border: var(--theme-light) solid 1px;
    display: flex; flex-direction: column; gap: 0.75rem;
}
.application__header{
    width: 100%;
    display: flex; align-items: center; justify-content: space-between;
}

.application__user{
    display: flex; flex-direction: row; gap: 0.5rem;
    padding: 0.375rem;
    width: 16rem;
    border-radius: 1.5rem;
}
.application__user:hover{
    background-color: var(--theme-light);
}
.application__user .avatar{
    width: 2.25rem; height: 2.25rem;
}
.application__userName{
    font-weight: 500;
    color: var(--text-primary-color);
    margin-bottom: -0.0625rem;
}
.application__userRole{
    font-size: 0.875rem;
}


.application__text{
    font-size: 1.125rem;
}


.application__buttons .combinedButton p{
    color: var(--text-primary-color);
    font-size: 1.125rem;
}
.application__buttons .dismiss:hover{
    background-color: var(--theme-light-alpha);
}
.application__buttons .dismiss:hover svg{
    fill: tomato;
}


@media screen and (max-width: 576px){
    .application .combinedButton p{
        display: none;
    }
}

