<body>

<div class='modal' id='confirmDeletion'>
    <div class="modal__viewport" style="width: 48rem">
        <form class='modal__content'>
            <h1 class="modal__title">Удаление элементов</h1>
            <p>Вы уверены, что хотите удалить выбранные элементы?</p>
            <div class='modal__block'>
                <div class='row g8' style='margin-left: auto'>
                    <button class='secondaryButton'>
                        Отмена
                    </button>
                    <button class='dangerButton' type="button" onclick="delConfirm()">
                        <svg viewBox="0 0 448 512">
                            <path d="M53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 96H32zm47.18-221.47l84-81.59c8.84-8.59 23.61-2.24" opacity='0.6'></path>
                            <path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM208"></path>
                        </svg>
                        Удалить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
