.mainContainer{
    flex-direction: column;
}
header{
    width: 100%;
    height: 3rem;
}

.Tab{
    display: none; flex-direction: column; gap: 1rem;
}
.Tab.active{
    display: flex;
}

.Tab nav{
    display: flex; flex-direction: row; gap: 1rem;
}
.Tab nav h3{
    font-size: 1rem;
}
.Tab nav input{
    background-color: var(--item-bg-color);
    height: 3rem; width: 20rem;
    border-radius: 0.25rem;
    border: var(--theme-light) solid 1px;
    padding: 0 1rem;
    font-size: 1.125rem;
    color: var(--text-primary-color);
}


.table{
    overflow-x: auto;
    overflow-y: hidden;
}
.tableHeader{
    background-color: var(--item-bg-color);
    height: 3rem; width: max-content;
    display: flex; flex-direction: row; gap: 1.5rem;
    align-items: center;
    padding: 0 0.5rem 0 1.5rem;
    border: var(--theme-light) solid 1px;
    margin-bottom: -1px;
    border-radius: 0.25rem 0.25rem 0 0;
}
.tableHeader p{
    color: var(--text-primary-color);
    font-weight: 500;
}
.tableRow{
    background-color: var(--item-bg-color);
    min-height: 4rem; width: max-content;
    display: flex; flex-direction: row; gap: 1.5rem;
    padding: 0.75rem 0.5rem 0.75rem 1.5rem;
    border: var(--theme-light) solid 1px;
    margin-bottom: -1px;
}

.tableRow:last-of-type{
    border-radius: 0 0 0.25rem 0.25rem;
}
.light__theme .tableRow:hover{
    background-color: var(--theme-light);
}
.dark__theme .tableRow:hover{
    background-color: var(--aside-bg-color);
}
/* .tableRow:nth-of-type(2n + 1){
    background-color: var(--theme-light-alpha);
} */
.tableCell{
    width: 9.5rem; height: min-content;
    overflow: hidden;
    display: flex; flex-direction: row; gap: 0.5rem;
    align-items: center;
}

.tableCell p{
    width: calc(100% - 1.5rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dark__theme .tableCell p{
    color: var(--text-primary-color);
}
.tableCell p:hover{
    text-decoration: underline;
    color: var(--currentColor);
}

.tableCell svg{
    width: 1rem; height: 1rem;
    fill: var(--text-universal-color);
}
.tableCell.email{
    width: 16rem;
}
.tableCell.groups{
    width: 20rem;
    flex-direction: column; gap: 0.25rem;
    align-items: unset;
}
.tableCell.parent{
    width: 14rem;
    flex-direction: column; gap: 0.5rem;
    align-items: unset;
}
.tableCell.number{
    width: 12rem; height: 3.5rem;
}
.tableCell.number h3{
    width: 100%; text-align: center;
}
.tableCell.name{
    width: 14rem;
}

input[type="checkbox"]{
    width: 1rem; height: 1rem;
    margin: 1.25rem 0;
}

.tableUser{
    width: 20rem; height: 3.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.tableUser:hover{
    background-color: var(--item-bg-color);
}
.tableUser__avatar{
    width: 2.25rem; height: 2.25rem;
}
.tableUser__name{
    height: 1rem; width: 16.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-primary-color);
    margin-bottom: 0.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tableUser__role{
    height: 1rem;
    font-size: 0.875rem;
}


#teacherSearch, #studentSearch{
    background-color: var(--theme-light-alpha);
    height: 3rem; width: 100%;
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1.125rem;
    color: var(--text-primary-color);
}

