.profilePage{
    display: flex; gap: 32px; flex-direction: row;
}

.profilePage__tab{
    display: none;
}
.profilePage__tab.active{
    display: flex;
}

.profileCard{
    width: 300px;
    display: flex; flex-direction: column; align-items: center;
}
.profileCard__profileImg{
    width: 128px; height: 128px;
    border-radius: 64px;
    object-fit: cover; object-position: center;
}
