<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel='stylesheet' href='../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="shortcut icon" href="../../img/logo.png" type="image/png" />
    <link rel="stylesheet" href="style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    
    <title>Каталог проектов</title>
</head>

<body class='light__theme' colorScheme="colorScheme__green">
    <!-- Навигационное меню -->
    <aside>
        <!-- Логотип -->
        <div id="logo" onclick="location.href='/'">
            <img src='../../img/Кванториум SPACE.svg' alt='logo'/>
            <!-- <h1>KvantJournal</h1> -->
        </div>

        <!-- Навигация -->
        <nav>
            <!-- Главная -->
            <button>
                <div>
                    <svg viewBox="0 0 16 16">
                        <g transform="translate(-4 -4)">
                            <rect class='bright' width="7" height="7" rx="1.5" transform="translate(4 4)"/>
                            <path class='faded' d="M5.5,13h4A1.5,1.5,0,0,1,11,14.5v4A1.5,1.5,0,0,1,9.5,20h-4A1.5,1.5,0,0,1,4,18.5v-4A1.5,1.5,0,0,1,5.5,13Zm9-9h4A1.5,1.5,0,0,1,20,5.5v4A1.5,1.5,0,0,1,18.5,11h-4A1.5,1.5,0,0,1,13,9.5v-4A1.5,1.5,0,0,1,14.5,4Zm0,9h4A1.5,1.5,0,0,1,20,14.5v4A1.5,1.5,0,0,1,18.5,20h-4A1.5,1.5,0,0,1,13,18.5v-4A1.5,1.5,0,0,1,14.5,13Z"/>
                        </g>
                    </svg>
                    <p>Главная</p>
                </div>
            </button>
            <!-- Дневник -->
            <button>
                <div>
                    <svg viewBox="0 0 448 512">
                        <path class='faded' d="M96 448c-19.2 0-32-12.8-32-32s16-32 32-32h319.33c-1.93 16.24-1.76 48.38.53 64z"></path>
                        <path class='bright' d="M96 384h328a24 24 0 0 0 24-24V32a32 32 0 0 0-32-32H96A96 96 0 0 0 0 96v320a96 96 0 0 0 96 96h328a24 24 0 0 0 24-24v-16a24 24 0 0 0-24-24H96c-19.2 0-32-12.8-32-32s16-32 32-32zm32-250a6 6 0 0 1 6-6h212a6 6 0 0 1 6 6v20a6 6 0 0 1-6 6H134a6 6 0 0 1-6-6zm0 64a6 6 0 0 1 6-6h212a6 6 0 0 1 6 6v20a6 6 0 0 1-6 6H134a6 6 0 0 1-6-6z"></path>
                    </svg>
                    <p>Задания</p>
                </div>
            </button>
            <button class='active'>
                <div>
                    <svg viewBox="0 0 18.174 18.053">
                        <g transform="translate(-4 -2.947)">
                            <path class='bright' d="M5,3H6A1,1,0,0,1,7,4V20a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V4A1,1,0,0,1,5,3Zm5,0h1a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1H10a1,1,0,0,1-1-1V4A1,1,0,0,1,10,3Z"/>
                            <rect class='faded' width="3" height="18" rx="1" transform="translate(13.477 3.924) rotate(-19)"/>
                        </g>
                    </svg> 
                    <p>Проекты</p>
                </div>
            </button>
            <!-- Почта -->
            <button>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.166" height="15.333" viewBox="0 0 16.166 15.333">
                        <g id="messages" transform="translate(-8.042 -7.833)">
                            <path class='faded' d="M22.375,11.833h-.333V15a2.836,2.836,0,0,1-2.833,2.833H11.376v1.5a1.835,1.835,0,0,0,1.833,1.833h.833v1.5A.5.5,0,0,0,14.91,23l1.685-1.838h5.78a1.835,1.835,0,0,0,1.833-1.833V13.666A1.835,1.835,0,0,0,22.375,11.833Z"/>
                            <path class='bright' d="M19.208,7.833H9.542a1.5,1.5,0,0,0-1.5,1.5V15a1.5,1.5,0,0,0,1.5,1.5h9.667a1.5,1.5,0,0,0,1.5-1.5V9.333A1.5,1.5,0,0,0,19.208,7.833Zm.167,2.96-4.493,2.18a1.131,1.131,0,0,1-1.014,0l-4.493-2.18V9.687L14.3,12.074a.144.144,0,0,0,.147,0l4.927-2.387v1.106Z"/>
                        </g>
                      </svg>
                      <p>Почта</p>
                </div>
                <p>11</p>
            </button>
        </nav>
        <hr style='margin: 8px 16px' class='divider'/>
        <nav>
            <button onclick="switch_theme()">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <g id="eclipse" transform="translate(-8 -8)">
                          <path class='faded' d="M12,24a4,4,0,1,1,4-4A4,4,0,0,1,12,24Z"/>
                          <g>
                            <path class='bright' d="M16.333,10.667A5.007,5.007,0,0,0,11.426,14.7,5.409,5.409,0,0,1,12,14.667,5.34,5.34,0,0,1,17.332,20a5.394,5.394,0,0,1-.033.573,5,5,0,0,0-.966-9.906Z"/>
                            <path class='bright' d="M16.333,10a.667.667,0,0,1-.667-.667V8.667a.667.667,0,0,1,1.334,0v.667A.667.667,0,0,1,16.333,10Z"/>
                            <path class='bright' d="M23.333,16.333h-.667a.667.667,0,1,1,0-1.333h.667a.667.667,0,0,1,0,1.333Z"/>
                            <path class='bright' d="M20.341,11.66a.668.668,0,0,1,0-.943l.471-.472a.667.667,0,1,1,.943.943l-.471.472A.668.668,0,0,1,20.341,11.66Z"/>
                            <path class='bright' d="M20.812,21.088l-.471-.472a.667.667,0,0,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                            <path class='bright' d="M11.383,11.66l-.471-.472a.667.667,0,1,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                          </g>
                        </g>
                      </svg>
                    <p>Тема</p>
                </div>
                <span class="toggle theme"></span>
            </button>
            <button onclick="switch_color_scheme()">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <g id="roller" transform="translate(-8 -8)">
                          <path class='bright' d="M19.5,8H9.833A1.835,1.835,0,0,0,8,9.833v2.333A1.835,1.835,0,0,0,9.833,14H19.5a1.835,1.835,0,0,0,1.833-1.833V9.834A1.835,1.835,0,0,0,19.5,8Z"/>
                          <path class='faded' d="M22.333,10.333h-1v1.333h1a.333.333,0,0,1,.333.333v3a.334.334,0,0,1-.333.333H15.666a2,2,0,0,0-2,2V18H15v-.667a.668.668,0,0,1,.667-.667h6.667A1.667,1.667,0,0,0,24,15V12A1.668,1.668,0,0,0,22.333,10.333Z"/>
                          <path class='bright' d="M15.5,18H13.167A1.168,1.168,0,0,0,12,19.167v3.667A1.167,1.167,0,0,0,13.167,24H15.5a1.168,1.168,0,0,0,1.167-1.167V19.166A1.168,1.168,0,0,0,15.5,18Z"/>
                        </g>
                      </svg>
                      <p>Цвет</p>
                </div>
                <span class="toggle color-scheme"></span>
            </button>
        </nav>
        <nav>
            <!-- Профиль -->
            <div class="aside-profile">
                <button class="profile">
                    <img src='../../img/Kaelthas.jpg'>
                    <div class="info">
                        <h2>Фамилия И.</h2>
                        <h4>Ученик</h4>
                    </div>
                </button>
                <nav class='toolbar'>
                    <!-- Список задач -->
                    <button data-tippy-content="Список задач">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13.334" viewBox="0 0 16 13.334">
                            <g id="task" transform="translate(-8 -9.333)">
                                <g>
                                    <path class='faded' d="M10.167,12H8.5a.5.5,0,0,1-.5-.5V9.833a.5.5,0,0,1,.5-.5h1.667a.5.5,0,0,1,.5.5V11.5A.5.5,0,0,1,10.167,12Z"/>
                                    <path class='faded' d="M10.167,17.333H8.5a.5.5,0,0,1-.5-.5V15.166a.5.5,0,0,1,.5-.5h1.667a.5.5,0,0,1,.5.5v1.667A.5.5,0,0,1,10.167,17.333Z"/>
                                    <path class='faded' d="M10.167,22.667H8.5a.5.5,0,0,1-.5-.5V20.5a.5.5,0,0,1,.5-.5h1.667a.5.5,0,0,1,.5.5v1.667A.5.5,0,0,1,10.167,22.667Z"/>
                                </g>
                                <g>
                                    <path class='bright' d="M23.333,11.333h-10a.667.667,0,1,1,0-1.333h10a.667.667,0,1,1,0,1.333Z"/>
                                    <path class='bright' d="M23.333,16.667h-10a.667.667,0,1,1,0-1.334h10a.667.667,0,1,1,0,1.334Z"/>
                                    <path class='bright' d="M23.333,22h-10a.667.667,0,1,1,0-1.334h10a.667.667,0,0,1,0,1.334Z"/>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <!-- Уведомления -->
                    <button data-tippy-content="Уведомления">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.334" height="16" viewBox="0 0 13.334 16">
                            <g id="bell" transform="translate(-9.333 -8)">
                                <path class='bright' d="M22.253,19.275a4.466,4.466,0,0,1-1.586-3.417V14a4.67,4.67,0,0,0-4-4.613v-.72a.667.667,0,1,0-1.334,0v.72a4.669,4.669,0,0,0-4,4.613v1.859a4.472,4.472,0,0,1-1.592,3.422,1.167,1.167,0,0,0,.759,2.053h11a1.167,1.167,0,0,0,.753-2.059Z"/>
                                <path class='faded' d="M16,24a2.5,2.5,0,0,0,2.449-2h-4.9A2.505,2.505,0,0,0,16,24Z"/>
                            </g>
                        </svg>
                    </button>
                </nav>
            </div>
        </nav>
    </aside>

    <section class="projectCatalog">
        <header class="projectCatalog__header">
            <h1>Каталог проектов</h1>
        </header>
        <div id='projectCategory__Carousel' class='carousel'>

            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>
            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>
            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>
            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>
            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>
            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>
            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>
            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>
            <div class="projectCard carousel__slide">
                <img src="../../img/howtospeedupreact-thumb.jpg" class='projectCard__preview'/>
                <img src="../../img/Kaelthas.jpg" class='projectCard__teamLeader'>
                <svg viewBox="0 0 640 512" class='projectCard__teamLeaderBadge'>
                    <path fill='#fff' opacity='0.6' d="M544 464v32a16 16 0 0 1-16 16H112a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z"></path>
                    <path fill='#fff' d="M640 176a48 48 0 0 1-48 48 49 49 0 0 1-7.7-.8L512 416H128L55.7 223.2a49 49 0 0 1-7.7.8 48.36 48.36 0 1 1 43.7-28.2l72.3 43.4a32 32 0 0 0 44.2-11.6L289.7 85a48 48 0 1 1 60.6 0l81.5 142.6a32 32 0 0 0 44.2 11.6l72.4-43.4A47 47 0 0 1 544 176a48 48 0 0 1 96 0z"></path>
                </svg>
                <div class="projectCard__info column">
                    <p class="projectCard__infoSubtitle">it</p>
                    <p class="projectCard__infoTitle">Полное название проекта</p>
                    <div class="members">
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <img src="../../img/user_profile_female.jpg" class='members__member'>
                        <img src="../../img/user_profile_male.jpg" class='members__member'>
                        <div class='members__member empty'></div>
                        <div class='members__member empty'></div>
                    </div>
                    <p class='projectCard__description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam doloremque accusantium facere dolores quibusdam nisi officia soluta ut earum cupiditate dolorum hic error vitae magnam nesciunt, repellendus nulla fugiat.</p>
                </div>
            </div>

        </div>
    </section>

    <div id="arrowTop" hidden>
        <svg viewBox="0 0 14 14">
            <g transform="translate(-5 -5)">
                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
            </g>
        </svg> 
    </div>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Менеджер секций-->
    <script src='../../JS/script.js'></script>

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <script>
        const myCarousel = new Carousel(document.querySelector("#projectCategory__Carousel"), {
            'Dots': false,
            'infinite' : false,
            'fill': false,
            'center': false,
            slidesPerPage: 2,
        });
    </script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tippy('[data-tippy-content]', {
            placement: 'top',
        });
    </script>
</body>

</html>