{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    
    {% include "CoreApp/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href='{% static "AdminApp/style.css" %}'> <!-- Стили страницы -->
    
    <title>Поиск</title>
</head>

<body>

    {% include "CoreApp/AsideMenu/index.html" with user=user active='admin_page' %}

    <main class="mainContainer">
        {% include "AdminApp/HeadMenu/index.html" with active='students' %}


        <section class="Tab active">

            <nav>
                <div class="column g8">
                    <h3>Поиск по ученикам</h3>
                    <input type="text" placeholder="Введите ФИО">
                </div>
                <div class="column g8">
                    <h3>Направление</h3>
                    <div class="filtering" style="width: 12rem">
                        <div class="dropdownSelect">
                            <div class="dropdownSelect__trigger">
                                <div>Все</div>
                                <div class="arrowDown"></div>
                            </div>
                            <div class="dropdownSelect__options">
                                <span class='dropdownSelect__option selected'>Все</span>
                                <span class='dropdownSelect__option'>IT</span>
                                <span class='dropdownSelect__option'>Энерджи</span>
                                <span class='dropdownSelect__option'>Хайтек</span>
                                <span class='dropdownSelect__option'>ПромДизайн</span>
                                <span class='dropdownSelect__option'>ПромРобо</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column g8">
                    <h3>Добавление</h3>
                    <button class="secondaryButton" onclick="open_form('#genLinks')">
                        Сгенерировать ссылки регистрации
                    </button>
                </div>
            </nav>

            <div class="row">
                <button class="danger combinedButton" title="Удалить выбранных пользователей">
                    <svg viewBox="0 0 448 512">
                        <path d="M53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 96H32zm47.18-221.47l84-81.59c8.84-8.59 23.61-2.24" opacity='0.6'></path>
                        <path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM208"></path>
                    </svg>
                </button>
            </div>

            <div class="table scrollbarX">
                <div class="tableHeader">
                    <input type="checkbox" title='Выбрать все' onchange="$('.tableRow input[type=checkbox]').prop('checked', $(this).prop('checked'));">
                    <p style="width: 20rem">Ученик</p>
                    <p style="width: 9.5rem">Группа</p>
                    <p style="width: 9.5rem">Дата рождения</p>
                    <p style="width: 16rem">Электронная почта</p>
                    <p style="width: 9.5rem">Телефон</p>
                    <p style="width: 14rem">ФИО отца</p>
                    <p style="width: 9.5rem">Телефон отца</p>
                    <p style="width: 14rem">ФИО матери</p>
                    <p style="width: 9.5rem">Телефон матери</p>
                </div>

                {% for student in students %}
                <div class="tableRow">
                    <input type="checkbox">
                    <div class="tableUser row g8" title="Перейти в профиль">
                        <img src="{{ student.image.url }}" class="tableUser__avatar avatar">
                        <div class='column'>
                            <p class="tableUser__name">{{ student.surname }} {{ student.name }} {{ student.patronymic }}</p>
                            <p class="tableUser__role">Ученик</p>
                        </div>
                    </div>
                    <div class="tableCell">
                        <svg viewBox="0 0 448 512">
                            <path d="M255.1 255.1c0 17.63-14.38 32-32 32s-32-14.37-32-32c0-17.62 14.38-32.03 32-32.03S255.1 238.3 255.1 255.1z"/>
                            <path style='opacity: .6' d="M423.1 56.87C379.1 12.86 300.3 31.62 224 79.12C147.6 31.62 68.87 12.86 24.87 56.87C-19.14 100.9-.3849 179.6 47.12 256c-47.5 76.38-66.25 155.1-22.25 199.1C66.12 496.4 140.4 484.5 224 432.5c83.25 51.88 157.8 64 199.1 22.63c44-44 25.25-122.8-22.25-199.1C448.4 179.6 467.1 100.9 423.1 56.87zM70.12 102.1c9.316-9.316 39.67-12.54 97.26 17.88c-29 23.75-55.5 50.25-79.13 79.13C63.37 151.9 57.74 114.5 70.12 102.1zM70.12 409.9c-12.38-12.38-6.751-49.75 18.13-97.01c28.75 34.88 53 57.38 79.13 78.88C119.1 416.6 82.49 422.3 70.12 409.9zM224 355c-44.88-34.25-73-65-98.88-99.01C153.4 218.5 186.6 184.1 224 156.6c37.38 28.38 70.63 61.88 99 99.38C288.8 300.9 258 329 224 355zM377.9 409.9c-12.38 12.38-49.88 6.75-97.26-18.13c26-21.5 50.25-43.88 79.13-78.88C384.6 360.1 390.3 397.5 377.9 409.9zM359.8 199.1c-23.62-28.88-50.13-55.38-79.13-79.13c57.33-30.29 87.89-27.24 97.26-17.88C390.3 114.5 384.6 151.9 359.8 199.1z"/>
                        </svg>
                        <p>IT 3-1</p>
                    </div>
                    <div class="tableCell">
                        <svg viewBox="0 0 448 512">
                            <path d="M96 32C96 14.33 110.3 0 128 0C145.7 0 160 14.33 160 32V64H288V32C288 14.33 302.3 0 320 0C337.7 0 352 14.33 352 32V64H400C426.5 64 448 85.49 448 112V192H0V112C0 85.49 21.49 64 48 64H96V32z"/>
                            <path style='opacity: .4' d="M448 464C448 490.5 426.5 512 400 512H48C21.49 512 0 490.5 0 464V192H448V464zM80 256C71.16 256 64 263.2 64 272V368C64 376.8 71.16 384 80 384H176C184.8 384 192 376.8 192 368V272C192 263.2 184.8 256 176 256H80z"/></svg>
                        <p>##.##.####</p>
                    </div>
                    <div class="tableCell email">
                        <svg viewBox="0 0 512 512">
                            <path d="M16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z"/>
                            <path style='opacity: .4' d="M511.1 120H512v280c0 26.51-21.49 48-48 48h-416C21.49 448 0 426.5 0 400V120h.9199c1.926 9.936 7.236 18.98 15.37 25.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C503.8 138.1 509.2 129.9 511.1 120z"/>
                        </svg>
                        <p>{{ student.email }}</p>
                    </div>
                    <div class="tableCell">
                        <svg viewBox="0 0 512 512">
                            <path d="M507.1 404.7l4.086-17.7c3.405-14.69-4.207-29.69-18.12-35.79L384.6 304.7c-12.78-5.436-27.69-1.774-36.47 8.975l-16.98 20.62L507.1 404.7zM0 54.5c-.0014 252.2 205.2 457.5 457.5 457.5c14.65 0 27.21-9.969 30.46-24.22l9.378-40.66l-193.3-79.63C234.8 333.5 178.5 277.2 144.5 207.1L64.88 14.67L24.22 24.05C9.967 27.32-.0014 39.83 0 54.5zM198.3 163.9c10.78-8.687 14.51-23.67 8.98-36.45L160.8 18.92C154.8 5.017 139.6-2.568 124.1 .8048L107.3 4.884L177.6 180.8L198.3 163.9z"/>
                            <path style='opacity: .4' d="M497.3 447.1l9.786-42.41l-175.1-70.4l-27.1 33.18L497.3 447.1zM144.5 207.1L177.6 180.8L107.3 4.884L64.88 14.67L144.5 207.1z"/>
                        </svg>
                        <p># ### ### ## ##</p>
                    </div>
                    <div class="tableCell name">
                        <svg viewBox="0 0 448 512">
                            <path d="M274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/>
                            <path style='opacity: .4' d="M352 128c0 70.69-57.3 128-128 128C153.3 256 96 198.7 96 128s57.31-128 128-128C294.7 0 352 57.31 352 128z"/>
                        </svg>
                        <p>Фамилия Имя Отчество</p>
                    </div>
                    <div class="tableCell">
                        <svg viewBox="0 0 512 512">
                            <path d="M507.1 404.7l4.086-17.7c3.405-14.69-4.207-29.69-18.12-35.79L384.6 304.7c-12.78-5.436-27.69-1.774-36.47 8.975l-16.98 20.62L507.1 404.7zM0 54.5c-.0014 252.2 205.2 457.5 457.5 457.5c14.65 0 27.21-9.969 30.46-24.22l9.378-40.66l-193.3-79.63C234.8 333.5 178.5 277.2 144.5 207.1L64.88 14.67L24.22 24.05C9.967 27.32-.0014 39.83 0 54.5zM198.3 163.9c10.78-8.687 14.51-23.67 8.98-36.45L160.8 18.92C154.8 5.017 139.6-2.568 124.1 .8048L107.3 4.884L177.6 180.8L198.3 163.9z"/>
                            <path style='opacity: .4' d="M497.3 447.1l9.786-42.41l-175.1-70.4l-27.1 33.18L497.3 447.1zM144.5 207.1L177.6 180.8L107.3 4.884L64.88 14.67L144.5 207.1z"/>
                        </svg>
                        <p># ### ### ## ##</p>
                    </div>
                    <div class="tableCell name">
                        <svg viewBox="0 0 448 512">
                            <path d="M274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/>
                            <path style='opacity: .4' d="M352 128c0 70.69-57.3 128-128 128C153.3 256 96 198.7 96 128s57.31-128 128-128C294.7 0 352 57.31 352 128z"/>
                        </svg>
                        <p>Фамилия Имя Отчество</p>
                    </div>
                    <div class="tableCell">
                        <svg viewBox="0 0 512 512">
                            <path d="M507.1 404.7l4.086-17.7c3.405-14.69-4.207-29.69-18.12-35.79L384.6 304.7c-12.78-5.436-27.69-1.774-36.47 8.975l-16.98 20.62L507.1 404.7zM0 54.5c-.0014 252.2 205.2 457.5 457.5 457.5c14.65 0 27.21-9.969 30.46-24.22l9.378-40.66l-193.3-79.63C234.8 333.5 178.5 277.2 144.5 207.1L64.88 14.67L24.22 24.05C9.967 27.32-.0014 39.83 0 54.5zM198.3 163.9c10.78-8.687 14.51-23.67 8.98-36.45L160.8 18.92C154.8 5.017 139.6-2.568 124.1 .8048L107.3 4.884L177.6 180.8L198.3 163.9z"/>
                            <path style='opacity: .4' d="M497.3 447.1l9.786-42.41l-175.1-70.4l-27.1 33.18L497.3 447.1zM144.5 207.1L177.6 180.8L107.3 4.884L64.88 14.67L144.5 207.1z"/>
                        </svg>
                        <p># ### ### ## ##</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </section>

    </main>

    <!-- Форма генерации ссылок регистрации -->
    <div class='modal' id='genLinks'>
        <div class="modal__viewport" style="width: 48rem">
            <form class="modal__content">
                <div class='modal__block'>
                    <h1 class="modal__title">Генерация ссылок регистрации</h1>
                    <button class='secondaryButton' type="submit">
                        <svg viewBox="0 0 384 448">
                            <path opacity='0.3' d="M360 480H24a24 24 0 0 1-24-24v-16a24 24 0 0 1 24-24h336a24 24 0 0 1 24 24v16a24 24 0 0 1-24 24z"></path>
                            <path d="M151.92 32h80a23.94 23.94 0 0 1 24 24v136h87.7c17.8 0 26.8 21.51 14.2 34.11l-152.3 152.26a19.36 19.36 0 0 1-27.3 0L26.12 226.14c-12.6-12.6-3.7-34.11 14.1-34.11h87.7V56a23.94 23.94 0 0 1 24-24z"></path>
                        </svg>  
                        Скачать
                    </button>
                </div>

                <h3>Количество ссылок</h3>
                <input class='text-field text-field-title' autocomplete="off" type='number'/>

            </form>
        </div>
    </div>

    <div class="alertsContainer column" id='alertsContainer'>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    
    <script src="{% static 'CoreApp/text/options.js' %}"></script>
    <script src="{% static 'CoreApp/drop/dropdownSelect.js' %}"></script> <!-- Выпадающие меню -->

    <script>
        $(".tableCell p").attr('title', 'Скопировать');
        $(".tableCell p").on("click", function(){
            copytext($(this));
        });
    </script>

    <script>
        $('#teacherSelect .userSelect__user').click( function() {
            if ($(this).parent().attr('id') == 'teacherSelect') {
                $('#selectedTeachers').append($(this));
                $('#teacherSearch').val('').focus();
                $('.userSelect').hide();
                $('#teacherSearch').hide();
            } else {
                $('#teacherSelect').append($(this));
                $('#teacherSearch').show();
            }
        });

        $('#studentSelect .userSelect__user').click( function() {
            if ($(this).parent().attr('id') == 'studentSelect') {
                $('#selectedStudents').append($(this));
                $('#studentSearch').val('').focus();
                $('.userSelect').hide();
            } else {
                $('#studentSelect').append($(this));
            }
        });
    </script>
</body>

</html>