<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel='stylesheet' href='../../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" />
    <link rel="stylesheet" href="style.css">
    <title>Новость</title>
</head>

<body>
    <!-- Навигационное меню -->
    <aside>
        <!-- Логотип -->
        <img src='../../../img/logo.png' id='logo' alt='logo' onclick="reload(this)"/>
        <nav>
            <button class='active'><a href='/student/main'><span class="fi fi-rr-apps"></a></button>
            <button><a href='student/diary'><span class="fi fi-rr-book-alt"></a></button>
            <button><a href='student/mail'><span class="fi fi-rr-envelope"></a></button>
            <button><a href='student/stat'><span class="fi fi-rr-stats"></a></button>
        </nav>
        <nav style='position: absolute; bottom: 15px'>
            <button><span class="fi fi-rr-bell"></button> <!-- Уведомления -->
            <button class='user-img'><span class="fi fi-rr-circle"></button> <!-- Профиль -->
        </nav>
    </aside>
    <!-- Главная -->
    <section id='main' style='display: block'>
        <!-- Новости -->
        <section id='news'>
            <!-- Форма просмотра новости -->
            <div class='form'>
                <!-- Затемняющий фильтр -->
                <div class='filter' style='background-color: #00000011'></div>
                <div class="form-wrapper" style='overflow-y: scroll; padding: 100px 0;'>
                    <form style='margin: auto 0'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" class='preview'>
                        <div class='item-header'>
                            <div class='lesson-title'>
                                <h2>Заголовок новости</h2>
                            </div>
                            <div class='lesson-teacher'>
                                <h4>Автор новости</h4>
                                <img src='../../../img/unnamed.png'/>
                            </div>
                        </div>
                        <p class='item-text'>
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                        </p>
                        <div style='margin-top: 10px'>
                            <span class="fi-rr-calendar" style='font-size: 0.8rem; margin-right: 5px'></span>
                            <h3 style='display: inline-block'>Дата публикации: 26.03</h3>
                        </div>
                        <hr style='margin: 25px 0'/>
                        <div class="item-header">
                            <div class='files'>
                                <div class='file'><i class='file-7z'></i><h4>archive.7z</h4></div>
                                <div class='file'><i class='file-cpp'></i><h4>c++ prog.cpp</h4></div>
                                <div class='file'><i class='file-mov'></i><h4>video.mov</h4></div>
                                <div class='file'><i class='file-mp3'></i><h4>audio.mp3</h4></div>
                                <div class='file'><i class='file-pyc'></i><h4>python prog.pyc</h4></div>
                                <div class='file'><i class='file-java'></i><h4>java prog.java</h4></div>
                                <div class='file'><i class='file-xml'></i><h4>excel document.xml</h4></div>
                                <div class='file'><i class='file-pptx'></i><h4>presentation.pptx</h4></div>
                                <div class='file'><i class='file-doc'></i><h4>document.doc</h4></div>
                                <div class='file'><i class='file-pdf'></i><h4>sertificate.pdf</h4></div>
                                <div class='file'><i class='file-png'></i><h4>image.png</h4></div>
                                <div class='file'><i class='file-cs'></i><h4>C# prog.cs</h4></div>
                                <div class='file'><i class='file-qwerty'></i><h4>undefineded.qwerty</h4></div>
                            </div>
                        </div>
                        <div style='display: flex; flex-direction: column;'>
                            <button class='form-btn'>
                                <span class="fi-rr-undo" style='font-size: 1rem; margin-right: 5px'></span>
                                <h3 style='display: inline-block; color: #fff'>Назад</h3>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <img src='../../../img/atom.png' class='bg'/>
    </section>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../../JS/sections_manager.js'></script> <!-- Менеджер секций-->
</body>

</html>