<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../../fonts/Poppins/poppins.css' /> <!-- Шрифт Poppins -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" />
    <link rel="stylesheet" href="style.css">
    <title>Новость</title>
</head>

<body style="overflow-y: auto">
    <aside>
        <img src='../../../img/logo.png' id='logo' alt='logo' onclick="reload(this)"/>
        <nav>
            <button class='active'><a href='/student/main'><span class="fi fi-rr-apps"></a></button>
            <button><a href='student/diary'><span class="fi fi-rr-book-alt"></a></button>
            <button><a href='student/mail'><span class="fi fi-rr-envelope"></a></button>
            <button><a href='student/stat'><span class="fi fi-rr-stats"></a></button>
        </nav>
        <nav style='position: absolute; bottom: 15px'>
            <button><span class="fi fi-rr-list-check"></button> <!-- TaskManager -->
            <button><span class="fi fi-rr-bell"></button> <!-- Notifications -->
            <button class='user-img'><span class="fi fi-rr-circle"></button>
        </nav>
    </aside>
    <!-- Главная -->
    <section id='main' style='display: block'>
        <!-- Новости -->
        <section id='news'>
            <!-- Форма просмотра новости -->
            <div class='form'>
                <div class='filter' style='background-color: #00000011'></div>
                <div class="form-wrapper" style='overflow-y: scroll; padding-top: 250px;'>
                    <form style='margin: 200px 0 100px;'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" class='preview'>
                        <div class='item-header'>
                            <div class='lesson-title'>
                                <h2>Это очень длинный заголовок для новости, содержащий всю информацию, которую нужно было указать в тексте</h2>
                            </div>
                            <div class='lesson-teacher'>
                                <h4>Автор новости</h4>
                                <img src='../../../img/unnamed.png'/>
                            </div>
                        </div>
                        <p class='item-text'>
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                        </p>
                        <p class='item-text'>
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                            Нужно реализовать свой сервер на технологии ASP.NET Core MVC. 
                            И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                        </p>
                        <div style='margin-top: 10px'>
                            <span class="fi-rr-calendar" style='font-size: 0.8rem; margin-right: 5px'></span>
                            <h3 style='display: inline-block'>Дата публикации: 26.03</h3>
                        </div>
                        <hr style='margin: 25px 0'/>
                        <div class="item-header">
                            <div class='files'>
                                <div class='file'><span class="fi-rr-file"></span><h4>document.docx</h4></div>
                                <div class='file'><span class="fi-rr-file"></span><h4>document.docx</h4></div>
                            </div>
                            <button class='form-btn' type="submit">
                                <span class="fi-rr-undo" style='font-size: 1rem; margin-right: 5px'></span>
                                <h3 style='display: inline-block; color: #fff'>Назад</h3>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <img src='../../../img/atom.png' class='bg'/>
    </section>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../../JS/sections_manager.js'></script> <!-- Менеджер секций-->
</body>

</html>