<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel="stylesheet" href="style.css"> <!-- Стили страницы -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel='stylesheet' href='../../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="../../../fonts/Google font/stylesheet.css">
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" /> <!-- Лого -->
    <title>Главная</title>
</head>

<body style="overflow: auto" class='light__theme orange__color__scheme'>
    <!-- Навигационное меню -->
    <aside>
        <!-- Логотип -->
        <img src='../../../img/atom.png' id='logo' alt='logo' onclick="reload(this)" />
        <!-- Навигация -->
        <nav>
            <button class='active'><span class="fi fi-rr-apps"><p>Главная</p></button>
            <button><span class="fi fi-rr-book-alt"><p>Дневник</p></button>
            <button><span class="fi fi-rr-envelope"><p>Почта</p></button>
            <button><span class="fi fi-rr-stats"><p>Отчеты</p></button>
            <button><span class="fi-rr-trophy"><p>Портфолио</p></button>
        </nav>
        <nav>
            <button onclick="switch_theme()"><span class="fi-rr-opacity"><p>Тема</p></button>
            <button onclick="switch_color_scheme()"><span class="fi-rr-palette"><p>Цвет</p></button>
        </nav>
    </aside>

    <!-- Главная -->
    <section id='main' style='display: block'>
        <header>
            <nav class='toolbar'>
                <button><span class="fi-rr-list-check"></button>
                <button><span class="fi fi-rr-bell"></button>
            </nav>
            <div class="profile">
                <div class="info">
                    <h4>Ученик</h4>
                    <h2>Имя Фамилия</h2>
                </div>
                <img src='../../../img/Kaelthas.jpg'/>
            </div>
        </header>
        <!-- Виджеты -->
        <section id='widgets'>
            <!-- Виджет с цитатой -->
            <div id='quote-widget'>
                <!-- Заголвок виджета -->
                <span class="fi-rr-quote-right" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 10px'>Цитата дня</h1></span>
                <!-- Подзаголовок виджета -->
                <!-- <h3>Читай высказывания великих людей</h3> -->
                <div>
                    <!-- Цитата -->
                    <h6>«Оценивать эффективность процесса программирования количеством написанных строк кода — то же самое, что оценивать процесс создания самолёта по его весу»</h6>
                    <!-- Автор цитаты -->
                    <h4 id='author'>Билл Гейтс</h4>
                </div>
            </div>
            <!-- Виджет "Твои курсы" -->
            <div id='courses-manager'>
                <div class='widget-header'>
                    <!-- Заголовок виджета -->
                    <span class="fi-rr-graduation-cap" style='font-size: 1.5rem; color: #000'><h1 style='display: inline-block; margin-left: 10px; color: #000'>Расписание</h1></span>
                    <!-- Кнопки слайдера -->
                    <div id="slider-controller">
                        <button id='prev'><span class='fi-rr-arrow-small-left'></span></button>
                        <button id='next'><span class='fi-rr-arrow-small-right'></span></button>
                    </div>
                </div>
                <div id='slider'>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>IT</h2>
                        <h4>ВТ 18:20 ЧТ 18:20</h4>
                        <h4>Зарывных П. С</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>Math</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>English</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>IT</h2>
                        <h4>ВТ 18:20 ЧТ 18:20</h4>
                        <h4>Зарывных П. С</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>Math</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>English</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>IT</h2>
                        <h4>ВТ 18:20 ЧТ 18:20</h4>
                        <h4>Зарывных П. С</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>Math</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>English</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>IT</h2>
                        <h4>ВТ 18:20 ЧТ 18:20</h4>
                        <h4>Зарывных П. С</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>Math</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                    <div class='item'>
                        <img src="../../../img/default_bg.jpg" alt="Превью" />
                        <h2>English</h2>
                        <h4>Время занятий</h4>
                        <h4>Педагог</h4>
                    </div>
                </div>
            </div>
            <!-- Форма просмотра курса -->
            <div class='form' style='padding: 0; display: none;'>
                <div class='filter' onclick="close_form(this)"></div>
                <div class="form-wrapper">
                    <form>
                        <div class='item-header'>
                            <div class='lesson-title'>
                                <h2>IT</h2>
                            </div>
                            <div class='lesson-teacher'>
                                <h4>Зарывных П. С</h4>
                                <img src='../../../img/unnamed.png' />
                            </div>
                        </div>
                        <p class='item-text'>
                            Краткое описание курса. Если его не надо уберем
                        </p>
                        <hr class='divider'/>
                        <h2>Расписание</h2>
                        <div class="calendar__timetable">
                            <div class="day">пн</div>
                            <div class="day day-active">вт<time>18:20</time></div>
                            <div class="day">ср</div>
                            <div class="day day-active">чт<time>18:20</time></div>
                            <div class="day">пт</div>
                            <div class="day">сб</div>
                            <div class="day">вс</div>
                        </div>
                        <hr class="divider"/>
                        <h2>Участники курса</h2>
                        <div class="item-header">
                            <div class='files' style='width: 100%'>
                                <div class="file"><div class="file-info"><i class='file-student'></i><h4>Смышляев Дмитрий</h4></div></div>
                                <div class="file"><div class="file-info"><i class='file-student'></i><h4>Каратаев Вадим</h4></div></div>
                                <div class="file"><div class="file-info"><i class='file-student'></i><h4>Сыч Эрнест</h4></div></div>
                                <div class="file"><div class="file-info"><i class='file-student'></i><h4>Бочаров Александр</h4></div></div>
                                <div class="file"><div class="file-info"><i class='file-student'></i><h4>Сивков Максим</h4></div></div>
                                <div class="file"><div class="file-info"><i class='file-student'></i><h4>Тасаков Антон</h4></div></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- Новости -->
        <section id='news'>
            <!-- Шапка секции -->
            <div style='display: flex; align-items: center'>
                <!-- Заголовок секции -->
                <div>
                    <span class="fi-rr-world" style='font-size: 1.5rem; margin-right: 5px'></span>
                    <h1 style='display: inline-block'>Новости</h1>
                </div>
                <div class='main-btn' style='width: auto'><button style='height: 40px;' onclick="open_add_news_form()">Добавить новость</button></div>
            </div>
            <!-- Блок новостей -->
            <div>
                <div class="item">
                    <img src="../../../img/default_bg.jpg" alt="Превью" class='preview'>
                    <div class='item-header'>
                        <div class='news-title'>
                            <h2>Заголовок</h2>
                        </div>
                        <div class='news-author'>
                            <h4>Автор новости</h4>
                            <img src='../../../img/unnamed.png' class='profile-img'/>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe voluptate, adipisci in culpa
                        dignissimos, tenetur tempora non earum architecto sit dolorum eos aliquam sapiente quasi, sint
                        similique blanditiis! Minus, aut.
                    </p>
                    <div style='margin-left: auto; display: flex; align-items: center;'>
                        <span><h5 style='display: inline-block'>10.05 2021</h5></span>
                        <span class="fi-rr-calendar" style='font-size: 0.8rem; margin-left: 5px'></span>
                    </div>
                </div>
                <div class="item">
                    <img src="../../../img/default_bg.jpg" alt="Превью" class='preview'>
                    <div class='item-header'>
                        <div class='news-title'>
                            <h2>Заголовок</h2>
                        </div>
                        <div class='news-author'>
                            <h4>Автор новости</h4>
                            <img src='../../../img/unnamed.png' class='profile-img'/>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe voluptate, adipisci in culpa
                        dignissimos, tenetur tempora non earum architecto sit dolorum eos aliquam sapiente quasi, sint
                        similique blanditiis! Minus, aut.
                    </p>
                    <div style='margin-left: auto; display: flex; align-items: center;'>
                        <span><h5 style='display: inline-block'>10.05 2021</h5></span>
                        <span class="fi-rr-calendar" style='font-size: 0.8rem; margin-left: 5px'></span>
                    </div>
                </div>
                <div class="item">
                    <img src="../../../img/default_bg.jpg" alt="Превью" class='preview'>
                    <div class='item-header'>
                        <div class='news-title'>
                            <h2>Заголовок</h2>
                        </div>
                        <div class='news-author'>
                            <h4>Автор новости</h4>
                            <img src='../../../img/unnamed.png' class='profile-img'/>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe voluptate, adipisci in culpa
                        dignissimos, tenetur tempora non earum architecto sit dolorum eos aliquam sapiente quasi, sint
                        similique blanditiis! Minus, aut.
                    </p>
                    <div style='margin-left: auto; display: flex; align-items: center;'>
                        <h5 style='display: inline-block'>10.05 2021</h5>
                        <span class="fi-rr-calendar" style='font-size: 0.8rem; margin-left: 5px'></span>
                    </div>
                </div>
            </div>
            <!-- Кнопка "Больше новостей" -->
            <div id="more-news" class='main-btn'>
                <button>Больше новостей</button>
            </div>
            <!-- Форма создания новости -->
            <div class='form' id='add-news-form' style='display: none'>
                <!-- Затемняющий фильтр -->
                <div class='filter' onclick="close_form(this)"></div>
                <div class="form-wrapper">
                    <form>
                        <div class='item-header'>
                            <h2 style='margin: auto 0'>Добавление новости</h2>
                            <div style='display: flex; justify-content: flex-end; gap: 10px'>
                                <button class='form-btn' type="button"><span class="fi-rr-picture" style='margin-right: 5px'></span>Добавить обложку</button>
                                <button class='form-btn' type="submit"><span class="fi-rr-world" style='margin-right: 5px'></span>Опубликовать</button>
                            </div>
                        </div>
                        <input name="news-title" class='text-field text-field-title' autocomplete="off" placeholder="Заголовок"></input>
                        <textarea name="news-text" class='text-field' autocomplete="off" style='min-height: 256px'></textarea>
                        <button class='form-btn' type="button"><span class="fi-rr-clip" style='margin-right: 5px'></span>Документ</button>
                        <div class='files'>
                            <div class='file'>
                                <div class="file-info">
                                    <i class='file-xml'></i>
                                    <h4>excel document.xml</h4>
                                </div>
                                <div class="file-btns">
                                    <button class='del-file'></button>
                                </div>
                            </div>
                            <div class='file'>
                                <div class="file-info">
                                    <i class='file-pptx'></i>
                                    <h4>presentation.pptx</h4>
                                </div>
                                <div class="file-btns">
                                    <button class='del-file'></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Менеджер секций-->
    <script src='../../../JS/sections_manager.js'></script>
    <script>
        $(document).ready(function () {
            $('#next').click(function () {
                $('#slider').animate({ scrollLeft: $('#slider').scrollLeft() + 750 }, 400);
            });
            $('#prev').click(function () {
                $('#slider').animate({ scrollLeft: $('#slider').scrollLeft() - 750 }, 400);
            });
        });
    </script>
</body>
</html>