
/* Главная */
#main{
    padding: 0;
}

/* Виджеты */
#widgets{
    width: 100%;
    background-color: var(--bg-secondary-color);
    padding: 25px 45px 25px 195px;
    display: flex;
    height: 350px;
}
#widgets > div{
    padding: 25px;
    position: relative;
    box-shadow: var(--item-shadow);
    border-radius: 10px;
    height: 300px;
}

/* Виджет с цитатой */
#widgets #quote-widget{
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--item-bg-color);
}
#widgets #quote-widget div{
    /* margin: auto 0; */
    width: 55%;
}
#widgets #quote-widget div h6{
    font-size: 1.2rem; font-style: italic; text-align: justify;
}
#widgets #quote-widget div h4{
    font-size: 1rem; font-weight: 300;
    margin-top: 5px; text-align: right;
}

#widgets #quote-widget::after{
    content: '';
    position: absolute; right: 0; bottom: 10%;
    width: 40%; height: 80%;
    background: url('../../../img/illustration 2.svg');
    background-size: cover;
}

/* Виджет "Твои курсы" */
#widgets #courses-manager{
    background-color: var(--color-scheme);
	background-image: 
		linear-gradient(transparent 0px, transparent 49px, rgba(255,255,255, 0.2) 50px, transparent 51px, transparent 99px, rgba(255,255,255, 0.2) 100px), 
		linear-gradient(120deg, transparent 0, transparent 48px, rgba(255,255,255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255,255,255, 0.2) 99px, transparent 100px), 
		linear-gradient(60deg, transparent 0, transparent 48px, rgba(255,255,255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255,255,255, 0.2) 99px, transparent 100px), 
		linear-gradient(90deg, var(--color-scheme), var(--color-scheme-gradient));
	background-size: 100px 100px, 115px 100px, 115px 100px, auto;
    width: 775px;
    display: flex; flex-direction: column;
    gap: 10px;
}
#widgets #courses-manager > .widget-header{
    display: flex; justify-content: space-between;
}
#widgets #courses-manager > #slider{
    width: calc(100% + 5px);
    display: flex; justify-content: flex-start;
    overflow-x: auto;
    padding-top: 10px;
}
#widgets #courses-manager > #slider::-webkit-scrollbar{
    height: 0;
}
#slider-controller{
    display: flex; align-items: center; gap: 10px;
}
#next, #prev{
    height: 30px; width: 30px;
    background-color: var(--button-bg-active-color);
    border-radius: 5px;
    padding: 4px;
    font-size: 22px;
    transition: .2s transform;
}
#next:hover, #prev:hover{ transform: scale(1.2) }
#widgets #courses-manager > #slider div{
    min-width: 225px; height: 190px;
    margin-right: 25px;
    border: none;
}
#widgets #courses-manager > #slider > div img{
    object-fit: cover;
    width: 100%; height: 100px;
    border-radius: 10px 10px 0 0;
}
#widgets #courses-manager > #slider > div h2, #widgets #courses-manager > #slider > div h4{ margin: 0 0 0 15px }
#widgets #courses-manager > #slider > div h4{ font-size: 1rem }

/* Новости */
#news{
    width: 100%;
    padding: 25px 45px 25px 195px;
    display: flex; flex-direction: column; gap: 25px;
}
#news > div{
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
#news > div .item{
    width: 32%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 25px;
}
#news > div .item-header{
    display: flex; justify-content: space-between; align-items: center;
    min-height: 51px;
}
#news > div .item-header .news-title h2{
    display: inline-block;
    margin-right: 10px;
}
#news > div .item-header .news-author{
    display: flex; align-items: center;
}
#news > div .item-header .news-author .profile-img{
    width: 32px; height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
#news > div .item-header .news-author h4{ display: inline-block; margin-right: 10px; font-size: 16px; white-space: nowrap; }
#news > div .item .preview{
    object-fit: cover;
    width: calc(100% + 50px);
    margin: -15px -25px 10px;
    height: 228px;
    border-radius: 10px 10px 0 0;
}
#news > div .item p{
    overflow: hidden;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Адаптивность для сенсорных устройств */
@media screen and (max-width: 992px){
    /* Новости */
    #news > div .item{ width: 49% }
}
@media screen and (max-width: 840px){
    /* Виджеты */
    #widgets #quote-widget::after{ display: none }
    #widgets #quote-widget div{ width: 100% }
}
@media screen and (max-width: 740px){
    /* Виджеты */
    #widgets{ height: 675px; gap: 25px; flex-direction: column }
    #widgets #quote-widget{ width: 100% }
    #widgets #quote-widget div{ width: 55% }
    #widgets #quote-widget::after{ display: block }
    #widgets #courses-manager{ margin: 0 auto; width: 100% }
}
@media screen and (max-width: 576px){
    /* Новости */
    #news > div .item{ width: 100% }
    #widgets, #news{
        padding-left: 45px;
    }
}
