
/* Главная */
#main{ padding: 0 }

/* Шапка */
.profile-header{ margin-left: auto }

/* Виджеты */
#widgets{
    width: 100%; height: 350px;
    padding: 25px 45px 25px 304px;
    display: flex;
}

/* Виджет "Календарь" */
#calendar-widget{
    width: 100%;
    background-color: var(--item-bg-color);
    display: flex;
    box-shadow: var(--item-shadow);
    border-radius: 10px;
}
#calendar-widget .calendar-container{
    background-color: var(--color-scheme);
	background-image: 
		linear-gradient(transparent 0px, transparent 49px, rgba(255,255,255, 0.2) 50px, transparent 51px, transparent 99px, rgba(255,255,255, 0.2) 100px), 
		linear-gradient(120deg, transparent 0, transparent 48px, rgba(255,255,255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255,255,255, 0.2) 99px, transparent 100px), 
		linear-gradient(60deg, transparent 0, transparent 48px, rgba(255,255,255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255,255,255, 0.2) 99px, transparent 100px), 
		linear-gradient(90deg, var(--color-scheme), var(--color-scheme-gradient));
	background-size: 100px 100px, 115px 100px, 115px 100px, auto;
    width: 256px; height: 100%;
    border-radius: 10px 0 0 10px;
    padding: 16px;
}
#calendar-widget .calendar-container .date-info{
    height: 48px; width: 100%;
    display: flex; align-items: center; justify-content: space-between;
    font-weight: 800; font-size: 1.6rem;
}

/* Календарь */
.calendar{
    margin-top: auto;
    width: 100%; height: 192px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
}
.calendar span{
    text-align: center;
    padding: 7px 0;
    border-radius: 5px;
    color: #25262C; font-weight: 600; font-size: 0.875rem;
    transition-duration: .1s;
    transition-property: background-color color;
}
.calendar span.inactive{
    font-weight: 500;
}
.calendar span:not(.inactive){
    background-color: #25262C22;
}
.calendar span:not(.inactive):hover, .calendar span.active{
    background-color: #25262C;
    color: #fff;
}

/* Расписание мероприятий */
#calendar-widget .timetable{
    width: calc(100% - 256px); height: calc(100% - 48px); overflow-y: scroll;
    padding: 0 24px; margin: 24px 0;
    display: flex; flex-direction: column; gap: 4px;
}
#calendar-widget .timetable .event{
    width: 100%; min-height: 48px;
    background-color: var(--button-bg-color-invert);
    border-radius: 4px;
    padding: 0 16px;
    display: flex; align-items: center; gap: 16px;
    color: var(--text-primary-color);
    transition: background-color .2s;
    cursor: pointer;
}
#calendar-widget .timetable .event:hover{
    background-color: var(--button-bg-hover-color-invert);
}
#calendar-widget .timetable .event .marker{
    width: 12px; height: 12px;
    border-radius: 6px;
    background-color: #F6BF26;
}
#calendar-widget .timetable .event .event__name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ===== Расписнаие ===== */
#schedule{
    width: 100%;
    padding: 25px 45px 0 304px;
}
#schedule .widget-header::after{
    content: "";
    width: 10px; height: 240px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--bg-color));
    position: absolute; right: 0; top: 40px;
    z-index: 1;
}
#schedule .widget-header::before{
    content: "";
    width: 10px; height: 240px;
    background: linear-gradient(90deg, var(--bg-color) 0%, rgba(0,0,0,0));
    position: absolute; left: 0; top: 40px;
    z-index: 1;
}
#schedule .schedule-widget{
    width: 100%;
    display: flex; flex-direction: column; gap: 10px;
}
#schedule .widget-header{
    display: flex; justify-content: space-between;
    position: relative;
}
#schedule #slider{
    display: flex;
    overflow-x: auto;
    padding: 25px 25px 25px 0;
}
#slider-controller{
    display: flex; align-items: center; gap: 8px;
    margin-right: 4px;
}
#next, #prev{
    height: 30px; width: 30px;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    padding: 4px;
    font-size: 22px;
    transition: .2s transform;
}
#next:hover, #prev:hover{ transform: scale(1.2); background-color: var(--button-bg-active-color); }

/* Направление */
.course{
    min-width: 225px; max-width: 225px; height: 190px;
    margin-right: 25px;
    position: relative;
}
.course:last-of-type{
    margin-right: 10px;
}
.course .course__banner{
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%; height: 100px;
    border-radius: 10px 10px 0 0;
}
.course .teacherProfileImg{
    position: absolute;
    right: 16px; top: 73px;
    object-fit: cover;
    width: 54px; height: 54px;
    border-radius: 50%;
    z-index: 1;
    padding: 6px;
    background-color: var(--item-bg-color);
}
.course .course__info{
    position: absolute;
    width: 100%; height: 100px;
    padding: 16px;
    background-color: #0003;
    border-radius: 10px 10px 0 0;
}
.course .course__info h2{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #eee;
}
.course .course__info h4{
    font-size: 1rem;
    position: absolute;
    bottom: 8px;
    color: #ddd;
}
/* Расписание занятий */
.course .course__timetable{
    position: absolute; top: 100px;
    width: 100%; height: 90px;
    padding: 40px 16px 16px;
    display: flex; gap: 6%;
    overflow: hidden;
}
.lessonDay{
    height: 100%; width: 47%;
    background-color: var(--button-bg-hover-color-invert);
    padding: 8px 12px;
    border-radius: 8px;
    color: var(--text-primary-color);
    display: flex; align-items: center; gap: 8px;
}

/* ===== Новости ===== */
#news{
    width: 100%;
    padding: 25px 45px 25px 304px;
    display: flex; flex-direction: column; gap: 25px;
}
#news__container{
    width: 100%;
    display: flex; flex-wrap: wrap; gap: 2%;
}
#news__container .item{
    width: 32%;
    margin-bottom: 2%; padding: 15px 25px;
    display: flex; flex-direction: column; gap: 5px;
}
#news__container .item-header{
    display: flex; justify-content: space-between; align-items: center;
    min-height: 51px;
}
#news__container .item-header .news-title h2{
    margin-right: 10px;
}
#news__container .item-header .news-author{
    display: flex; align-items: center;
}
#news__container .item-header .news-author .profile-img{
    width: 32px; height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
#news__container .item-header .news-author h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    white-space: nowrap;
}
#news__container .item .preview{
    object-fit: cover;
    margin: -15px -25px 10px;
    height: 228px;
    border-radius: 10px 10px 0 0;
}
#news__container .item p{
    overflow: hidden;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.profile-header{ margin-left: auto }

/* Адаптивность для сенсорных устройств */
@media screen and (max-width: 992px){
    /* Новости */
    #news > #news__container .item{ width: 49% }

    /* Шапка */
    header{
        flex-direction: column-reverse; gap: 25px;
        height: 100px;
        padding: 25px 45px
    }
    header .profile-header{
        width: 1000px;
        margin-right: auto;
        padding: 0 10px;
    }
    header .page-header, header .profile-header{ width: 100% }

    /* Секции */
    #widgets, #news, #schedule{ padding-left: 45px } 
}
@media screen and (max-width: 576px){
    /* Новости */
    #news > #news__container .item{ width: 100% }
}