{% load static %}
{% load base_tags %}
{% load project_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% include "CoreApp/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href='{% static "ProjectApp/ProjectCatalog/style.css" %}'> <!-- Стили страницы -->
    <link rel="stylesheet" href='{% static "CoreApp/text/ql-editor.css" %}'>
    
    <title>Проекты</title>
</head>

<body>

    {% include "CoreApp/AsideMenu/index.html" with user=user active='project_page' %}

    <div class="mainContainer">

        <header  class="header">
            <h1>Проекты</h1>

            {% if user.permission != 'Ученик' %}
            <button class="secondaryButton" onclick="open_form('#createProject')">
                <svg viewBox="0 0 448 512">
                    <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>
                </svg>
                Создать проект
            </button>
            {% endif %}
        </header>
        
        <div class="projectCatalog">
            <div class="filter">
                <div id="search">
                    <input autocomplete="off" placeholder="Поиск" id="searchInput" value="{{ request.GET.search }}">
                    <svg viewBox="0 0 512 512" onclick="location.href = updateGetUrlParams('search', $('#searchInput').val())">
                        <path d="M500.3 443.7l-119.7-119.7c-15.03 22.3-34.26 41.54-56.57 56.57l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7z"/>
                        <path style='opacity: .8' d="M207.1 0C93.12 0-.0002 93.13-.0002 208S93.12 416 207.1 416s208-93.13 208-208S322.9 0 207.1 0zM207.1 336c-70.58 0-128-57.42-128-128c0-70.58 57.42-128 128-128s128 57.42 128 128C335.1 278.6 278.6 336 207.1 336z"/>
                    </svg>
                </div>

                <div class="menu">
                    <div class="menu__button {{ request.GET.subject|get_active_btn:'mine' }}" onclick="location.href= updateGetUrlParams('subject', 'mine')">
                        <svg viewBox="0 0 512 512">
                            <path opacity="0.6" d="M400 144A144 144 0 1 1 256 0a144 144 0 0 1 144 144z"></path>
                            <path d="M384 320h-55.1a174.1 174.1 0 0 1-145.8 0H128A128 128 0 0 0 0 448v16a48 48 0 0 0 48 48h416a48 48 0 0 0 48-48v-16a128 128 0 0 0-128-128z"></path>
                        </svg>
                        <p>Мои проекты</p>
                    </div>
                    <div class="menu__button {{ request.GET.subject|get_active_btn:'all' }}" onclick="location.href= updateGetUrlParams('subject', 'all')">
                        <svg viewBox="0 0 448 512">
                            <path d="M255.1 255.1c0 17.63-14.38 32-32 32s-32-14.37-32-32c0-17.62 14.38-32.03 32-32.03S255.1 238.3 255.1 255.1z"/>
                            <path style='opacity: .6' d="M423.1 56.87C379.1 12.86 300.3 31.62 224 79.12C147.6 31.62 68.87 12.86 24.87 56.87C-19.14 100.9-.3849 179.6 47.12 256c-47.5 76.38-66.25 155.1-22.25 199.1C66.12 496.4 140.4 484.5 224 432.5c83.25 51.88 157.8 64 199.1 22.63c44-44 25.25-122.8-22.25-199.1C448.4 179.6 467.1 100.9 423.1 56.87zM70.12 102.1c9.316-9.316 39.67-12.54 97.26 17.88c-29 23.75-55.5 50.25-79.13 79.13C63.37 151.9 57.74 114.5 70.12 102.1zM70.12 409.9c-12.38-12.38-6.751-49.75 18.13-97.01c28.75 34.88 53 57.38 79.13 78.88C119.1 416.6 82.49 422.3 70.12 409.9zM224 355c-44.88-34.25-73-65-98.88-99.01C153.4 218.5 186.6 184.1 224 156.6c37.38 28.38 70.63 61.88 99 99.38C288.8 300.9 258 329 224 355zM377.9 409.9c-12.38 12.38-49.88 6.75-97.26-18.13c26-21.5 50.25-43.88 79.13-78.88C384.6 360.1 390.3 397.5 377.9 409.9zM359.8 199.1c-23.62-28.88-50.13-55.38-79.13-79.13c57.33-30.29 87.89-27.24 97.26-17.88C390.3 114.5 384.6 151.9 359.8 199.1z"/>
                        </svg>
                        <p>Все</p>
                    </div>
                    {% for subject in subjects %}
                    <div class="menu__button {{ request.GET.subject|get_active_btn:subject.name }}" onclick="location.href= updateGetUrlParams('subject', '{{ subject.name }}')">
                        <svg viewBox="0 0 448 512">
                            <path d="M255.1 255.1c0 17.63-14.38 32-32 32s-32-14.37-32-32c0-17.62 14.38-32.03 32-32.03S255.1 238.3 255.1 255.1z"/>
                            <path style='opacity: .6' d="M423.1 56.87C379.1 12.86 300.3 31.62 224 79.12C147.6 31.62 68.87 12.86 24.87 56.87C-19.14 100.9-.3849 179.6 47.12 256c-47.5 76.38-66.25 155.1-22.25 199.1C66.12 496.4 140.4 484.5 224 432.5c83.25 51.88 157.8 64 199.1 22.63c44-44 25.25-122.8-22.25-199.1C448.4 179.6 467.1 100.9 423.1 56.87zM70.12 102.1c9.316-9.316 39.67-12.54 97.26 17.88c-29 23.75-55.5 50.25-79.13 79.13C63.37 151.9 57.74 114.5 70.12 102.1zM70.12 409.9c-12.38-12.38-6.751-49.75 18.13-97.01c28.75 34.88 53 57.38 79.13 78.88C119.1 416.6 82.49 422.3 70.12 409.9zM224 355c-44.88-34.25-73-65-98.88-99.01C153.4 218.5 186.6 184.1 224 156.6c37.38 28.38 70.63 61.88 99 99.38C288.8 300.9 258 329 224 355zM377.9 409.9c-12.38 12.38-49.88 6.75-97.26-18.13c26-21.5 50.25-43.88 79.13-78.88C384.6 360.1 390.3 397.5 377.9 409.9zM359.8 199.1c-23.62-28.88-50.13-55.38-79.13-79.13c57.33-30.29 87.89-27.24 97.26-17.88C390.3 114.5 384.6 151.9 359.8 199.1z"/>
                        </svg>
                        <p>{{ subject.name }}</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="filtering">
                    <div class="dropdownSelect">
                        <h3>Статус</h3>
                        <div class="dropdownSelect__trigger">
                            
                            {% if request.GET.filter == 'all' %}
                            <div>Все</div>
                            {% elif request.GET.filter == 'hiring' %}
                            <div>Набирающие участников</div>
                            {% elif request.GET.filter == 'active' %}
                            <div>Активные</div>
                            {% elif request.GET.filter == 'closed' %}
                            <div>Завершенные</div>
                            {% endif %}
                            
                            <div class="arrowDown"></div>
                        </div>
                        <div class="dropdownSelect__options">
                            <span class='dropdownSelect__option {{ request.GET.filter|get_selected_btn:"all" }}' onclick="location.href= updateGetUrlParams('filter', 'all')">Все</span>
                            <span class='dropdownSelect__option {{ request.GET.filter|get_selected_btn:"hiring" }}' onclick="location.href= updateGetUrlParams('filter', 'hiring')">Набирающие участников</span>
                            <span class='dropdownSelect__option {{ request.GET.filter|get_selected_btn:"active" }}' onclick="location.href= updateGetUrlParams('filter', 'active')">Активные</span>
                            <span class='dropdownSelect__option {{ request.GET.filter|get_selected_btn:"closed" }}' onclick="location.href= updateGetUrlParams('filter', 'closed')">Завершенные</span>
                        </div>
                    </div>
                </div>

            </div>

            <section class="projects">
                
                {% for project in projects %}
                <div class="project" onclick="location.href = `{% url 'project_info' project.id %}`">
                    <img src="{{ project.image.url }}" class="project__illustration">
                    <div class="project__content">
                        <p class="project__title">{{ project.title }}</p>
                        
                        <p class="project__description">{{ project.description|get_text }}</p>

                        <div class="project__info">
                            <div class="column g8">
                                <p>Направление</p>
                                
                                <div class="row g8">
                                    {% for subject in project.course_subject|get_objects %}
                                    <span class="tag">{{ subject.name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <div class="column g8">
                                <p>Статус</p>
                                <span class="tag">{{ project|get_type }}</span>
                            </div>

                            <div class="column g8">
                                <p>Участники</p>
                                <div class="project__members members">
                                    <div class="member" title="Фамилия Имя">
                                        <img src="{{ project.teamleader.image.url }}" class="avatar">
                                    </div>

                                    {% for user in project.team|get_objects %}
                                    <div class="member" title="Фамилия Имя">
                                        <img src="{{ user.image.url }}" class="avatar">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="pagination row g16">
                    
                    {% if page_obj.has_previous  %}
                    <button class="combinedButton" onclick='location.href = updateGetUrlParams("page", "{{ page_obj.previous_page_number }}")'>
                        <svg viewBox="0 0 14 14" style='transform: rotate(180deg)'>
                            <g transform="translate(-5 -5)">
                                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                            </g>
                        </svg>
                    </button>
                    {% endif  %}

                    <p class='pagination__page'>{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</p>
                    
                    {% if page_obj.has_next %}
                    <button class="combinedButton" onclick='location.href = updateGetUrlParams("page", "{{ page_obj.next_page_number }}")'>
                        <svg viewBox="0 0 14 14">
                            <g transform="translate(-5 -5)">
                                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                            </g>
                        </svg> 
                    </button>
                    {% endif %}
                </div>
            </section>

        </div>
    </div>

    <div class='modal' id='createProject'>
        <div class="modal__viewport">
            <form class="modal__content">
                <div class='modal__block'>
                    <h1 class="modal__title">Создание проекта</h1>
                    <div class="row g8" id="formButtons">
                        <button class='secondaryButton' type="button" id="project_preview" onclick="openFileDialog('#preview-input')">
                            <svg viewBox="0 0 15.999 14.667">
                                <g transform="translate(-8.001 -9.667)">     
                                    <path opacity='0.3' d="M12.167,21.333a2.5,2.5,0,0,1-2.362-1.7l-.023-.077a2.449,2.449,0,0,1-.116-.723V14.287l-1.616,5.4a1.514,1.514,0,0,0,1.061,1.837L19.42,24.285a1.5,1.5,0,0,0,1.823-1.041l.6-1.91H12.167Z"/>
                                    <path d="M14,14.333A1.333,1.333,0,1,0,12.667,13,1.335,1.335,0,0,0,14,14.333Z"/>
                                    <path d="M22.333,9.667h-10a1.669,1.669,0,0,0-1.667,1.667v7.333a1.669,1.669,0,0,0,1.667,1.667h10A1.669,1.669,0,0,0,24,18.667V11.334A1.668,1.668,0,0,0,22.333,9.667ZM12.333,11h10a.333.333,0,0,1,.333.333v4.733L20.56,13.609a1.194,1.194,0,0,0-.894-.41,1.165,1.165,0,0,0-.891.421L16.3,16.592l-.806-.806a1.171,1.171,0,0,0-1.654,0L12,17.626V11.333A.333.333,0,0,1,12.333,11Z"/>
                                </g>
                            </svg>
                            Добавить обложку
                        </button>
                        <input id="preview-input" type="file" style="display: none;" onchange="addProjectPreviewHandler(event)" accept="image/*"/>

                        <button class='secondaryButton' type="button" onclick="sendInstanceData(getProjectFormData(), `{% url 'create_project' %}`, this)">
                            <svg viewBox="0 0 24 24">
                                <circle cx="12" cy="14" r="2" opacity='0.6'/>
                                <path d="M22.536,4.122,19.878,1.464A4.99,4.99,0,0,0,19,.775V3a5.006,5.006,0,0,1-5,5H10A5.006,5.006,0,0,1,5,3V0A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V7.657A4.966,4.966,0,0,0,22.536,4.122ZM12,18a4,4,0,1,1,4-4A4,4,0,0,1,12,18Z"/>
                                <path opacity='0.6' d="M10,6h4a3,3,0,0,0,3-3V.064A5.128,5.128,0,0,0,16.343,0H7V3A3,3,0,0,0,10,6Z"/>
                            </svg>    
                            Сохранить
                        </button>
                    </div>
                </div>

                <h3>Название</h3>
                <input class='text-field text-field-title' id="projectTitle" autocomplete="off" value=""/>

                <h3>Направление</h3>
                <div class="filtering" style="width: 16rem" id="subject">
                    <div class="dropdownSelect">
                        <div class="dropdownSelect__trigger">
                            <div>Не выбрано</div>
                            <div class="arrowDown"></div>
                        </div>
                        <div class="dropdownSelect__options">
                            <span class='dropdownSelect__option selected' value="">Не выбрано</span>
                            
                            {% for subject in subjects %}
                            <span class='dropdownSelect__option' value="{{ subject.id }}">{{ subject.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <h3>Лидер</h3>
                <div id="selectedUsers" class="selectedUsers">
                    <!-- Здесь появляются участники -->
                </div>
                <input type="text" onkeyup="filterFunction(this, $('#userSelect'))" id='userSearch' autocomplete="off">
                <div class="userSelect" id='userSelect'>
                    {% for student in students %}
                    <div class="userSelect__user row" value="{{ student.id }}">
                        <img src="{{ student.image.url }}" class='userSelect__userImage'>
                        <div class="userSelect__userInfo">
                            <h3 class="userSelect__userName">{{ student.surname }} {{ student.name }}</h3>
                            <p class="userSelect__userRole">Ученик</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h3>Описание</h3>
                <div id="editor" class='text-field'></div>

                <button class='secondaryButton' type="button" style="margin-top: 1rem" onclick="openFileDialog('#file-input')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.666" height="16" viewBox="0 0 14.666 16">
                        <g transform="translate(-8.667 -8)">
                            <path opacity='0.3' d="M10.667,12.5a3.171,3.171,0,0,1,3.167-3.167h6.089A1.832,1.832,0,0,0,18.167,8H10.5A1.835,1.835,0,0,0,8.667,9.833V20.166A1.835,1.835,0,0,0,10.5,22h.167Z"/>
                            <path d="M21.5,10.667H13.833A1.835,1.835,0,0,0,12,12.5v9.667A1.835,1.835,0,0,0,13.833,24H21.5a1.835,1.835,0,0,0,1.833-1.833V12.5A1.835,1.835,0,0,0,21.5,10.667ZM20.167,22h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.333h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"/>
                        </g>
                    </svg>
                    Прикрепить файл
                </button>
                <input id="file-input" type="file" style="display: none;" onchange='addProjectFileHandler(event)' multiple/>
                
                <div class='files' id='file-container'>
                    <!-- Тут спавнять файлы -->
                </div>
            </form>
        </div>
    </div>

    <div id="arrowTop" hidden>
        <svg viewBox="0 0 14 14">
            <g transform="translate(-5 -5)">
                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
            </g>
        </svg> 
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'CoreApp/text/options.js' %}"></script>
    <script src="{% static 'CoreApp/drop/dropdownSelect.js' %}"></script> <!-- Выпадающие меню -->
    <script src="{% static 'ProjectApp/ProjectCatalog/scripts.js' %}"></script>
    
    <script>
        $(".menu__button").on("click", function(){
            $(this).parent().find(".menu__button").removeClass("active");
            $(this).toggleClass("active", "inactive");
        });

        $('.userSelect__user').click( function() {
            if ($(this).parent().attr('id') == 'userSelect') {
                $('#selectedUsers').append($(this));
                $('#userSearch').val('').focus();
                $('.userSelect').hide();
                $('#userSearch').hide();
            } else {
                $('#userSelect').append($(this));
                $('#userSearch').show();
            }
        });
    </script>

    <script>
        function getProjectFormData(){
            let project_form = new FormData();

            for(let i = 0; i < file_array.length; i++){ // Перебор файлов
                project_form.append('files', file_array[i]) // Добавление файла в форму
            }
            
            project_form.append('tutor', '{{ user.id }}')
            project_form.append('title', $('#projectTitle').val())
            project_form.append('csrfmiddlewaretoken', getCookie('csrftoken'))
            project_form.append('description', $('#editor .ql-editor')[0].innerHTML)
            project_form.append('course_subject', $('#subject .selected').attr('value'))
            project_form.append('image', project_preview !== undefined ? project_preview : '')
            project_form.append('teamleader', $('#selectedUsers .userSelect__user').attr('value')) 
            
            return project_form
        }
    </script>
</body>

</html>