{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% include "CoreApp/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href='{% static "ProjectApp/ProjectCatalog/style.css" %}'> <!-- Стили страницы -->
    
    <title>Проекты</title>
</head>

<body>

    {% include "CoreApp/AsideMenu/index.html" with user=user active='project_page' %}

    <div class="mainContainer">

        <header  class="header">
            <h1>Проекты</h1>
            <button class="secondaryButton">
                Мои проекты
            </button>
        </header>
        
        <div class="flex space-between items-center">
            <div class="menu">
                <div class="menu__button active">
                    <!-- <img src="../../img/3d/flash-dynamic-color.png"> -->
                    <p>Все</p>
                </div>
                <div class="menu__button">
                    <!-- <img src="../../img/3d/flash-dynamic-color.png"> -->
                    <p>IT</p>
                </div>
                <div class="menu__button">
                    <!-- <img src="../../img/3d/flash-dynamic-color.png"> -->
                    <p>ХайТек</p>
                </div>
                <div class="menu__button">
                    <!-- <img src="../../img/3d/flash-dynamic-color.png"> -->
                    <p>ПромДизайн</p>
                </div>
                <div class="menu__button">
                    <!-- <img src="../../img/3d/flash-dynamic-color.png"> -->
                    <p>ПромРобо</p>
                </div>
                <div class="menu__button">
                    <!-- <img src="../../img/3d/flash-dynamic-color.png"> -->
                    <p>Энерджи</p>
                </div>
                <div class="menu__button">
                    <!-- <img src="../../img/3d/flash-dynamic-color.png"> -->
                    <p>Математика</p>
                </div>
                <div class="menu__button">
                    <!-- <img src="../../img/3d/flash-dynamic-color.png"> -->
                    <p>Английский</p>
                </div>
            </div>
            <div id="search">
                <svg viewBox="0 0 512 512">
                    <path style='opacity: .8' d="M500.3 443.7l-119.7-119.7c-15.03 22.3-34.26 41.54-56.57 56.57l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7z"/>
                    <path style='opacity: .6' d="M207.1 0C93.12 0-.0002 93.13-.0002 208S93.12 416 207.1 416s208-93.13 208-208S322.9 0 207.1 0zM207.1 336c-70.58 0-128-57.42-128-128c0-70.58 57.42-128 128-128s128 57.42 128 128C335.1 278.6 278.6 336 207.1 336z"/>
                </svg>
                <input autocomplete="off" placeholder="Поиск">
            </div>
        </div>

        <section class="projects">

            {% for num in "12345678954116125413216"|make_list %}
            <div class="project" onclick="location.href = `{% url 'project_page' %}`">
                <img src="{% static 'ProjectApp/ProjectCatalog/img/shield.png' %}" class="project__illustration">
                <div class="project__tags">
                    <span class="tag">ХайТек</span>
                    <span class="tag">Набор участников</span>
                </div>
                <p class="project__title">Название проекта {{ num }}</p>
                <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sint voluptatibus modi hic debitis quos, id quidem aspernatur deserunt voluptates dicta perferendis ratione rem aperiam laboriosam, fugiat expedita? Numquam quos sunt unde facere autem natus, tempore, veritatis, est eveniet ipsum quod omnis aperiam quo reiciendis. Libero eos minus obcaecati et.</p>
                <div class="project__members members">
                    <div class="member" title="Фамилия Имя">
                        <img src="{{ user.image.url }}" class="avatar">
                    </div>
                    <div class="member" title="Фамилия Имя">
                        <img src="{{ user.image.url }}" class="avatar">
                    </div>
                </div>
            </div>
            {% endfor %}

        </section>
        
    </div>

    <div id="arrowTop" hidden>
        <svg viewBox="0 0 14 14">
            <g transform="translate(-5 -5)">
                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
            </g>
        </svg> 
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'CoreApp/text/options.js' %}"></script>
    <script>
        $(".menu__button").on("click", function(){
            $(this).parent().find(".menu__button").removeClass("active");
            $(this).toggleClass("active", "inactive");
        });
    </script>
</body>

</html>