.profilePage{
    display: flex; gap: 32px; flex-direction: column;
}
.profilePage__menu{
    display: flex; flex-direction: row; gap: 16px;
}
.profilePage__tab{
    display: none;
}
.profilePage__tab.active{
    display: flex;
}
