.profileCard{
    background-color: var(--item-bg-color);
    width: 24rem; height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex; flex-direction: column; gap: 1rem;
    min-width: 24rem;
    overflow: hidden;
}
.profileCard__header::before{
    content: "";
    height: 3rem; width: 100%;
    background-color: var(--theme-light);
    position: absolute; top: 0; left: 0;
}
.profileCard__imgBox{
    width: 4rem; height: 4rem;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    cursor: pointer;
    border: var(--item-bg-color) solid 0.25rem;
}
.profileCard__imgBox:hover svg{
    opacity: 1;
}
.profileCard__imgBox svg{
    position: absolute; top: 0; left: 0;
    width: 3.5rem; height: 3.5rem;
    padding: 1.125rem;
    fill: var(--text-primary-color);
    background-color: var(--theme-light-alpha);
    transition: opacity 0.2s;
    opacity: 0;
}
.profileCard__profileImg{
    width: 3.5rem; height: 3.5rem;
    object-fit: cover;
    object-position: center;
}

.profileCard__profileName{
    font-size: 1.25rem; font-weight: 600;
    color: var(--text-primary-color);
}
.profileCard__profileRole{
    font-size: 1rem; font-weight: 400;
}

.tag__group{
    display: flex; flex-wrap: wrap; gap: 0.5rem;
}
.tag__groupName{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
.tag{
    display: flex; flex-direction: row; gap: 0.25rem; align-items: center;
    height: 2rem;
    background-color: var(--theme-light);
    padding: 0 0.75rem;
    border-radius: 1rem;
}
.tag p{
    margin-top: 2px;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
.tag svg{
    width: 1.25rem; height: 1.25rem;
    fill: var(--text-primary-color);
}

.profileCard .dangerButton{
    background-color: unset;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    height: 2.25rem;
    font-size: 1rem;
    font-weight: 400;
}
.profileCard .dangerButton:hover{
    color: tomato;
    background-color: #ff634722;
}


.profileCard__fields{
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    display: flex; flex-direction: column; gap: 2rem;
}
.profileCard__field{
    display: flex; justify-content: space-between;
}
.profileCard__field button{
    box-shadow: 0 0 0.5rem #0001;
}
.profileCard__field p:first-of-type{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.profileCard__field p:last-of-type{
    color: var(--text-primary-color);
}


.profileContent{
    width: calc(100% - 24rem - 1.5rem);
    height: 100%;
    overflow: auto;
}

.profilePage__tab{
    display: none;
}
.profilePage__tab.active{
    display: flex;
}

.galleryBox{
    column-count: 5;
}
.galleryBox img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    overflow: auto;
}
@media screen and (max-width: 1280px){
    .galleryBox{
        column-count: 4;
    }
}
@media screen and (max-width: 992px){
    .galleryBox{
        column-count: 3;
    }
}
@media screen and (max-width: 768px){
    .galleryBox{
        column-count: 2;
    }
}
@media screen and (max-width: 576px){
    .galleryBox{
        column-count: 1;
    }
}

