.menu{
    flex-direction: column;
    width: 18rem; height: auto;
    background-color: unset;
    gap: 0.25rem;
    padding: 0;
    border-radius: 0;
}
.menu__button{
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
}
.menu__button:hover{
    background-color: var(--item-bg-color);
}
.menu__button p{
    font-size: 1.125rem;
    color: var(--text-primary-color) !important;
    font-weight: 400;
}
.menu__button svg{
    height: 1.25rem; width: 1.25rem;
    margin: 0.125rem;
    padding: 0;
}
.menu__button.active{
    background-color: var(--item-bg-color);
}
.menu__button .avatar{
    width: 1.5rem; height: 1.5rem;
}
.menu__button .avatar + p{
    position: relative;
    opacity: 1 !important;
}


.profileContent{
    width: 50%;
    height: 100%;
    overflow: auto;
}

.profile__tab{
    display: none;
}
.profile__tab.active{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card{
    background-color: var(--item-bg-color);
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: flex; flex-direction: column; gap: 1rem;
    /* border: var(--theme-light) solid 1px; */
}

.profileCard{
    background-color: var(--item-bg-color);
    width: 100%;
    border-radius: 1.5rem;
    padding: 7.5rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    display: flex; flex-direction: column; gap: 1rem;
    min-width: 24rem;
    overflow: hidden;
}
.profileCard__banner{
    background: url(../../img/comp.png);
    background-size: cover;
    background-position: 100%;
    width: calc(100% + 3rem); height: 12rem;
    position: absolute; top: -7.5rem; left: -1.5rem;
    border-radius: 1.5rem;
}
.profileCard__profile{
    display: flex; flex-direction: column;
    gap: 1rem;
    position: relative;
}
.profileCard__imgBox{
    width: 8.75rem; height: 8.75rem;
    position: relative;
    overflow: hidden;
    border-radius: 4.375rem;
    border: var(--item-bg-color) solid 2px;
    background-color: var(--item-bg-color);
    cursor: pointer;
}
.profileCard__imgBox:hover svg{
    opacity: 1;
}
.profileCard__imgBox svg{
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    padding: 3rem;
    fill: #fff;
    background-color: #0008;
    transition: opacity 0.2s;
    opacity: 0;
}
.profileCard__profileImg{
    position: absolute; top: -5%; left: -5%;
    width: 110%; height: 110%;
    object-fit: cover;
    object-position: center;
}
.profileCard__profile .actions{
    position: absolute; top: calc(4.5rem + 1rem); right: 0;
}
.profileCard__profileName{
    font-size: 2rem; font-weight: 500;
    color: var(--text-primary-color);
}
.profileCard__profileRole{
    font-size: 1.125rem; font-weight: 400;
}
.profileCard__description{
    font-size: 1.125rem;
}
.tag__group{
    display: flex; flex-wrap: wrap; gap: 0.5rem;
}
.profileCard h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
.tag{
    display: flex; flex-direction: row; gap: 0.5rem; align-items: center;
    height: 2.5rem;
    background-color: var(--theme-light-alpha);
    border: var(--theme-light) solid 1px;
    padding: 0 1rem;
    border-radius: 0.75rem;
}
.profileCard .tag:hover{
    border-color: var(--currentColor);
}
.tag p{
    margin-top: 2px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
.tag svg{
    width: 1.25rem; height: 1.25rem;
    fill: var(--text-primary-color);
}

.galleryBox{
    column-count: 3;
}
.galleryBox img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    overflow: auto;
}
@media screen and (max-width: 1280px){
    .galleryBox{
        column-count: 2;
    }
}
@media screen and (max-width: 992px){
    .galleryBox{
        column-count: 3;
    }
}
@media screen and (max-width: 768px){
    .galleryBox{
        column-count: 2;
    }
}
@media screen and (max-width: 576px){
    .galleryBox{
        column-count: 1;
    }
}


/* Данные учетной записи */
.profile__data{
    display: flex; flex-direction: column; gap: 1rem;
}
.profile__data input{
    width: 24rem; height: 3rem;
    font-size: 1.125rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    color: var(--text-primary-color);
}


/* Адаптивность */
@media screen and (max-width: 1036px){
    .menu{
        flex-direction: row;
        width: min-content;
        max-width: 100%;
        background-color: var(--item-bg-color);
        padding: 0.5rem;
        border-radius: 0.75rem;
    }
    .menu__button{
        padding: 0 1.5rem;
    }
    .menu__button.active{
        background-color: var(--aside-bg-color);
    }
    .mainContainer{
        flex-direction: column;
        padding: 1.5rem;
        padding-bottom: 6rem;
        height: auto; min-height: 100%;
    }
    .profileContent{
        width: 100%;
    }
    .profileCard{
        padding-top: 9.125rem;
    }
    .profileCard__banner{
        top: -9.125rem;
    }
    .profileCard__profile .actions{
        top: calc(3rem + 1rem);
    }
    .profileCard__imgBox{
        height: 5.75rem; width: 5.75rem;
        /* margin-bottom: 2rem; */
    }
}


/* Вкладка "Проектная деятельность" */
.projects{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project{
    width: 100%; height: auto;
    display: flex; flex-direction: column; gap: 1.5rem;
    background-color: var(--item-bg-color);
    border-radius:  0.5rem;
    overflow: hidden;
    padding: 1rem;
    border: var(--theme-light) solid 1px;
}
.project__illustration{
    height: 13rem; width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.project__content{
    width: 100%;
    display: flex; flex-direction: column; gap: 0.75rem;
}
.project__title{
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--text-primary-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.project__description{
    margin-top: -0.5rem;
    line-height: 1.5;
    font-size: 1.125rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.members{
    display: flex; flex-direction: row; align-items: center;
    height: 2.5rem;
}
.member .avatar{
    margin-right: -0.5rem;
    border: var(--item-bg-color) solid 2px;
}

.project__info{
    margin-top: auto;
    width: 100%; height: auto;
    display: flex; gap: 1.5rem;
    flex-wrap: wrap;
}
.project__info p{
    font-weight: 500;
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project__info .column{
    position: relative;
}
.project .tag{
    height: 2rem; line-height: 2rem;
    width: max-content;
    margin: 0.25rem 0;
    padding: 0 1rem;
    border-radius: 1rem;
    font-size: 1.125rem; font-weight: 500;
    color: var(--currentColor);
    background-color: var(--bgColor);
}


.table{
    overflow-x: auto;
    overflow-y: hidden;
}
.tableRow{
    width: 100%;  height: 2.5rem;
    background-color: var(--bg-color);
    display: flex; flex-direction: row; gap: 1.5rem;
    align-items: center;
    padding: 0 0.5rem 0 1.5rem;
    border: var(--theme-light) solid 1px;
    margin-bottom: -1px;
}
.tableRow:first-of-type{
    border-radius: 0.5rem 0.5rem 0 0;
}
.tableRow:last-of-type{
    border-radius: 0 0 0.5rem 0.5rem;
    border-bottom-width: 2px;
}
.tableRow:hover{
    background-color: var(--aside-bg-color);
}

.tableRow > p{
    width: 16rem;
}
.tableCell{
    width: calc(100% - 16rem);
    overflow: hidden;
    display: flex; flex-direction: row; gap: 0.5rem;
    align-items: center;
}
.tableCell p{
    width: calc(100% - 1.5rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.25rem 0;
    border-radius: 0.25rem;
}
.tableCell p{
    color: var(--text-primary-color);
}
.tableCell:hover p{
    text-decoration: underline;
    color: var(--currentColor);
}
.tableCell svg{
    width: 1rem; height: 1rem;
    fill: var(--text-universal-color);
}
.tableCell:hover svg{
    fill: var(--currentColor);
}
.tableCell input{
    height: 2rem; width: calc(100% - 1.5rem);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--theme-light);
    color: var(--text-primary-color);
    font-size: 1.125rem;
}

@media screen and (max-width: 576px){
    .tableRow{
        flex-direction: column; gap: 0;
        height: 4.5rem;
    }
    .tableRow > p{
        width: 100%;
        line-height: 2.25rem;
    }
    .tableCell{
        width: 100%;
    }
}


/* Вкладка "Статистика" */
.statisticsCards{
    width: 100%;
    overflow: auto;
    display: flex; flex-wrap: wrap; gap: 1rem;
    padding: 0.5rem;
}
.statisticsCard{
    min-width: 20rem; max-width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: var(--item-bg-color);
    padding: 1.25rem;
    display: flex; flex-direction: column; gap: 1rem;
    border: var(--theme-light) solid 1px;
    transition: transform .1s;
}
.statisticsCard:hover{
    transform: scale(1.02);
}
.light__theme .statisticsCard:hover{
    box-shadow: 0 0 0.5rem var(--theme-light);
}
.statisticsCard__illustration{
    width: 4rem; height: 4rem;
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: var(--theme-light);
    fill: var(--currentColor);
}
img.statisticsCard__illustration{
    padding: 0;
    object-fit: cover;
    object-position: center;
}
.statisticsCard__title{
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
.statisticsCard__points{
    display: flex; flex-direction: column; gap: 0.5rem;
    margin-top: auto;
}
.statisticsCard__point{
    width: 100%; height: 2.5rem;
    display: flex; justify-content: space-between; align-items: center;
    background-color: var(--theme-light);
    border-radius: 0.5rem;
    padding: 0 0.75rem 0.25rem;
    position: relative;
    overflow: hidden;
}

.statisticsCard__point p{
    color: var(--currentColor);
}
.statisticsCard__point .scale,
.statisticsCard__point .subscale{
    position: absolute; left: 0; bottom: 0;
    height: 0.175rem;
    border-radius: 0;
}



.field-link{
    height: 2.5rem; width: 100%;
    background-color: unset;
    border-bottom: var(--theme-light) solid 2px;
    color: var(--currentColor);
    font-size: 1.125rem;
}
.field-link:focus{
    border-bottom-color: var(--currentColor);
}