.profileCard{
    background-color: var(--item-bg-color);
    width: 24rem; height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex; flex-direction: column; gap: 1rem;
    min-width: 24rem;
}
.profileCard__header{
    padding: 0.5rem;
}
.profileCard__profileImg{
    width: 4rem; height: 4rem;
    border-radius: 3rem;
    object-fit: cover;
    object-position: center;
}
.profileCard__profileName{
    font-size: 1.4rem; font-weight: 600;
    color: var(--text-primary-color);
}
.profileCard__profileRole{
    font-size: 1rem; font-weight: 500;
    color: #70757D;
}
.profileCard__fields{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex; flex-direction: column; gap: 2rem;
}
.profileCard__field{
    display: flex; justify-content: space-between;
}
.profileCard__field button{
    box-shadow: 0 0 0.5rem #0001;
}
.profileCard__field p:first-of-type{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.profileCard__field p:last-of-type{
    color: var(--text-primary-color);
}

.profilePage__tab{
    display: none;
    width: calc(100% - 24rem - 1.5rem);
    height: calc(100% - 4rem - 1.5rem);
    overflow: auto;
    position: relative;
}
.profilePage__tab.active{
    display: flex;
}

.galleryBox{
    width: 100% !important;
    height: 100% !important;
    column-count: 3;
}
.galleryBox img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

@media screen and (max-width: 992px){
    .galleryBox{
        column-count: 2;
    }
}
@media screen and (max-width: 768px){
    .galleryBox{
        column-count: 1;
    }
}
@media screen and (max-width: 576px){
    .galleryBox{
        column-count: 1;
    }
}
