{% load base_tags %}

<body>
    
        <h1>{{ task.base.title }}</h1>
        
        <div class="ql-snow">
            <div class="ql-editor">
                <p style="text-align: justify">{{ task.base.description|safe }}</p>
            </div>
        </div>
        
        <div class='files'>
            {% include "CoreApp/FileView/index.html" with files=task.base.files %}
        </div>

        {% if work %}
        <div class="work column g16" id="work">
            <div class="flex space-between items-center">
                <h1>Отправить работу</h1>
                <div class="row g8">
                    <button class="secondaryButton" onclick="toForm()">
                        Редактировать
                    </button>
                    <div class="primaryButton" style='color: var(--currentColor)'>
                        <svg viewBox="0 0 512 512">
                            <path opacity='0.6' d="M504.5 144.42L264.75 385.5 192 312.59l240.11-241a25.49 25.49 0 0 1 36.06-.14l.14.14L504.5 108a25.86 25.86 0 0 1 0 36.42z"></path>
                            <path d="M264.67 385.59l-54.57 54.87a25.5 25.5 0 0 1-36.06.14l-.14-.14L7.5 273.1a25.84 25.84 0 0 1 0-36.41l36.2-36.41a25.49 25.49 0 0 1 36-.17l.16.17z"></path>
                        </svg>
                        Отправлено
                    </div>
                </div>
            </div>

            <div class="ql-snow">
                <div class="ql-editor">
                    <p style="text-align: justify">{{ work.text|safe }}</p>
                </div>
            </div>

            <div class='files'>
                {% include "CoreApp/FileView/index.html" with files=work.files %}
            </div>
        </div>

        {% include "DiaryApp/WorkCreationForm/index.html" with type='update' work=work task=task %}
        <script>
            old_files = [
                {% for file in work.files|get_objects %}
                {'name': '{{ file|get_file_name }}', 'id': '{{ file.id }}', 'size': '{{ file.file.size }}'},
                {% endfor %}
            ]
            for(let i = 0; i < old_files.length; i++){
                addNewFile(old_files[i], old_files, "#file-container")
            }
        </script>
        <script>
            function toForm(){
                $('#form')[0].style.display = 'flex';
                $('#work')[0].style.display = 'none';
            }
        </script>
        <script>
            function getUpdateWorkFormData(){
                let work_form = getWorkFormData()
                for(let i = 0; i < old_files.length; i++){ // Перебор старых файлов
                    work_form.append('files', old_files[i].id) // Добавление старых файлов в форму
                }
                return work_form 
            }
        </script>

        {% else %}

        {% include "DiaryApp/WorkCreationForm/index.html" with type='create' task=task %}

        {% endif %}
</body>