.taskView{
    width: 80rem;
    max-width: 100%;
    margin: 0 auto;
    display: flex; flex-direction: column; gap: 1.5rem;
}
.taskView:after{
    content: "_";
    opacity: 0;
}

.title{
    font-size: 2.5rem;
}

/* Участник */
.member{
    height: 3rem;
    border-radius: 1.5rem;
    margin-right: -1.5rem;
    border: var(--bg-color) solid 0.25rem;
}
.member .avatar{
    width: 3rem; height: 3rem;
}
.member__info{
    width: 0;
    overflow: hidden;
    transition: all .5s;
    opacity: 0;
}
.member:hover .member__info{
    width: 14rem;
    margin-right: 2rem;
    opacity: 1;
}
.member__name{
    white-space: nowrap;
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project__members.expanded .member{
    margin-right: -0.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
}
.project__members.expanded .member:hover{
    background-color: var(--theme-light-alpha);
    border-color: var(--theme-light-alpha);
    margin-right: 0;
}
.project__members.expanded .member.selected .avatar{
    border: var(--currentColor) solid 0.25rem;
}

.description{
    font-size: 1.25rem;
}


.task__priority span{
    height: 1.75rem;
    border-radius: 0.5rem;
    background-color: var(--theme-light);
}
.task__priority svg{
    width: 1rem; height: 1rem;
    margin: 0.375rem;
}
.task__header p{
    font-weight: 500;
    text-transform: uppercase;
}

.task__priority[data='high'] span{
    background-color: #ec413733;
}
.task__priority[data='high'] svg{
    fill: #ec4137;
}
.task__priority[data='high'] p{
    color: #ec4137;
}

.task__priority[data='medium'] span{
    background-color: #fbbc0733;
}
.task__priority[data='medium'] svg{
    fill: #fbbc07;
}
.task__priority[data='medium'] p{
    color: #fbbc07;
}

.task__priority[data='low'] span{
    background-color: #4486f633;
}
.task__priority[data='low'] svg{
    fill: #4486f6;
}
.task__priority[data='low'] p{
    color: #4486f6;
}

.task__priority[data='none'] span{
    background-color: #484c5333;
}
.task__priority[data='none'] svg{
    fill: var(--text-primary-color);
}
.task__priority[data='none'] p{
    color: var(--text-primary-color);
}

.task__deadline{
    display: flex; flex-direction: row; gap: 0.5rem;
    align-items: center;
}
.task__deadline svg{
    width: 1rem; height: 1rem;
    fill: #70757D;
}