.taskView{
    width: 68%;
    margin: 0 auto;
}
@media screen and (max-width: 1100px){
    .taskView{
        width: 100%;
    }
}

/* Информационный блок новости */
.taskView__info{
    border-radius: 16px;
    padding: 16px 24px;
    background-color: var(--item-bg-color);
}
.taskView__infoTitle{
    font-size: 36px;
    font-weight: 500;
    color: var(--text-primary-color);
}
.taskView__infoText{
    text-align: justify;
}
