{% load notification_tags %}

<body>
    
    {% with notifications=user|user_notifications %}
    <section class="notifications" id="notifications">
        <div class="notifications__header">
            <h2>Уведомления</h2>
            <span id="notification_count">{{ notifications|length }}</span>
        </div>
        
        <div class="notifications__container">
            
            {% for notification in notifications %}
            <div class="notification">
                <img src="{{ notification.notification.image_url }}">
                <div class="column">
                    <p class="notification__title">{{ notification.notification.title }}</p>
                    <p class="notification__text">
                        {{ notification.notification.description|safe }}
                    </p>
                    <div class="row g8">
                        <button class="secondaryButton" title="Отметить как прочитанное" onclick="deleteNotification(this, '{{ notification.id }}')">
                            <svg viewBox="0 0 448 512">
                                <path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/>
                            </svg>
                            Отметить
                        </button>
                        <button class="secondaryButton" onclick="location.href = '{{ notification.notification.redirect_link }}'">
                            <svg viewBox="0 0 640 512">
                                <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z"/>
                            </svg>
                            Перейти
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
    {% endwith %}

    <script>
        const notificationSocket = new WebSocket(
            'ws://' + window.location.host + '/notifications/' + '{{ user.id }}' + '/');

        notificationSocket.onmessage = function(event) {
            const notification = JSON.parse(event.data);
            $('.notifications__container').append(`
                <div class="notification">
                    <img src="${notification.image_url}">
                    <div class="column">
                        <p class="notification__title">${notification.title}</p>
                        <p class="notification__text">
                            ${notification.description}
                        </p>
                        <div class="row g8">
                            <button class="secondaryButton" title="Отметить как прочитанное" onclick="deleteNotification(this, '${notification.id}')">
                                <svg viewBox="0 0 448 512">
                                    <path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/>
                                </svg>
                                Отметить
                            </button>
                            <button class="secondaryButton" onclick="location.href = '${notification.redirect_link}'">
                                <svg viewBox="0 0 640 512">
                                    <path d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z"/>
                                </svg>
                                Перейти
                            </button>
                        </div>
                    </div>
                </div>`)
            notificationCounterUpdate();
        };
    </script>
    
    <script>
        function deleteNotification(notification, id){
            $.ajax({
                method: 'POST',
                url: '{% url "delete_notification" %}',
                data: {
                    'notification_identifier': id,
                    'csrfmiddlewaretoken': getCookie('csrftoken'),
                },
                cache: false,
                success: function(){
                    $(notification).closest('.notification').detach();
                    notificationCounterUpdate();
                },
            })
        }
    </script>

    <script>
        function notificationCounterUpdate() {
            let notificationCounter = $('.notification').toArray().length;
            $('.notifications__header span').text(notificationCounter);

            if ((notificationCounter > 0) != ($('#notificationLink').hasClass('attention')))
                $('#notificationLink').toggleClass('attention');
        }
    </script>
</body>  