<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../img/logo.png" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="style.css"> <!-- Стили страницы -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous"> <!-- Стили для отображения формул -->
    <link rel="stylesheet" href="../../highlight.css"> <!-- Стили для подсветки кода -->
    <link href="../../ql-editor.css" rel="stylesheet" /> <!-- Стили панели инструментов -->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Почта</title>
</head>

<body class='light__theme colorScheme__blue' colorScheme='colorScheme__blue'>
    <!-- Навигационное меню -->
    <aside>
        <!-- Логотип -->
        <div id="logo" onclick="location.href='/'">
            <img src='../../img/Кванториум SPACE.svg' alt='logo'/>
        </div>

        <!-- Навигация -->
        <nav>
            <!-- Главная -->
            <button>
                <div>
                    <svg viewBox="0 0 16 16">
                        <g transform="translate(-4 -4)">
                            <rect class='bright' width="7" height="7" rx="1.5" transform="translate(4 4)"/>
                            <path class='faded' d="M5.5,13h4A1.5,1.5,0,0,1,11,14.5v4A1.5,1.5,0,0,1,9.5,20h-4A1.5,1.5,0,0,1,4,18.5v-4A1.5,1.5,0,0,1,5.5,13Zm9-9h4A1.5,1.5,0,0,1,20,5.5v4A1.5,1.5,0,0,1,18.5,11h-4A1.5,1.5,0,0,1,13,9.5v-4A1.5,1.5,0,0,1,14.5,4Zm0,9h4A1.5,1.5,0,0,1,20,14.5v4A1.5,1.5,0,0,1,18.5,20h-4A1.5,1.5,0,0,1,13,18.5v-4A1.5,1.5,0,0,1,14.5,13Z"/>
                        </g>
                    </svg>
                    <p>Главная</p>
                </div>
            </button>
            <!-- Дневник -->
            <button>
                <div>
                    <svg viewBox="0 0 448 512">
                        <path class='faded' d="M96 448c-19.2 0-32-12.8-32-32s16-32 32-32h319.33c-1.93 16.24-1.76 48.38.53 64z"></path>
                        <path class='bright' d="M96 384h328a24 24 0 0 0 24-24V32a32 32 0 0 0-32-32H96A96 96 0 0 0 0 96v320a96 96 0 0 0 96 96h328a24 24 0 0 0 24-24v-16a24 24 0 0 0-24-24H96c-19.2 0-32-12.8-32-32s16-32 32-32zm32-250a6 6 0 0 1 6-6h212a6 6 0 0 1 6 6v20a6 6 0 0 1-6 6H134a6 6 0 0 1-6-6zm0 64a6 6 0 0 1 6-6h212a6 6 0 0 1 6 6v20a6 6 0 0 1-6 6H134a6 6 0 0 1-6-6z"></path>
                    </svg>
                    <p>Задания</p>
                </div>
            </button>
            <button>
                <div>
                    <svg viewBox="0 0 18.174 18.053">
                        <g transform="translate(-4 -2.947)">
                            <path class='bright' d="M5,3H6A1,1,0,0,1,7,4V20a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V4A1,1,0,0,1,5,3Zm5,0h1a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1H10a1,1,0,0,1-1-1V4A1,1,0,0,1,10,3Z"/>
                            <rect class='faded' width="3" height="18" rx="1" transform="translate(13.477 3.924) rotate(-19)"/>
                        </g>
                    </svg> 
                    <p>Проекты</p>
                </div>
            </button>
            <!-- Почта -->
            <button class='active'>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.166" height="15.333" viewBox="0 0 16.166 15.333">
                        <g id="messages" transform="translate(-8.042 -7.833)">
                            <path class='faded' d="M22.375,11.833h-.333V15a2.836,2.836,0,0,1-2.833,2.833H11.376v1.5a1.835,1.835,0,0,0,1.833,1.833h.833v1.5A.5.5,0,0,0,14.91,23l1.685-1.838h5.78a1.835,1.835,0,0,0,1.833-1.833V13.666A1.835,1.835,0,0,0,22.375,11.833Z"/>
                            <path class='bright' d="M19.208,7.833H9.542a1.5,1.5,0,0,0-1.5,1.5V15a1.5,1.5,0,0,0,1.5,1.5h9.667a1.5,1.5,0,0,0,1.5-1.5V9.333A1.5,1.5,0,0,0,19.208,7.833Zm.167,2.96-4.493,2.18a1.131,1.131,0,0,1-1.014,0l-4.493-2.18V9.687L14.3,12.074a.144.144,0,0,0,.147,0l4.927-2.387v1.106Z"/>
                        </g>
                      </svg>
                      <p>Почта</p>
                </div>
                <p>11</p>
            </button>
        </nav>
        <hr style='margin: 8px 16px' class='divider'/>
        <nav>
            <button onclick="switch_theme()">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <g id="eclipse" transform="translate(-8 -8)">
                          <path class='faded' d="M12,24a4,4,0,1,1,4-4A4,4,0,0,1,12,24Z"/>
                          <g>
                            <path class='bright' d="M16.333,10.667A5.007,5.007,0,0,0,11.426,14.7,5.409,5.409,0,0,1,12,14.667,5.34,5.34,0,0,1,17.332,20a5.394,5.394,0,0,1-.033.573,5,5,0,0,0-.966-9.906Z"/>
                            <path class='bright' d="M16.333,10a.667.667,0,0,1-.667-.667V8.667a.667.667,0,0,1,1.334,0v.667A.667.667,0,0,1,16.333,10Z"/>
                            <path class='bright' d="M23.333,16.333h-.667a.667.667,0,1,1,0-1.333h.667a.667.667,0,0,1,0,1.333Z"/>
                            <path class='bright' d="M20.341,11.66a.668.668,0,0,1,0-.943l.471-.472a.667.667,0,1,1,.943.943l-.471.472A.668.668,0,0,1,20.341,11.66Z"/>
                            <path class='bright' d="M20.812,21.088l-.471-.472a.667.667,0,0,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                            <path class='bright' d="M11.383,11.66l-.471-.472a.667.667,0,1,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                          </g>
                        </g>
                      </svg>
                    <p>Тема</p>
                </div>
                <span class="toggle theme"></span>
            </button>
            <button onclick="switch_color_scheme()">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <g id="roller" transform="translate(-8 -8)">
                          <path class='bright' d="M19.5,8H9.833A1.835,1.835,0,0,0,8,9.833v2.333A1.835,1.835,0,0,0,9.833,14H19.5a1.835,1.835,0,0,0,1.833-1.833V9.834A1.835,1.835,0,0,0,19.5,8Z"/>
                          <path class='faded' d="M22.333,10.333h-1v1.333h1a.333.333,0,0,1,.333.333v3a.334.334,0,0,1-.333.333H15.666a2,2,0,0,0-2,2V18H15v-.667a.668.668,0,0,1,.667-.667h6.667A1.667,1.667,0,0,0,24,15V12A1.668,1.668,0,0,0,22.333,10.333Z"/>
                          <path class='bright' d="M15.5,18H13.167A1.168,1.168,0,0,0,12,19.167v3.667A1.167,1.167,0,0,0,13.167,24H15.5a1.168,1.168,0,0,0,1.167-1.167V19.166A1.168,1.168,0,0,0,15.5,18Z"/>
                        </g>
                      </svg>
                      <p>Цвет</p>
                </div>
                <span class="toggle color-scheme"></span>
            </button>
        </nav>
        <nav>
            <!-- Профиль -->
            <div class="aside-profile">
                <button class="profile">
                    <img src='../../img/Kaelthas.jpg'>
                    <div class="info">
                        <h2>Фамилия И.</h2>
                        <h4>Ученик</h4>
                    </div>
                </button>
                <nav class='toolbar'>
                    <!-- Список задач -->
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13.334" viewBox="0 0 16 13.334">
                            <g id="task" transform="translate(-8 -9.333)">
                                <g>
                                    <path class='faded' d="M10.167,12H8.5a.5.5,0,0,1-.5-.5V9.833a.5.5,0,0,1,.5-.5h1.667a.5.5,0,0,1,.5.5V11.5A.5.5,0,0,1,10.167,12Z"/>
                                    <path class='faded' d="M10.167,17.333H8.5a.5.5,0,0,1-.5-.5V15.166a.5.5,0,0,1,.5-.5h1.667a.5.5,0,0,1,.5.5v1.667A.5.5,0,0,1,10.167,17.333Z"/>
                                    <path class='faded' d="M10.167,22.667H8.5a.5.5,0,0,1-.5-.5V20.5a.5.5,0,0,1,.5-.5h1.667a.5.5,0,0,1,.5.5v1.667A.5.5,0,0,1,10.167,22.667Z"/>
                                </g>
                                <g>
                                    <path class='bright' d="M23.333,11.333h-10a.667.667,0,1,1,0-1.333h10a.667.667,0,1,1,0,1.333Z"/>
                                    <path class='bright' d="M23.333,16.667h-10a.667.667,0,1,1,0-1.334h10a.667.667,0,1,1,0,1.334Z"/>
                                    <path class='bright' d="M23.333,22h-10a.667.667,0,1,1,0-1.334h10a.667.667,0,0,1,0,1.334Z"/>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <!-- Уведомления -->
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.334" height="16" viewBox="0 0 13.334 16">
                            <g id="bell" transform="translate(-9.333 -8)">
                                <path class='bright' d="M22.253,19.275a4.466,4.466,0,0,1-1.586-3.417V14a4.67,4.67,0,0,0-4-4.613v-.72a.667.667,0,1,0-1.334,0v.72a4.669,4.669,0,0,0-4,4.613v1.859a4.472,4.472,0,0,1-1.592,3.422,1.167,1.167,0,0,0,.759,2.053h11a1.167,1.167,0,0,0,.753-2.059Z"/>
                                <path class='faded' d="M16,24a2.5,2.5,0,0,0,2.449-2h-4.9A2.505,2.505,0,0,0,16,24Z"/>
                            </g>
                        </svg>
                    </button>
                </nav>
            </div>
        </nav>
    </aside>

    <section class="mail">
        <div class="mail__widgetRow">
            <div class="mailNavigation column">
                <button class="mailNavigation__composeBtn" onclick="open_form('#newMailItem')">Написать</button>
                <nav class='column'>
                    <button class="mailNavigation__link row active">
                        <svg viewBox="0 0 24 24">
                            <path d="M6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,13 C19,13.5522847 18.5522847,14 18,14 L6,14 C5.44771525,14 5,13.5522847 5,13 L5,3 C5,2.44771525 5.44771525,2 6,2 Z M13.8,4 C13.1562,4 12.4033,4.72985286 12,5.2 C11.5967,4.72985286 10.8438,4 10.2,4 C9.0604,4 8.4,4.88887193 Z" opacity="0.3"></path>
                            <path d="M3.79274528,6.57253826 L12,12.5 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 Z"></path>
                        </svg>
                        Входящие
                    </button>
                    <button class="mailNavigation__link row">
                        <svg viewBox="0 0 24 24">
                            <path d="M8,13.1668961 L20.4470385,11.9999863 L8,10.8330764 L8,5.77181995 C8,5.70108058 8.01501031,5.63114635 8.04403925,5.56663761 C8.15735832,5.31481744 8.45336217,5.20254012 8.70518234,5.31585919 L22.545552,11.5440255 C22.6569791,11.5941677 22.7461882,11.6833768 22.7963304,11.794804 C22.9096495,12.0466241 22.7973722,12.342628 22.545552,12.455947 L8.70518234,18.6841134 C8.64067359,18.7131423 8.57073936,18.7281526 8.5,18.7281526 C8.22385763,18.7281526 8,18.504295 8,18.2281526 L8,13.1668961 Z"></path>
                            <path d="M4,16 L5,16 C5.55228475,16 6,16.4477153 6,17 C6,17.5522847 5.55228475,18 5,18 L4,18 C3.44771525,18 3,17.5522847 3,17 C3,16.4477153 3.44771525,16 4,16 Z M1,11 L5,11 C5.55228475,11 6,11.4477153 6,12 C6,12.5522847 5.55228475,13 5,13 L1,13 C0.44771525,13 6.76353751e-17,12.5522847 0,12 C-6.76353751e-17,11.4477153 0.44771525,11 1,11 Z M4,6 L5,6 C5.55228475,6 6,6.44771525 6,7 C6,7.55228475 5.55228475,8 5,8 L4,8 C3.44771525,8 3,7.55228475 3,7 C3,6.44771525 3.44771525,6 4,6 Z" opacity="0.3"></path>
                        </svg>
                        Отправленные
                    </button>
                    <button class="mailNavigation__link row">
                        <svg viewBox="0 0 24 24">
                            <path d="M12,4.25932872 C12.1488635,4.25921584 12.3000368,4.29247316 12.4425657,4.36281539 C12.6397783,4.46014562 12.7994058,4.61977315 12.8967361,4.81698575 L14.9389263,8.95491503 L19.5054023,9.61846284 C20.0519472,9.69788046 20.4306287,10.2053233 20.351211,10.7518682 C20.3195865,10.9695052 20.2170993,11.1706476 20.0596157,11.3241562 L16.7552826,14.545085 L17.5353298,19.0931094 C17.6286908,19.6374458 17.263103,20.1544017 16.7187666,20.2477627 C16.5020089,20.2849396 16.2790408,20.2496249 16.0843804,20.1472858 L12,18 L12,4.25932872 Z" opacity="0.3"></path>
                            <path d="M12,4.25932872 L12,18 L7.91561963,20.1472858 C7.42677504,20.4042866 6.82214789,20.2163401 6.56514708,19.7274955 C6.46280801,19.5328351 6.42749334,19.309867 6.46467018,19.0931094 L7.24471742,14.545085 L3.94038429,11.3241562 C3.54490071,10.938655 3.5368084,10.3055417 3.92230962,9.91005817 C4.07581822,9.75257453 4.27696063,9.65008735 4.49459766,9.61846284 L9.06107374,8.95491503 L11.1032639,4.81698575 C11.277344,4.464261 11.6315987,4.25960807 12,4.25932872 Z"></path>
                        </svg>
                        Важные
                    </button>
                </nav>
            </div>
            <div class="mails">
                <header class="mails__header">
                    <div class="inputGroup">
                        <input type="text" placeholder="Поиск" class='inputGroup__input'>
                        <svg viewBox="0 0 24 24" class='inputGroup__svg'>
                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" opacity="0.3"></path>
                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"></path>
                        </svg>
                    </div>
                    
                </header>
                <div class="column">
                    <div class="mailItem">
                        <div class="senderInfo">
                            <img src="../../img/Kaelthas.jpg" class="senderInfo__img">
                            <div>
                                <p class="senderInfo__name">Каратаев Вадим</p>
                                <p class="senderInfo__role">Ученик</p>
                            </div>
                        </div>
                        <div class="column">
                            <p class="mailItem__title">
                                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
                                Harum repellendus veniam expedita sint provident! Iusto vero temporibus molestiae at mollitia minus quasi est culpa, voluptatem quae, necessitatibus accusantium? Dicta, inventore?</p>
                            <div class='files'>
                                <div class="file file-mini">
                                    <div class="file-info">
                                        <i class='file-docx'></i>
                                        <h4>Домашнее задание.docx</h4>
                                    </div>
                                </div>
                                <div class="file file-mini">
                                    <div class="file-info">
                                        <i class='file-pptx'></i>
                                        <h4>Теория.pptx</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mailItem__date">28.08</p>
                    </div>
                    <div class="mailItem">
                        <div class="senderInfo">
                            <img src="../../img/Kaelthas.jpg" class="senderInfo__img">
                            <div>
                                <p class="senderInfo__name">Смышляев Дмитрий</p>
                                <p class="senderInfo__role">Ученик</p>
                            </div>
                        </div>
                        <div class="column">
                            <p class="mailItem__title">
                                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
                                Harum repellendus veniam expedita sint provident! Iusto vero temporibus molestiae at mollitia minus quasi est culpa, voluptatem quae, necessitatibus accusantium? Dicta, inventore?</p>
                        </div>
                        <p class="mailItem__date">28.08</p>
                    </div>
                    <div class="mailItem">
                        <div class="senderInfo">
                            <img src="../../img/Kaelthas.jpg" class="senderInfo__img">
                            <div>
                                <p class="senderInfo__name">Фамилия Имя</p>
                                <p class="senderInfo__role">Ученик</p>
                            </div>
                        </div>
                        <div class="column">
                            <p class="mailItem__title">
                                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
                                Harum repellendus veniam expedita sint provident! Iusto vero temporibus molestiae at mollitia minus quasi est culpa, voluptatem quae, necessitatibus accusantium? Dicta, inventore?</p>
                            <div class='files'>
                                <div class='file file-mini'>
                                    <div class="file-info">
                                        <i class='file-mov'></i>
                                        <h4>video.mov</h4>
                                    </div>
                                </div>
                                <div class='file file-mini'>
                                    <div class="file-info">
                                        <i class='file-mp3'></i>
                                        <h4>audio.mp3</h4>
                                    </div>
                                </div>
                                <div class='file file-mini'>
                                    <div class="file-info">
                                        <i class='file-pyc'></i>
                                        <h4>python prog.pyc</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mailItem__date">28.08</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id='newMailItemForm' class='draggable'>
        <form>
            <div class="form__cell row">
                <button class='windowButton' style='margin-left: auto' onclick="minimize(this)" type="button">
                    <svg viewBox="0 0 448 512">
                        <path d="M448 240v32a32 32 0 0 1-32 32H32a32 32 0 0 1-32-32v-32a32 32 0 0 1 32-32h384a32 32 0 0 1 32 32z"></path>
                    </svg>
                </button>
                <button class='windowButton' type="button">
                    <svg viewBox="0 0 320 512">
                        <path d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path>
                    </svg>
                </button>
            </div>
            <div class="form__cell row">
                Кому:
                <input type="text">
            </div>

            <div class="form__cell">
                <input type="text" placeholder="Тема">
            </div>

            <div id="editor" class='text-field'></div>
            
            <div class="form__cell">
                <button class="secondaryButton">Отправить</button>
            </div>
            
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../JS/script.js'></script>

    <!-- Подсветка кода -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <!-- Сама панель инструментов -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <!-- Отображение математических формул -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.js" integrity="sha384-zDIgORxjImEWftZXZpWLs2l57fMX9B3yWFPN5Ecabe211Hm5ZG/OIz2b07DYPUcH" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <!-- Настройки панели -->
    <script src='../../JS/toolbar_options.js'></script>

    <!-- Библиотека для перетаскивания -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/utils/Draggable.min.js"></script>
    <script src="../../JS/draggable_options.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>AOS.init({ offset: -200 })</script>

    <script>
        // Открытие формы по нажатию на письмо
        $("#mail .item").click(function () {
            $('#mail .form').first().addClass("active");
            $("body").css("overflow", "hidden");
        });

        function minimize(btn){
            $("#newMailItemForm").toggleClass('minimized');
        }
    </script>
</body>

</html>