.mainContainer{
    flex-direction: row;
}

/* Навигация */
.mailNavigation{
    width: 18rem;
    background-color: unset;
}
.mailNavigation__composeBtn{
    background-color: var(--bgColor);
    color: var(--currentColor);
    padding: 1rem 0;
    border-radius: 0.5rem;
    font-size: 1.2rem; font-weight: 500;
    transition: all .05s;
}
.mailNavigation__composeBtn:active{
    transform: scale(0.98);
}
.mailNavigation__composeBtn:hover{
    background-color: var(--currentColor);
    color: #fff;
}
.mailNavigation__link{
    background-color: unset;
    height: 3rem;
    border-radius: 0.4rem;
    color: var(--text-primary-color);
    padding: 0.75rem 1rem;
    display: flex; align-items: center; gap: 1rem;
    font-size: 1rem; font-weight: 400;
    transition: all .2s;
}
.mailNavigation__link:active{
    transform: scale(0.96);
}
.mailNavigation__link svg{
    width: 1.25rem; height: 1.25rem;
    fill: #7e8299;
}
.mailNavigation__link:hover{
    background-color: var(--item-bg-color);
}
.mailNavigation__link.active{
    background-color: var(--item-bg-color);
    /* color: var(--currentColor); */
}
.mailNavigation__link.active svg path{
    fill: var(--currentColor);
    /* opacity: 1; */
}

.labelsContainer__label{
    display: none;
}
.labelsContainer.active .labelsContainer__label{
    display: flex;
}

#newMessageButton{
    display: none;
}

.mailNavigationBar{
    width: 100%;
    display: none; gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0.5rem 0;
}
.mailNavigationBar__link{
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 1rem; font-weight: 500;
    color: var(--text-primary-color);
    background-color: var(--item-bg-color);
    display: flex; flex-direction: row; align-items: center; gap: 0.5rem;
}
.mailNavigationBar__link:hover{
    filter: brightness(1.1);
}
.mailNavigationBar__link svg{
    width: 1rem;
    fill: #7e8299;
}
.mailNavigationBar__link.active{
    background-color: var(--currentColor);
    color: #fff;
}
.mailNavigationBar__link.active svg{
    fill: #fff;
}

.mails{
    background-color: var(--item-bg-color);
    border-radius: 0.75rem;
    height: 100%; width: 36rem;
    overflow: hidden;
    position: relative;
}
.mails__header{
    padding: 1rem;
}
.inputGroup{
    display: flex; flex-direction: row; gap: 0.125rem; align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
}
.inputGroup__input{
    width: calc(100% - 3rem); height: 3rem;
    background-color: var(--special-ui-elements-color);
    padding: 0.5rem 1rem;
    color: var(--text-primary-color);
    font-size: 1.1rem;
}
.inputGroup__input::placeholder{
    color: var(--text-primary-color);
}
.inputGroup__svg{
    height: 3rem; width: 3rem;
    padding: 0.75rem;
    fill: var(--text-primary-color);
    background-color: var(--special-ui-elements-color);
    transition: all .2s;
}
.inputGroup__svg:hover{
    fill: var(--currentColor);
}

.pagination__page{
    padding: 0 1rem;
    color: var(--text-primary-color);
}
.pagination__page:last-of-type{
    display: none;
}

.mails__container{
    height: calc(100% - 7rem);
    overflow: auto;
    scroll-behavior: smooth;
    padding: 0 1rem 0.5rem;
}

/* Сообщение */
.mailItem{
    display: flex; flex-direction: column; gap: 1rem;
    padding: 1rem;
    position: relative;
    border-radius: 0.75rem;
    transition: transform .2s;
}
.mailItem:active{
    transform: scale(0.98);
}
.mailItem:hover{
    background-color: var(--theme-light);
}
.mailItem.new{
    background-color: var(--aside-bg-color);
}
.light__theme .mailItem.new{
    box-shadow: 0 0 2rem var(--theme-light);
}

/* Отправитель */
.senderInfo{
    display: flex; flex-direction: row; gap: 1rem;
}
.senderInfo__img{
    width: 39px; height: 39px;
    border-radius: 20px;
    object-fit: cover; object-position: center;
}
.senderInfo__name{
    white-space: nowrap; color: var(--text-primary-color); font-weight: 500;
    overflow: hidden;
    width: 10rem;
    text-overflow: ellipsis;
}

/* Тема, текст, файлы и теги */
.mailItem__title{
    width: fit-content;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mailItem__title strong{
    color: var(--text-primary-color);
}
.mailItem__tag{
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    transition: all .1s;
    background-color: var(--bgColor);
    color: var(--currentColor);
}
.mailItem__tag:hover{
    background-color: var(--currentColor);
    color: #fff;
}

/* Дата */
.mailItem__date{
    color: var(--text-primary-color);
    margin-left: auto;
    white-space: nowrap;

    position: absolute; top: 1.5rem; right: 1.5rem;
}

.mailView{
    width: calc(100% - 20rem - 36rem);
    border-radius: 1rem;
}
.mailView__header{
    padding: 1rem 0;
}
.mailView__header .closeButton{
    visibility: hidden;
}
.mailView__content{
    height: calc(100% - 7rem);
    overflow: auto;
}
.mailView__date{
    padding: 0 1rem;
    color: var(--text-primary-color);
}
.mailView__title{
    font-weight: 500;
}
.mailView__text{
    font-size: 1.1rem;
    color: var(--text-primary-color);
}
.mailView .file{
    width: auto;
    max-width: 100%;
}

#markAsImportant{
    padding: 0.75rem;
}
#markAsImportant svg{
    height: 1.5rem; width: 1.5rem;
}
#markAsImportant:hover{
    fill: var(--currentColor);
}
#markAsImportant.active svg{
    fill: #ffc700;
}



#newMailItemForm{
    position: fixed; bottom: -1000px; right: 0;
    width: 50rem;
    max-height: 100%; max-width: 100%;
    overflow: auto;
    padding: 1.5rem;

    transition-duration: .4s;
    transition-property: width height padding;
}
#newMailItemForm .file{
    width: calc(50% - 0.5rem);
}
#newMailItemForm::before{
    content: "";
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: var(--theme-light-alpha);
    z-index: -1;
    opacity: 0; visibility: hidden;
    transition-property: visibility opacity;
    transition-duration: .4s;
}

#newMailItemForm.active{
    bottom: 0;
}
#newMailItemForm.fullscreen{
    right: calc(50% - 50rem);
    display: flex; align-items: center;
    width: 100rem; height: 100%;
    padding: 4rem 0;
}

#newMailItemForm.fullscreen::before{
    opacity: 1;
    visibility: visible;
}
#newMailItemForm form{
    border: var(--theme-light) solid 2px;
    background-color: var(--aside-bg-color);
    border-radius: 1rem;
    max-height: 100%; max-width: 100%;
    transition-duration: .4s;
    transition-property: width height;
}
#newMailItemForm.fullscreen form{
    width: 100rem;
    max-height: unset;
    margin: auto 0;
}
#newMailItemForm.fullscreen .file{
    width: auto;
    max-width: 100%;
}

.newMailItemForm__header h3{
    white-space: nowrap; max-width: 16rem; overflow: hidden; text-overflow: ellipsis;
}
#newMailItemForm input{
    background-color: unset;
    font-size: 1rem;
    color: var(--text-primary-color);
}
#mailSubject{
    width: 100%;
}

.form__cell{
    position: relative;
    padding: 1rem 1.5rem;
    color: #70757D;
}
.form__cell::after, #newMailItemForm .ql-snow.ql-toolbar::after{
    content: "";
    background-color: var(--theme-light-alpha);
    opacity: 0.3;
    height: 1px; width: 100%;
    position: absolute; bottom: 0; left: 0;
}
.newMailItemForm__footer{
    margin-top: auto;
}


#newMailItemForm .ql-snow.ql-toolbar, #newMailItemForm .ql-snow.ql-container{
    background-color: unset;
    border: none;
    position: relative;
    padding: 13.5px 1.5rem !important;
    margin-top: 0;
}
#newMailItemForm .ql-snow.ql-container{
    padding: 1.5rem !important;
}
#newMailItemForm .ql-snow.ql-container span{
    border-radius: 4px;
}
#newMailItemForm .ql-snow .ql-tooltip{
    transform: none;
}

.newMailItemForm__footer{
    padding: 1.5rem;
    width: 100%;
}

.windowButton{
    width: 2rem; height: 2rem;
    padding: 0.5rem;
    background-color: unset;
    border-radius: 0.5rem;
}
.windowButton:hover{
    background-color: var(--theme-light);
}
.windowButton:hover svg{
    fill: var(--currentColor);
}
.windowButton svg{
    fill: var(--text-primary-color);
    width: 1rem; height: 1rem;
}

#newMailItem__userSelect{
    position: absolute; top: 9rem; left: 5rem;
}
#newMailItemForm.fullscreen #newMailItem__userSelect{
    position: absolute; top: 16rem; left: 16rem;
}

@media screen and (max-width: 1100px){
    .mails{
        width: calc(100% - 18rem - 1.5rem);
    }

    .mailView{
        width: calc(100% - 7rem); height: 100%;
        position: fixed; top: 0; left: 100%;
        background-color: var(--aside-bg-color);
        padding: 0.5rem 1.5rem;
        transition: left .4s;
    }

    .mailView.active{
        top: 0; left: 6.5rem;
    }
    .mailView .closeButton{
        visibility: visible;
    }
    .windowButton:first-of-type{
        display: none;
    }
}

@media screen and (max-width: 740px){

    .mailView{
        width: calc(100%); height: 96%;
        position: fixed; top: 100%; left: 0;
        background-color: var(--aside-bg-color);
        padding: 0.5rem 1.5rem 4rem;
        border-radius: 2rem 2rem 0 0;
        transition: top .4s;
        box-shadow: 0 0 1rem var(--theme-light);
    }

    .mailView.active{
        top: 4%; left: 0;
    }
    .mailView::after{
        content: "";
        background-color: var(--theme-light);
        width: 10%; height: 0.5rem;
        position: absolute; top: 1rem; left: 45%;
        border-radius: 0.25rem;
    }
    .windowButton:first-of-type{
        display: none;
    }

    body{
        padding-left: 0;
    }
    .mainContainer{
        flex-direction: column;
        padding: 1rem 1rem 0 !important;
        gap: 0 !important;
        border: none;
        border-radius: 0;
    }
    .mailNavigation, .navigation, .divider{
        display: none;
    }
    #newMessageButton, .mailNavigationBar{
        display: flex;
    }
    .mails{
        width: 100%;
        background-color: unset;
        border-radius: 0;
    }
    .mails__header{
        padding: 0.5rem 0;
        flex-direction: column; gap: 1rem;
        width: 100%;
        align-items: unset;
    }
    .pagination__page:first-of-type{
        display: none;
    }
    .pagination button{
        background-color: var(--item-bg-color);
    }
    .pagination__page:last-of-type{
        display: block;
        margin: 0 auto;
    }
    .mails__header .inputGroup__input, .mails__header .inputGroup__svg{
        background-color: var(--item-bg-color);
    }
    .mails__container{
        padding: 0.5rem 0;
        height: calc(100% - 8rem);
        scroll-behavior: smooth;
    }
    .mailItem, .mailItem.new{
        background-color: var(--item-bg-color);
    }
    #actionMenuTrigger{
        display: flex;
    }
    #newMailItemForm{
        padding: 0 0 4rem;
    }
    #newMailItemForm form{
        border-radius: 0;
    }
}
