.mail__widgetRow{
    display: flex; flex-direction: row; gap: 2rem;
}

.mailNavigation{
    min-width: 300px;
    background-color: var(--item-bg-color);
    border-radius: 16px;
    padding: 16px 24px;
}
.mailNavigation__composeBtn{
    background-color: var(--currentColor);
    color: #fff;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 8px;

    font-size: 1.2rem; font-weight: 500;
}
.mailNavigation__composeBtn:hover{
    filter: brightness(0.95);
}
.mailNavigation__link{
    background-color: unset;
    height: 48px;
    border-radius: 8px;
    color: var(--text-primary-color);
    transition: all .05s;
    padding: 12px 16px;
    display: flex; align-items: center; gap: 12px;

    font-size: 1rem; font-weight: 500;
}
.mailNavigation__link svg{
    width: 24px; height: 24px;
    fill: #7e8299;
}
.mailNavigation__link:hover, .mailNavigation__link.active{
    background-color: var(--theme-light);
    color: var(--currentColor);
}
.mailNavigation__link:hover svg, .mailNavigation__link.active svg{
    fill: var(--currentColor);
}

.mails{
    background-color: var(--item-bg-color);
    border-radius: 16px;
    display: flex; flex-direction: column;
}

.mails__header{
    display: flex; flex-direction: row; align-items: center; gap: 16px;
    padding: 16px 24px;
}
.inputGroup{
    width: 40%;
    display: flex; flex-direction: row; gap: 2px; align-items: center;
    border-radius: 8px;
    overflow: hidden;
}
.inputGroup__input{
    width: calc(100% - 48px); height: 48px;
    background-color: var(--theme-light);
    padding: 8px 16px;
    color: var(--text-primary-color);
    font-size: 1.1rem;
}
.inputGroup__svg{
    height: 48px; width: 48px;
    padding: 10px;
    fill: var(--text-primary-color);
    background-color: var(--theme-light);
}



.mailView{
    display: flex; flex-direction: column; gap: 1.5rem;
    padding: 1rem 1.5rem;
}

.mailItem{
    display: flex; flex-direction: row; gap: 1.5rem;
    padding: 1rem 1.5rem;
}
.light__theme .mailItem:nth-child(2n+1){
    backdrop-filter: brightness(0.98);
}
.dark__theme .mailItem:nth-child(2n+1){
    backdrop-filter: brightness(1.08);
}
.mailItem:hover{
    background-color: var(--theme-light);
}
.senderInfo{
    display: flex; flex-direction: row; gap: 16px;
}
.senderInfo__img{
    width: 39px; height: 39px;
    border-radius: 20px;
    object-fit: cover; object-position: center;
}
.senderInfo__name{
    white-space: nowrap; color: var(--text-primary-color); font-weight: 500;
    overflow: hidden;
    width: 192px;
    text-overflow: ellipsis;
}

.mailItem__title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mailItem__title strong{
    color: var(--text-primary-color);
}
.mailItem__date{
    color: var(--text-primary-color);
}


#newMailItemForm{
    display: none;
    position: fixed; bottom: 16px; right: 16px;
    background-color: var(--aside-bg-color);
    border-radius: 16px;
    width: 700px;
    max-height: calc(100% - 32px);

    overflow: auto;

    box-shadow: 0 0 32px #3333;
    z-index: 999999;
}
#newMailItemForm.closed{
    bottom: unset;
    top: calc(100% - 64px);
}
.newMailItemForm__header h3{
    white-space: nowrap; max-width: 16rem; overflow: hidden; text-overflow: ellipsis;
}
#newMailItemForm input{
    background-color: unset;
    font-size: 1rem;
    color: var(--text-primary-color);
}
.form__cell{
    position: relative;
    padding: 16px 24px;
    color: #70757D;
}
.form__cell:not(.newMailItemForm__footer)::after, #newMailItemForm .ql-snow.ql-toolbar::after{
    content: "";
    background-color: var(--theme-light-alpha);
    opacity: 0.3;
    height: 1px; width: 100%;
    position: absolute; bottom: 0; left: 0;
}
.newMailItemForm__footer{
    margin-top: auto;
}


#newMailItemForm .ql-snow.ql-toolbar, #newMailItemForm .ql-snow.ql-container{
    background-color: unset;
    border: none;
    position: relative;
    padding: 13.5px 24px;
}
#newMailItemForm .ql-snow .ql-tooltip{
    transform: none;
}

.windowButton{
    width: 32px; height: 32px;
    padding: 8px;
    background-color: unset;
    border-radius:  8px;
}
.windowButton:hover{
    background-color: var(--theme-light);
}
.windowButton:hover svg{
    fill: var(--currentColor);
}
.windowButton svg{
    fill: var(--theme-light-alpha);
    width: 16px; height: 16px;
}

#newMailItemForm.expanded{
    width: 80%; height: 80%;
    left: 10%; top: 10%;
    box-shadow: 0 0 1000px 1000px #0006;
}