/* Скрываем скролбар */
::-webkit-scrollbar{ width: 0 }

*{ margin: 0; padding: 0; box-sizing: border-box }

button, input, textarea{ border: none; outline: none; cursor: pointer; resize: none; font-family: 'Arsenal'; }
a{ text-decoration: none; color: unset; }
button:hover{ filter: brightness(1.1); }

/* Настройка шрифтов */
::placeholder{ font-family: 'Arsenal' }
h1{ font-size: 2.5rem; font-weight: bold; color: #111926}
h2, h2 *{ font-size: 2rem; font-weight: bold; color: #111926}
h3, .dropdown-input{ font-size: 1.3; font-weight: 500; color: #6A6F78 }
h4{ font-size: 1.3rem; font-weight: 300; color: #6A6F78}
p{ font-size: 1rem; font-weight: normal; color: #70757D }
h1, h2, h3, h4, h5, h6, p{ cursor: pointer; }

/* Основные элементы страницы */
body{
    background-color: #FAFAFA;
    position: relative;
    overflow-y: hidden;
    height: 100%; width: 100%;
    font-family: 'Arsenal';
}
body > section{ padding: 50px 0 0 150px; }

.item{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition-duration: .5s; transition-property: transform, box-shadow;
}
.item:hover{
    box-shadow: -1px 1px #65a9fc, -2px 2px #65a9fc, -3px 3px #65a9fc, -4px 4px #65a9fc, -5px 5px #65a9fc, -6px 6px #65a9fc, -7px 7px #65a9fc;
    -webkit-transform: translateX(7px) translateY(-7px);
    transform: translateX(7px) translateY(-7px);
}

/* Навигационное меню */
aside{
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100px;
    background-color: #111926;
    border-radius: 0 32px 0 0;
    padding: 25px;
}
aside #logo{
    width: 60px; height: 60px;
    margin: 0 -5px 30px;
}
aside nav button{
    width: 60px; height: 60px;
    padding: 15px; margin: 10px -5px;
    background-color: unset;
    border-radius: 15px;
    font-size: 30px; color: #EFF1F3;
}
aside nav button:not(.user-img):hover{ background-color: #2C3B4F }
aside nav .active{ background-color: #2C3B4F }
.user-img{ font-size: 50px; padding: 0 }


/* Формы */
.form{ display: none }
.form .filter{
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: #00000088;
}
.form-wrapper{
    position: fixed; top: 0;
    height: 100%; width: auto;
    display: flex; align-items: center;
}
.form-wrapper form{
    height: auto; width: 822px;
    background-color: #fff;
    padding: 15px 40px 15px 25px; margin: 0 auto;
    border-radius: 15px;
    position: relative;
}
.form-wrapper form .form-btn{
    color: #fff; font-size: 20px;
    background-color: #111926;
    padding: 0 15px; margin: 8px 0;
    height: 45px;
    border-radius: 10px;
    transition-property: color background-color box-shadow; transition-duration: .2s;
}
.form-wrapper form .form-btn span{ margin-right: 10px }
.form-wrapper form .form-btn:hover{ box-shadow: 0 2px 10px 10px #2c3b4f23; }

/* Форма */
.form-wrapper form .item-header{
    display: flex; justify-content: space-between;
    margin-bottom: 5px;
}
.form-wrapper form .item-header .lesson-title{
    max-width: 75%;
}
.form-wrapper form .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
.form-wrapper form .item-header .lesson-title h3{
    color: #0E58B5; font-weight: bold;
    margin-top: 10px; float: right;
}
.form-wrapper form .item-header .lesson-teacher{ display: flex; align-items: center; align-self: flex-start; }
.form-wrapper form .item-header .lesson-teacher img{ width: 40px; height: 40px }
.form-wrapper form .item-header .lesson-teacher h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
.form-wrapper form > h2{ margin-bottom: 5px }
.form-wrapper form .text-field{
    width: 761px;
    border-radius: 10px; border: #00000022 solid 1px;
    padding: 10px;
    font-size: 1rem;
    height: auto;
}
.form-wrapper form .text-field-title{
    font-size: 1.3rem;
}
.form-wrapper form .text-field::placeholder{ font-size: 1rem }
.form-wrapper form .text-field-title::placeholder{ font-size: 1.3rem }

.form-wrapper form .preview{
    width: 822px;
    margin: -25px -25px 10px -25px;
    border-radius: 15px 15px 0 0;
}

/* Файлы */
.files{
    display: flex; flex-wrap: wrap;
    width: 75%;
}
.files i{ margin-right: 5px }
.files h4{ display: inline-block; color: #000 }
.file{
    height: 51px;
    border-radius: 100px; border: #00000022 solid 1px;
    margin: 5px 10px 5px 0; padding: 0 25px;
    display: flex; align-items: center;
    transition-duration: .2s; transition-property: box-shadow;
}
.file:hover{ box-shadow: 0 2px 2px 2px #2c3b4f23 }

/* Фон */
.bg{
    position: fixed; right: -20%; top: 5%;
    height: 90%;
    animation: you_spin_me_right_round 200s infinite;
}

/* Адаптивность от бога */
@media screen and (max-width: 1600px){ body{ zoom: 83% }}
@media screen and (max-width: 1356px){ body{ zoom: 70% }}
@media screen and (max-width: 1280px){ body{ zoom: 65% }}
@media screen and (max-width: 1024px){ body{ zoom: 55% }}

/* Анимация */
@keyframes you_spin_me_right_round{
    from{ transform: rotate(0deg) }
    to{ transform: rotate(720deg) }
}


/* Стилизация выпадающего списка */
.dropdown-input{
    font-size: 1.5rem; color: #111926; font-weight: bold;
    margin-top: 10px;
    min-width: 400px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 6px 16px;
    display: block;
}
.dropdown-content a:hover{ background-color: #f1f1f1 }
