{% load static %}
{% load news_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% include "SystemModule/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "SystemModule/icons/files/file_icons.css" %}' />
    <link rel="stylesheet" href='{% static "NewsApp/MainPage/style.css" %}'> <!-- Стили страницы -->
    <link rel="stylesheet" href='{% static "NewsApp/MainPage/highlight.css" %}'>
    <link rel="stylesheet" href='{% static "NewsApp/MainPage/ql-editor.css" %}'>
    <title>Главная</title>
    <style>
        #widgets #quote-widget::after{
            content: '';
            position: absolute; right: 0; bottom: 10%;
            width: 40%; height: 80%;
            background: url('{% static "NewsApp/MainPage/img/illustration.svg" %}');
            background-size: cover;
        }

    </style>
</head>

<body style="overflow: auto" onload="getNewNews()">
    <!-- Навигационное меню -->
    {% include "SystemModule/AsideMenu/index.html" with user=user active='main' %}

    <!-- Главная -->
    <section id='main' style='display: block'>
        <header>
            {% include "SystemModule/ToolbarMenu/index.html" with user=user %}
        </header>
        <!-- Виджеты -->
        <section id='widgets'>
            <!-- Виджет с цитатой -->
            <div id='quote-widget'>
                <!-- Заголвок виджета -->
                <span class="fi-rr-quote-right" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 10px'>Цитата дня</h1></span>
                <!-- Подзаголовок виджета -->
                <h3>Читай высказывания великих людей</h3>
                <div>
                    <!-- Цитата -->
                    <h6>«Оценивать эффективность процесса программирования количеством написанных строк кода — то же самое, что оценивать процесс создания самолёта по его весу»</h6>
                    <!-- Автор цитаты -->
                    <h4 id='author'>Билл Гейтс</h4>
                </div>
            </div>
            <!-- Виджет "Расписание" -->
            <div id='courses-manager'>
                <div class='widget-header'>
                    <!-- Заголовок виджета -->
                    <span class="fi-rr-graduation-cap" style='font-size: 1.5rem; color: #000'><h1 style='display: inline-block; margin-left: 10px; color: #000'>Расписание</h1></span>
                    <!-- Кнопки слайдера -->
                    <div id="slider-controller">
                        <button id='prev'><span class='fi-rr-arrow-small-left'></span></button>
                        <button id='next'><span class='fi-rr-arrow-small-right'></span></button>
                    </div>
                </div>
                <div id='slider'>
                    {% for course in courses %}
                    <div class='item'>
                        <img src="{% static 'NewsApp/MainPage/img/default.jpg' %}" alt="Превью" />
                        <h2>{{ course.name }}</h2>
                        <h4>ВТ 18:20 ЧТ 18:20</h4>
                        <h4>
                            {{ course.teacher.teacher.surname }}
                            {{ course.teacher.teacher.name|slice:"1" }}.
                            {{ course.teacher.teacher.patronymic|slice:"1" }}.
                        </h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Форма просмотра курса -->
            {% for course in courses %}
            <div class='form'>
                <div class="form-wrapper">
                    <form>
                        <div class='item-header'>
                            <div class='lesson-title'>
                                <h2>{{ course.name }}</h2>
                            </div>
                            <div class='lesson-teacher'>
                                <h4>{{ course.teacher.teacher.surname }}
                                    {{ course.teacher.teacher.name|slice:"1" }}.
                                    {{ course.teacher.teacher.patronymic|slice:"1" }}.
                                </h4>
                                <img src='{{ course.teacher.teacher.image.url }}' />
                            </div>
                        </div>
                        <p class='item-text'>
                            Краткое описание курса. Если его не надо уберем
                        </p>
                        <hr class='divider'/>
                        <h2>Расписание</h2>
                        <div class="calendar__timetable">
                            <div class="day">пн</div>
                            <div class="day day-active">вт<time>18:20</time></div>
                            <div class="day">ср</div>
                            <div class="day day-active">чт<time>18:20</time></div>
                            <div class="day">пт</div>
                            <div class="day">сб</div>
                            <div class="day">вс</div>
                        </div>
                        <hr class="divider"/>
                        <h2>Участники курса</h2>
                        <div class="users">
                            {% for student in course.students|get_objects %}
                            <div class="user"><img src='{{ student.student.image.url }}'/>
                            <div class="info">
                                <h4>Ученик</h4>
                                <h2>
                                    {{ student.student.surname }}
                                    {{ student.student.name|slice:"1" }}.
                                    {{ student.student.patronymic|slice:"1" }}.
                                </h2>
                            </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </section>
        <!-- Новости -->
        <section id='news'>
            <!-- Шапка секции -->
            <div style='display: flex; gap: 2%'>
                <!-- Заголовок секции -->
                <div>
                    <span class="fi-rr-world" style='font-size: 1.5rem; margin-right: 5px'></span>
                    <h1 style='display: inline-block'>Новости</h1>
                </div>
                {% if user.permission == 'Администратор' or user.permission == 'Учитель'  %}
                <div class='main-btn' style='width: auto'><button style='height: 40px;' onclick="open_form('#add-news-form')">Добавить новость</button></div>
                {% endif %}
            </div>
            <!-- Блок новостей -->
            <div id='news__container'>
                <!-- Тут спавняться новости -->
            </div>
            <!-- Кнопка "Больше новостей" -->
            <div id="more-news" class='main-btn'>
                <button onclick="getNewNews()">Больше новостей</button>
            </div>
            <!-- Форма создания новости -->
            <div class='form' id='add-news-form'>
                <div class="form-wrapper">
                    <form autocomplete="off">
                        <div class='item-header'>
                            <h2>Добавление новости</h2>
                            <div id="news-form-btns" style="display: flex;">
                                <button class='form-btn' id="news-preview" type="button"><span class="fi-rr-picture" style='margin-right: 5px'></span>Добавить обложку</button>
                                <input id="preview-input" type="file" name="name" style="display: none;" onchange="addNewsPreview(event)" />

                                <button class='form-btn' id="news-upload" type="button"><span class="fi-rr-world" style='margin-right: 5px'></span>Опубликовать</button>
                            </div>
                        </div>
                        <input id="news-title" class='text-field text-field-title' autocomplete="off" placeholder="Заголовок"></input>
                        <div id="editor" class='text-field'></div>
                        <button class='form-btn' id="file-button" type="button"><span class="fi-rr-clip" style='margin-right: 5px'></span>Документ</button>
                        <input id="file-input" type="file" name="name" style="display: none;" onchange='addNewFile(event)'/>
                        <div class='files' id='file-container'>
                            <!-- Тут спавнять файлы -->
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>

    {% include "SystemModule/ScriptsSetup/index.html" with user=user %}
    <!-- Подсветка кода -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <!-- Сама панель инструментов -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <!-- Отображение математических формул -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.js" integrity="sha384-zDIgORxjImEWftZXZpWLs2l57fMX9B3yWFPN5Ecabe211Hm5ZG/OIz2b07DYPUcH" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <script src="{% static 'NewsApp/MainPage/scripts.js' %}"></script>
    <script src="{% static 'NewsApp/MainPage/toolbar_options.js' %}"></script>
    <script>
        let user_id = '{{ user.id }}';
        let max_news = {{ max_news }};
        let send_news = '{% url "send_news" user.id %}';
        let create_news = '{% url "create_news" user.id %}';
    </script>
    <script>
        $(document).ready(function () {
            $('#next').click(function () {
                $('#slider').animate({ scrollLeft: $('#slider').scrollLeft() + 750 }, 400);
            });
            $('#prev').click(function () {
                $('#slider').animate({ scrollLeft: $('#slider').scrollLeft() - 750 }, 400);
            });
        });
    </script>
</body>
</html>