{% load static %}
{% load base_tags %}
{% load news_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    
    {% include "SystemModule/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "SystemModule/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href='{% static "NewsApp/MainPage/style.css" %}'> <!-- Стили страницы -->
    <link rel="stylesheet" href='{% static "SystemModule/text/highlight.css" %}'>
    <link rel="stylesheet" href='{% static "SystemModule/text/ql-editor.css" %}'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous"> <!-- Стили для отображения формул -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Главная</title>
</head>

<body onload="getNewNews();">
    <!-- Навигационное меню -->
    {% include "SystemModule/AsideMenu/index.html" with user=user active='main_page' %}
    
    <section class="mainContainer column">
        <!-- Виджеты -->
        <section id='widgets' class='row g16'>

            <!-- Виджет "Календарь" -->
            <div id="eventsWidget" class='column g16'>
                <h2>Календарь</h2>
                <div class="timetable column scrollbar">
                    <div class="event row g16 px16">
                        <p class='event__date'>22.11</p>
                        <span class="event__marker"></span>
                        <p class="event__name">Выставка</p>
                    </div>
                    <div class="event row g16 px16">
                        <p class='event__date'>15.12</p>
                        <span class="event__marker"></span>
                        <p class="event__name">Фестиваль</p>
                    </div>
                    <div class="event row g16 px16">
                        <p class='event__date'>13.01</p>
                        <span class="event__marker"></span>
                        <p class="event__name">Защита проектов за первое полугодие</p>
                    </div>
                    <div class="event row g16 px16">
                        <p class='event__date'>23.01</p>
                        <span class="event__marker"></span>
                        <p class="event__name">Мастер-класс</p>
                    </div>
                    <div class="event row g16 px16">
                        <p class='event__date'>15.04</p>
                        <span class="event__marker"></span>
                        <p class="event__name">Хакатон</p>
                    </div>
                    <div class="event row g16 px16">
                        <p class='event__date'>26.05</p>
                        <span class="event__marker"></span>
                        <p class="event__name">Защита проектов за второе полугодие</p>
                    </div>
                </div>
            </div>
            
            <!-- Виджет "Расписание" -->
            <div id="scheduleWidget" class='column g16'>
                <div class='flex space-between'>
                    <h2>Расписание</h2>
                </div>

                <div class='courseList column g8 scrollbar'>
                    {% for course in courses %}
                    <div class='course row'>
                        <img src="{{ course.type.image.url }}" class='course__illustration'/>
                        <div class="course__info column g4">
                            <p class='course__title'>{{ course }}</p>
                            <p class='course__teacher'>
                                {{ course.teacher.surname }} 
                                {{ course.teacher.name|slice:"1" }}.
                            </p>
                        </div>
                        <div class="row g4 px16" style='margin-left: auto'>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Пн</p>
                            </div>
                            <div class="lesson column">
                                <p class="lesson__day">Вт</p>
                                <p class='lesson__time'>18:20</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Ср</p>
                            </div>
                            <div class="lesson column">
                                <p class="lesson__day">Чт</p>
                                <p class='lesson__time'>18:20</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Пт</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Сб</p>
                            </div>
                            <div class="lesson column inactive">
                                <p class="lesson__day">Вс</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% for course in courses %}
                <div class='form'>
                    <div class="form-wrapper">
                        <form>
                            <div class='course row'>
                                <img src="{{ course.type.image.url }}" class='course__illustration'/>
                                <div class="course__info column g4">
                                    <p class='course__title'>{{ course }}</p>
                                    <p class='course__teacher'>
                                        {{ course.teacher.surname }} 
                                        {{ course.teacher.name|slice:"1" }}.
                                        {{ course.teacher.patronymic|slice:"1" }}.
                                    </p>
                                </div>
                                <div class="row g4 px16" style='margin-left: auto'>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Пн</p>
                                    </div>
                                    <div class="lesson column">
                                        <p class="lesson__day">Вт</p>
                                        <p class='lesson__time'>18:20</p>
                                    </div>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Ср</p>
                                    </div>
                                    <div class="lesson column">
                                        <p class="lesson__day">Чт</p>
                                        <p class='lesson__time'>18:20</p>
                                    </div>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Пт</p>
                                    </div>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Сб</p>
                                    </div>
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">Вс</p>
                                    </div>
                                </div>
                            </div>

                            <hr class='divider' style='margin: 0.5rem 0'/>

                            <h2 class='px16'>Участники</h2>
                            <div class="users">
                                {% for user in course.students|get_objects %}
                                <div class="user row g8 items-center">
                                    <img src="{{ user.image.url }}" class='user__img avatar'/>
                                    <div class="user__info column">
                                        <p class='user__name'>
                                            {{ user.surname }}
                                            {{ user.name }}
                                        </p>
                                        <p class='user__type'>{{ user.permission }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
        
        <!-- Новости -->
        <section id='news' class='column g24'>

            <div class='row g24'>
                <h1>Новости</h1>
                <button class='primaryButton' onclick="open_form('#news-form')">Добавить новость</button>
            </div>

            <!-- Блок новостей -->
            <div id='news__container' class='newsContainer flex g16'>
                <!-- Спавн новсотей :\ -->
            </div>
            
            <button onclick="getNewNews()" id="more-news" class='primaryButton' style='margin: 0 auto'>Больше новостей</button>
            {% include "NewsApp/NewsCreationForm/index.html" with form_status="create" %}
        </section>
    </section>
    
    <div class="alertsContainer column" id='alertsContainer'></div>
    {% include "SystemModule/ScriptsSetup/index.html" with user=user %}
    
    <script src="{% static 'NewsApp/MainPage/scripts.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'NewsApp/Core/scripts.js' %}"></script>
    <script>AOS.init({ offset: -9999999 })</script>
    
    <script>
        const all_news = {{ max_news }};
        const news_per_page_num = 6;
        
        function getNewNews(){
            $.ajax({
                type: 'GET',
                url: `{% url "send_news" user.id %}?page=${page}`,
                cache: false,
                success: function(response){
                    $('#news__container').append(response);
                    if(page * news_per_page_num >= all_news){  // Проверка наличия еще страниц пагинации
                        $('#more-news')[0].style.display = 'none';
                    }
                    page++
                }
            })
        }
    </script>

    <script>
        $('#news-upload').on('click', function(){
            $('#news-upload')[0].disabled = true;
            sendOrUpdateNews(getNewsFormData(), $('#news-upload')[0]);
        })
    </script>
</body>
</html>