{% load static %}
{% load base_tags %}
{% load news_tags %}

<div id="scheduleWidget">

    <div class='courseList column scrollbar'>
        {% for course in courses %}

        <div class='course row g16'>
            <img src="{{ course.type.image.url }}" class='course__illustration'/>
            <div class="course__info column g4">
                <p class='course__title'>{{ course }}</p>
                <p class='course__teacher'>
                    {{ course.teacher.surname }} 
                    {{ course.teacher.name|slice:"1" }}.
                </p>
            </div>
            <div class="row g4" style='margin-left: auto'>
                {% with 'Пн Вт Ср Чт Пт Сб Вс' as week_days %}

                    {% for week_day in week_days.split %}

                        {% with shedule=course|get_active_shedule:week_day %}

                            {% if shedule %}
                            <div class="lesson column">
                                <p class="lesson__day">{{ week_day }}</p>
                                <p class='lesson__time'>{{ shedule.time|date:"G:i" }}</p>
                            </div>
                            {% else %}
                            <div class="lesson column inactive">
                                <p class="lesson__day">{{ week_day }}</p>
                            </div>
                            {% endif %}
                
                        {% endwith %}

                    {% endfor %}

                {% endwith %}
            </div>
            <svg viewBox="0 0 256 512">
                <path d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path>
            </svg>
        </div>
        {% endfor %}
    </div>

    {% for course in courses %}
    <div class='form'>
        <div class="form-wrapper">
            <form>
                <div class='course row g16'>
                    <img src="{{ course.type.image.url }}" class='course__illustration'/>
                    <div class="course__info column g4">
                        <p class='course__title'>{{ course }}</p>
                        <p class='course__teacher'>
                            {{ course.teacher.surname }} 
                            {{ course.teacher.name|slice:"1" }}.
                            {{ course.teacher.patronymic|slice:"1" }}.
                        </p>
                    </div>
                    <div class="row g4" style='margin-left: auto'>
                        {% with 'Пн Вт Ср Чт Пт Сб Вс' as week_days %}

                            {% for week_day in week_days.split %}

                                {% with shedule=course|get_active_shedule:week_day %}

                                    {% if shedule %}
                                    <div class="lesson column">
                                        <p class="lesson__day">{{ week_day }}</p>
                                        <p class='lesson__time'>{{ shedule.time|date:"G:i" }}</p>
                                    </div>
                                    {% else %}
                                    <div class="lesson column inactive">
                                        <p class="lesson__day">{{ week_day }}</p>
                                    </div>
                                    {% endif %}
                        
                                {% endwith %}

                            {% endfor %}

                        {% endwith %}
                    </div>
                </div>

                <h2 class='px16'>Участники</h2>
                <div class="users">
                    {% for user in course.students|get_objects %}

                        <div class="user row g8 items-center">
                            <img src="{{ user.image.url }}" class='user__img avatar'/>
                            <div class="user__info column">
                                <p class='user__name'>
                                    {{ user.surname }} {{ user.name }}
                                </p>
                                <p class='user__type'>{{ user.permission }}</p>
                            </div>
                        </div>
                        
                    {% endfor %}
                    
                </div>
            </form>
        </div>
    </div>

    {% endfor %}
</div>    