{% load static %}
{% load base_tags %}
{% load news_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% include "SystemModule/HeadSetup/index.html" %}
    <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="{% static 'NewsApp/NewsView/style.css' %}">
    <link rel="stylesheet" href='{% static "SystemModule/text/highlight.css" %}'>
    <link rel="stylesheet" href='{% static "SystemModule/text/ql-editor.css" %}'>
    <link rel='stylesheet' href='{% static "SystemModule/icons/files/file-icons.css" %}'/>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous"> <!-- Стили для отображения формул -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ news.title }}</title>
</head>

<body>
    <!-- Навигационное меню -->
    {% include "SystemModule/AsideMenu/index.html" with user=user active='main_page' %}
    <div class="mainContainer">
        <!-- Главная -->
        <section class="newsView">

            <!-- Кнопки -->
            <div class="row g8">
                <button class="primaryButton" onclick="location.href='{% url "main_page" user.id %}'">
                    <svg viewBox="0 0 14 14" style='transform: rotate(180deg)'>
                        <g transform="translate(-5 -5)">
                            <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                            <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                        </g>
                    </svg>
                    Назад
                </button>
                {% if news.author == user %}
                <button class="secondaryButton" onclick="open_form('#news-form')">
                    <svg viewBox="0 0 576 512">
                        <path d="M564.6 60.2l-48.8-48.8a39.11 39.11 0 0 0-55.2 0l-35.4 35.4a9.78 9.78 0 0 0 0 13.8l90.2 90.2a9.78 9.78 0 0 0 13.8 0l35.4-35.4a39.11 39.11 0 0 0 0-55.2zM427.5 297.6l-40 40a12.3 12.3 0 0 0-3.5 8.5v101.8H64v-320h229.8a12.3 12.3 0 0 0 8.5-3.5l40-40a12 12 0 0 0-8.5-20.5H48a48 48 0 0 0-48 48v352a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48V306.1a12 12 0 0 0-20.5-8.5z" opacity='0.6'></path>
                        <path d="M492.8 173.3a9.78 9.78 0 0 1 0 13.8L274.4 405.5l-92.8 10.3a19.45 19.45 0 0 1-21.5-21.5l10.3-92.8L388.8 83.1a9.78 9.78 0 0 1 13.8 0z"></path>
                    </svg>
                    Редактировать
                </button>
                <button class="dangerButton" style='margin-left: auto' onclick="delNewsItem(this)">
                    <svg viewBox="0 0 448 512">
                        <path d="M53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 96H32zm47.18-221.47l84-81.59c8.84-8.59 23.61-2.24" opacity='0.6'></path>
                        <path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM208"></path>
                    </svg>
                    Удалить новость
                </button>
                {% endif %}
            </div>

            {% if news.files|get_objects|is_files_image %}
            <!-- Галерея новости -->
            <div id="newsView__Carousel" class="carousel">
                <div class="carousel__slide" style="background-image: url('{{ news.image.url }}')"></div>
                {% for file in news.files|get_objects %}
                    {% if file|is_image %}
                    <div class="carousel__slide" style="background-image: url('{{ file.file.url }}')"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <!-- Если есть только одно изображение -->
            <div class="newsView__preview">
                <img src="{{ news.image.url }}">
            </div>
            {% endif %}

            <!-- Информация новости -->
            <div class="newsView__info">

                <p class="newsView__infoTitle">{{ news.title }}</p>
                <div class="row">
                    <p class="newsView__infoAuthor">{{ news.author.surname }} {{ news.author.name|slice:"1" }}.</p>
                    <div class="dot"></div>
                    <p class="newsView__infoDate">{{ news.date|date:"j.m.Y" }}</p>
                </div>

                <hr class="divider" noshade/>

                <!-- Текст новости -->          
                <div class="ql-snow">
                    <div class="ql-editor">
                        <p class="newsView__infoText">{{ news.content|safe }}</p>
                    </div>
                </div>
                {% if news.files|get_objects|length != 0 %}
                <hr class="divider" noshade/>
                <!-- Файлы -->
                <div class='files'>
                    {% include "SystemModule/FileView/index.html" with files=news.files %}
                </div>
                {% endif %}
            </div>
        </section>
    </div>
    <!-- Форма редактирования новости -->
    {% include "NewsApp/NewsCreationForm/index.html" with form_status="update" news=news %}

    <div class="alertsContainer column" id='alertsContainer'></div>
    {% include "SystemModule/ScriptsSetup/index.html" with user=user %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <script>
        const myCarousel = new Carousel(document.querySelector("#newsView__Carousel"), { Dots: false, 'infinite' : false });
    </script>
    <script src="{% static 'NewsApp/NewsView/scripts.js' %}"></script>
    <script src="{% static 'NewsApp/Core/scripts.js' %}"></script>
    <script>
        window.onload = function(){
            old_files = [
                {% for file in news.files|get_objects %}
                {'name': '{{ file|get_file_name }}', 'id': '{{ file.id }}', 'size': '{{ file.file.size }}'},
                {% endfor %}
            ]
            
            addNewsPreview({'name': '{{ news.image|get_file_name }}', 'size': '{{ news.image.size }}'})
            for(let i = 0; i < old_files.length; i++){
                addNewFile(old_files[i], old_files, "#file-container")
            }
        }
    </script>
    <script>
        // Отправка формы новости на сервер
        $('#news-upload').on('click', function(){
            let news_form = getNewsFormData();

            for(let i = 0; i < old_files.length; i++){ // Перебор старых файлов
                news_form.append('files', old_files[i].id) // Добавление старых файла в форму
            }
            sendOrUpdateNews(news_form);
        });
    </script>
    <script>
        function delConfirm(){
            $.ajax({
                type: 'POST',
                url: '{% url "delete_news" user.id news.id %}',
                data:{
                    'confirm': true,
                    'csrfmiddlewaretoken': getCookie('csrftoken'),
                },
                cache: false,
                success: function(response){
                    location.href = '{% url "main_page" user.id %}'
                }
            })
        }
    </script>
</body>
</html>