i[class^="file-"]:before, i[class*=" file-"]:before{
    width: 24px; height: 24px;
    background-size: cover;
    display: block;
}

/* Archive */
.file-zip:before, .file-rar:before, .file-7z:before, .file-jar:before, .file-gz:before{
    content: "";
    background-image: url('./svg/archive.svg');
}
/* Python */
.file-py:before, .file-pyw:before, .file-pyc:before, .file-pyd:before, .file-pyo:before, .file-pyz:before, .file-pyi:before{
    content: "";
    background-image: url('./svg/python.svg');
}
/* Video */
.file-mp4:before, .file-avi:before, .file-mov:before, .file-wmv:before, .file-mkv:before{
    content: "";
    background-image: url('./svg/youtube.svg');
}
/* Audio */
.file-mp3:before, .file-waf:before, .file-aif:before, .file-mid:before{
    content: "";
    background-image: url('./svg/music-note.svg');
}
/* Excel */
.file-xls:before, .file-xlsx:before, .file-csv:before, .file-xml:before{
    content: "";
    background-image: url('./svg/excel.svg');
}
/* Word */
.file-doc:before, .file-docm:before, .file-docx:before{
    content: "";
    background-image: url('./svg/word.svg');
}
/* Powerpoint */
.file-pptx:before{
    content: "";
    background-image: url('./svg/powerpoint.svg');
}
/* PDF */
.file-pdf:before{
    content: "";
    background-image: url('./svg/pdf.svg');
}
/* Java */
.file-java:before, .file-class:before, .file-jar:before, .file-jad:before, .file-jmod:before{
    content: "";
    background-image: url('./svg/java.svg');
}
/* C# */
.file-csx:before, .file-cs:before{
    content: "";
    background-image: url('./svg/C sharp.svg');
}
/* C++ */
.file-cc:before, .file-cpp:before, .file-cxx:before, .file-c:before, .file-h:before, .file-hpp:before, .file-hxx:before{
    content: "";
    background-image: url('./svg/C++.svg');
}
/* Image */
.file-jpeg:before, .file-jpg:before, .file-png:before, .file-gif:before, .file-webp:before, .file-bmp:before, .file-svg:before, .file-tiff:before{
    content: "";
    background-image: url('./svg/picture.svg');
}

.file-student:before{
    content: "";
    background-image: url('./svg/student.png');
}