{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'SystemModule/scripts.js' %}"></script>
<script>
    function themeChange(theme, color){
        $.ajax({
            type: 'POST',
            url: '{% url "change_theme" user.id %}',
            data: {
                theme: theme,
                color: color,
                csrfmiddlewaretoken: getCookie('csrftoken')
            },
            cache: false
        })
    }
</script>
