.profileCard{
    background: var(--illustration);
    background-size: cover;
    width: 24rem; height: 100%; 
    border-radius: 1rem;
    padding: 1.5rem;
    position: relative;
    display: flex; flex-direction: column; gap: 1rem;
    min-width: 24rem;
    overflow: hidden;
}
.profileCard__profile{
    display: flex; flex-direction: column;
    gap: 1rem;
    position: relative;
}
.profileCard__imgBox{
    width: 6rem; height: 6rem;
    min-height: 6rem;
    position: relative;
    overflow: hidden;
    border-radius: 4rem;
    cursor: pointer;
}
.profileCard__imgBox:hover svg{
    opacity: 1;
}
.profileCard__imgBox svg{
    position: absolute; top: 0; left: 0;
    width: 6rem; height: 6rem;
    padding: 2rem;
    fill: #eee;
    background-color: #0008;
    transition: opacity 0.2s;
    opacity: 0;
}
.profileCard__profileImg{
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
}

.profileCard__profileName{
    font-size: 1.5rem; font-weight: 500;
    color: #eee;
}
.profileCard__profileRole{
    font-size: 1rem; font-weight: 400;
    color: #eee;
}
.profileCard__description{
    color: #eee;
}

.tag__group{
    display: flex; flex-wrap: wrap; gap: 0.5rem;
}
.tag__groupName{
    font-size: 1.25rem;
    font-weight: 500;
    color: #eee;
}
.tag{
    display: flex; flex-direction: row; gap: 0.5rem; align-items: center;
    height: 2.5rem;
    background-color: var(--item-bg-color);
    padding: 0 1rem;
    border-radius: 0.75rem;
}
.tag:hover{
    background-color: var(--theme-light-alpha);
}
.tag p{
    margin-top: 2px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
.tag svg{
    width: 1.25rem; height: 1.25rem;
    fill: var(--text-primary-color);
}

.profileCard .primaryButton{
    background-color: unset;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    height: 3rem;
    margin-top: auto;
}
.profileCard .primaryButton p{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.profileCard .primaryButton svg{
    margin-left: auto;
    fill: #fff;
}
.profileCard .primaryButton:hover{
    background-color: var(--theme-light-alpha);
}
.profileCard .primaryButton:hover p{
    color: var(--text-primary-color);
}
.profileCard .primaryButton:hover svg{
    fill: var(--text-primary-color);
}


.profileContent{
    width: calc(100% - 24rem - 1.5rem);
    height: 100%;
    overflow: auto;
}

.profile__tab{
    display: none;
}
.profile__tab.active{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.galleryBox{
    column-count: 5;
}
.galleryBox img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    overflow: auto;
}
@media screen and (max-width: 1280px){
    .galleryBox{
        column-count: 4;
    }
}
@media screen and (max-width: 992px){
    .galleryBox{
        column-count: 3;
    }
}
@media screen and (max-width: 768px){
    .galleryBox{
        column-count: 2;
    }
}
@media screen and (max-width: 576px){
    .galleryBox{
        column-count: 1;
    }
}


/* Данные учетной записи */
.profile__data{
    display: flex; flex-direction: column; gap: 1rem;
}
.profile__data input{
    width: 24rem; height: 3rem;
    font-size: 1.125rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background-color: var(--item-bg-color);
    color: var(--text-primary-color);
}


/* Адаптивность */
@media screen and (max-width: 1036px){
    .mainContainer{
        display: flex; flex-direction: column;
        padding: 1.5rem;
        padding-bottom: 6rem;
        height: auto; min-height: 100%;
    }
    .profileCard{
        width: 100%;
        gap: 1.5rem;
    }
    .profileCard__profile{
        width: 100%;
        flex-direction: row; align-items: center; gap: 1.5rem;
    }
    .profileCard__imgBox{
        height: 4rem; width: 4rem;
        min-height: 4rem;
    }
    .profileCard__imgBox svg{
        height: 4rem; width: 4rem;
        padding: 1.25rem;
    }
    .tag__groupName{
        margin-bottom: -0.75rem;
    }

    .profileCard .primaryButton{
        position: absolute; right: 1rem; top: 1.5rem;
        width: 3rem;
        border-radius: 1.5rem;
        background-color: var(--theme-light-alpha);
    }
    .profileCard .primaryButton svg{
        fill: var(--text-primary-color);
    }
    .profileCard .primaryButton:hover svg{
        fill: var(--currentColor);
    }
    .profileCard .primaryButton p{
        display: none;
    }

    .profileContent{
        width: 100%;
    }
}


/* Вкладка "Проектная деятельность" */
.projects{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project{
    width: 100%; height: 16rem;
    display: flex; flex-direction: row; gap: 1.5rem;
    background-color: var(--item-bg-color);
    border-radius:  0.5rem;
    overflow: hidden;
    padding: 1.5rem;
    border: var(--theme-light) solid 1px;
    transform: scale(1);
    transition: transform .2s;
    scroll-behavior: smooth;
}
.project:hover{
    transform: scale(1.01);
}
.project__illustration{
    height: 13rem; width: 23rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.project__content{
    width: calc(100% - 23rem);
    display: flex; flex-direction: column; gap: 0.75rem;
}
.project__title{
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--text-primary-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.project__description{
    margin-top: -0.5rem;
    line-height: 1.5;
    font-size: 1.125rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.members{
    display: flex; flex-direction: row; align-items: center;
    height: 2.5rem;
}
.member .avatar{
    margin-right: -0.5rem;
    border: var(--item-bg-color) solid 2px;
}

.project__info{
    margin-top: auto;
    width: 100%; height: 4rem;
    display: flex; flex-direction: row; gap: 6rem;
}
.project__info p{
    font-weight: 500;
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project__info .column{
    position: relative;
}
.project__info .column:not(:first-of-type)::before{
    content: "";
    width: 0.125rem; height: 2rem;
    position: absolute; top: 1rem; left: -1.5rem;
    background-color: var(--theme-light-alpha);
}
.project .tag{
    height: 2rem; line-height: 2rem;
    width: max-content;
    margin: 0.25rem 0;
    padding: 0 1rem;
    border-radius: 1rem;
    font-size: 1.125rem; font-weight: 500;
    color: var(--currentColor);
    background-color: var(--bgColor);
}

@media screen and (max-width: 1400px){
    .project__info{
        gap: 3rem;
    }
}
@media screen and (max-width: 1200px){
    .project__info{
        gap: 1.5rem;
    }
    .project__info .column::before{
        display: none;
    }
}
@media screen and (max-width: 992px){
    .project{
        flex-direction: column;
        height: auto;
    }
    .project__illustration{
        width: 100%;
    }
    .project__content{
        width: 100%;
    }
    .project{
        padding: 1rem;
    }
    .project__info{
        flex-direction: unset;
        flex-wrap: wrap;
        height: auto;
    }
}



.table{
    overflow-x: auto;
    overflow-y: hidden;
}
.tableRow{
    width: 100%;  height: 2.5rem;
    background-color: var(--item-bg-color);
    display: flex; flex-direction: row; gap: 1.5rem;
    align-items: center;
    padding: 0 0.5rem 0 1.5rem;
    border: var(--theme-light) solid 1px;
    margin-bottom: -1px;
}
.tableRow:first-of-type{
    border-radius: 0.25rem 0.25rem 0 0;
}
.tableRow:last-of-type{
    border-radius: 0 0 0.25rem 0.25rem;
}
.light__theme .tableRow:hover{
    background-color: var(--theme-light);
}
.dark__theme .tableRow:hover{
    background-color: var(--aside-bg-color);
}
.tableRow > p{
    width: 16rem;
}
.tableCell{
    width: calc(100% - 16rem);
    overflow: hidden;
    display: flex; flex-direction: row; gap: 0.5rem;
    align-items: center;
}
.tableCell p{
    width: calc(100% - 1.5rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.25rem 0;
    border-radius: 0.25rem;
}
.dark__theme .tableCell p{
    color: var(--text-primary-color);
}
.tableCell:hover p{
    text-decoration: underline;
    color: var(--currentColor);
}
.tableCell svg{
    width: 1rem; height: 1rem;
    fill: var(--text-universal-color);
}
.tableCell:hover svg{
    fill: var(--currentColor);
}
.tableCell input{
    height: 2rem; width: calc(100% - 1.5rem);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--theme-light);
    color: var(--text-primary-color);
    font-size: 1.125rem;
}

@media screen and (max-width: 576px){
    .tableRow{
        flex-direction: column; gap: 0;
        height: 4.5rem;
    }
    .tableRow > p{
        width: 100%;
        line-height: 2.25rem;
    }
    .tableCell{
        width: 100%;
    }
}


/* Вкладка "Статистика" */
.statisticsCards{
    width: 100%;
    overflow: auto;
    display: flex; flex-direction: row; gap: 1rem;
    padding: 0.5rem;
}
.statisticsCard{
    min-width: 20rem; max-width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: var(--item-bg-color);
    padding: 1.25rem;
    display: flex; flex-direction: column; gap: 1rem;
    border: var(--theme-light) solid 1px;
    transition: transform .1s;
}
.statisticsCard:hover{
    transform: scale(1.02);
}
.light__theme .statisticsCard:hover{
    box-shadow: 0 0 0.5rem var(--theme-light);
}
.statisticsCard__illustration{
    width: 4rem; height: 4rem;
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: var(--theme-light);
    fill: var(--currentColor);
}
img.statisticsCard__illustration{
    padding: 0;
    object-fit: cover;
    object-position: center;
}
.statisticsCard__title{
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
.statisticsCard__points{
    display: flex; flex-direction: column; gap: 0.5rem;
    margin-top: auto;
}
.statisticsCard__point{
    width: 100%; height: 2.5rem;
    display: flex; justify-content: space-between; align-items: center;
    background-color: var(--theme-light);
    border-radius: 0.5rem;
    padding: 0 0.75rem 0.25rem;
    position: relative;
    overflow: hidden;
}

.statisticsCard__point p{
    color: var(--currentColor);
}
.statisticsCard__point .scale,
.statisticsCard__point .subscale{
    position: absolute; left: 0; bottom: 0;
    height: 0.175rem;
    border-radius: 0;
}