<h3>Группа</h3>
<div class="filtering" style="width: 12rem">
    <div class="dropdownSelect">
        <div class="dropdownSelect__trigger">
            <div>Все</div>
            <div class="arrowDown"></div>
        </div>
        <div class="dropdownSelect__options" >
            <span class='dropdownSelect__option selected' onclick="filterApplying(substr='', select=$('#studentsTable'), option='.tableRow', parameter='.groups p')">Все</span>
            {% for group in groups %}
            <span class='dropdownSelect__option' onclick="filterApplying(substr=$(this).text(), select=$('#studentsTable'), option='.tableRow', parameter='.groups p')">{{ group }}</span>
            {% endfor %}
        </div>
    </div>
</div>


