{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    {% include "CoreApp/HeadSetup/index.html" %}
    <link rel="stylesheet" href='{% static "JournalApp/ShedulePage/style.css" %}'> <!-- Стили страницы -->

    <title>Курсы</title>
</head>

<body>
    {% include "CoreApp/AsideMenu/index.html" with user=user active='diary_page' %}
    
    <div class="mainContainer column">

        <header class="header flex space-between">
            <h1>Курсы</h1>
            <div class="menu">
                <button class="menu__button" onclick="location.href = `{% url 'journal_page' %}`">
                    <svg viewBox="0 0 512 512">
                        <path d="M448 32C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM224 256V160H64V256H224zM64 320V416H224V320H64zM288 416H448V320H288V416zM448 256V160H288V256H448z"/>
                    </svg>
                    <p>Журнал</p>
                </button>
                <button class="menu__button active" onclick="location.href = `{% url 'shedule_page' %}`">
                    <svg viewBox="0 0 448 512">
                        <path d="M160 32V64H288V32C288 14.33 302.3 0 320 0C337.7 0 352 14.33 352 32V64H400C426.5 64 448 85.49 448 112V160H0V112C0 85.49 21.49 64 48 64H96V32C96 14.33 110.3 0 128 0C145.7 0 160 14.33 160 32zM0 192H448V464C448 490.5 426.5 512 400 512H48C21.49 512 0 490.5 0 464V192zM80 256C71.16 256 64 263.2 64 272V336C64 344.8 71.16 352 80 352H368C376.8 352 384 344.8 384 336V272C384 263.2 376.8 256 368 256H80z"/>
                    </svg>
                    <p>Расписание</p>
                </button>
            </div>
        </header>

        <div class="filteringList">
            <div class="filtering" style="width: 16rem">
                <div class="dropdownSelect" id="groupSelect">
                    <h3 class="py8">Учитель</h3>
                    <div class="dropdownSelect__trigger">
                        <div>
                            Все
                        </div>
                        <div class="arrowDown"></div>
                    </div>
                    <div class="dropdownSelect__options" id='choise'>
                        <span class='dropdownSelect__option' value='all'>Все</span>

                        {% for teacher in teachers %}
                        <span class='dropdownSelect__option' value={{ teacher.id }}>
                            {{ teacher.surname }} {{ teacher.name }} {{ teacher.patronymic }}
                        </span>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <button class="secondaryButton" style="margin-top: auto" onclick="getShedule()">
                <svg viewBox="0 0 512 512">
                    <path d="M448 32C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM224 256V160H64V256H224zM64 320V416H224V320H64zM288 416H448V320H288V416zM448 256V160H288V256H448z"/>
                </svg>
                Построить таблицу
            </button>
        </div>
        
        <div class="schedule" id="shedule">

        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    <script src="{% static 'CoreApp/drop/dropdownSelect.js' %}"></script> <!-- Выпадающие меню -->

    <script>
        // Сохранение последних параметров
        $(window).ready(() => {
            const teacherVal = localStorage.getItem('teacher') || 'Не выбрано';
            
            const groupSelect = $('#groupSelect .dropdownSelect__options')[0];
            for (let i = 0; i < groupSelect.children.length; i++) {
                if($(groupSelect.children[i]).attr('value') == teacherVal){
                    $(groupSelect.children[i]).addClass('selected')
                    $('#groupSelect .dropdownSelect__trigger div')[0].textContent = $(groupSelect.children[i]).text()
                }
            }
            getShedule();
        });
        $('#groupSelect .dropdownSelect__option').click(function() {
            localStorage.setItem('teacher', $(this).attr('value'));
        });
    </script>

    <script>
        function getShedule(){
            $.ajax({
                type: 'GET',
                url: '{% url "shedule_view" %}',
                data:{
                    'shedule_choise': $('#choise .selected').attr('value'),
                },
                cache: false,
                success: function(response){
                    $('#shedule').html(response)
                }
            })
        }
    </script>
</body>

</html>