{% load static %}
{% load admin_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    
    {% include "CoreApp/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href='{% static "AdminApp/style.css" %}'> <!-- Стили страницы -->
    
    <title>Поиск</title>
</head>

<body>

    {% include "CoreApp/AsideMenu/index.html" with user=user active='admin_page' %}

    <main class="mainContainer">
        {% include "AdminApp/HeadMenu/index.html" with active='subjects' %}

        <section class="Tab active">

            <nav>
                <div class="column g8">
                    <h3>Поиск по Направлениям</h3>
                    <input type="text" placeholder="Введите Направление">
                </div>
                <div class="column g8">
                    <h3>Добавление</h3>
                    <button class="secondaryButton" onclick="open_form('#createDirection')">
                        Добавить направление
                    </button>
                </div>
            </nav>

            <div class="row">
                <button class="danger combinedButton" title="Удалить выбранные направления">
                    <svg viewBox="0 0 448 512">
                        <path d="M53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 96H32zm47.18-221.47l84-81.59c8.84-8.59 23.61-2.24" opacity='0.6'></path>
                        <path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM208"></path>
                    </svg>
                </button>
            </div>

            <div class="table scrollbarX">
                <div class="tableHeader">
                    <input type="checkbox" title='Выбрать все' onchange="$('.tableRow input[type=checkbox]').prop('checked', $(this).prop('checked'));">
                    <p style="width: 20rem">Направление</p>
                    <p style="width: 12rem">Количество групп</p>
                    <p style="width: 12rem">Количество учеников</p>
                </div>

                {% for subject in subjects %}
                <div class="tableRow">
                    <input type="checkbox">
                    <div class="tableUser row g8">
                        <img src="{{ subject.image.url }}" class="tableUser__avatar avatar">
                        <div class='column'>
                            <p class="tableUser__name">{{ subject.name }}</p>
                            <p class="tableUser__role">Направление</p>
                        </div>
                    </div>
                    <div class="tableCell number">
                        <h3>{{ subject|course_count }}</h3>
                    </div>
                    <div class="tableCell number">
                        <h3>{{ subject|student_count }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>

        </section>

    </main>


    <!-- Форма создания направления -->
    <div class='modal' id='createDirection'>
        <div class="modal__viewport" style="width: 48rem">
            <form class="modal__content">
                <div class='modal__block'>
                    <h1 class="modal__title">Создание направления</h1>
                    <button class='secondaryButton' type="submit">
                        <svg viewBox="0 0 24 24">
                            <circle cx="12" cy="14" r="2" opacity='0.6'/>
                            <path d="M22.536,4.122,19.878,1.464A4.99,4.99,0,0,0,19,.775V3a5.006,5.006,0,0,1-5,5H10A5.006,5.006,0,0,1,5,3V0A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V7.657A4.966,4.966,0,0,0,22.536,4.122ZM12,18a4,4,0,1,1,4-4A4,4,0,0,1,12,18Z"/>
                            <path opacity='0.6' d="M10,6h4a3,3,0,0,0,3-3V.064A5.128,5.128,0,0,0,16.343,0H7V3A3,3,0,0,0,10,6Z"/>
                        </svg>    
                        Сохранить
                    </button>
                </div>

                <h3>Название</h3>
                <input class='text-field text-field-title' autocomplete="off" type='text'/>

                <h3>Изображение</h3>
                <button class='secondaryButton' type="button">
                    <svg width="15.999" height="14.667" viewBox="0 0 15.999 14.667">
                        <g transform="translate(-8.001 -9.667)">     
                            <path opacity='0.3' d="M12.167,21.333a2.5,2.5,0,0,1-2.362-1.7l-.023-.077a2.449,2.449,0,0,1-.116-.723V14.287l-1.616,5.4a1.514,1.514,0,0,0,1.061,1.837L19.42,24.285a1.5,1.5,0,0,0,1.823-1.041l.6-1.91H12.167Z"/>
                            <path opacity='0.3' d="M14,14.333A1.333,1.333,0,1,0,12.667,13,1.335,1.335,0,0,0,14,14.333Z"/>
                            <path d="M22.333,9.667h-10a1.669,1.669,0,0,0-1.667,1.667v7.333a1.669,1.669,0,0,0,1.667,1.667h10A1.669,1.669,0,0,0,24,18.667V11.334A1.668,1.668,0,0,0,22.333,9.667ZM12.333,11h10a.333.333,0,0,1,.333.333v4.733L20.56,13.609a1.194,1.194,0,0,0-.894-.41,1.165,1.165,0,0,0-.891.421L16.3,16.592l-.806-.806a1.171,1.171,0,0,0-1.654,0L12,17.626V11.333A.333.333,0,0,1,12.333,11Z"/>
                        </g>
                    </svg>
                    Выбрать изображение
                </button>
            </form>
        </div>
    </div>

    <div class="alertsContainer column" id='alertsContainer'>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    
    <script src="{% static 'CoreApp/text/options.js' %}"></script>
    <script src="{% static 'CoreApp/drop/dropdownSelect.js' %}"></script> <!-- Выпадающие меню -->

    <script>
        $(".tableCell p").attr('title', 'Скопировать');
        $(".tableCell p").on("click", function(){
            copytext($(this));
        });
    </script>

    <script>
        $('#teacherSelect .userSelect__user').click( function() {
            if ($(this).parent().attr('id') == 'teacherSelect') {
                $('#selectedTeachers').append($(this));
                $('#teacherSearch').val('').focus();
                $('.userSelect').hide();
                $('#teacherSearch').hide();
            } else {
                $('#teacherSelect').append($(this));
                $('#teacherSearch').show();
            }
        });

        $('#studentSelect .userSelect__user').click( function() {
            if ($(this).parent().attr('id') == 'studentSelect') {
                $('#selectedStudents').append($(this));
                $('#studentSearch').val('').focus();
                $('.userSelect').hide();
            } else {
                $('#studentSelect').append($(this));
            }
        });
    </script>
</body>

</html>