{% load news_tags %}

{% load static %}
<div class='modal' id='newNewsItemForm'>
    <div class="modal__viewport">
        <form class="modal__content" autocomplete="off">
            <div class='modal__block'>
                
                {% if form_status == "update" %}
                <h1 class="modal__title">Редактирование новости</h1>
                {% else %}
                <h1 class="modal__title">Создание Новости</h1>
                {% endif %}
                
                <div class="row g8" id="formButtons">
                    <button class='secondaryButton' type="button" onclick="openFileDialog('#preview-input')"  id='news-preview'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="14.667" viewBox="0 0 15.999 14.667">
                            <g transform="translate(-8.001 -9.667)">     
                                <path opacity='0.3' d="M12.167,21.333a2.5,2.5,0,0,1-2.362-1.7l-.023-.077a2.449,2.449,0,0,1-.116-.723V14.287l-1.616,5.4a1.514,1.514,0,0,0,1.061,1.837L19.42,24.285a1.5,1.5,0,0,0,1.823-1.041l.6-1.91H12.167Z"/>
                                <path d="M14,14.333A1.333,1.333,0,1,0,12.667,13,1.335,1.335,0,0,0,14,14.333Z"/>
                                <path d="M22.333,9.667h-10a1.669,1.669,0,0,0-1.667,1.667v7.333a1.669,1.669,0,0,0,1.667,1.667h10A1.669,1.669,0,0,0,24,18.667V11.334A1.668,1.668,0,0,0,22.333,9.667ZM12.333,11h10a.333.333,0,0,1,.333.333v4.733L20.56,13.609a1.194,1.194,0,0,0-.894-.41,1.165,1.165,0,0,0-.891.421L16.3,16.592l-.806-.806a1.171,1.171,0,0,0-1.654,0L12,17.626V11.333A.333.333,0,0,1,12.333,11Z"/>
                            </g>
                        </svg>
                        Добавить обложку
                    </button>
                    <input id="preview-input" type="file" style="display: none;" onchange="addNewsPreviewHandler(event)" accept="image/*"/>

                    
                    {% if form_status == 'update' %}
                    <button class='secondaryButton' onclick="sendInstanceData(getUpdateFormData(), `{% url 'update_news' news.id %}`, this)" type="button">
                        <svg viewBox="0 0 24 24">
                            <path d="M10,17H7.329a2.978,2.978,0,0,1-2.122-.879L.052,10.966C.023,11.308,0,11.651,0,12A12.009,12.009,0,0,0,11,23.949V18A1,1,0,0,0,10,17Z"/>
                            <path d="M20.436,3.478l-1.79,1.79A2.516,2.516,0,0,1,16.879,6H15.5a.5.5,0,0,0-.5.5v1A2.5,2.5,0,0,1,12.5,10a.5.5,0,0,0-.5.5V11a1,1,0,0,0,1,1h3a3,3,0,0,1,3,3v.962a.5.5,0,0,0,.146.353l2.625,2.626A11.949,11.949,0,0,0,20.436,3.478Z"/>
                            <path opacity='0.6' d="M17,15.962V15a1,1,0,0,0-1-1H13a3,3,0,0,1-3-3v-.5A2.5,2.5,0,0,1,12.5,8a.5.5,0,0,0,.5-.5v-1A2.5,2.5,0,0,1,15.5,4h1.379a.507.507,0,0,0,.353-.146l1.661-1.661A11.974,11.974,0,0,0,.5,8.587l6.12,6.12A1,1,0,0,0,7.329,15H10a3,3,0,0,1,3,3v5.949a11.962,11.962,0,0,0,7.483-3.469l-2.751-2.751A2.516,2.516,0,0,1,17,15.962Z"/>
                        </svg>
                        Опубликовать
                    </button>
                    {% else %}
                    <button class='secondaryButton' onclick="sendInstanceData(getNewsFormData(), `{% url 'create_news' %}`, this)">
                        <svg viewBox="0 0 24 24">
                            <path d="M10,17H7.329a2.978,2.978,0,0,1-2.122-.879L.052,10.966C.023,11.308,0,11.651,0,12A12.009,12.009,0,0,0,11,23.949V18A1,1,0,0,0,10,17Z"/>
                            <path d="M20.436,3.478l-1.79,1.79A2.516,2.516,0,0,1,16.879,6H15.5a.5.5,0,0,0-.5.5v1A2.5,2.5,0,0,1,12.5,10a.5.5,0,0,0-.5.5V11a1,1,0,0,0,1,1h3a3,3,0,0,1,3,3v.962a.5.5,0,0,0,.146.353l2.625,2.626A11.949,11.949,0,0,0,20.436,3.478Z"/>
                            <path opacity='0.6' d="M17,15.962V15a1,1,0,0,0-1-1H13a3,3,0,0,1-3-3v-.5A2.5,2.5,0,0,1,12.5,8a.5.5,0,0,0,.5-.5v-1A2.5,2.5,0,0,1,15.5,4h1.379a.507.507,0,0,0,.353-.146l1.661-1.661A11.974,11.974,0,0,0,.5,8.587l6.12,6.12A1,1,0,0,0,7.329,15H10a3,3,0,0,1,3,3v5.949a11.962,11.962,0,0,0,7.483-3.469l-2.751-2.751A2.516,2.516,0,0,1,17,15.962Z"/>
                        </svg>
                        Опубликовать
                    </button>
                    {% endif %}
                </div>
            </div>
            
            <h3>Заголовок</h3>
            {% if form_status == "update" %}
            <input id="news-title" class='text-field text-field-title' autocomplete="off" placeholder="Заголовок" value="{{ news.title }}"/>
            {% else %}
            <input id="news-title" class='text-field text-field-title' autocomplete="off" placeholder="Заголовок"/>
            {% endif %}
            
            <h3>Текст</h3>
            {% if form_status == "update" %}
            <div id="editor" class='text-field'>{{ news.content|safe }}</div>
            {% else %}
            <div id="editor" class='text-field'></div>
            {% endif %}
            
            <button class='secondaryButton' type="button" onclick="openFileDialog('#file-input')">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.666" height="16" viewBox="0 0 14.666 16">
                    <g transform="translate(-8.667 -8)">
                        <path opacity='0.3' d="M10.667,12.5a3.171,3.171,0,0,1,3.167-3.167h6.089A1.832,1.832,0,0,0,18.167,8H10.5A1.835,1.835,0,0,0,8.667,9.833V20.166A1.835,1.835,0,0,0,10.5,22h.167Z"/>
                        <path d="M21.5,10.667H13.833A1.835,1.835,0,0,0,12,12.5v9.667A1.835,1.835,0,0,0,13.833,24H21.5a1.835,1.835,0,0,0,1.833-1.833V12.5A1.835,1.835,0,0,0,21.5,10.667ZM20.167,22h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.333h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"/>
                    </g>
                </svg>
                Прикрепить файл
            </button>
            <input id="file-input" type="file" style="display: none;" onchange='addNewFileHandler(event)' multiple/>
            
            <div class='files' id='file-container'>
                <!-- Тут спавнять файлы -->
            </div>
        </form>
    </div>
</div>

<script>
    function getNewsFormData(){
        let news_form = new FormData();

        for(let i = 0; i < file_array.length; i++){ // Перебор файлов
            news_form.append('files', file_array[i]) // Добавление файла в форму
        }
        
        news_form.append('author', '{{ user.id }}')
        news_form.append('title', $('#news-title')[0].value) 
        news_form.append('csrfmiddlewaretoken', getCookie('csrftoken')) 
        news_form.append('content', $('#editor .ql-editor')[0].innerHTML)
        news_form.append('image', news_preview !== undefined ? news_preview : '')
        
        return news_form
    }
</script>
