.profilePage{
    display: flex; gap: 32px; flex-direction: column;
}
.profilePage__menu{
    display: flex; flex-direction: row; gap: 16px;
}
.profilePage__tab{
    display: none;
}
.profilePage__tab.active{
    display: flex;
}
.galleryBox{
    column-count: 5;
}
.galleryBox img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

@media screen and (max-width: 992px){
    .galleryBox{
        column-count: 4;
    }
}
@media screen and (max-width: 768px){
    .galleryBox{
        column-count: 3;
    }
}
@media screen and (max-width: 576px){
    .galleryBox{
        column-count: 2;
    }
}
