body{
    background: url('../../img/backgrounds/reg_bg.jpg');
    background-size: cover;
    width: 100vw; height: 100vh;
}

.registrationForm{
    width: 64rem; height: 48rem;
    padding: 1rem;
    background-color: #fff4;
    border-radius: 1.5rem;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    backdrop-filter: blur(8px);
}
.logo{
    width: 16rem;
    margin: 1rem;
}
.rightSide{
    width: 32rem; height: 46rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 4rem 4rem;
}
.rightSide h3{
    font-size: 1.125rem;
}
.input{
    width: 100%; height: 4rem;
    flex: none;
    border: #99a1a944 solid 0.125rem;
    border-radius: 0.5rem;
    transition: all .2s;
}
.input::placeholder{
    font-weight: normal;
    color: #99a1a9;
}

.firstStep{
    margin: auto 0;
}