{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'SystemModule/main.css' %}">
    <link rel="stylesheet" href="{% static 'SystemModule/icons/uicons-regular-rounded.css' %}">
    <link rel="shortcut icon" href="{% static 'SystemModule/imgs/favicon.png' %}" type="image/png">
    <!-- <style>
        @import url("{% static 'SystemModule/fonts/stylesheet.css' %}");
        @font-face {
        font-family: "uicons-regular-rounded";
            src: 
            url("{% static 'SystemModule/icons/uicons-regular-rounded.eot' %}#iefix") format("embedded-opentype"),
            url("{% static 'SystemModule/icons/uicons-regular-rounded.woff2' %}") format("woff2"),
            url("{% static 'SystemModule/icons/uicons-regular-rounded.woff' %}") format("woff");
        }
    </style> -->
</head>
