{% load static %}
{% load base_tags %}
{% load news_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    
    {% include "CoreApp/HeadSetup/index.html" %}
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href='{% static "NewsApp/MainPage/style.css" %}'> <!-- Стили страницы -->
    <link rel="stylesheet" href='{% static "CoreApp/text/ql-editor.css" %}'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/> <!-- Слайдер -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous"> <!-- Стили для отображения формул -->

    <title>Главная</title>
</head>

<body onload="getNewNews();">
    <!-- Навигационное меню -->
    {% include "CoreApp/AsideMenu/index.html" with user=user active='main_page' %}
    
    <section class="mainContainer column">

        <div class='row g24'>
            <h1>Главная</h1>
            {% if user.permission != 'Ученик' %}
            <button class='secondaryButton' onclick="open_form('#newEventForm')">Добавить событие</button>
            {% endif %}
        </div>

        <!-- Виджеты -->
        <section id='widgets' class='row g16'>

            <!-- Виджет "Календарь" -->
            
            <div id="eventsWidget">
                
                <div id="eventCarousel" class="carousel">
                    {% for event in events %}
                    <div class="carousel__slide event">
                        <img src="{{ event.image.url }}" class='event__banner'>
                        <div class="event__content column g16">
                            <p class="event__tag">Событие</p>
                            <h2 class="event__title">{{ event.title }}</h2>
                            <p class="event__text">{{ event.content|get_text }}</p>
                            <button class="event__button" onclick="location.href=`{% url 'detail_news' event.id %}`">Подробнее</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Виджет "Расписание" -->
            {% include "NewsApp/CourseShedule/index.html" with courses=courses %}  
        </section>
        
        <!-- Новости -->
        <section id='news' class='column g24'>

            <div class='row g24'>
                <h1>Новости</h1>
                {% if user.permission != 'Ученик' %}
                <button class='secondaryButton' onclick="open_form('#newNewsItemForm')">Добавить новость</button>
                {% endif %}
                <!-- <input type="text" class='newsSearch' placeholder="🔍︎"> -->
            </div>

            <!-- Блок новостей -->
            <div id='news__container' class='newsContainer'>
                <!-- Спавн новсотей :\ -->
            </div>
            
            <button onclick="getNewNews()" class='primaryButton' style='margin: 0 auto' id='more'>Больше новостей</button>
            {% include "NewsApp/NewsCreationForm/index.html" with form_status="create" %}
            {% include "NewsApp/EventCreationForm/index.html" %}
        </section>
    </section>
    
    <div class="alertsContainer column" id='alertsContainer'></div>
    
    <script src="{% static 'NewsApp/MainPage/scripts.js' %}"></script>
    <script src="{% static 'NewsApp/Core/scripts.js' %}"></script>
    <script src="{% static 'NewsApp/EventForm/scripts.js' %}"></script>
    
    <!-- Сама панель инструментов -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'CoreApp/text/options.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

    <script> initQuill('#event-editor') </script>
    
    <script>
        const news_per_page_num = 8;
        const all_news = parseInt('{{ max_news }}');
        
        function getNewNews(){
            $.ajax({
                type: 'GET',
                url: `{% url "send_news" %}`,
                data: {'page': page},
                cache: false,
                success: function(response){
                    $('#news__container').append(response);
                    if(page * news_per_page_num >= all_news)  // Проверка наличия еще страниц пагинации
                        $("#more")[0].style.display = 'none';
                    page++
                }
            })
        }
    </script>
    <script>
        const myCarousel = new Carousel(document.querySelector("#eventCarousel"), {
            Dots: true,
            infinite: true,
            friction: 0.9,
        });
        setInterval(() => myCarousel.slideTo(myCarousel.pageIndex + 1), 10000)
    </script>
</body>
</html>