{% load static %}
{% load base_tags %}
{% load journal_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    {% include "CoreApp/HeadSetup/index.html" %}

    <link rel="stylesheet" href='{% static "CoreApp/text/ql-editor.css" %}'>
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css" integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc" crossorigin="anonymous"> <!-- Стили для отображения формул -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link rel="stylesheet" href='{% static "JournalApp/CheckingPage/style.css" %}'> <!-- Стили страницы -->
    <title>Проверка {{ base.title }}</title>
</head>

<body>
    
    {% include "CoreApp/AsideMenu/index.html" with user=user active='diary_page' %}

    <div class="mainContainer column">

        <!-- Домашнее задание -->
        <header class="flex space-between items-center">
            <button class="combinedButton" onclick="location.href=`{% url 'journal_page' %}`">
                <svg viewBox="0 0 14 14" style='transform: rotate(180deg)'>
                    <g transform="translate(-5 -5)">
                        <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                        <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                    </g>
                </svg>
                <span>Назад</span>
            </button>
        </header>

        <div class="row g24">
            <div class="taskInfo column g12" style='width: 64%'>
                <div class="flex space-between items-center">
                    <h1>{{ base.title }}</h1>
                    
                    <div class="row g16">
                        <button class='secondaryButton' onclick="open_form('#taskForm')">
                            <svg viewBox="0 0 576 512">
                                <path opacity='0.6' d="M564.6 60.2l-48.8-48.8a39.11 39.11 0 0 0-55.2 0l-35.4 35.4a9.78 9.78 0 0 0 0 13.8l90.2 90.2a9.78 9.78 0 0 0 13.8 0l35.4-35.4a39.11 39.11 0 0 0 0-55.2zM427.5 297.6l-40 40a12.3 12.3 0 0 0-3.5 8.5v101.8H64v-320h229.8a12.3 12.3 0 0 0 8.5-3.5l40-40a12 12 0 0 0-8.5-20.5H48a48 48 0 0 0-48 48v352a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48V306.1a12 12 0 0 0-20.5-8.5z"></path>
                                <path d="M492.8 173.3a9.78 9.78 0 0 1 0 13.8L274.4 405.5l-92.8 10.3a19.45 19.45 0 0 1-21.5-21.5l10.3-92.8L388.8 83.1a9.78 9.78 0 0 1 13.8 0z"></path>
                            </svg>
                            Редактировать                       
                        </button>
                        {% if type == 'task' %}
                        <button class="dangerButton" onclick="open_form('#confirmDeletion')" title="Удалить">
                            <svg viewBox="0 0 448 512">
                                <path d="M53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 96H32zm47.18-221.47l84-81.59c8.84-8.59 23.61-2.24" opacity='0.6'></path>
                                <path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM208"></path>
                            </svg>
                            <!-- Удалить -->
                        </button>
                        {% endif %}
                    </div>
                </div>

                <div class="ql-snow">
                    <div class="ql-editor">
                        <p style="text-align: justify">{{ base.description|safe }}</p>
                    </div>
                </div>
                
                <div class='files'>
                    {% include "CoreApp/FileView/index.html" with files=base.files %}
                </div>
            </div>

            <div class="column g16" style='width: 36%'>
                <h2 class='py8'>Статистика</h2>

                <div class="flex space-between items-center">
                    
                    {% if type == 'lesson' %}
                    <h3 style='color: var(--currentColor)'>Посещаемость</h3>
                    {% else %}
                    <h3 style='color: var(--currentColor)'>Колличество работ</h3>
                    {% endif %}
                    
                    <h3 style='color: var(--currentColor)'>{{ first_stat }}</h3>
                </div>
                <div class='scale'>
                    <div class='subscale' style='--percent: {{ first_stat }}'></div>
                </div>
        
                <div class="flex space-between items-center">
                    
                    {% if type == 'lesson' %}
                    <h3 style='color: var(--currentColor)'>Колличество УП</h3>
                    {% else %}
                    <h3 style='color: var(--currentColor)'>Качество выполнения</h3>
                    {% endif %}

                    <h3 style='color: var(--currentColor)'>{{ second_stat }}</h3>
                </div>
                <div class='scale'>
                    <div class='subscale' style='--percent: {{ second_stat }}'></div>
                </div>
            </div>
        </div>

        {% if type == 'task' %}
        <h2>Список работ</h2>

        <table>
            <tr>
                <th style="width: 16rem">Ученики</th>
                <th>Домашняя работа</th>
                <th style="width: 16rem">Оценка</th>
            </tr>

            {% for student in students %}
            <tr>
                <td>
                    <div class="student row g8">
                        <img src="{{ student.image.url }}" class="avatar">
                        <div class='column'>
                            <p class="student__name">{{ student.surname }} {{ student.name }}</p>
                            <p class="student__role">{{ student.permission }}</p>
                        </div>
                    </div>
                </td>
                <td>
                    {% for work in base.kvanthometask.works|get_objects %}

                        {% if work.sender == student %}
                        <div class="column g8">
                            
                            <div class="ql-snow">
                                <div class="ql-editor">
                                    <p>{{ work.text|safe }}</p>
                                </div>
                            </div>
                            
                            <div class='files'>
                                {% include "CoreApp/FileView/index.html" with files=work.files %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <div class="row g16">
                        <section class="menu">
                            <button class="menu__button {{ base|get_mark_class:student|get_active_mark:'' }}" onclick="addMark('{{ student.id }}', '')">
                                <span class="mark">&#8291;</span>
                            </button>
                            <button class="menu__button {{ base|get_mark_class:student|get_active_mark:'mark poor' }}" onclick="addMark('{{ student.id }}', '1')">
                                <span class="mark poor">1</span>
                            </button>
                            <button class="menu__button {{ base|get_mark_class:student|get_active_mark:'mark badly' }}" onclick="addMark('{{ student.id }}', '2')">
                                <span class="mark badly">2</span>
                            </button>
                            <button class="menu__button {{ base|get_mark_class:student|get_active_mark:'mark fine' }}" onclick="addMark('{{ student.id }}', '3')">
                                <span class="mark fine">3</span>
                            </button>
                            <button class="menu__button {{ base|get_mark_class:student|get_active_mark:'mark excellent' }}" onclick="addMark('{{ student.id }}', '4')">
                                <span class="mark excellent">4</span>
                            </button>
                        </section>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        
        {% if type == 'lesson' %}
        <h2>Посещаемость</h2>

        <table style="width: 28rem">
            <tr>
                <th style="width: 16rem">Ученики</th>
                <th style="width: 12rem">Посещаемость</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>
                    <div class="student row g8">
                        <img src="{{ student.image.url }}" class="avatar">
                        <div class='column'>
                            <p class="student__name">{{ student.surname }} {{ student.name }}</p>
                            <p class="student__role">{{ student.permission }}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row g16">
                        <section class="menu">
                            <button class="menu__button {{ base|get_mark_class:student|get_active_mark:'' }}" onclick="addMark('{{ student.id }}', '')">
                                <span class="mark">&#8291;</span>
                            </button>
                            <button class="menu__button {{ base|get_mark_class:student|get_active_mark:'mark leave' }}" onclick="addMark('{{ student.id }}', 'ОТ')">
                                <span class="mark">ОТ</span>
                            </button>
                            <button class="menu__button {{ base|get_mark_class:student|get_active_mark:'mark reason' }}" onclick="addMark('{{ student.id }}', 'УП')">
                                <span class="mark">УП</span>
                            </button>
                        </section>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <div class="row">
            <button class="secondaryButton" onclick="updateMarks()">
                <svg viewBox="0 0 24 24">
                    <circle cx="12" cy="14" r="2" opacity='0.6'/>
                    <path d="M22.536,4.122,19.878,1.464A4.99,4.99,0,0,0,19,.775V3a5.006,5.006,0,0,1-5,5H10A5.006,5.006,0,0,1,5,3V0A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V7.657A4.966,4.966,0,0,0,22.536,4.122ZM12,18a4,4,0,1,1,4-4A4,4,0,0,1,12,18Z"/>
                    <path opacity='0.6' d="M10,6h4a3,3,0,0,0,3-3V.064A5.128,5.128,0,0,0,16.343,0H7V3A3,3,0,0,0,10,6Z"/>
                </svg> 
                Сохранить
            </button>
        </div>
    </div>

    <!-- Форма редактирования задания -->
    {% include "JournalApp/BaseCreationForm/index.html" with form='update' %}

    {% if type == 'task' %}
    <div class='modal' id='confirmDeletion'>
        <div class="modal__viewport" style="width: 48rem">
            <form class='modal__content'>
                <h1 class="modal__title">Удаление задания</h1>
                <p>Вы уверены, что хотите удалить это задание?</p>
                <div class='modal__block'>
                    <div class='row g8' style='margin-left: auto'>
                        <button class='secondaryButton'>
                            Отмена
                        </button>
                        <button class='dangerButton' onclick="deleteBase()" type="button">
                            <svg viewBox="0 0 448 512">
                                <path d="M53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 96H32zm47.18-221.47l84-81.59c8.84-8.59 23.61-2.24" opacity='0.6'></path>
                                <path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM208"></path>
                            </svg>
                            Удалить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="alertsContainer column" id='alertsContainer'></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    <script src="{% static 'CoreApp/drop/dropdownSelect.js' %}"></script> <!-- Выпадающие меню -->

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> <!-- Панель инструментов -->
    <script src="{% static 'CoreApp/text/options.js' %}"></script> <!-- Настройки панели -->
    <script src="{% static 'JournalApp/BaseCreationForm/scripts.js' %}"></script>
    <script src="{% static 'JournalApp/CheckingPage/scripts.js' %}"></script>

    <script>
        old_files = [
            {% for file in base.files|get_objects %}
            {'name': '{{ file|get_file_name }}', 'id': '{{ file.id }}', 'size': '{{ file.file.size }}'},
            {% endfor %}
        ]
        for(let i = 0; i < old_files.length; i++){
            addNewFile(old_files[i], old_files, "#file-container")
        }
    </script>

    <script>
        function getUpdateBaseFormData(){
            let base_form = getBaseFormData()
            for(let i = 0; i < old_files.length; i++){ // Перебор старых файлов
                base_form.append('files', old_files[i].id) // Добавление старых файлов в форму
            }
            return base_form 
        }
    </script>

    <script>
        function updateMarks(){
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                data: {
                    'marks': JSON.stringify(marks),
                    'csrfmiddlewaretoken': getCookie('csrftoken'),
                },
                url: '{% url "update_marks" base.id %}',
                cache: false,
                success: location.reload()
            })
        }
    </script>
    <script>
        function deleteBase(){
            $.ajax({
                type: 'POST',
                data: {
                    'submit': true,
                    'csrfmiddlewaretoken': getCookie('csrftoken'),
                },
                url: '{% url "delete_base" base.id %}',
                cache: false,
                success: location.href = '{% url "journal_page" %}'
            })
        }
    </script>
</body>

</html>