{% load static %}
{% load news_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% include "SystemModule/HeadSetup/index.html" %}
    <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="{% static 'NewsApp/NewsView/style.css' %}">
    <link rel="stylesheet" href='{% static "NewsApp/NewsView/text/ql-editor.css" %}'>
    <link rel="stylesheet" href='{% static "NewsApp/NewsView/text/highlight.css" %}'>
    <link rel='stylesheet' href='{% static "SystemModule/icons/files/file_icons.css" %}' /> 
    <title>Новость</title>
</head>

<body>
    <!-- Навигационное меню -->
    {% include "SystemModule/AsideMenu/index.html" with user=user active='main' %}
    <!-- Главная -->
    <section id='main'>
        <header>
            {% include "SystemModule/ToolbarMenu/index.html" with user=user %}
        </header>
        <!-- Форма просмотра новости -->
        <div class='form' style='display: block'>
            <div class="form-wrapper">
                <form>
                    <img src="{{ news.image.url }}" alt="preview" class='preview'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>{{ news.title }}</h2>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>{{ news.author.surname }} 
                                {{ news.author.name|slice:"1" }}.
                                {{ news.author.patronymic|slice:"1" }}.</h4>
                            <img src='{{ news.author.image.url }}'/>
                        </div>
                    </div>
                    <div class="ql-snow">
                        <div class="ql-editor">
                            {{ news.style_content|safe }}
                        </div>
                    </div>
                    <div class='date__container'>
                        <span class="fi-rr-calendar"></span>
                        <h5>Дата публикации: {{ news.date|date:"j.m.Y" }}</h5>
                    </div>
                    {% if news.files|get_objects|length != 0 %}
                    <hr class='divider'/>
                    <div class="item-header">
                        <div class='files' style='width: 100%'>
                            
                            {% for file in news.files|get_objects %}
                            <div class='file'>
                                <div class="file-info">
                                    <i class='file-{{ file|file_extension }}'></i>
                                    <h4>{{ file|file_name }}</h4>
                                </div>
                                <div class="file-btns">
                                    <button class='download-file' onclick="window.open('{{ file.file.url }}')" type='button'></button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <button class='form-btn' id='back-btn' type="button"><span class="fi-rr-undo" style='font-size: 1rem; margin-right: 5px'></span>На Главную</button>
                </form>
            </div>
        </div>
        <img src='{% static "SystemModule/atom.png" %}' class='bg'/>
    </section>
    {% include "SystemModule/ScriptsSetup/index.html" with user=user %}
    <script>
        let main_page = '{% url "main_page" user.id %}'
    </script>
    <script src="{% static 'NewsApp/NewsView/scripts.js' %}"></script>
</body>
</html>