{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% include "SystemModule/HeadSetup/index.html" %}
    <!-- Иконки расширений файлов -->
    <link rel='stylesheet' href='{% static "SystemModule/icons/files/file_icons.css" %}' />
    <link rel="stylesheet" href='{% static "DiaryPage/style.css" %}'>
    <title>Дневник</title>
</head>

<body>
    <!-- Навигационное меню -->
    {% include "SystemModule/AsideMenu/index.html" with user=user active='diary' %}
    <!-- Шапка -->
    <header>
        <div class='page-header'>
            <span class="fi fi-rr-book-alt" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 5px;'>Дневник</h1></span>
            <div class="week-selector">
                <div class='main-btn'><button class='btn'><span class="fi-rr-angle-double-small-left"></span></button></div>
                <div class='main-btn'><button class="weeks">01.02 - 07.02</button></div>
                <div class='main-btn'><button class='btn'><span class="fi-rr-angle-double-small-right"></span></button></div>
            </div>
        </div>
        {% include 'SystemModule/ToolbarMenu/index.html' with user=user %}
    </header>
    <!-- Дневник -->
    <section id="diary">
        <main>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                {% for lesson in lessons %}
                <div class="item {{ lesson.mark.mark }}">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>{{ lesson.course.name }}</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>
                                {{ lesson.course.teacher.teacher.surname }}
                                {{ lesson.course.teacher.teacher.name|slice:"1" }}.
                                {{ lesson.course.teacher.teacher.patronymic|slice:"1" }}.
                            </h4>
                            <img src='{{ lesson.course.teacher.teacher.image.image.url }}' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
                {% endfor %}
            </div>
        </main>
        <img src='{% static "SystemModule/atom.png" %}' class='bg' />
        <!-- Форма просмотра домашнего задания -->
        <div class='form'>
            <div class='filter' onclick="close_form(this)"></div>
            <div class="form-wrapper">
                <form class='four' style='padding-right: 35px'>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Зарывных П. С</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                    <hr class='divider'/>
                    <div class="item-header">
                        <h2>Домашнее задание</h2>
                        <button class='form-btn' type="submit"><span class="fi-rr-paper-plane"></span>Сдать</button>
                    </div>  
                    <textarea name="Homework-text" class='text-field' autocomplete="off" placeholder="Комментарий"></textarea>
                    <button class='form-btn' type="button"><span class="fi-rr-clip"></span>Документ</button>
                    <div class='files'>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-java'></i>
                                <h4>java prog.java</h4>
                            </div>
                            <div class="file-btns">
                                <button class="del-file"></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-xml'></i>
                                <h4>excel document.xml</h4>
                            </div>
                            <div class="file-btns">
                                <button class="del-file"></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-pptx'></i>
                                <h4>presentation.pptx</h4>
                            </div>
                            <div class="file-btns">
                                <button class="del-file"></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-doc'></i>
                                <h4>document.doc</h4>
                            </div>
                            <div class="file-btns">
                                <button class="del-file"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% include "SystemModule/ScriptsSetup/index.html" with user=user %}
    <script src='../../../JS/sections_manager.js'></script>
</body>

</html>