body{
    /* Брейкпоинты */
    --xsmall: 576px;
    --small: 768px;
    --medium: 992px;
    --large: 1200px;
    --xlarge: 1400px;
}

body[colorScheme='colorScheme__green']{
    --bgColor-solid: #e1f9ef;
    --bgColor: #20d48922;
    --currentColor: #20d489;
}
body[colorScheme='colorScheme__blue']{
    --bgColor-solid: #ddf4ff;
    --bgColor: #00b2ff22;
    --currentColor: #00b2ff;
}
body[colorScheme='colorScheme__red']{
    --bgColor-solid: #fde5eb;
    --bgColor: #f1416c22;
    --currentColor: #f1416c;
}

/* Светлая тема */
.light__theme{
    --bg-color: var(--bgColor-solid);
    --aside-bg-color: #fff;
    --aside-bg-color-alpha: rgba(241, 240, 245, 0.8);

    --text-primary-color: #111926;
    --text-secondary-color: #eee;

    --item-bg-color: #fff;

    --button-bg-color: #fff;
    --button-bg-hover-color: #f5f5f5;
    --button-bg-active-color: var(--color-scheme-light);

    --special-ui-elements-color: var(--color-scheme-light);

    --theme-light: #3436380e;
    --theme-light-alpha: #0004;
    --theme-light-alpha-reverse: #fff4;
}
/* Темная тема */
.dark__theme{
    --bg-color: #202020;
    --aside-bg-color: #191919;
    --aside-bg-color-alpha: rgba(25, 25, 25, 0.9);

    --text-primary-color: #eee;
    --text-secondary-color: #111926;

    --item-bg-color: #25262C;

    --button-bg-color: #25262C;
    --button-bg-hover-color: #101114;
    --button-bg-active-color: #25262C;

    --special-ui-elements-color: #1B1C22;

    --theme-light: #f5f8fa0e;
    --theme-light-alpha: #fff4;
    --theme-light-alpha-reverse: #0004;
}



/* Скрываем скролбар */
::-webkit-scrollbar{
    width: 0; height: 0;
}

*{ margin: 0; padding: 0; box-sizing: border-box }

/* Немного обнуления */
button, input, textarea, .ql-editor{ border: none; outline: none; cursor: pointer; resize: none; font-family: 'Google Sans'; }
a{ text-decoration: none; color: unset; }

/* Настройка шрифтов */
::placeholder{ font-family: 'Google Sans' }
h1{ font-size: 2rem; font-weight: bold; color: var(--text-primary-color)}
h2, h2 *{ font-size: 1.6rem; font-weight: bold; color: var(--text-primary-color)}
h3, .dropdown-input{ font-size: 1.1; font-weight: 500; color: #6A6F78 }
h4, h6{ font-size: 1.2rem; font-weight: 300; color: #6A6F78}
p{ font-size: 1rem; font-weight: normal; color: #70757D }
h1, h2, h3, h4, h5, h6, p{ cursor: unset }
span{ color: var(--text-primary-color); vertical-align: text-bottom }

svg{
    width: 20px; height: auto;
    margin: auto 0;
}
svg .faded{
    fill: #868E9C;
}
svg .bright{
    fill: #495B7A;
}
.active svg .faded{
    fill: var(--currentColor);
    opacity: 0.3;
}
.active svg .bright{
    fill: var(--currentColor);
}


html{
    /* Плавный скрол страницы */
    scroll-behavior: smooth;

    font-size: 16px;
}
  
/* Основные элементы страницы */
body{
    cursor: default;
    background-color: var(--bg-color);
    
    font-family: "Google Sans";

    /* Запрещает выделять текст */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Убирает подсветку кнопок при нажатии на смартфонах */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body > section{
    padding: 1.5rem 2% 1.5rem calc(2% + 4.75rem);
    background-color: var(--bg-color);
}

.row{ display: flex; flex-direction: row; align-items: center }
.column{ display: flex; flex-direction: column }

.g4{ gap: 0.25rem }
.g8{ gap: 0.5rem }
.g12{ gap: 0.75rem }
.g16{ gap: 1rem }
.g32{ gap: 2rem }

.items-stretch{ align-items: stretch }
.items-center{ align-items: center; }

.space-between{ justify-content: space-between }

.item{
    background-color: var(--item-bg-color);
    border-radius: 0.5rem;
    border: #0001 solid 1px;
    cursor: pointer;
    transition-duration: .5s; transition-property: transform, box-shadow !important;
}
.item:hover{
    box-shadow: var(--color-scheme-shadow) !important;
    transform: translateX(4px) translateY(-4px) !important;
}

/* Навигационное меню */
aside{
    position: fixed; top: 0; left: 0;
    height: 100%; width: 4.75rem;
    background-color: var(--aside-bg-color);
    box-shadow: rgb(0 0 0 / 8%) 0px 10px 20px 0px;
    z-index: 2;

    transition: width .15s;
    overflow: hidden;
}
aside:hover{
    width: 18.75rem;
}
aside:hover .aside__profile{
    width: 18.75rem;
}
aside:hover p, aside:hover .toggle{
    opacity: 1;
    visibility: visible;
}
aside .toggle{
    opacity: 0;
    visibility: hidden;
    transition: opacity .05s;
}
aside #logo{
    height: 6.25rem;
    display: flex; align-items: center;
    padding: 0 0.875rem;
    overflow: hidden;
}
aside #logo img{
    height: 3.25rem;
}
.dark__theme aside #logo img{
    filter: invert(100%) hue-rotate(180deg);
}

aside > nav{
    display: flex; flex-direction: column; gap: 0.375rem;
}
aside > nav:last-of-type{
    position: fixed; bottom: 0;
}
aside > nav > button{
    position: relative;
    height: 2.75rem;
    background-color: unset;
    border-radius: 0.5rem;
    transition-property: background-color; transition-duration: .2s;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 0.75rem; margin: 0 1rem;
}
aside > nav > button div{
    display: flex; align-items: center; gap: 1rem;
}
aside > nav > button p{
    opacity: 0; visibility: hidden;
    font-size: 1rem; font-weight: 500; line-height: 1rem;
    color: var(--text-primary-color);
    transition-duration: .1s;
    transition-property: opacity;
}
aside > nav > button:hover, aside > nav > button.active{
    background-color: var(--button-bg-hover-color);
}

aside > nav > button.active::after{
    content: "";
    position: absolute; top: 0; left: -1rem;
    height: 100%; width: 0.25rem; border-radius: 0 2px 2px 0;
    background-color: var(--currentColor);
}
aside > nav > button.active p{
    color: var(--currentColor);
}



/* Профиль в навигации */
.aside__profile{
    display: flex; justify-content: space-between; align-items: center;
    padding: 0.8125rem;
    padding-right: 1rem;
    margin: 0.5rem 0 0;
    width: 4.75rem;
    transition: width .15s;
    overflow: hidden;
    background-color: var(--theme-light);
    box-shadow: #0003 0 0 0.25rem 0;
}
.aside__profile .aside__profileInfo{
    display: flex; gap: 0.5rem; align-items: center;
    position: relative;
    cursor: pointer;
    background-color: unset;
}
.aside__profile .aside__profileInfo div{
    display: flex; flex-direction: column; gap: 0; align-items: center; justify-content: left;
}
.aside__profile .aside__profileInfo div:hover h2{
    color: var(--currentColor);
}
.aside__profile .aside__profileInfo h2{
    font-size: 1rem; font-weight: 500;
    opacity: 0; transition: all .2s;
    white-space: nowrap; max-width: 10rem; overflow: hidden; text-overflow: ellipsis;
}
.aside__profile .aside__profileInfo h4{
    font-size: 1rem; text-align: left; width: 100%; opacity: 0; transition: .2s opacity;
}
.aside__profile .aside__profileInfo img{
    width: 2.875rem; height: 2.875rem;
    border-radius: 100%;
    object-fit: cover;
    transition-duration: .2s;
    transition-property: filter;
    position: relative;
    margin: 0.125rem;
    padding: 3px;
    border: var(--theme-light-alpha) solid 2px;
}
.aside__profile svg{
    fill: var(--text-primary-color);
}

.aside__profileButton{
    width: 2.5rem; height: 2.5rem;
    border-radius: 0.5rem;
    background-color: unset;
    padding: 0.625rem;
    opacity: 0; transition: all .1s;
}
.aside__profileButton:hover{
    background-color: var(--button-bg-hover-color);
}
aside:hover .aside__profile *{
    opacity: 1;
}
aside:hover .aside__profile .profile .info h2, aside:hover .aside__profile .profile .info h4{
    opacity: 1;
}

@media screen and (max-width: 576px){
    body > section{
        padding-left: 2%;
    }
    aside{
        width: 18.75rem;
    }
    aside *:not(.divider){
        opacity: 1 !important;
        visibility: visible !important;
    }
    .aside__profile{
        width: 18.75rem;
    }
}


/* Шапка */
body > header{
    position: relative;
    z-index: 1;
    width: 100%; height: 5rem;
    padding: 1.5rem 3rem 0 7.75rem;
    display: flex; align-items: center;
}


/* Формы */
.form{ visibility: hidden; transition: visibility .4s }
.form.active{ visibility: visible }

.form::before{
    content: "";
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: #0006;
    z-index: 2;
    visibility: hidden; opacity: 0;
    transition-property: visibility opacity;
    transition-duration: .4s;
}
.form.active::before{
    visibility: visible; opacity: 1;
}
.form .form-wrapper{
    overflow-y: scroll; padding: 6rem 0 6rem 2.375rem;
    position: fixed; top: 0; left: calc(50% - 31.25rem);
    height: 100%;
    z-index: 3;
    display: flex; align-items: center;
}
.form .forms__container{
    display: flex; flex-direction: column; gap: 0.5rem;
    margin: auto 0;
}
.form .forms__container > form{
    margin: 0;
}
.form .form-wrapper form{
    width: 62.5rem;
    background-color: var(--item-bg-color);
    padding: 1rem 1.5rem; margin: auto 0;
    border-radius: 1rem;
    position: relative;
    display: flex; flex-direction: column; gap: 0.75rem;

    transform: translateY(2000px);
    transition: transform .4s;
}
.form.active .form-wrapper form{
    transform: translateY(0px) !important;
}

/* Кнопки в форме */
.form .form-wrapper form .form-btn{
    background-color: unset;
    padding: 0 0.75rem; margin: auto 0;
    min-height: 3rem; max-height: 3rem;
    border-radius: 0.5rem;
    transition-property: color background-color box-shadow; transition-duration: .2s;
    display: flex; align-items: center; gap: 0.5rem;
}
.form .form-wrapper form .form-btn p{
    font-weight: 500; font-size: 1.2rem;
}
.form-btn p{
    color: var(--currentColor);
}
.form .form-wrapper form .form-btn:hover{
    background-color: var(--button-bg-hover-color);
}

/* Элемент шапки формы */
.form .form-wrapper form .item-header{
    display: flex; justify-content: space-between; align-items: center;
    min-height: 3rem;
    gap: 0.25rem;
}

/* Текстовые поля в форме */
.form .form-wrapper form .text-field{
    width: 100%;
    border-radius: 0.5rem;
    border: #0002 solid 1px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--aside-bg-color);
    color: var(--text-primary-color);
}
.form .form-wrapper form .text-field-title{
    font-size: 1.3rem;
    white-space: nowrap;
    border: 1px solid #0002;
}
.form .form-wrapper form .text-field::placeholder{
    font-size: 1rem;
}
.form .form-wrapper form .text-field-title::placeholder{
    font-size: 1.3rem;
}

/* Временно */
.form .form-wrapper form .item-header .lesson-teacher{
    display: flex; align-items: center; gap: 0.5rem;
}
.form .form-wrapper form .item-header .lesson-teacher img{
    width: 2rem; height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
.form .form-wrapper form .item-header .lesson-teacher h4{
    font-size: 1rem;
}

/* Toggle */
.toggle{
    height: 1rem; width: 2rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    margin: 0;
    background: linear-gradient(180deg, #eee 0%, #eee 100%);
    transition: all .2s ease;
}
.toggle:after{
    content: '';
    position: absolute;
    top: -2px; left: -2px;
    width: 1.25rem; height: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(44,44,44,.4);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}
.dark__theme .toggle.theme{
    background: #A1D214;
}
.dark__theme .toggle.theme:after{
    transform: translatex(1rem);
}

.toggle.color-scheme{
    width: 1rem;
}
.toggle.color-scheme::after{
    background-color: var(--currentColor);
}


/* Разделитель */
.divider{
    margin: 0.5rem 0;
    border-color: var(--text-primary-color);
    border-width: 1px;
    opacity: .01;
}


/* Файлы */
.files{
    display: flex; flex-wrap: wrap; gap: 1rem;
    width: 100%;
}
.file{
    height: 3rem; width: calc((100% - 3rem) / 4);
    min-width: 16rem;
    display: flex; align-items: center; flex-direction: row;
    border-radius: 0.25rem;
    overflow: hidden;
    border: var(--theme-light) solid 1px;
}
.file i{
    width: 3rem; height: 3rem;
    padding: 0 0.75rem;
    background-color: var(--theme-light);
    display: flex; align-items: center;
}
.file i::before{
    width: 1.5rem !important;
}

.file__info{
    min-width: 8rem;
    padding: 0 0.5rem; margin-right: 1rem;
    display: flex; flex-direction: column; gap: 1px;
}
.file__name{
    color: var(--text-primary-color);
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file__size{
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__actions{
    display: flex; gap: 0.5rem;
    padding: 0.25rem;
    margin-left: auto;
}
.file__actions button{
    width: 2rem; height: 2rem;
    background-color: unset;
    display: flex; align-items: center;
    padding: 0 0.5rem;
}
.file__actions button svg{
    fill: #70757D;
    width: 1rem; height: 1rem;
}
.file__actions button:hover svg{
    fill: var(--currentColor);
}


/* Пользователи */
.users{
    display: flex; gap: 0.33%;
    flex-wrap: wrap;

    overflow: auto;
    max-height: 162.9px;
}
.user{
    display: flex; gap: 0.5rem; align-items: center;
    width: 33%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: unset;
    margin-bottom: 0.33%;
    transition: background-color .2s;
    cursor: default;
}
.user:hover{
    background-color: var(--special-ui-elements-color);
}
.user .info{
    display: flex; flex-direction: column;
    width: 100%;
}
.user .info h2{
    font-size: 1.1rem; line-height: 1; font-weight: 500;
    max-width: 80%;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.user .info h4{
    font-size: 0.9rem;
    color: #6A6F78;
}
.user img{
    min-width: 2.2rem; max-width: 2.2rem; height: 2.2rem;
    border-radius: 100%;
    object-fit: cover;
}

/* Выбранные пользователи */
.selected::before{
    content: "";
    height: 54px;
}
.selected .user::after{
    content: "\f143";
    font-family: "uicons-regular-rounded"; color: #A1D214;
    margin: 0 0.5rem;
}
.selected .user:hover::after{
    content: "\f15d";
    font-family: "uicons-regular-rounded"; color: red;
    margin: 0 0.5rem;
}

/* Поиск пользователей */
.dropdown-input{
    font-size: 1.4rem; color: var(--text-primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    flex-grow: 1;
    background-color: var(--button-bg-hover-color);
}
.dropdown-input::placeholder{
    color: #aaa; font-weight: 100;
}
.filter-button{
    border-radius: 0.5rem;
    width: 3rem; height: 3rem;
    background-color: var(--button-bg-hover-color);
}

/* Фон */
.bg{
    position: fixed; right: -20%; top: 15%;
    height: 80%;
    animation: you_spin_me_right_round 200s infinite;
    z-index: -1000;
    opacity: .5;
}

/* Анимация */
@keyframes you_spin_me_right_round{
    from{ transform: rotate(0deg) }
    to{ transform: rotate(720deg) }
}


/* Кнопка с эффектом нажатия */
.main-btn{
    width: 100%;
    display: flex; justify-content: center; align-items: center;
}
.main-btn button{
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #0E58B5;
    color: #fff; font-size: 1.5rem;
    transition-duration: .2s; transition-property: transform box-shadow;
    box-shadow: 0 5px 0 0 #0b458b;
    transform: translate(0, 0);
}
.main-btn button:hover{
    box-shadow: 0 3px 0 0 #0b458b;
    transform: translate(0, 3px);
}


/* @media screen and (max-width: 992px){
} */

@media screen and (max-width: 790px){
    /* Формы во всю ширину экрана */
    .form .form-wrapper form{ width: 100% }
    .form .form-wrapper{ width: 96%; left: 2% }
}

@media screen and (max-width: 576px){
    /* Сокращенные кнопки */
    .form .form-wrapper form .form-btn p{ display: none }

    /* Пользователи */
    .users{ gap: 1% }
    .user{ width: 49.5% }
}

/* Выпадающий список */
.filteringList{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.dropdownSelect{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 13rem;
}
.dropdownSelect__trigger{
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 1rem;
    height: 3.5rem;
    border-radius: 8px;
    background-color: var(--theme-light);
    font-weight: 500;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.filtering.disable .dropdownSelect__trigger{
    opacity: 0.5;
}

.dropdownSelect__options{
    position: absolute;
    display: block;
    top: 110%;
    left: 0; right: 0;
    transition: all 0.1s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    max-height: 20rem; overflow-y: auto;
    border: var(--theme-light) solid 2px;
}
.dropdownSelect__options::-webkit-scrollbar{
    width: 6px;
}
.dropdownSelect__options::-webkit-scrollbar-thumb{
    background-color: var(--color-scheme-light);
    border-radius: 3px;
}
.dropdownSelect.open .dropdownSelect__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    border-radius: 0.5rem;
}
.dropdownSelect__option {
    position: relative;
    display: block;
    padding: 0 1rem;
    background-color: var(--button-bg-color);
    line-height: 2.5rem;
    transition: all 0.1s;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.dropdownSelect__option:hover {
    cursor: pointer;
    background-color: var(--button-bg-hover-color);
}
.dropdownSelect__option.selected {
    color: #ffffff;
    background-color: var(--color-scheme-dark);
}

.arrowDown {
    position: relative;
    height: 10px; width: 10px;
    margin-left: 1rem;
}
.arrowDown::before, .arrowDown::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.16rem;
    border-radius: 0.8rem;
    height: 120%;
    background-color: #70757D;
}
.arrowDown::before {
    left: -3.3px;
    transform: rotate(45deg);
}
.arrowDown::after {
    left: 3.3px;
    transform: rotate(-45deg); 
}
.dropdownSelect__trigger.active .arrowDown::after, .dropdownSelect__trigger.active .arrowDown::before{
    background-color: var(--color-scheme-dark);
    width: 10px;
    left: 0;
    height: 100%;
}
.dropdownSelect__trigger.open .arrowDown::before {
    left: -3.3px;
    transform: rotate(-45deg);
}
.dropdownSelect__trigger.open .arrowDown::after {
    left: 3.3px;
    transform: rotate(45deg);
}



/* Вернуться в начало страницы */
#arrowTop{
    position: fixed;
    bottom: 1rem; right: 1rem;
    height: 3rem; width: 3rem;
    background-color: var(--color-scheme);
    border-radius: 1rem;
    padding: 0.875rem;
    transform: rotate(-90deg);
    opacity: 0.5;
}
#arrowTop:hover{
    opacity: 1;
}
#arrowTop svg{
    fill: #fff;
}


button.primaryButton{
    background-color: var(--button-bg-color);
}
.primaryButton{
    height: 3rem;
    color: #7e8299;
    font-weight: 700; font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: all .05s;
    display: flex; align-items: center; gap: 0.5rem;
}
.primaryButton svg{
    width: 1rem; height: 1rem;
    fill: var(--currentColor);
}
button.primaryButton:hover{
    color: var(--currentColor);
}

.secondaryButton{
    height: 3rem;
    background-color: var(--currentColor);
    color: #fff;
    font-weight: 600; font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: all .05s;
    display: flex; align-items: center; gap: 0.5rem;
}
.secondaryButton svg{
    width: 1rem; height: 1rem;
    fill: #fff;
}
.secondaryButton:hover{
    filter: brightness(0.9);
}

.dangerButton{
    height: 3rem;
    background-color: tomato;
    color: #fff;
    font-weight: 600; font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: all .05s;
    display: flex; align-items: center; gap: 0.5rem;
}
.dangerButton svg{
    width: 1rem; height: 1rem;
    fill: #fff;
}
.dangerButton:hover{
    filter: brightness(0.9);
}

.actionButton{
    height: 3rem; width: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--theme-light);
}
.actionButton:hover svg{
    fill: var(--currentColor);
}
.actionButton svg{
    height: 1rem; width: 1rem;
    fill: #70757D;
    transition: all .2s;
}


.menu{
    background-color: var(--item-bg-color);
    border-radius: 0.5rem;
    display: flex; flex-direction: row; gap: 2px;
    width: max-content;
    overflow: hidden;
}
.menu__button{
    display: flex; gap: 1rem; align-items: center;
    padding: 1rem;
    background-color: unset;
    transition: all .1s;
    position: relative;
}
.menu__button svg{
    transition: all .1s;
    filter: saturate(0);
    fill: var(--currentColor);
}
.menu__button:hover, .menu__button.active{
    background-color: var(--theme-light);
}
.menu__button:hover svg, .menu__button.active svg{
    filter: saturate(1);
}
.menu__button p{
    color: var(--text-primary-color);
    font-weight: 500;
}
.menu__button.active p{
    display: block;
}

.menu__button::after{
    content: "";
    width: 0; height: 0;
    position: absolute; left: 50%; bottom: 0;
    background-color: var(--currentColor);
    transition: all .2s;
}

.menu__button.active::after{
    content: "";
    width: 100%; height: 2px;
    left: 0;
}

@media screen and (max-width: 980px){
    .menu:first-of-type .menu__button p{
        display: none;
    }
    .menu:first-of-type .menu__button.active p{
        display: block;
    }
}



/* Оповещения об ошибках */
.alertsContainer{
    position: fixed; bottom: 0; left: 0;
    padding: 1rem;
    z-index: 10;
    display: flex; flex-direction: column; align-items: center;
    gap: 8px;
    width: 100%;
}
.alert{
    width: min-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #f1416cdd;
    display: flex; align-items: center; gap: 0.5rem;
}
.alert p{
    white-space: nowrap;
    color: #fff;
}
.alert svg{
    fill: #fff;
}
.alert button{
    background-color: unset;
    margin-left: auto;
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
}


.userSelect{
    width: 32rem;
    background-color: var(--item-bg-color);
    border-radius: 12px;
    display: flex; flex-direction: column;
    max-height: 16rem;
    overflow: auto;
    box-shadow: 0 0 1rem #0001;
}

.userSelect::-webkit-scrollbar{
    width: 6px;
}
.userSelect::-webkit-scrollbar-thumb{
    background-color: var(--theme-light-alpha);
    border-radius: 3px;
}
.userSelect__user{
    height: 5rem;
    padding: 1rem 1.5rem;
    transition: padding .2s, height .2s;
    display: flex; flex-direction: row; gap: 1rem;
}

.userSelect__user:hover{
    background-color: var(--theme-light);
}
.userSelect__user:hover .userSelect__userName{
    color: var(--currentColor);
}
.userSelect__userImage{
    width: 3rem; height: 3rem;
    border-radius: 25%;
    object-fit: cover; object-position: center;
}
.userSelect__userInfo{
    display: flex; flex-direction: column; gap: 4px;
}
.userSelect__userName{
    color: var(--text-primary-color);
    transition: color .2s;
}

#userSearch{
    height: 27.2px;
}

#selectedUsers{
    display: flex; flex-wrap: wrap; gap: 0.25rem;
}
#selectedUsers .userSelect__user{
    background-color: var(--bgColor);
    color: var(--currentColor);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    height: 27.2px;
    display: flex; align-items: center;
}
#selectedUsers .userSelect__user::after{
    content: "×";
    font-size: 1.5rem;
    margin-left: -0.5rem;
}
#selectedUsers .userSelect__user .userSelect__userName{
    font-weight: 400;
    font-size: 1rem;
    color: var(--currentColor);
}
#selectedUsers .userSelect__user .userSelect__userImage, #selectedUsers .userSelect__user .userSelect__userRole{
    display: none;
}

#snap-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    z-index: 2;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }