:root{
    /* Брейкпоинты */
    --xsmall: 576px;
    --small: 768px;
    --medium: 992px;
    --large: 1200px;
    --xlarge: 1400px;

    --aside-text-color: #9B9C9E;
}

/* Синяя цветовая гамма */
.blue__color__scheme{
    --color-scheme: #40B9E6;
    --color-scheme-dark: #06c;
    --color-scheme-gradient: #63a4ff;
    --color-scheme-shadow: -1px 1px #83eaf1, -2px 2px #83eaf1, -3px 3px #83eaf1, -4px 4px #83eaf1;
    --color-scheme-shadow-alpha: -1px 1px #83eaf122, -2px 2px #83eaf133, -3px 3px #83eaf144, -4px 4px #83eaf155;
    /* --color-scheme-light: #bce0ff; */
    --color-scheme-light: #5faaec55;
}
/* Оранжевая цветовая гамма */
.orange__color__scheme{
    --color-scheme: #f3a183;
    --color-scheme-dark: #eC6f66;
    --color-scheme-gradient: #eC6f66;
    --color-scheme-shadow: -1px 1px #f3a183, -2px 2px #f3a183, -3px 3px #f3a183, -4px 4px #f3a183;
    --color-scheme-shadow-alpha: -1px 1px #f3a18322, -2px 2px #f3a18333, -3px 3px #f3a18344, -4px 4px #f3a18355;
    --color-scheme-light: #f3a18355;
}

/* Светлая тема */
.light__theme{
    /* --bg-color: #f6f7fb; */
    /* --bg-color: var(--color-scheme-light); */
    --bg-color: #cceef2;
    /* --bg-color: #fbf9f6; */
    --aside-bg-color: #fff;
    --aside-bg-color-alpha: rgba(241, 240, 245, 0.8);

    --text-primary-color: #111926;
    --text-secondary-color: #eee;

    --item-bg-color: #fff;

    --button-bg-color: #fff;
    --button-bg-hover-color: #f5f5f5;
    --button-bg-active-color: var(--color-scheme-light);

    --special-ui-elements-color: var(--color-scheme-light);

    --theme-light: #F5F8FA;
}
/* Темная тема */
.dark__theme{
    --bg-color: #202020;
    --aside-bg-color: #191919;
    --aside-bg-color-alpha: rgba(25, 25, 25, 0.9);

    --text-primary-color: #eee;
    --text-secondary-color: #111926;

    --item-bg-color: #25262C;

    --button-bg-color: #25262C;
    --button-bg-hover-color: #101114;
    --button-bg-active-color: #25262C;

    --special-ui-elements-color: #1B1C22;

    --theme-light: #f5f8fa0e;
}



/* Скрываем скролбар */
::-webkit-scrollbar{
    width: 0;height: 0;
}

*{ margin: 0; padding: 0; box-sizing: border-box }

/* Немного обнуления */
button, input, textarea, .ql-editor{ border: none; outline: none; cursor: pointer; resize: none; font-family: 'Google Sans'; }
a{ text-decoration: none; color: unset; }

/* Настройка шрифтов */
::placeholder{ font-family: 'Google Sans' }
h1{ font-size: 2rem; font-weight: bold; color: var(--text-primary-color)}
h2, h2 *{ font-size: 1.6rem; font-weight: bold; color: var(--text-primary-color)}
h3, .dropdown-input{ font-size: 1.1; font-weight: 500; color: #6A6F78 }
h4, h6{ font-size: 1.2rem; font-weight: 300; color: #6A6F78}
p{ font-size: 1rem; font-weight: normal; color: #70757D }
h1, h2, h3, h4, h5, h6, p{ cursor: unset }
span{ color: var(--text-primary-color); vertical-align: text-bottom }

svg{
    width: 20px; height: auto;
    margin: auto 0;
}
svg .faded{
    fill: #868E9C;
}
svg .bright{
    fill: #495B7A;
}
.active svg .faded{
    fill: var(--color-scheme-light);
}
.active svg .bright{
    fill: var(--color-scheme);
}

html{
    /* Плавный скрол страницы */
    scroll-behavior: smooth;
}
  
/* Основные элементы страницы */
body{
    cursor: default;
    background-color: var(--bg-color);
    
    font-family: "Google Sans";

    /* Запрещает выделять текст */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Убирает подсветку кнопок при нажатии на смартфонах */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body > section{
    padding: 25px 45px 25px 121px;
}

.item{
    background-color: var(--item-bg-color);
    border-radius: 10px;
    border: #0001 solid 1px;
    cursor: pointer;
    transition-duration: .5s; transition-property: transform, box-shadow !important;
}
.item:hover{
    box-shadow: var(--color-scheme-shadow) !important;
    transform: translateX(4px) translateY(-4px) !important;
}

/* Навигационное меню */
aside{
    position: fixed; top: 0; left: 0;
    height: 100%; width: 76px;
    background-color: var(--aside-bg-color);
    box-shadow: rgb(0 0 0 / 8%) 0px 10px 20px 0px;
    z-index: 2;

    transition-duration: .15s;
    transition-property: width left background-color;
    overflow: hidden;
}
aside:hover{
    width: 300px;
}
aside:hover p, aside:hover #logo h1, aside:hover .toggle{
    opacity: 1;
    visibility: visible;
}
aside:hover #indicator svg{
    transform: rotate(180deg);
}
aside .toggle{
    opacity: 0;
    visibility: hidden;
    transition: opacity .05s;
}
aside #logo{
    height: 100px;
    display: flex; align-items: center;
    padding: 0 14px;
    overflow: hidden;
}
aside #logo img{
    height: 52px;
}
.dark__theme aside #logo img{
    filter: invert(100%) hue-rotate(180deg);
}
aside #indicator {
    position: fixed; left: 72px; top: 26px;
    background-color: var(--aside-bg-color);
    width: 40px; height: 48px;
    border-radius: 0 50% 50% 0;
    display: flex; justify-content: center; align-items: center;
    box-shadow: rgb(0 0 0 / 8%) 20px 10px 20px 0px;

    transition-duration: .15s;
    transition-property: background-color left;
    visibility: hidden;
}
aside #indicator svg{
    fill: var(--text-primary-color);
    transition-duration: .2s;
    transition-property: transform;
}
aside:hover #indicator{
    left: 296px;
}
aside > nav{
    display: flex; flex-direction: column; gap: 6px;
}
aside > nav:last-of-type{
    position: fixed; bottom: 16px;
}
aside > nav > button{
    height: 44px;
    background-color: unset;
    border-radius: 10px;
    transition-property: background-color; transition-duration: .2s;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 12px; margin: 0 16px;
}
aside > nav > button div{
    display: flex; align-items: center; gap: 12px;
}
aside > nav > button p{
    opacity: 0;
    visibility: hidden;
    font-size: 16px; font-weight: 500; line-height: 16px;
    color: var(--text-primary-color);
    transition-duration: .1s;
    transition-property: opacity;
}
aside > nav > button:hover{
    background-color: var(--button-bg-hover-color);
}
aside > nav > button.active{
    background-color: var(--button-bg-hover-color);
}
.light__theme aside > nav > button.active p{
    color: var(--color-scheme-dark);
}
.light__theme aside > nav > button.active svg .bright{
    fill: var(--color-scheme-dark);
}
.dark__theme aside > nav > button.active p{
    color: var(--color-scheme);
}
.dark__theme aside > nav > button.active svg .bright{
    fill: var(--color-scheme);
}

/* Профиль в навигации */
.aside-profile{
    display: flex; justify-content: space-between;
    padding: 0 16px 0;
    width: 300px;
}
.aside-profile .profile{
    display: flex; gap: 8px; align-items: center;
    position: relative;
    cursor: pointer;
    background-color: unset;
}
.aside-profile .profile .info{
    display: flex; flex-direction: column; gap: 0; align-items: center; justify-content: left;
}
.aside-profile .profile .info h2{
    font-size: 1.2rem; white-space: nowrap; opacity: 0; transition: .2s opacity;
}
.aside-profile .profile .info h4{
    font-size: 1rem; text-align: left; width: 100%; opacity: 0; transition: .2s opacity;
}
.aside-profile .profile img{
    width: 40px; height: 40px;
    border-radius: 100%;
    object-fit: cover;
    transition-duration: .2s;
    transition-property: filter;
    position: relative;
    margin: 2px;
}
.aside-profile svg{
    fill: var(--text-primary-color);
}
.aside-profile .toolbar{
    opacity: 0;
    display: flex; align-items: center; gap: 8px; flex-direction: row;
    height: 40px;
    transition: .1s opacity;
}
.aside-profile .toolbar button{
    width: 40px; height: 40px;
    border-radius: 8px;
    background-color: unset;
    transition: .2s background-color;
    display: flex; align-items: center; justify-content: center;
}
.aside-profile .toolbar button:hover{
    background-color: var(--button-bg-hover-color);
}
aside:hover .aside-profile *{
    opacity: 1;
}
aside:hover .aside-profile .profile .info h2, aside:hover .aside-profile .profile .info h4{
    opacity: 1;
}


/* Шапка */
header{
    position: relative;
    z-index: 1;
    width: 100%; height: 75px;
    padding: 25px 45px 0 121px;
    display: flex; align-items: center;
}


/* Формы */
.form{
    visibility: hidden; transition: visibility .4s;
}
.form.active{
    visibility: visible;
}
.form::before{
    content: "";
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: #0006;
    z-index: 2;
    visibility: hidden; opacity: 0;
    transition-property: visibility opacity;
    transition-duration: .4s;
}
.form.active::before{
    visibility: visible; opacity: 1;
}
.form .form-wrapper{
    overflow-y: scroll; padding: 100px 0;
    position: fixed; top: 0; left: calc(50% - 500px);
    height: 100%;
    display: flex;
    z-index: 3;
}
.form .forms__container{
    display: flex; flex-direction: column; gap: 10px;
    margin: auto 0;
}
.form .forms__container > form{
    margin: 0;
}
.form .form-wrapper form{
    width: 1000px;
    background-color: var(--item-bg-color);
    padding: 15px 25px 15px 25px; margin: auto 0;
    border-radius: 10px;
    position: relative;
    display: flex; flex-direction: column; gap: 10px;

    transform: translateY(2000px);
    transition: transform .4s;
}
.form.active .form-wrapper form{
    transform: translateY(0px) !important;
}

/* Кнопки в форме */
.form .form-wrapper form .form-btn{
    background-color: unset;
    padding: 0 12.5px; margin: 3px 0;
    min-height: 45px; max-height: 45px;
    border-radius: 8px;
    transition-property: color background-color box-shadow; transition-duration: .2s;
    display: flex; align-items: center; gap: 8px;
}
.form .form-wrapper form .form-btn p{
    font-weight: 500; font-size: 1.2rem;
}
.dark__theme .form-btn p{
    color: var(--color-scheme);
}
.light__theme .form-btn p{
    color: var(--color-scheme-dark);
}
.form .form-wrapper form .form-btn:hover{
    background-color: var(--button-bg-hover-color);
}

/* Элемент шапки формы */
.form .form-wrapper form .item-header{
    display: flex; justify-content: space-between; align-items: center;
    min-height: 51px;
    gap: 4px;
}
.form .form-wrapper form .item-header .lesson-title{
    max-width: 80%;
}
.form .form-wrapper form .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
.form .form-wrapper form .item-header .lesson-title h3{
    color: var(--color-scheme-dark); font-weight: bold;
    margin-top: 6px;
    float: right;
}
.form .form-wrapper form .item-header .lesson-teacher{
    display: flex; align-items: center;
}
.form .form-wrapper form .item-header .lesson-teacher img{
    width: 32px; height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.form .form-wrapper form .item-header .lesson-teacher h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

/* Текстовые поля в форме */
.form .form-wrapper form .text-field{
    width: 100%;
    border-radius: 10px;
    border: #0002 solid 1px;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--aside-bg-color);
    color: var(--text-primary-color);
}
.form .form-wrapper form .text-field-title{
    font-size: 1.3rem;
    white-space: nowrap;
    border: 1px solid #0002;
}
.form .form-wrapper form .text-field::placeholder{
    font-size: 1rem;
}
.form .form-wrapper form .text-field-title::placeholder{
    font-size: 1.3rem;
}
.form .form-wrapper form .preview{
    width: 1000px;
    margin: -15px -25px 10px -25px;
    border-radius: 10px 10px 0 0;
}

/* Меню */
menu{
    display: none;
    background-color: var(--aside-bg-color-alpha);
    backdrop-filter: blur(4px);
    position: absolute; top: 110%;
    width: 256px; padding: 6px 8px;
    border-radius: 8px;
}
menu > h3{
    text-align: center;
    padding: 8px 0;
}
menu > button{
    width: 100%; min-height: 40px;
    background-color: unset;
    border-radius: 4px;
    text-align: left;
    color: var(--text-primary-color); font-size: 1rem;
    padding: 8px; margin: 2px 0;
    transition: .2s;

    display: flex; justify-content: space-between; align-items: center;
}
menu > button:hover{
    background-color: var(--button-bg-active-color);
}

/* Toggle */
.toggle{
    height: 16px;
    width: 32px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    background: linear-gradient(180deg, #eee 0%, #eee 100%);
    transition: all .2s ease;
}
.toggle:after{
    content: '';
    position: absolute;
    top: -2px; left: -2px;
    width: 20px; height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(44,44,44,.4);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}
.dark__theme .toggle.theme{
    background: #A1D214;
}
.dark__theme .toggle.theme:after{
    transform: translatex(16px);
}
.toggle.color-scheme{
    background: var(--color-scheme-light);
}
.toggle.color-scheme::after{
    background-color: var(--color-scheme-dark);
}
.orange__color__scheme .toggle.color-scheme::after{
    transform: translatex(16px);
}



/* Разделитель */
.divider{
    margin: 5px 0;
    border-color: var(--text-primary-color);
    opacity: .1;
}

/* Файлы */
.files{
    display: flex; flex-wrap: wrap; gap: 8px;
    width: 100%;
}
.file-info i{
    margin-right: 10px;
}
.files h4{
    display: inline-block;
    color: var(--text-primary-color);
}
.file{
    height: 51px;
    border-radius: 100px;
    padding-left: 13.5px;
    display: flex; align-items: center;
    transition-duration: .2s; transition-property: background-color;
    position: relative;
}
.file::before{
    content: '';
    position: absolute; top: 50%; left: 50%;
    width: 0; height: 0;
    opacity: 0;
    background-color: var(--theme-light);
    border-radius: 100px;
	transition: all .2s ease;
    z-index: 1;
}
.file:hover::before{
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    opacity: 1;
}
/* Название и иконка файла */
.file .file-info{
    display: flex;
    align-items: center;
    margin-right: 25px;
    z-index: 2;
}
.file .file-info h4{
    max-width: 256px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Кнопка удаления и скачивания файла*/
.file .file-btns{
    display: flex; align-items: center; gap: 10px;
    padding: 5px 10px; margin-left: -25px;
    z-index: 2;
}
.file button{
    background-color: unset;
    transition-duration: .4s; transition-property: color background-color;
    clip-path: circle();
    padding: 10px;
    display: flex; justify-content: center; align-items: center;
}
/* Кнопка "Удалить файл" */
.file .del-file::before{
    content: '\f15d';
    width: 13px; height: 13px;
    font-family: "uicons-regular-rounded";
    color: var(--text-primary-color);
}
.file .del-file:hover{
    background-color: #FF374B;
    color: #fff;
}
.file .del-file:hover::before{
    color: #fff;
}
/* Кнопка "Скачать файл" */
.file .download-file::before{
    content: '\f171';
    font-family: "uicons-regular-rounded"; 
    color: var(--text-primary-color);
}
.file .download-file:hover{
    background-color: #0E58B5;
}
.file .download-file:hover::before{
    color: #fff;
}

/* Мини файлы */
.file-mini{
    width: 51px;
}
.file-mini .file-info h4{
    display: none;
}
.file-mini .file-btns{
    display: none;
}

/* Пользователи */
.users{
    display: flex; gap: 0.33%;
    flex-wrap: wrap;

    overflow: auto;
    max-height: 162.9px;
}
.user{
    display: flex; gap: 10px; align-items: center;
    width: 33%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: unset;
    margin-bottom: 0.33%;
    transition: background-color .2s;
    cursor: default;
}
.user:hover{
    background-color: var(--special-ui-elements-color);
}
.user .info{
    display: flex; flex-direction: column;
    width: 100%;
}
.user .info h2{
    font-size: 1.1rem; line-height: 1; font-weight: 500;
    max-width: 80%;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.user .info h4{
    font-size: 0.9rem;
    color: #6A6F78;
}
.user img{
    min-width: 2.2rem; max-width: 2.2rem; height: 2.2rem;
    border-radius: 100%;
    object-fit: cover;
}

/* Выбранные пользователи */
.selected::before{
    content: "";
    height: 54px;
}
.selected .user::after{
    content: "\f143";
    font-family: "uicons-regular-rounded"; color: #A1D214;
    margin: 0 10px;
}
.selected .user:hover::after{
    content: "\f15d";
    font-family: "uicons-regular-rounded"; color: red;
    margin: 0 10px;
}

/* Поиск пользователей */
.dropdown-input{
    font-size: 1.4rem; color: var(--text-primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    flex-grow: 1;
    background-color: var(--button-bg-hover-color);
}
.dropdown-input::placeholder{
    color: #aaa; font-weight: 100;
}
.filter-button{
    border-radius: 10px;
    width: 48px; height: 48px;
    background-color: var(--button-bg-hover-color);
}

/* Фон */
.bg{
    position: fixed; right: -20%; top: 15%;
    height: 80%;
    animation: you_spin_me_right_round 200s infinite;
    z-index: -1000;
    opacity: .5;
}

/* Анимация */
@keyframes you_spin_me_right_round{
    from{ transform: rotate(0deg) }
    to{ transform: rotate(720deg) }
}


/* Кнопка с эффектом нажатия */
.main-btn{
    width: 100%;
    display: flex; justify-content: center; align-items: center;
}
.main-btn button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #0E58B5;
    color: #fff; font-size: 24px;
    transition-duration: .2s; transition-property: transform box-shadow;
    box-shadow: 0 5px 0 0 #0b458b;
    transform: translate(0, 0);
}
.main-btn button:hover{
    box-shadow: 0 3px 0 0 #0b458b;
    transform: translate(0, 3px);
}


/* Стилизация даты */
.date__container{
    display: flex; align-items: center; gap: 5px;
    color: var(--text-primary-color);
    margin-left: auto;
}
.date__container h5{
    display: inline-block;
}
.date__container span{
    font-size: 0.8rem;
}


/* @media screen and (max-width: 992px){
} */

@media screen and (max-width: 790px){
    /* Формы во всю ширину экрана */
    .form .form-wrapper form{ width: 100% }
    .form .form-wrapper{ width: 96%; left: 2% }
}

@media screen and (max-width: 576px){
    /* Сокращенные кнопки */
    .form .form-wrapper form .form-btn p{ display: none }

    /* Пользователи */
    .users{ gap: 1% }
    .user{ width: 49.5% }
}


/* Подсказки при наведении */
.hint{
    position: relative;
}
.hint span{
    white-space: nowrap;
    background-color: #555;
    color: #fff; font-size: 0.875rem; font-weight: 400;
    text-align: center;
    padding: 4px 0;
    border-radius: 4px;

    position: absolute;
    z-index: 1;
    bottom: -75%;
    left: -50%;

    visibility: hidden;
    opacity: 0;
}
.hint span::before, .hint span::after{
    content: '_';
    opacity: 0;
}
.hint:hover span{
    visibility: visible;
    opacity: 1;
}

/* Выпадающий список */
.filteringList{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.dropdownSelect{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 216px;
}
.dropdownSelect__trigger{
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 16px;
    height: 55px;
    border-radius: 8px;
    background-color: var(--theme-light);
    font-weight: 500;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.filtering.disable .dropdownSelect__trigger{
    opacity: 0.5;
}

.dropdownSelect__options{
    position: absolute;
    display: block;
    top: 110%;
    left: 0; right: 0;
    transition: all 0.1s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    max-height: 300px; overflow-y: auto;
    border: var(--theme-light) solid 2px;
}
.dropdownSelect__options::-webkit-scrollbar{
    width: 6px;
}
.dropdownSelect__options::-webkit-scrollbar-thumb{
    background-color: var(--color-scheme-light);
    border-radius: 3px;
}
.dropdownSelect.open .dropdownSelect__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    border-radius: 8px;
}
.dropdownSelect__option {
    position: relative;
    display: block;
    padding: 0 16px;
    background-color: var(--button-bg-color);
    line-height: 40px;
    transition: all 0.1s;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.dropdownSelect__option:hover {
    cursor: pointer;
    background-color: var(--button-bg-hover-color);
}
.dropdownSelect__option.selected {
    color: #ffffff;
    background-color: var(--color-scheme-dark);
}

.arrowDown {
    position: relative;
    height: 10px; width: 10px;
    margin-left: 16px;
}
.arrowDown::before, .arrowDown::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.16rem;
    border-radius: 0.8rem;
    height: 120%;
    background-color: var(--aside-text-color);
}
.arrowDown::before {
    left: -3.3px;
    transform: rotate(45deg);
}
.arrowDown::after {
    left: 3.3px;
    transform: rotate(-45deg); 
}
.dropdownSelect__trigger.active .arrowDown::after, .dropdownSelect__trigger.active .arrowDown::before{
    background-color: var(--color-scheme-dark);
    width: 10px;
    left: 0;
    height: 100%;
}
.dropdownSelect__trigger.open .arrowDown::before {
    left: -3.3px;
    transform: rotate(-45deg);
}
.dropdownSelect__trigger.open .arrowDown::after {
    left: 3.3px;
    transform: rotate(45deg);
}



/* Вернуться в начало страницы */
#arrowTop{
    position: fixed;
    bottom: 16px; right: 16px;
    height: 48px; width: 48px;
    background-color: var(--color-scheme);
    border-radius: 16px;
    padding: 14px;
    transform: rotate(-90deg);
    opacity: 0.5;
}
#arrowTop:hover{
    opacity: 1;
}
#arrowTop svg{
    fill: #fff;
}
