::-webkit-scrollbar{ width: 0 }
*{ margin: 0; padding: 0; box-sizing: border-box }

body{ font-family: "Arsenal" }
aside{
    position: fixed;
    height: 100%;
    width: 1000px;
    border-radius: 0 32px 0 0;
    padding: 25px;
    background-color: #111926ee;
    display: flex;
    align-items: center;
    clip-path: circle(80% at 0% 50%)
}
aside #logo{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
}
aside form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 75px;
    width: 500px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
aside form h1{
    font-family: "Poppins";
    font-size: 2.5rem;
    color: #fff;
}
#flash-error{
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f16e6e55;
    border-radius: 10px;
    color: #f16e6e;
}
#flash-error i{ margin: 10px 5px 0 }
aside form input{
    height: 60px;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 0 25px;
    outline: none;
    font-size: 20px;
}
aside form input::placeholder{
    font-size: 20px;
    opacity: 0.5;
}
aside form button{
    height: 60px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color:#0E58B5;
    color: #fff;
}
aside form button h4{
    font-size: 25px;
    font-weight: 500;
}

/* Фон */
.bg{
    position: fixed;
    height: 90%;
    right: -10%;
    top: 5%;
    animation: you_spin_me_right_round 200s infinite;
}

/* Адаптивность */
@media screen and (max-width: 1600px){ body{ zoom: 83% }}
@media screen and (max-width: 1356px){ body{ zoom: 70% }}
@media screen and (max-width: 1280px){ body{ zoom: 65% }}
@media screen and (max-width: 1024px){ body{ zoom: 55% }}

/* Анимация */
@keyframes you_spin_me_right_round{
    from{ transform: rotate(0deg) }
    to{ transform: rotate(720deg) }
}

/* Анимация фона */
#stars {
    position: fixed;
    z-index: -1; 
    background: #000;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}