@import url("fonts/Google font/stylesheet.css");
::-webkit-scrollbar{ width: 0 }
*{ margin: 0; padding: 0; box-sizing: border-box }

body{ font-family: "Google Sans"; zoom: 80%; }
.form__container{
    height: calc(100vh * 1.25); width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    height: 50px; width: 50px;
}
form{
    display: flex; flex-direction: column; gap: 10px;
    width: 500px;
    background-color: #fff;
    border-radius: 16px; border: #0002 solid 1px;
    padding: 40px;
}
form header{
    display: flex; gap: 5%; align-items: center;
    margin-bottom: 30px;
}
form header h1{
    font-size: 2rem;
}
form header h1::after{
    content: "Вход";
    font-size: 1rem;
    opacity: 0.5;
    margin-left: 5px;
}
#flash-error{
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 0;
}
#flash-error h4{
    font-size: 24px;
    font-weight: 400;
    color: #D93025;
    text-align: right;
}
form input{
    height: 60px; width: 100%;
    border-radius: 16px;
    padding: 0 25px;
    outline: none;
    font-size: 20px;
    border: #0002 solid 1px;
    position: relative;
}
form input::placeholder{
    font-size: 20px;
    opacity: 0.5;
}
form label{
    font-size: 1.2rem;
    margin-left: 5px;
}

/* footer */
form footer{
    display: flex; gap: 10px;
    margin-top: 30px;
} 
form footer > h4{
    opacity: .5;
}
form footer button{
    width: 100px; height: 48px;
    padding: 0 20px; margin-left: auto;
    border-radius: 8px; border: none;
    background-color: #1A73E8;
    color: #fff;
    cursor: pointer;
}
form footer button h4{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}


/* Фон */
.bg{
    position: fixed;
    height: 90%;
    right: 50%;
    top: 5%;
    animation: you_spin_me_right_round 200s infinite;
}

/* Анимация */
@keyframes you_spin_me_right_round{
    from{ transform: rotate(0deg) }
    to{ transform: rotate(720deg) }
}

/* Анимация фона */
#blob {
    position: fixed;
    z-index: -1;
    top: 0;
    background: #111926;
    width: 100%; height: 100%;
}