<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../log in/log in.css'/>
    <title>Вход</title>
</head>
<body>
    <aside>
        <img src='../../img/logo.png' id='logo' alt='logo' onclick="reload(this)"/>
        <form>
            <h1>KvantJournal</h1>
            <input placeholder="login" name='login'/>
            <input placeholder="password" name="password" type="password"/>
            <button type="submit"><h4>log in</h4></button>
        </form>
    </aside>
    <img src='../../img/atom.png' class='bg'/>
    <script src='../../JS/sections_manager.js'></script> <!-- Здесь нужен для анимации перезагрузки -->
</body>
</html>