{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet' href="{% static 'LoginApp/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'CoreApp/fonts/stylesheet.css' %}">

    <link rel="shortcut icon" href="{% static 'LoginApp/imgs/icon.png' %}" type="image/png" /> <!-- Лого -->
    
    <title>Вход</title>
</head>
<body>
    <div class="container">
        <form method="POST" action="{% url 'login_page' %}">
            <img src='{% static "LoginApp/imgs/logo.svg" %}' class='logo'/>

            <h1>Вход</h1>
            <p>Добро пожаловать! Пожалуйста введите свои данные.</p>

            {% if messages %}
                {% for message in messages %}
                    <div class='flashError'>
                        <p>{{ message }}</p>
                        <p>&#8416 </p>
                    </div>
                {% endfor %}
            {% endif %}
            
            {% csrf_token %}
            <label>Логин</label>
            <input name='username' autocomplete="off" placeholder="Введите ваш логин" spellcheck="false" autofocus/>
            
            <label>Пароль</label>
            <input name="password" type="password" autocomplete="off" placeholder="Введите ваш пароль" spellcheck="false"/>

            <button type="submit">
                <p>Войти</p>
            </button>
        </form>
        <div class="banner" id="blob"></div>
    </div>

    <!-- Здесь нужен для анимации перезагрузки -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->

    <script src="{% static 'LoginApp/scripts.js' %}"></script>
    <script src="{% static 'CoreApp/scripts.js' %}"></script>
</body>
</html>

