{% load static %}
{% load base_tags %}
{% load news_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% include "CoreApp/HeadSetup/index.html" %}
    <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="{% static 'NewsApp/NewsView/style.css' %}">
    <link rel="stylesheet" href='{% static "CoreApp/text/ql-editor.css" %}'>
    <link rel='stylesheet' href='{% static "CoreApp/icons/files/file-icons.css" %}'/>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    
    <title>{{ news.title }}</title>
</head>

<body>
    <!-- Навигационное меню -->
    {% include "CoreApp/AsideMenu/index.html" with user=user active='main_page' %}
    <div class="mainContainer">
        <!-- Главная -->
        <section class="newsView">

            <!-- Кнопки -->
            <div class="row g8">
                <button class="combinedButton" onclick="location.href=`{% url 'main_page' %}`">
                    <svg viewBox="0 0 14 14" style='transform: rotate(180deg)'>
                        <g transform="translate(-5 -5)">
                            <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                            <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                        </g>
                    </svg>
                    <span>Назад</span>
                </button>

                {% if news.author == user or user.permission == 'Администратор' %}
                <div class='relativeBox' style='margin-left: auto'>
                    <button class='trigger combinedButton' onclick="$(this).next('.list').toggle()" style='min-width: 3rem'>
                        <svg viewBox="0 0 192 512">
                            <path opacity='0.8' d="M96 184a72 72 0 1 0 72 72 72 72 0 0 0-72-72z"></path>
                            <path d="M96 152a72 72 0 1 0-72-72 72 72 0 0 0 72 72zm0 208a72 72 0 1 0 72 72 72 72 0 0 0-72-72z"></path>
                        </svg>
                    </button>
                    <div class="list">
                        <button class="listButton" onclick="open_form('#newNewsItemForm')">
                            Редактировать
                            <svg viewBox="0 0 576 512">
                                <path d="M564.6 60.2l-48.8-48.8a39.11 39.11 0 0 0-55.2 0l-35.4 35.4a9.78 9.78 0 0 0 0 13.8l90.2 90.2a9.78 9.78 0 0 0 13.8 0l35.4-35.4a39.11 39.11 0 0 0 0-55.2zM427.5 297.6l-40 40a12.3 12.3 0 0 0-3.5 8.5v101.8H64v-320h229.8a12.3 12.3 0 0 0 8.5-3.5l40-40a12 12 0 0 0-8.5-20.5H48a48 48 0 0 0-48 48v352a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48V306.1a12 12 0 0 0-20.5-8.5z" opacity='0.6'></path>
                                <path d="M492.8 173.3a9.78 9.78 0 0 1 0 13.8L274.4 405.5l-92.8 10.3a19.45 19.45 0 0 1-21.5-21.5l10.3-92.8L388.8 83.1a9.78 9.78 0 0 1 13.8 0z"></path>
                            </svg>  
                        </button>
                        <button class="listButton" onclick="open_form('#confirmDeletion')">
                            Удалить
                            <svg viewBox="0 0 448 512">
                                <path d="M53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 96H32zm47.18-221.47l84-81.59c8.84-8.59 23.61-2.24" opacity='0.6'></path>
                                <path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM208"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                
                <!-- Форма подтверждения удаления новости -->
                <div class='modal' id='confirmDeletion'>
                    <div class="modal__viewport" style="width: 48rem">
                        <form class='modal__content'>
                            <h1 class="modal__title">Удаление новости</h1>
                            <p>Вы уверены, что хотите удалить эту новость?</p>
                            <div class='modal__block'>
                                <div class='row g8' style='margin-left: auto'>
                                    <button class='secondaryButton'>
                                        Отмена
                                    </button>
                                    <button class='dangerButton' type="button" onclick="delConfirm()">
                                        <svg viewBox="0 0 448 512">
                                            <path d="M53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 96H32zm47.18-221.47l84-81.59c8.84-8.59 23.61-2.24" opacity='0.6'></path>
                                            <path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM208"></path>
                                        </svg>
                                        Удалить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}

            </div>


            {% if news.files|get_objects|is_files_image %}
            <!-- Галерея новости -->
            <div id="newsView__Carousel" class="carousel">
                <div class="carousel__slide" style="background-image: url('{{ news.image.url }}')"></div>
                {% for file in news.files|get_objects %}
                    {% if file|is_image %}
                    <div class="carousel__slide" style="background-image: url('{{ file.file.url }}')"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <!-- Если есть только одно изображение -->
            <img src="{{ news.image.url }}" class="newsView__preview">
            {% endif %}

            <!-- Информация новости -->
            <div class="newsView__info column g20">

                <p class="newsView__infoTitle">{{ news.title }}</p>
                
                <div class="row g8" onclick="location.href = `{% url 'info_page' news.author.id %}`">
                    <img src="{{ news.author.image.url }}" class="avatar">
                    <div class='column'>
                        <p style='color: var(--text-primary-color)'>{{ news.author.surname }} {{ news.author.name }}</p>
                        <p>{{ news.author.permission }}</p>
                    </div>
                </div>

                <!-- Текст новости -->          
                <div class="ql-snow">
                    <div class="ql-editor">
                        <p class="newsView__infoText">{{ news.content|safe }}</p>
                    </div>
                </div>
                {% if news.files|get_objects|length != 0 %}
                <!-- Файлы -->
                <div class='files'>
                    {% include "CoreApp/FileView/index.html" with files=news.files %}
                </div>
                {% endif %}

                <p>{{ news.date|date:"j F Y" }}</p>
            </div>
        </section>
    </div>
    <!-- Форма редактирования новости -->
    {% include "NewsApp/NewsCreationForm/index.html" with form_status="update" news=news %}

    <div class="alertsContainer column" id='alertsContainer'></div>
    
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <script>
        const myCarousel = new Carousel(document.querySelector("#newsView__Carousel"), { Dots: false, 'infinite' : false });
    </script>
    
    <!-- Сама панель инструментов -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'CoreApp/text/options.js' %}"></script>
    
    <script src="{% static 'NewsApp/NewsView/scripts.js' %}"></script>
    <script src="{% static 'NewsApp/Core/scripts.js' %}"></script>

    <script> is_event = false </script>

    {% if news.is_event %}
    
    <script> is_event = true </script>
    
    {% endif %}
    
    <script>
        old_files = [
            {% for file in news.files|get_objects %}
            {'name': '{{ file|get_file_name }}', 'id': '{{ file.id }}', 'size': '{{ file.file.size }}'},
            {% endfor %}
        ]
        
        addNewsPreview({'name': '{{ news.image|get_file_name }}', 'size': '{{ news.image.size }}'})
        for(let i = 0; i < old_files.length; i++){
            addNewFile(old_files[i], old_files, "#file-container")
        }
    </script>
    <script>
        function getUpdateFormData(){
            let news_form = getNewsFormData();
            for(let i = 0; i < old_files.length; i++){ // Перебор старых файлов
                news_form.append('files', old_files[i].id) // Добавление старых файлов в форму
            }
            news_form.append('is_event', is_event)
            return news_form
        }
    </script>
    <script>
        function delConfirm(){
            $.ajax({
                type: 'POST',
                url: '{% url "delete_news" news.id %}',
                data:{
                    'confirm': true,
                    'csrfmiddlewaretoken': getCookie('csrftoken'),
                },
                cache: false,
                success: function(response){
                    location.href = '{% url "main_page" %}'
                }
            })
        }
    </script>
</body>
</html>