
<!-- Это виджет ближайшие занятия -->
<!-- Просто заменяй виджет на этот фрагмент, если пользователь с правами админа или учителя-->

<!-- Виджет "Твои курсы" -->
<div id='courses-manager' style='padding-right: 0'>
    <!-- Заголовок виджета -->
    <span class="fi-rr-graduation-cap" style='font-size: 1.5rem; margin-right: 5px'></span>
    <h1 style='display: inline-block; margin-bottom: 43px;'>Ближайшие занятия 28.03</h1>

    <div id='slider'>
        <!-- Кнопки слайдера -->
        <button id='next'><span class='fi-rr-angle-right'></span></button>
        <button id='prev'><span class='fi-rr-angle-left'></span></button>

        <div class='item'>
            <img src="../../../img/default_bg.jpg" alt="Превью" />
            <h2>Предмет</h2>
            <h4>Время занятия</h4>
            <h4>Педагог</h4>
        </div>
        <div class='item'>
            <img src="../../../img/default_bg.jpg" alt="Превью" />
            <h2>Предмет</h2>
            <h4>Время занятия</h4>
            <h4>Педагог</h4>
        </div>
        <div class='item'>
            <img src="../../../img/default_bg.jpg" alt="Превью" />
            <h2>Предмет</h2>
            <h4>Время занятия</h4>
            <h4>Педагог</h4>
        </div>
        <div class='item'>
            <img src="../../../img/default_bg.jpg" alt="Превью" />
            <h2>Предмет</h2>
            <h4>Время занятия</h4>
            <h4>Педагог</h4>
        </div>
        <div class='item'>
            <img src="../../../img/default_bg.jpg" alt="Превью" />
            <h2>Предмет</h2>
            <h4>Время занятия</h4>
            <h4>Педагог</h4>
        </div>
        <div class='item'>
            <img src="../../../img/default_bg.jpg" alt="Превью" />
            <h2>Предмет</h2>
            <h4>Время занятия</h4>
            <h4>Педагог</h4>
        </div>
    </div>
</div>


