
<!-- Это шапка секции новости с кнопкой добавить новость, а также с самой формой -->
<!-- Просто заменяй шапку секции новости на этот фрагмент, если пользователь с правами админа или учителя-->


<!-- Шапка секции -->
<div style='display: flex; justify-content: space-between; height: 60px;'>
    <!-- Заголовок секции -->
    <div>
        <span class="fi-rr-world" style='font-size: 1.5rem; margin-right: 5px'></span>
        <h1 style='display: inline-block;'>Новости</h1>
    </div>
    <div class='main-btn' style='width: auto;'><button style='height: 40px;' onclick="open_add_news_form()">Добавить новость</button></div>
</div>

<!-- Форма создания новости -->
<div class='form' id='add-news-form' style='display: none'>
    <!-- Затемняющий фильтр -->
    <div class='filter' onclick="close_form(this)"></div>
    <div class="form-wrapper" style='overflow-y: scroll; padding: 100px 0'>
        <form class='four' style='margin: auto 0'>
            <div class='item-header'>
                <h2 style='margin: auto 0'>Добавление новости</h2>
                <div>
                    <button class='form-btn' type="submit"><span class="fi-rr-picture" style='font-size: 1rem; margin-right: 5px'></span><h3 style='display: inline-block; color: #fff'>Добавить обложку</h3></button>
                    |
                    <button class='form-btn' type="submit"><span class="fi-rr-world" style='font-size: 1rem; margin-right: 5px'></span><h3 style='display: inline-block; color: #fff'>Опубликовать</h3></button>
                </div>
                
            </div>
            <textarea name="Homework-text" class='text-field text-field-title' autocomplete="off" placeholder="Заголовок" style='min-height: 48px;'></textarea>
            <textarea name="Homework-text" class='text-field' autocomplete="off" placeholder="Текст..." style='min-height: 256px;'></textarea>
            <div class="item-header">
                <div class='files'>
                    <div class='file'><i class='file-xml'></i><h4>excel document.xml</h4></div>
                    <div class='file'><i class='file-pptx'></i><h4>presentation.pptx</h4></div>
                    <div class='file'><i class='file-doc'></i><h4>document.doc</h4></div>
                </div>
                <button class='form-btn' type="submit"><span class="fi-rr-clip" style='font-size: 1rem; margin-right: 5px'></span><h3 style='display: inline-block; color: #fff'>Документ</h3></button>
            </div>
        </form>
    </div>
</div>


