.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
.hljs,
.hljs-subst {
    color: #aaa;
}
.hljs-comment {
    color: #888;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag{
    font-weight: 700;
    color: magenta;
}
.hljs-params,
.hljs-function{
    color: #fff;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: #C3E871;
}
.hljs-section,
.hljs-title {
    color: #C3E871;
    font-weight: 700;
}
.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    /* color: #fff; */
    color: magenta;
}
.hljs-literal {
    color: #78a960;
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #82AAF1;
}
.hljs-meta {
    color: #1f7199;
}
.hljs-meta-string {
    color: #4d99bf;
}
.hljs-emphasis {
    font-style: italic;
    color: #C785B9;
}
.hljs-strong {
    font-weight: 700;
    color: magenta;
}
