<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='../../main.css' /> <!-- Основные стили -->
    <link rel="stylesheet" href="style.css"> <!-- Стили страницы -->

    <link rel="shortcut icon" href="../../img/google.svg" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->

    <link href="../../ql-editor.css" rel="stylesheet" /> <!-- Стили панели инструментов -->

    <title>Задания</title>
</head>

<body class='dark__theme' colorScheme="colorScheme__blue">
    
    <!-- Навигационное меню -->
    <nav class='navigation'>

        <div class='navigation__logo'>
            <img src='../../img/google.svg' alt='logo'/>
        </div>

        <div class='navigation__group column g8'>
            <button class='navigation__link'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M352 496V368a16 16 0 0 0-16-16h-96a16 16 0 0 0-16 16v128a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16V311.07c1.78-1.21 3.85-1.89 5.47-3.35L288 115l218.74 192.9c1.54 1.38 3.56 2 5.26 3.2V496a16 16 0 0 1-16 16H368a16 16 0 0 1-16-16z"></path>
                    <path d="M527.92 283.91L298.6 81.64a16 16 0 0 0-21.17 0L48.11 283.92a16 16 0 0 1-22.59-1.21L4.1 258.89a16 16 0 0 1 1.21-22.59l256-226a39.85 39.85 0 0 1 53.45 0l255.94 226a16 16 0 0 1 1.22 22.59l-21.4 23.82a16 16 0 0 1-22.6 1.2z"></path>
                </svg>
            </button>
            <button class='navigation__link active'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M576 62.75v337.84c0 16.23-13.13 29.77-30 30.66-49.47 2.6-149.52 12.1-218.7 46.92-10.65 5.36-23.28-1.94-23.28-13.49V100.81a15.37 15.37 0 0 1 7.27-13.17c67.24-41.16 176.16-52.48 231-55.59C560.64 31 576 45 576 62.75z"></path>
                    <path d="M264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31 0 45 0 62.75V400.6c0 16.24 13.13 29.78 30 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63a15.05 15.05 0 0 0-7.25-12.99z"></path>
                </svg>
            </button>
            <button class='navigation__link'>
                <svg viewBox="0 0 512 512">
                    <path opacity='0.3' d="M320 288h192v144c0 25.6-22.4 48-48 48H48c-25.6 0-48-22.4-48-48V288h192v48a16 16 0 0 0 16 16h96a16 16 0 0 0 16-16z"></path>
                    <path d="M464 128h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128z"></path>
                </svg>
            </button>
            <button class='navigation__link'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M352 287.9H162.3L79.5 350a9.7 9.7 0 0 1-15.5-7.8V288a64.06 64.06 0 0 1-64-64V64A64.06 64.06 0 0 1 64 0h288a64.06 64.06 0 0 1 64 64v160a63.91 63.91 0 0 1-64 63.9z"></path>
                    <path d="M576 224v160a64.06 64.06 0 0 1-64 64h-32v54.3a9.7 9.7 0 0 1-15.5 7.8L381.7 448H256a64.06 64.06 0 0 1-64-64v-64h160a96.15 96.15 0 0 0 96-96v-64h64a64.06 64.06 0 0 1 64 64z"></path>
                </svg>
            </button>
        </div>

        <div class='navigation__group column g8'>
            <button onclick="switch_theme()" class='navigation__link'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <g id="eclipse" transform="translate(-8 -8)">
                        <path opacity='0.3' d="M12,24a4,4,0,1,1,4-4A4,4,0,0,1,12,24Z"/>
                        <g>
                        <path d="M16.333,10.667A5.007,5.007,0,0,0,11.426,14.7,5.409,5.409,0,0,1,12,14.667,5.34,5.34,0,0,1,17.332,20a5.394,5.394,0,0,1-.033.573,5,5,0,0,0-.966-9.906Z"/>
                        <path d="M16.333,10a.667.667,0,0,1-.667-.667V8.667a.667.667,0,0,1,1.334,0v.667A.667.667,0,0,1,16.333,10Z"/>
                        <path d="M23.333,16.333h-.667a.667.667,0,1,1,0-1.333h.667a.667.667,0,0,1,0,1.333Z"/>
                        <path d="M20.341,11.66a.668.668,0,0,1,0-.943l.471-.472a.667.667,0,1,1,.943.943l-.471.472A.668.668,0,0,1,20.341,11.66Z"/>
                        <path d="M20.812,21.088l-.471-.472a.667.667,0,0,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                        <path d="M11.383,11.66l-.471-.472a.667.667,0,1,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                        </g>
                    </g>
                </svg>
            </button>
            <button onclick="switch_color_scheme()" class='navigation__link'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <g id="roller" transform="translate(-8 -8)">
                        <path d="M19.5,8H9.833A1.835,1.835,0,0,0,8,9.833v2.333A1.835,1.835,0,0,0,9.833,14H19.5a1.835,1.835,0,0,0,1.833-1.833V9.834A1.835,1.835,0,0,0,19.5,8Z"/>
                        <path opacity='0.3' d="M22.333,10.333h-1v1.333h1a.333.333,0,0,1,.333.333v3a.334.334,0,0,1-.333.333H15.666a2,2,0,0,0-2,2V18H15v-.667a.668.668,0,0,1,.667-.667h6.667A1.667,1.667,0,0,0,24,15V12A1.668,1.668,0,0,0,22.333,10.333Z"/>
                        <path d="M15.5,18H13.167A1.168,1.168,0,0,0,12,19.167v3.667A1.167,1.167,0,0,0,13.167,24H15.5a1.168,1.168,0,0,0,1.167-1.167V19.166A1.168,1.168,0,0,0,15.5,18Z"/>
                    </g>
                </svg>
            </button>
        </div>

        <div class='navigation__group column g8'>

            <!-- Список задач -->
            <button class='navigation__link'>
                <svg viewBox="0 0 512 512">
                    <path opacity='0.3' d="M166.57 282.71L44 159.21a17.87 17.87 0 0 1 .18-25.2l42.1-41.77a17.87 17.87 0 0 1 25.2.18l68.23 68.77L336.87 5.11a17.88 17.88 0 0 1 25.21.18L404 47.41a17.88 17.88 0 0 1-.18 25.21L191.78 282.89a17.88 17.88 0 0 1-25.21-.18z"></path>
                    <path d="M504.5 172a25.86 25.86 0 0 1 0 36.42L210.1 504.46a25.48 25.48 0 0 1-36.2 0L7.5 337.1a25.84 25.84 0 0 1 0-36.41l36.2-36.41a25.48 25.48 0 0 1 36.2 0L192 377l240.1-241.46a25.5 25.5 0 0 1 36.2 0L504.5 172z"></path>
                </svg>
            </button>

            <!-- Уведомления -->
            <button class='navigation__link'>
                <svg viewBox="0 0 448 512">
                    <path d="M448 384c-.1 16.4-13 32-32.1 32H32.08C13 416 .09 400.4 0 384a31.25 31.25 0 0 1 8.61-21.71c19.32-20.76 55.47-52 55.47-154.29 0-77.7 54.48-139.9 127.94-155.16V32a32 32 0 1 1 64 0v20.84C329.42 68.1 383.9 130.3 383.9 208c0 102.3 36.15 133.53 55.47 154.29A31.27 31.27 0 0 1 448 384z"></path>
                    <path opacity='0.3' d="M160 448h128a64 64 0 0 1-128 0z"></path>
                </svg>
            </button>

            <!-- Профиль -->
            <div class="navigation__profile">
                <img src='../../img/Kaelthas.jpg'>
            </div>
        </div>
    </nav>

    <!-- Навигационное меню для смартфонов -->
    <nav class='navigationBar'>
        <button class='navigation__link'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M352 496V368a16 16 0 0 0-16-16h-96a16 16 0 0 0-16 16v128a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16V311.07c1.78-1.21 3.85-1.89 5.47-3.35L288 115l218.74 192.9c1.54 1.38 3.56 2 5.26 3.2V496a16 16 0 0 1-16 16H368a16 16 0 0 1-16-16z"></path>
                <path d="M527.92 283.91L298.6 81.64a16 16 0 0 0-21.17 0L48.11 283.92a16 16 0 0 1-22.59-1.21L4.1 258.89a16 16 0 0 1 1.21-22.59l256-226a39.85 39.85 0 0 1 53.45 0l255.94 226a16 16 0 0 1 1.22 22.59l-21.4 23.82a16 16 0 0 1-22.6 1.2z"></path>
            </svg>
            Главная
        </button>
        <button class='navigation__link active'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M576 62.75v337.84c0 16.23-13.13 29.77-30 30.66-49.47 2.6-149.52 12.1-218.7 46.92-10.65 5.36-23.28-1.94-23.28-13.49V100.81a15.37 15.37 0 0 1 7.27-13.17c67.24-41.16 176.16-52.48 231-55.59C560.64 31 576 45 576 62.75z"></path>
                <path d="M264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31 0 45 0 62.75V400.6c0 16.24 13.13 29.78 30 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63a15.05 15.05 0 0 0-7.25-12.99z"></path>
            </svg>
            Задания
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 512 512">
                <path opacity='0.3' d="M320 288h192v144c0 25.6-22.4 48-48 48H48c-25.6 0-48-22.4-48-48V288h192v48a16 16 0 0 0 16 16h96a16 16 0 0 0 16-16z"></path>
                <path d="M464 128h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128z"></path>
            </svg>
            Проекты
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M352 287.9H162.3L79.5 350a9.7 9.7 0 0 1-15.5-7.8V288a64.06 64.06 0 0 1-64-64V64A64.06 64.06 0 0 1 64 0h288a64.06 64.06 0 0 1 64 64v160a63.91 63.91 0 0 1-64 63.9z"></path>
                <path d="M576 224v160a64.06 64.06 0 0 1-64 64h-32v54.3a9.7 9.7 0 0 1-15.5 7.8L381.7 448H256a64.06 64.06 0 0 1-64-64v-64h160a96.15 96.15 0 0 0 96-96v-64h64a64.06 64.06 0 0 1 64 64z"></path>
            </svg>
            Сообщения
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 512 512">
                <path opacity='0.3' d="M400 144A144 144 0 1 1 256 0a144 144 0 0 1 144 144z"></path>
                <path d="M384 320h-55.1a174.1 174.1 0 0 1-145.8 0H128A128 128 0 0 0 0 448v16a48 48 0 0 0 48 48h416a48 48 0 0 0 48-48v-16a128 128 0 0 0-128-128z"></path>
            </svg>
            Профиль
        </button>
    </nav>

    <div class="mainContainer">

        <!-- Задания -->
        <section id='lessons' class='column'>

            <div class="header px16 flex space-between">
                <div class="pagination w100 row g8">
                    <button class="actionButton">
                        <svg viewBox="0 0 14 14" style='transform: rotate(180deg)'>
                            <g transform="translate(-5 -5)">
                                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                            </g>
                        </svg>
                    </button>
                    <p class='pagination__page column items-center'>Ноябрь</p>
                    <button class="actionButton">
                        <svg viewBox="0 0 14 14">
                            <g transform="translate(-5 -5)">
                                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                            </g>
                        </svg> 
                    </button>
                </div>
            </div>

            <hr class="divider" style='margin: 0 1rem 1.5rem'>

            <div class="container column g8">
                <div class="lesson row">
                    <img src="../../img/illustrations/it.svg" class="lesson__illustration">
                    <div class="lesson__info column g12">
                        <div class="flex space-between">
                            <h2 class='lesson__title'>IT</h2>
                            <p class='lesson__date'>Дата</p>
                        </div>
                        <p class="lesson__topic">Тема урока</p>
                        <div class="row g4" style='margin-top: auto'>
                            <span class="mark poor">1</span>
                            <span class="mark badly">2</span>
                            <span class="mark fine">3</span>
                            <span class="mark excellent">4</span>
                        </div>
                    </div>
                </div>
                <div class="lesson row">
                    <img src="../../img/illustrations/designer.svg" class="lesson__illustration">
                    <div class="lesson__info column g12">
                        <div class="flex space-between">
                            <h2 class='lesson__title'>Промышленный дизайн</h2>
                            <p class='lesson__date'>Дата</p>
                        </div>
                        <p class="lesson__topic">Тема урока</p>
                        <div class="column g4" style='margin-top: auto'>
                            <p>Оценка за урок: -</p>
                            <p>Оценка за домашнее задание: -</p>
                        </div>
                    </div>
                </div>
                <div class="lesson row">
                    <img src="../../img/illustrations/science.svg" class="lesson__illustration">
                    <div class="lesson__info column g12">
                        <div class="flex space-between">
                            <h2 class='lesson__title'>Энерджи</h2>
                            <p class='lesson__date'>Дата</p>
                        </div>
                        <p class="lesson__topic">Тема урока</p>
                        <div class="column g4" style='margin-top: auto'>
                            <p>Оценка за урок: -</p>
                            <p>Оценка за домашнее задание: -</p>
                        </div>
                    </div>
                </div>
                <div class="lesson row">
                    <img src="../../img/illustrations/robo.svg" class="lesson__illustration">
                    <div class="lesson__info column g12">
                        <div class="flex space-between">
                            <h2 class='lesson__title'>Промробо</h2>
                            <p class='lesson__date'>Дата</p>
                        </div>
                        <p class="lesson__topic">Тема урока</p>
                        <div class="column g4" style='margin-top: auto'>
                            <p>Оценка за урок: -</p>
                            <p>Оценка за домашнее задание: -</p>
                        </div>
                    </div>
                </div>
                <div class="lesson row">
                    <img src="../../img/illustrations/hightech.svg" class="lesson__illustration">
                    <div class="lesson__info column g12">
                        <div class="flex space-between">
                            <h2 class='lesson__title'>Хайтек</h2>
                            <p class='lesson__date'>Дата</p>
                        </div>
                        <p class="lesson__topic">Тема урока</p>
                        <div class="column g4" style='margin-top: auto'>
                            <p>Оценка за урок: -</p>
                            <p>Оценка за домашнее задание: -</p>
                        </div>
                    </div>
                </div>
                <div class="lesson row">
                    <img src="../../img/illustrations/math.svg" class="lesson__illustration">
                    <div class="lesson__info column g12">
                        <div class="row space-between items-center">
                            <h2 class='lesson__title'>Математика</h2>
                            <p class='lesson__date'>06.11</p>
                        </div>
                        <p class="lesson__topic">Тема урока</p>
                        <div class="column g4" style='margin-top: auto'>
                            <p>Оценка за урок: -</p>
                            <p>Оценка за домашнее задание: -</p>
                        </div>
                    </div>
                </div>
                <div class="lesson row">
                    <img src="../../img/illustrations/eng.svg" class="lesson__illustration">
                    <div class="lesson__info column g12">
                        <div class="row space-between items-center">
                            <h2 class='lesson__title'>Технический английский</h2>
                            <p class='lesson__date'>06.11</p>
                        </div>
                        <p class="lesson__topic">Тема урока</p>
                        <div class="column g4" style='margin-top: auto'>
                            <p>Оценка за урок: -</p>
                            <p>Оценка за домашнее задание: -</p>
                        </div>
                    </div>
                </div>

                <div class="lessons__empty">
                    <svg viewBox="0 0 320 512">
                        <path d="M160 32.01c-88.37 0-160 71.63-160 160v127.1c0 88.37 71.63 160 160 160s160-71.63 160-160V192C320 103.6 248.4 32.01 160 32.01zM256 320c0 52.93-43.06 96-96 96c-52.93 0-96-43.07-96-96V192c0-52.94 43.07-96 96-96c52.94 0 96 43.06 96 96V320z"/>
                    </svg>
                    <h3>Занятий в этом месяце</h3>
                </div>

            </div>
        </section>

        <!-- Просмотр урока -->
        <section id="lessonView">
            <div class="header flex space-between">
                <div class='row g8'>
                    <button onclick="$('#lessonView').toggleClass('active')" class='actionButton transparent closeButton'>
                        <svg viewBox="0 0 14 14" style='transform: rotate(180deg)'>
                            <g transform="translate(-5 -5)">
                                <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                                <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                            </g>
                        </svg>
                    </button>
                    <img src="../../img/user_profile_female.jpg" class="avatar">
                    <div class='column'>
                        <p style='color: var(--text-primary-color)'>Фамилия Имя</p>
                        <p>Учитель</p>
                    </div>
                </div>
            </div>

            <hr class="divider" style='margin: 0 0 1.5rem'>

            <div class="lessonView__content column g16">

                <!-- Урок -->
                <h1>Тема урока</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam blanditiis ut. Illum suscipit inventore nobis dolore voluptate consequatur doloribus optio officia vitae dolor? Labore nostrum debitis sit ipsum veritatis vitae, nobis doloremque ipsa ipsam expedita excepturi recusandae cupiditate, dolorum tempore sint accusantium est iste eveniet numquam animi. Dolor quidem dicta mollitia libero ducimus nobis nulla ipsa aut, distinctio, neque quaerat quo optio eos reprehenderit consequuntur, dolorum id. Necessitatibus sint natus ratione quod ut. Architecto doloremque, ab nam nulla asperiores distinctio! Enim rem ipsam possimus consequuntur autem!</p>
                <div class='files'>
                    <div class='file'>
                        <i class='file-pptx'></i>
                        <div class="file__info">
                            <h4 class='file__name'>Теория.pptx</h4>
                            <p class="file__size">16 MB</p>
                        </div>
                        <div class="file__actions">
                            <button>
                                <svg viewBox="0 0 384 448">
                                    <path opacity='0.3' d="M360 480H24a24 24 0 0 1-24-24v-16a24 24 0 0 1 24-24h336a24 24 0 0 1 24 24v16a24 24 0 0 1-24 24z"></path>
                                    <path d="M151.92 32h80a23.94 23.94 0 0 1 24 24v136h87.7c17.8 0 26.8 21.51 14.2 34.11l-152.3 152.26a19.36 19.36 0 0 1-27.3 0L26.12 226.14c-12.6-12.6-3.7-34.11 14.1-34.11h87.7V56a23.94 23.94 0 0 1 24-24z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Задания -->
                <section class="tasks">

                    <nav class="menu">
                        <button class="menu__button active" onclick="changeTask('task1')">
                            <p>Заголовок задания</p>
                        </button>
                        <button class="menu__button" onclick="changeTask('task2')">
                            <p>Заголовок другого задания</p>
                            <span class="mark excellent">4</span>
                        </button>
                    </nav>

                    <div class="task active" id="task1">
                        <h1>Заголовок задания</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo quas voluptatum voluptates, consequuntur, nemo inventore molestias odio aspernatur architecto iusto ea ducimus eaque distinctio praesentium. Mollitia amet, blanditiis minus quod cum possimus iste, vel inventore nihil eum velit et non accusantium voluptatem odio nam. Odio consectetur a blanditiis sed quas.</p>
                        <div class='files'>
                            <div class='file'>
                                <i class='file-docx'></i>
                                <div class="file__info">
                                    <h4 class='file__name'>Домашнее задание.docx</h4>
                                    <p class="file__size">6.3 MB</p>
                                </div>
                                <div class="file__actions">
                                    <button>
                                        <svg viewBox="0 0 384 448">
                                            <path opacity='0.3' d="M360 480H24a24 24 0 0 1-24-24v-16a24 24 0 0 1 24-24h336a24 24 0 0 1 24 24v16a24 24 0 0 1-24 24z"></path>
                                            <path d="M151.92 32h80a23.94 23.94 0 0 1 24 24v136h87.7c17.8 0 26.8 21.51 14.2 34.11l-152.3 152.26a19.36 19.36 0 0 1-27.3 0L26.12 226.14c-12.6-12.6-3.7-34.11 14.1-34.11h87.7V56a23.94 23.94 0 0 1 24-24z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Отправить домашнюю работу -->
                        <div class="work column g16">
                            <div class="flex space-between items-center">
                                <h1>Отправить работу</h1>
                                <div class="row g8">
                                    <button class='primaryButton'>
                                        <svg width="14.666" height="16" viewBox="0 0 14.666 16">
                                            <g transform="translate(-8.667 -8)">
                                                <path opacity='0.3' d="M10.667,12.5a3.171,3.171,0,0,1,3.167-3.167h6.089A1.832,1.832,0,0,0,18.167,8H10.5A1.835,1.835,0,0,0,8.667,9.833V20.166A1.835,1.835,0,0,0,10.5,22h.167Z"/>
                                                <path d="M21.5,10.667H13.833A1.835,1.835,0,0,0,12,12.5v9.667A1.835,1.835,0,0,0,13.833,24H21.5a1.835,1.835,0,0,0,1.833-1.833V12.5A1.835,1.835,0,0,0,21.5,10.667ZM20.167,22h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.333h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"/>
                                            </g>
                                        </svg>
                                        Документ
                                    </button>
                                    <button class="secondaryButton">
                                        Отправить
                                        <svg viewBox="0 0 320 512">
                                            <path opacity='0.6' d="M232 160v328a24 24 0 0 1-24 24H12a12 12 0 0 1-8.48-20.48l56-56A12 12 0 0 1 68 432h84V160z"></path>
                                            <path d="M88 160c-20.94 0-31.76-25-17.6-40.33l104-112c.4-.43.82-.86 1.26-1.26a24 24 0 0 1 33.91 1.26l104 112C327.82 135 316.84 160 296 160z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div id="editor" class="editor"></div>
                            <div class='files'>
                                <div class='file'>
                                    <i class='file-xlsx'></i>
                                    <div class="file__info">
                                        <h4 class='file__name'>Домашняя работа.xlsx</h4>
                                        <p class="file__size">6.4 MB</p>
                                    </div>
                                    <div class="file__actions">
                                        <button>
                                            <svg viewBox="0 0 448 512">
                                                <path opacity='0.3' d="M53.2 467L32 96h384l-21.2 371a48 48 0 0 1-47.9 45H101.1a48 48 0 0 1-47.9-45z"></path>
                                                <path d="M0 80V48a16 16 0 0 1 16-16h120l9.4-18.7A23.72 23.72 0 0 1 166.8 0h114.3a24 24 0 0 1 21.5 13.3L312 32h120a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16H16A16 16 0 0 1 0 80z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="task" id="task2">
                        <h1>Заголовок задания</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo quas voluptatum voluptates, consequuntur, nemo inventore molestias odio aspernatur architecto iusto ea ducimus eaque distinctio praesentium. Mollitia amet, blanditiis minus quod cum possimus iste, vel inventore nihil eum velit et non accusantium voluptatem odio nam. Odio consectetur a blanditiis sed quas.</p>
                        <div class='files'>
                            <div class='file'>
                                <i class='file-docx'></i>
                                <div class="file__info">
                                    <h4 class='file__name'>Домашнее задание.docx</h4>
                                    <p class="file__size">6.3 MB</p>
                                </div>
                                <div class="file__actions">
                                    <button>
                                        <svg viewBox="0 0 384 448">
                                            <path opacity='0.3' d="M360 480H24a24 24 0 0 1-24-24v-16a24 24 0 0 1 24-24h336a24 24 0 0 1 24 24v16a24 24 0 0 1-24 24z"></path>
                                            <path d="M151.92 32h80a23.94 23.94 0 0 1 24 24v136h87.7c17.8 0 26.8 21.51 14.2 34.11l-152.3 152.26a19.36 19.36 0 0 1-27.3 0L26.12 226.14c-12.6-12.6-3.7-34.11 14.1-34.11h87.7V56a23.94 23.94 0 0 1 24-24z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="work column g16">
                            <div class="flex space-between items-center">
                                <h1>Отправить работу</h1>
                                <div class="row g8">
                                    <button class="secondaryButton" onclick="toForm(this)">
                                        Редактировать
                                    </button>
                                    <div class="primaryButton" style='color: var(--currentColor)'>
                                        <svg viewBox="0 0 512 512">
                                            <path opacity='0.6' d="M504.5 144.42L264.75 385.5 192 312.59l240.11-241a25.49 25.49 0 0 1 36.06-.14l.14.14L504.5 108a25.86 25.86 0 0 1 0 36.42z"></path>
                                            <path d="M264.67 385.59l-54.57 54.87a25.5 25.5 0 0 1-36.06.14l-.14-.14L7.5 273.1a25.84 25.84 0 0 1 0-36.41l36.2-36.41a25.49 25.49 0 0 1 36-.17l.16.17z"></path>
                                        </svg>
                                        Отправлено
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, odio doloremque eveniet quam quos repudiandae facere officiis quae optio excepturi reiciendis doloribus illo ea, fuga animi libero incidunt debitis tenetur.</p>
                            <div class='files'>
                                <div class='file'>
                                    <i class='file-xlsx'></i>
                                    <div class="file__info">
                                        <h4 class='file__name'>Домашняя работа.xlsx</h4>
                                        <p class="file__size">6.4 MB</p>
                                    </div>
                                    <div class="file__actions">
                                        <button>
                                            <svg viewBox="0 0 384 448">
                                                <path opacity='0.3' d="M360 480H24a24 24 0 0 1-24-24v-16a24 24 0 0 1 24-24h336a24 24 0 0 1 24 24v16a24 24 0 0 1-24 24z"></path>
                                                <path d="M151.92 32h80a23.94 23.94 0 0 1 24 24v136h87.7c17.8 0 26.8 21.51 14.2 34.11l-152.3 152.26a19.36 19.36 0 0 1-27.3 0L26.12 226.14c-12.6-12.6-3.7-34.11 14.1-34.11h87.7V56a23.94 23.94 0 0 1 24-24z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>

                </section>
                
            </div>
        </section>

        <div class="lessonView__empty row items-center" style='width: calc(100% - 40rem);'>
            <div class="column g32 items-center w100">
                <svg viewBox="0 0 640 512" style="width: 8%; fill: var(--currentColor)">
                    <path opacity='0.2' d="M640 49.59v316.82c0 27.34-21.53 49.59-48 49.59H343.79c-.9-2.53-1.86-5.05-2.9-7.54A144.52 144.52 0 0 0 298.51 352H576V64H224v49.1a127 127 0 0 0-59.46-17h-.33c-1.4 0-2.8-.08-4.21-.08V49.59C160 22.25 181.53 0 208 0h384c26.47 0 48 22.25 48 49.59z"></path>
                    <path opacity='0.4' d="M208 352a22.88 22.88 0 0 0-7.06 1.09A131.91 131.91 0 0 1 160 360a132 132 0 0 1-40.95-6.91 22.82 22.82 0 0 0-7-1.09A112 112 0 0 0 0 464.62C.14 490.88 21.73 512 48 512h224c26.27 0 47.86-21.12 48-47.38A112 112 0 0 0 208 352zm-48-32a96 96 0 1 0-96-96 96 96 0 0 0 96 96zm64-256v49.09a129 129 0 0 1 26.51 20.4 128 128 0 0 1 0 181 132.13 132.13 0 0 1-10.14 9.14A143.89 143.89 0 0 1 298.51 352H384v-64h128v64h64V64z"></path>
                </svg>
                <h3>Выберите урок для просмотра информации</h3>
            </div>
        </div>
    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    <script src='../../JS/script.js'></script> <!-- JavaScript -->

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> <!-- Панель инструментов -->
    <script src='../../JS/toolbar_options.js'></script> <!-- Настройки панели -->

    <script>
        $('.lesson').click( () => {
            $('#lessonView').addClass('active');
            $('.lessonView__empty').hide();
        });

        $(".menu__button").on("click", function(){
            $(this).parent().find(".menu__button").removeClass("active");
            $(this).toggleClass("active", "inactive");
        });

        function changeTask(taskId){
            $('.tasks').find(".task").removeClass("active");
            $('.tasks').find(`#${taskId}`).addClass("active");
        }

        function toForm(button){
            let work = $(button).closest('.work');

            $(work).html(`
                <div class="flex space-between items-center">
                    <h1>Отправить работу</h1>
                    <div class="row g8">
                        <button class='primaryButton'>
                            <svg width="14.666" height="16" viewBox="0 0 14.666 16">
                                <g transform="translate(-8.667 -8)">
                                    <path opacity='0.3' d="M10.667,12.5a3.171,3.171,0,0,1,3.167-3.167h6.089A1.832,1.832,0,0,0,18.167,8H10.5A1.835,1.835,0,0,0,8.667,9.833V20.166A1.835,1.835,0,0,0,10.5,22h.167Z"/>
                                    <path d="M21.5,10.667H13.833A1.835,1.835,0,0,0,12,12.5v9.667A1.835,1.835,0,0,0,13.833,24H21.5a1.835,1.835,0,0,0,1.833-1.833V12.5A1.835,1.835,0,0,0,21.5,10.667ZM20.167,22h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.333h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"/>
                                </g>
                            </svg>
                            Документ
                        </button>
                        <button class="secondaryButton">
                            Отправить
                            <svg viewBox="0 0 320 512">
                                <path opacity='0.6' d="M232 160v328a24 24 0 0 1-24 24H12a12 12 0 0 1-8.48-20.48l56-56A12 12 0 0 1 68 432h84V160z"></path>
                                <path d="M88 160c-20.94 0-31.76-25-17.6-40.33l104-112c.4-.43.82-.86 1.26-1.26a24 24 0 0 1 33.91 1.26l104 112C327.82 135 316.84 160 296 160z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div id="editor1" class='editor'>
                    ${$(work).find('p').text()}
                </div>
                ${$(work).find('.files')[0].outerHTML}
            `);
            
            var quill = new Quill('#editor1', {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        [{ 'header': 1 }, { 'header': 2 }],
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'indent': '-1'}, { 'indent': '+1' }],
                        ['link']
                    ],
                },
                theme: 'snow',
            });
        }
    </script>
    
</body>

</html>