
#tasks{
    display: flex; flex-direction: column;
    background-color: var(--item-bg-color);
    border-radius: 0.75rem;
    width: calc(100% - 1.5rem - 18rem);
}

.header{
    display: flex; flex-direction: row; justify-content: space-between;
    height: 5rem;
    padding: 1rem;
}
/* .header__nav{
    display: flex; align-items: center; gap: 16px;
}
.header__button{
    height: 45px; margin: 3px 0; padding: 0 16px;
    border-radius: 8px;
    color: #A1A5B7; font-weight: 900; font-size: 1.2rem;
    background-color: unset;
}
.header__button.active, .header__button:hover{
    color: #7E8599;
    background-color: var(--theme-light);
} */

.tasksContainer{
    padding: 0 1rem;
    height: calc(100% - 7.5rem);
    overflow: auto;
    scroll-behavior: smooth;
}
.task{
    display: flex; flex-direction: row; gap: 16px;
    border-radius: 8px;
    transition: background-color .1s;
    position: relative;
}
.task:hover{
    background-color: var(--theme-light);
}
.task.active{
    flex-direction: column;
    gap: 8px;
}
.task p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.task.active p{
    white-space: normal;
}
.task__icon{
    width: 64px; height: 64px;
    padding: 20px;
    border-radius: 8px;
    fill: var(--currentColor);
    background-color: var(--bgColor);
}
.task.active .task__icon{
    position: absolute; top: 0; left: 0;
    height: 100%;
}
/* .task.project .task__icon{ fill: #00b2ff; background-color: rgba(0, 178, 255, 0.1); }
.task.individual .task__icon{ fill: #20d489; background-color: rgba(32, 212, 137, 0.1); }
.task.kvantum .task__icon{ fill: #f1416c; background-color: rgba(241, 65, 108, 0.1); }
.task.math .task__icon{ fill: #ffc700; background-color: rgba(255, 199, 0, 0.1); } */

.task__icon svg{
    width: 24px; height: 24px;
}
.task__type{
    height: 64px; width: 204px;
    padding: 8px 0;
    display: flex; flex-direction: column; gap: 6px;
    margin-right: 32px;
}
.task.active .task__type{
    margin-left: 80px;
}
.task__typeTitle{
    font-size: 18px; font-weight: 800;
    color: var(--text-primary-color);
}
.task__typeInfo{
    font-size: 16px; font-weight: 500;
    color: #A1A5B7;
}
.task__info{
    min-height: 64px;
    padding: 8px 0;
    display: flex; flex-direction: column; gap: 6px;
    margin-right: 32px;
    width: 50%;
}
.task.active .task__info{
    margin-left: 80px;
    max-width: 80%;
}
.task__title{
    font-size: 18px; font-weight: 800;
    color: var(--text-primary-color);
}
.task__description{
    font-size: 16px; font-weight: 500;
    color: #A1A5B7;
}
.task .files{
    display: none;
}
.task.active .files{
    margin-left: 80px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    display: flex;
}
.task:not(.active) .files .file::before{
    content: none;
}
.task.project .file::before{ background-color: rgba(0, 178, 255, 0.1); }
.task.individual .file::before{ background-color: rgba(32, 212, 137, 0.1); }
.task.kvantum .file::before{ background-color: rgba(241, 65, 108, 0.1); }
.task.math .file::before{ background-color: rgba(255, 199, 0, 0.1); }

.task__date{
    min-height: 64px;
    padding: 8px 0;
    display: flex; flex-direction: column; gap: 6px;
    margin-left: auto; margin-right: 16px;
}
.task__dateDay{
    font-size: 18px; font-weight: 800;
    color: var(--text-primary-color);
    text-align: end;
}
.task__dateYear{
    font-size: 16px; font-weight: 500;
    color: #A1A5B7;
    text-align: end;
}
.task.active .task__date{
    position: absolute; right: 0; top: 0;
}


@media screen and (max-width: 980px){
    .taskMenu:first-of-type .taskMenu__button p{
        display: none;
    }
    .taskMenu:first-of-type .taskMenu__button.active p{
        display: block;
    }

    .filteringList{
        flex-direction: column;
    }
}
@media screen and (max-width: 512px){
    #tasks .header{
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }
}

/* Навигация */
.diaryNavigation{
    width: 18rem;
    background-color: unset;
}
.diaryNavigation__composeBtn{
    background-color: var(--bgColor);
    color: var(--currentColor);
    padding: 1rem 0;
    border-radius: 0.5rem;
    font-size: 1.2rem; font-weight: 500;
    transition: all .05s;
}
.diaryNavigation__composeBtn:active{
    transform: scale(0.98);
}
.diaryNavigation__composeBtn:hover{
    background-color: var(--currentColor);
    color: #fff;
}
.diaryNavigation__link{
    background-color: unset;
    height: 3rem;
    border-radius: 0.4rem;
    color: var(--text-primary-color);
    padding: 0.75rem 1rem;
    display: flex; align-items: center; gap: 1rem;
    font-size: 1rem; font-weight: 400;
    transition: all .2s;
}
.diaryNavigation__link:active{
    transform: scale(0.96);
}
.diaryNavigation__link svg{
    width: 1.25rem; height: 1.25rem;
    fill: #7e8299;
}
.diaryNavigation__link:hover{
    background-color: var(--item-bg-color);
}
.diaryNavigation__link.active{
    background-color: var(--item-bg-color);
    /* color: var(--currentColor); */
}
.diaryNavigation__link.active svg path{
    fill: var(--currentColor);
    /* opacity: 1; */
}

.labelsContainer__label{
    display: none;
}
.labelsContainer.active .labelsContainer__label{
    display: flex;
}

.mails__header{
    padding: 1rem;
}
.inputGroup{
    width: 32%;
    display: flex; flex-direction: row; gap: 0.125rem; align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
}
.inputGroup__input{
    width: calc(100% - 3rem); height: 3rem;
    background-color: var(--special-ui-elements-color);
    padding: 0.5rem 1rem;
    color: var(--text-primary-color);
    font-size: 1.1rem;
}
.inputGroup__input::placeholder{
    color: var(--text-primary-color);
}
.inputGroup__svg{
    height: 3rem; width: 3rem;
    padding: 0.75rem;
    fill: var(--text-primary-color);
    background-color: var(--special-ui-elements-color);
    transition: all .2s;
}
.inputGroup__svg:hover{
    fill: var(--currentColor);
}