#diary .container{
    display: flex; flex-direction: column; gap: 12px;
    padding-top: 5px;
}

#diary main .item {
    position: relative;
    display: flex;
}
.lesson-kvantum{
    background-image: 
        linear-gradient(transparent 0px, transparent 49px, rgba(255,255,255, 0.2) 50px, transparent 51px, transparent 99px, rgba(255,255,255, 0.2) 100px), 
        linear-gradient(120deg, transparent 0, transparent 48px, rgba(255,255,255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255,255,255, 0.2) 99px, transparent 100px), 
        linear-gradient(60deg, transparent 0, transparent 48px, rgba(255,255,255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255,255,255, 0.2) 99px, transparent 100px), 
        linear-gradient(90deg, var(--color-scheme-gradient), var(--color-scheme));
    background-size: 100px 100px, 115px 100px, 115px 100px, auto;
    width: 156px;
    border-radius: 10px 0 0 10px;
    padding: 16px;
    display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 8px;
}
.lesson-kvantum img{
    width: 96px; height: 96px;
    object-fit: cover;
}
.lesson-kvantum h4{
    color: #fff; font-size: 1rem; text-align: center;
}
.lesson-info{
    width: calc(100% - 156px); height: 100%;
    padding: 16px 24px 16px 16px;
    display: flex; flex-direction: column; gap: 8px;
}

.lesson-info .item-header{
    height: 32px;
    display: flex; align-items: center; justify-content: space-between;
}
.lesson-info .item-header .lesson-title{
    display: flex; align-items: center; gap: 8px;
}
.lesson-info .item-header h2{
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.lesson-info .item-header h3{
    color: var(--color-scheme-dark); font-weight: bold;
    margin-top: 4px;
    white-space: nowrap;
}
.lesson-info .item-header .lesson-teacher{
    display: flex; align-items: center; gap: 8px;
}
.lesson-info .item-header .lesson-teacher img{
    width: 32px; height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.lesson-info .item-header .lesson-teacher h4{
    font-size: 16px;
}
.lesson-info .files{
    margin-top: 8px;
}
.lesson-info .item-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.homework-container{
    margin-top: 8px;
    display: flex; gap: 16px; flex-direction: column;
}
.homework-container .homework-item{
    background-color: var(--special-ui-elements-color);
    border-radius: 10px;
    padding: 8px 16px 16px 16px;
    display: flex; gap: 8px; flex-direction: column;
}
.homework-container .homework-item .item-header{
    min-height: 51px;
}
.homework-container .homework-item .item-header .lesson-title h2{
    color: var(--color-scheme-dark);
    font-size: 1.4rem;
}
.homework-container .homework-item .item-btn{
    background-color: unset;
    padding: 0 12.5px; margin: 3px 0;
    min-height: 45px; max-height: 45px;
    border-radius: 8px;
    transition-property: color background-color box-shadow; transition-duration: .2s;
    display: flex; align-items: center; gap: 8px;
}
.homework-container .homework-item .item-btn p{
    font-weight: 500; font-size: 1.2rem;
}
.dark__theme .homework-container .homework-item .item-btn p{
    color: var(--color-scheme);
}
.light__theme .homework-container .homework-item .item-btn p{
    color: var(--color-scheme-dark);
}
.homework-container .homework-item .item-btn:hover{
    background-color: var(--special-ui-elements-color);
}


/* Псевдоэлемент оценки */
#diary main .item::after, form::after {
    content: '';
    position: absolute;
    right: 0; top: 0;
    height: 100%; width: 8px;
    border-radius: 0 8px 8px 0;
}
.four::after { background-color: #33B679 } /* Идеально */
.three::after { background-color:  #F6BF26 } /* С замечаниями */
.two::after { background-color: #F4511E } /* Сойдет */
.one::after { background-color: #D50000 } /* Плохо */
.absence::after { background-color: #3F51B5 } /* Отсутствие */
.disease::after { background-color: #8E24AA } /* Отсутствие по болезни */



.widgetRow{
    display: flex; flex-direction: column; gap: 16px;
    margin: 25px 45px 25px 121px;
    padding: 0;
}


#tasks{
    display: flex; flex-direction: column; gap: 16px;
    background-color: var(--item-bg-color);
    padding: 16px;
    border-radius: 16px;
}


.pageHeader{
    display: flex; justify-content: space-between; align-items: center;
}

.header{
    width: 100%;
    display: flex; justify-content: space-between; align-items: center;
}
.header__nav{
    display: flex; align-items: center; gap: 16px;
}
.header__button{
    height: 45px; margin: 3px 0; padding: 0 16px;
    border-radius: 8px;
    color: #A1A5B7; font-weight: 900; font-size: 1.2rem;
    background-color: unset;
}
.header__button.active, .header__button:hover{
    color: #7E8599;
    background-color: var(--theme-light);
}
.task{
    display: flex; flex-direction: row; gap: 16px;
    border-radius: 8px;
    transition: background-color .1s;
    position: relative;
}
.task:hover{
    background-color: var(--theme-light);
}
.task.active{
    flex-direction: column;
    gap: 8px;
}
/* .task.project:hover{ background-color: rgba(0, 178, 255, 0.1); }
.task.personal:hover{ background-color: rgba(32, 212, 137, 0.1); }
.task.group:hover{ background-color: rgba(241, 65, 108, 0.1); }
.task.option:hover{ background-color: rgba(255, 199, 0, 0.1); } */
.task p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.task.active p{
    white-space: normal;
}
.task__icon{
    width: 64px; height: 64px;
    padding: 20px;
    border-radius: 8px;
}
.task.active .task__icon{
    position: absolute; top: 0; left: 0;
    height: 100%;
}
.task.project .task__icon{ fill: #00b2ff; background-color: rgba(0, 178, 255, 0.1); }
.task.personal .task__icon{ fill: #20d489; background-color: rgba(32, 212, 137, 0.1); }
.task.group .task__icon{ fill: #f1416c; background-color: rgba(241, 65, 108, 0.1); }
.task.option .task__icon{ fill: #ffc700; background-color: rgba(255, 199, 0, 0.1); }

.task__icon svg{
    width: 24px; height: 24px;
}
.task__type{
    height: 64px; width: 204px;
    padding: 8px 0;
    display: flex; flex-direction: column; gap: 6px;
    margin-right: 32px;
}
.task.active .task__type{
    margin-left: 80px;
}
.task__typeTitle{
    font-size: 18px; font-weight: 800;
    color: var(--text-primary-color);
}
.task__typeInfo{
    font-size: 16px; font-weight: 500;
    color: #A1A5B7;
}
.task__info{
    min-height: 64px;
    padding: 8px 0;
    display: flex; flex-direction: column; gap: 6px;
    margin-right: 32px;
    width: 50%;
}
.task.active .task__info{
    margin-left: 80px;
    max-width: 80%;
}
.task__title{
    font-size: 18px; font-weight: 800;
    color: var(--text-primary-color);
}
.task__description{
    font-size: 16px; font-weight: 500;
    color: #A1A5B7;
}
.task .files{
    display: none;
}
.task.active .files{
    margin-left: 80px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    display: flex;
}
.task:not(.active) .files .file::before{
    content: none;
}
.task.project .file::before{ background-color: rgba(0, 178, 255, 0.1); }
.task.personal .file::before{ background-color: rgba(32, 212, 137, 0.1); }
.task.group .file::before{ background-color: rgba(241, 65, 108, 0.1); }
.task.option .file::before{ background-color: rgba(255, 199, 0, 0.1); }

.task__date{
    min-height: 64px;
    padding: 8px 0;
    display: flex; flex-direction: column; gap: 6px;
    margin-left: auto; margin-right: 16px;
}
.task__dateDay{
    font-size: 18px; font-weight: 800;
    color: var(--text-primary-color);
    text-align: end;
}
.task__dateYear{
    font-size: 16px; font-weight: 500;
    color: #A1A5B7;
    text-align: end;
}
.task.active .task__date{
    position: absolute; right: 0; top: 0;
}


@media screen and (max-width: 980px){
    .taskMenu:first-of-type .taskMenu__button p{
        display: none;
    }
    .taskMenu:first-of-type .taskMenu__button.active p{
        display: block;
    }

    .filteringList{
        flex-direction: column;
    }
}
@media screen and (max-width: 512px){
    #tasks .header{
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }
}