/* Подключение шрифтов */
@import url("fonts/Google font/stylesheet.css");

:root{
    /* Брейкпоинты */
    --xsmall: 576px;
    --small: 768px;
    --medium: 992px;
    --large: 1200px;
    --xlarge: 1400px;
}

/* Светлая тема */
.light__theme{
    --bg-color: #FeFeFe;
    --bg-secondary-color: aliceblue;
    --aside-bg-color: #fff;

    --text-primary-color: #111926;
    --text-secondary-color: #25262C;

    --item-bg-color: #fff;
    --item-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.04);

    --button-bg-color: #fff;
    --button-bg-hover-color: #F6F6F6;
    --button-bg-active-color: #E3EEFC;

    --special-ui-elements-color: #F1F1F1; 
}

/* Темная тема */
.dark__theme{
    --bg-color: #1B1C22;
    --bg-secondary-color: #191A1F;
    --aside-bg-color: #0F0F10;

    --text-primary-color: #eee;
    --text-secondary-color: #25262C;

    --item-bg-color: #25262C;
    --item-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.04);

    --button-bg-color: #1B1C22;
    --button-bg-hover-color: #1B1C22;
    --button-bg-active-color: #25262C;

    --special-ui-elements-color: #25262C; 
}

/* Синяя цветовая гамма */
.blue__color__scheme{
    --color-scheme: #83eaf1;
    /* --color-scheme-dark: #1967D2; */
    --color-scheme-dark: #06c;
    --color-scheme-gradient: #63a4ff;
    --color-scheme-shadow: -1px 1px #83eaf1, -2px 2px #83eaf1, -3px 3px #83eaf1, -4px 4px #83eaf1;
}
/* Оранжевая цветовая гамма */
.orange__color__scheme{
    --color-scheme: #f3a183;
    --color-scheme-dark: #eC6f66;
    --color-scheme-gradient: #eC6f66;
    --color-scheme-shadow: -1px 1px #f3a183, -2px 2px #f3a183, -3px 3px #f3a183, -4px 4px #f3a183;
}

/* Скрываем скролбар */
::-webkit-scrollbar{ width: 0 }

*{ margin: 0; padding: 0; box-sizing: border-box }

button, input, textarea, .ql-editor{ border: none; outline: none; cursor: pointer; resize: none; font-family: 'Google Sans'; }
a{ text-decoration: none; color: unset; }

/* Настройка шрифтов */
::placeholder{ font-family: 'Google Sans' }
h1{ font-size: 2rem; font-weight: bold; color: var(--text-primary-color)}
h2, h2 *{ font-size: 1.6rem; font-weight: bold; color: var(--text-primary-color)}
h3, .dropdown-input{ font-size: 1.1; font-weight: 500; color: #6A6F78 }
h4, h6{ font-size: 1.2rem; font-weight: 300; color: #6A6F78}
p{ font-size: 1rem; font-weight: normal; color: #70757D }
h1, h2, h3, h4, h5, h6, p{ cursor: unset }
span{ color: var(--text-primary-color) }

/* Основные элементы страницы */
body{
    background-color: var(--bg-color);
    position: relative;
    height: 100%; width: 100%;
    font-family: "Google Sans";
    padding-top: 100px;

    /* Запрещает выделять текст */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item{
    background-color: var(--item-bg-color);
    border-radius: 10px;
    box-shadow: var(--item-shadow);
    border: #0001 solid 1px;
    cursor: pointer;
    transition-duration: .5s !important; transition-property: transform, box-shadow !important;
}
.item:hover{
    box-shadow: var(--color-scheme-shadow);
    transform: translateX(4px) translateY(-4px);
}

/* Навигационное меню */
aside{
    position: fixed; top: 0; left: 0;
    height: 100%; width: 120px;
    background-color: var(--aside-bg-color);
    box-shadow: 1px 0 1px 0 #0001;
    padding: 15px;
}
aside #logo{
    width: 60px; height: 60px;
    margin: 15px;
}
aside nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
aside nav button{
    background-color: unset;
    border-radius: 5px;
    transition-property: background-color; transition-duration: .2s;
    display: flex; align-items: center; flex-direction: column;
    padding: 10px 0;
    color: var(--text-primary-color);
    width: 90px;
}
aside nav:last-child{
    position: absolute;
    bottom: 15px;
}
aside nav button span{ font-size: 20px }
aside nav button p{ font-size: 14px; color: var(--text-primary-color); font-weight: 500; }
aside nav button:hover{ background-color: var(--button-bg-hover-color) }
aside nav .active{ background-color: var(--button-bg-hover-color) }
aside nav .active p, aside nav .active span{ color: var(--color-scheme-dark) }

/* Шапка */
header{
    position: fixed;
    top: 0; left: 120px;
    z-index: 1;
    width: calc(100% - 100px); height: 100px;
    padding: 25px 55px 25px 75px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
}
/* Панель инструментов */
header .profile-header{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 1000px);
}
header .toolbar{
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
}
header .toolbar button{
    width: 40px; height: 40px;
    margin: 5px 0; padding: 10px;
    border-radius: 5px;
    color: #1967D2; font-size: 20px;
    background-color: var(--button-bg-color);
    transition: .2s background-color;
}
header .toolbar button:hover{
    background-color: var(--button-bg-active-color);
}
/* Профиль */
header .profile-header .profile{
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    cursor: pointer;
}
header .profile-header .profile .info{
    display: flex;
    flex-direction: column;
    text-align: right;
}
header .profile-header .profile .info h2{
    font-size: 1.2rem;
}
header .profile-header .profile .info h4{
    font-size: 1rem;
}
header .profile-header .profile img{
    width: 44px; height: 44px;
    border-radius: 100%;
    object-fit: cover;
    transition-duration: .2s;
    transition-property: filter;
    position: relative;
}
header .profile-header .profile::after{
    content: '\f218';
    font-family: "uicons-regular-rounded";
    font-size: 20px;
    position: absolute;
    top: 14px; right: 12px;
    opacity: 0;
    color: #fff;
    transition-duration: .2s;
    transition-property: opacity;
}
header .profile-header .profile:hover::after{
    opacity: 1;
}
header .profile-header .profile:hover img{
    filter: brightness(0.5);
}

/* Формы */
.form{
    display: none;
}
.form::before{
    content: "";
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: #0008;
    z-index: 2;
}
.form .form-wrapper{
    overflow-y: scroll; padding: 100px 0;
    position: fixed; top: 0; left: calc(50% - 500px);
    height: 100%;
    display: flex;
    z-index: 3;
}
.form .forms__container{
    display: flex;
    flex-direction: column; gap: 10px;
    margin: auto 0;
}
.form .forms__container > form{
    margin: 0;
}
.form .form-wrapper form{
    width: 1000px;
    background-color: var(--bg-color);
    padding: 10px 25px 10px 25px; margin: auto 0;
    border-radius: 10px;
    position: relative;
    display: flex; flex-direction: column; gap: 10px;
}
.form .form-wrapper form .form-btn{
    color: #1967D2; font-weight: 500; font-size: 1.2rem;
    background-color: var(--button-bg-color);
    padding: 0 15px; margin: 3px 0;
    min-height: 45px;
    border-radius: 10px;
    transition-property: color background-color box-shadow; transition-duration: .2s;
}
.form .form-wrapper form .form-btn span{
    margin-right: 10px; font-size: 1rem; color: #1967D2;
}
.form .form-wrapper form .form-btn:hover{
    background-color: var(--button-bg-active-color);
}

/* Форма */
.form .form-wrapper form .item-header{
    display: flex; justify-content: space-between; align-items: center;
    min-height: 51px;
    gap: 5px;
}
.form .form-wrapper form .item-header .lesson-title{
    max-width: 80%;
}
.form .form-wrapper form .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
.form .form-wrapper form .item-header .lesson-title h3{
    color: var(--color-scheme-dark); font-weight: bold;
    margin-top: 6px; float: right;
}
.form .form-wrapper form .item-header .lesson-teacher{ display: flex; align-items: center }
.form .form-wrapper form .item-header .lesson-teacher img{
    width: 32px; height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.form .form-wrapper form .item-header .lesson-teacher h4{ display: inline-block; margin-right: 10px; font-size: 16px }
.form .form-wrapper form .text-field{
    width: 100%;
    border-radius: 10px; border: #00000022 solid 1px;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--item-bg-color);
    color: var(--text-primary-color);
}
.form .form-wrapper form .text-field-title{
    font-size: 1.3rem;
    white-space: nowrap;
}
.form .form-wrapper form .text-field::placeholder{ font-size: 1rem }
.form .form-wrapper form .text-field-title::placeholder{ font-size: 1.3rem }

.form .form-wrapper form .preview{
    width: 1000px;
    margin: -10px -25px 10px -25px;
    border-radius: 10px 10px 0 0;
}

/* Разделитель */
.divider{ margin: 5px 0 }

/* Файлы */
.files{
    display: flex; flex-wrap: wrap; gap: 8px;
    width: 100%;
}
.file-info i{ margin-right: 10px }
.files h4{ display: inline-block; color: var(--text-primary-color) }
.file{
    height: 51px;
    border-radius: 100px; border: #0001 solid 1px;
    padding: 0 0 0 20px;
    display: flex; align-items: center;
    transition-duration: .2s; transition-property: box-shadow;
    background-color: var(--item-bg-color);
}
/* Название и иконка файла */
.file .file-info{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.file .file-info h4{
    max-width: 256px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Кнопка удаления и скачивания файла*/
.file .file-btns{
    display: flex; align-items: center; gap: 10px;
    padding: 5px 10px; margin-left: -25px;
}
.file button{
    background-color: unset;
    transition-duration: .4s; transition-property: color background-color;
    clip-path: circle();
    padding: 10px;
    display: flex; justify-content: center; align-items: center;
}
/* Кнопка "Удалить файл" */
.file .del-file::before{
    content: '\f15d';
    width: 13px; height: 13px;
    font-family: "uicons-regular-rounded";
    color: var(--text-primary-color);
}
.file .del-file:hover{
    background-color: #FF374B;
    color: #fff;
}
.file .del-file:hover::before{
    color: #fff;
}
/* Кнопка "Скачать файл" */
.file .download-file::before{
    content: '\f171';
    font-family: "uicons-regular-rounded"; 
    color: var(--text-primary-color);
}
.file .download-file:hover{
    background-color: #0E58B5;
}
.file .download-file:hover::before{
    color: #fff;
}
.file:hover{ box-shadow: 0 2px 2px 2px #2c3b4f23 }
.item .file{ background-color: var(--bg-secondary-color); }



/* Пользователи */
.users{
    display: flex; gap: 0.33%;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    flex-wrap: wrap;
}
.user{
    display: flex; gap: 10px; align-items: center;
    width: 33%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--button-bg-color);
    margin-bottom: 0.33%;
}
.user:hover{
    background-color: var(--button-bg-active-color);
}
.user .info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.user .info h2{
    font-size: 1.1rem; line-height: 1;
    max-width: 90%;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.user .info h4{
    font-size: 0.9rem;
    color: #6A6F78;
}
.user img{
    width: 2.2rem; height: 2.2rem;
    border-radius: 100%;
    object-fit: cover;
}

/* Выбранные пользователи */
/* Костыль */
.selected::before{
    content: "";
    height: 54px;
    margin-right: -10px;
}
.selected .user::after{
    content: "\f143";
    font-family: "uicons-regular-rounded";
    color: #A1D214;
    margin: 0 10px;
}
.selected .user:hover::after{
    content: "\f15d";
    font-family: "uicons-regular-rounded";
    color: red;
    margin: 0 10px;
}


/* Стилизация выпадающего списка */
.dropdown-input{
    font-size: 1.4rem; color: var(--text-primary-color); font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    flex-grow: 1;
    background-color: var(--special-ui-elements-color);
    position: relative;
}
.dropdown-input::placeholder{
    color: #444;
}
/* .dropdown-input::after{
    content: "\f207";
    font-family: "uicons-regular-rounded";
    color: #A1D214;
    margin: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
} */
.filter-button{
    border-radius: 10px;
    width: 48px; height: 48px;
    background-color: var(--special-ui-elements-color);
}
.filter-button > i{
    font-size: 20px;
    color: #444;
}
.filter-button.active > i{
    color: var(--color-scheme-dark);
}

/* Фон */
.bg{
    position: fixed; right: -20%; top: 10%;
    height: 90%;
    animation: you_spin_me_right_round 200s infinite;
    z-index: -1000;
}
@media screen and (max-width: 1200px){
    .bg{
        display: none;
    }
}

/* Адаптивность от бога */
@media screen and (max-width: 1600px){ body{ zoom: 83% }}
@media screen and (max-width: 1356px){ body{ zoom: 70% }}
@media screen and (max-width: 1280px){ body{ zoom: 65% }}
@media screen and (max-width: 1024px){ body{ zoom: 55% }}
@media screen and (max-width: 992px){ body{ zoom: 65% }}

/* Анимация */
@keyframes you_spin_me_right_round{
    from{ transform: rotate(0deg) }
    to{ transform: rotate(720deg) }
}

/* Стилизация расписания */
.calendar__timetable{
    border-radius: 10px;
    height: 40px;
    width: min-content;
    display: flex;
    align-items: center;
    background-color: #FFEAEC;
    font-weight: 800;
    cursor: help;
}

/* Расписание */
.calendar__timetable .day{
    border-radius: 10px;
    padding: 10px 15px;
    color: #FF374B;
}
.calendar__timetable .day-active{
    background-color: #FF374B;
    color: #fff;
}
.calendar__timetable .day-active time{
    background-color: #fff;
    color: #000;
    padding: 2px 5px;
    margin: 2px 5px;
    border-radius: 5px;
}

/* Кнопка с эффектом нажатия */
.main-btn{
    width: 100%;
    display: flex; justify-content: center;
}
.main-btn button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #0E58B5;
    color: #fff; font-size: 24px;
    transition-duration: .2s; transition-property: transform box-shadow;
    box-shadow: 0 5px 0 0 #0b458b;
    transform: translate(0, 0);
}
.main-btn button:hover{
    box-shadow: 0 3px 0 0 #0b458b;
    transform: translate(0, 3px);
}


/* Стилизация даты */
.date__container{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-primary-color);
    margin-left: auto;
}
.date__container h5{
    display: inline-block;
}
.date__container span{
    font-size: 0.8rem;
}


@media screen and (max-width: 992px){
    header{
        flex-direction: column-reverse; gap: 25px;
        height: 175px;
    }
    header .profile-header{
        width: 1000px;
        margin-left: auto;
        padding: 0 10px;
        margin-left: 0;
        margin-right: auto;
    }
    body{
        padding-top: 175px;
    }
}
@media screen and (max-width: 790px){
    /* aside */
    aside{
        position: fixed; top: calc(100% - 92px); left: 0;
        height: 92px; width: 100%;
        box-shadow: 1px 0 1px 0 #0001;
        padding: 15px;
        display: flex;
        z-index: 1;
    }
    aside #logo{
        width: 50px; height: 50px;
        position: fixed;
        top: 25px; left: 45px;
        margin: 0;
    }
    aside nav{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    aside nav:last-child{
        position: absolute;
        right: 15px;
    }

    /* Формы */
    .form .form-wrapper form{
        width: 100%;
    }
    .form .form-wrapper{
        width: 96%;
        left: 2%;
    }
}
@media screen and (max-width: 468px){
    aside nav:last-child{
        display: none;
    }
    aside nav{
        width: 100%;
        gap: 1.2%;
    }
    aside nav button{
        width: 19%;
    }
}
