/* Подключение шрифтов */
@import url("fonts/Google font/stylesheet.css");

body{
    /* Брейкпоинты */
    --xsmall: 576px;
    --small: 768px;
    --medium: 992px;
    --large: 1200px;
    --xlarge: 1400px;
}

body[colorScheme='colorScheme__green']{
    --bgColor: #20d48922;
    --currentColor: #20d489;
}
body[colorScheme='colorScheme__blue']{
    --bgColor: #00b2ff22;
    --currentColor: #00b2ff;
}
body[colorScheme='colorScheme__red']{
    --bgColor: #f1416c22;
    --currentColor: #f1416c;
}
body[colorScheme='colorScheme__purple']{
    --bgColor: #6c63ff22;
    --currentColor: #6c63ff;
}

/* Светлая тема */
.light__theme{
    --aside-bg-color: #fff;
    --item-bg-color: #ebf0f8;

    --text-primary-color: #111926;
    --text-secondary-color: #eee;

    --theme-light: #3436380a;
    --theme-light-alpha: #0002;
}
/* Темная тема */
.dark__theme{
    --aside-bg-color: #191919;
    --item-bg-color: #25262C;

    --text-primary-color: #eee;
    --text-secondary-color: #111926;

    --theme-light: #f5f8fa0e;
    --theme-light-alpha: #fff1;
}

*{ margin: 0; padding: 0; box-sizing: border-box }

/* Скрываем полосу прокрутки */
::-webkit-scrollbar{
    width: 0; height: 0;
}

/* Немного обнуления */
button, input, textarea, .ql-editor{
    border: none; outline: none; cursor: pointer; resize: none; font-family: 'Google Sans';
}
a{
    text-decoration: none; color: unset;
}

/* Шрифты и размеры текста */
::placeholder{ font-family: 'Google Sans' }

h1{ font-size: 2rem;    font-weight: bold;    color: var(--text-primary-color) }
h2{ font-size: 1.6rem;  font-weight: bold;    color: var(--text-primary-color) }
h3{ font-size: 1.2rem;  font-weight: 500;     color: #70757D }
h4{ font-size: 1.2rem;  font-weight: 300;     color: #70757D }
p{  font-size: 1rem;    font-weight: normal;  color: #70757D }

h1, h2, h3, h4, h5, h6, p{ cursor: unset }


html{
    /* Плавная прокрутка страницы */
    scroll-behavior: smooth;

    /* Параметр, от которого зависит размер всех элементов */
    font-size: 16px;
}

body{
    cursor: default;
    background-color: var(--item-bg-color);
    
    font-family: "Google Sans";

    /* Запрещает выделять текст */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Убирает подсветку кнопок при нажатии на смартфонах */
    -webkit-tap-highlight-color: #0000;

    /* Отступ для навигации */
    padding-left: 5.5rem;
}

/* Основной контейнер */
.mainContainer{
    height: 100%; width: 100%;
    background-color: var(--aside-bg-color);
    padding: 1.5rem;
    border-radius: 1.5rem 0 0 1.5rem;
    display: flex; gap: 1.5rem;
    overflow: auto;
}
@media screen and (max-width: 740px){
    .mainContainer{
        padding: 0.5rem;
        border-radius: 0;
    }
}

/* Быстрые классы */
.flex{ display: flex }
.row{ display: flex; flex-direction: row; align-items: center }
.column{ display: flex; flex-direction: column }

.g0{ gap: 0; }
.g2{ gap: 0.125rem }
.g4{ gap: 0.25rem }
.g8{ gap: 0.5rem }
.g12{ gap: 0.75rem }
.g16{ gap: 1rem }
.g24{ gap: 1.5rem }
.g32{ gap: 2rem }

.items-stretch{ align-items: stretch }
.items-center{ align-items: center; }

.w100{ width: 100%; }
.h100 { height: 100%; }

.space-between{ justify-content: space-between }
.center{ justify-content: center }

.display-none{ display: none }

.px8{ padding: 0 0.5rem }
.px16{ padding: 0 1rem }

.py8{ padding: 0.5rem 0 }
.py16{ padding: 1rem 0 }


/* Аватар */
.avatar{
    width: 2.5rem; height: 2.5rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

/* Навигационное меню */
.navigation{
    position: fixed; top: 0; left: 0;
    height: 100%; width: 5.5rem;
    padding: 0 1rem;
}
.navigation__logo img{
    width: 2.5rem; height: 2.5rem;
    margin: 2.5rem 0.5rem;
}
.navigation__group:last-of-type{
    position: fixed; bottom: 0;
}
.navigation__link{
    position: relative;
    height: 3.5rem; width: 3.5rem;
    background-color: unset;
    border-radius: 0.5rem;
    transition: all .1s;
}
.navigation__link:active{
    transform: scale(0.9);
}
.navigation__link svg{
    width: 1.5rem; height: 1.5rem;
    margin: 1rem;
    fill: #9ea5b0;
}
.navigation__link:hover, .navigation__link.active{
    background-color: var(--theme-light);
}
.navigation__link.active{
    background-color: var(--aside-bg-color);
}
.navigation__link.active svg path{
    fill: var(--currentColor);
    opacity: 1;
}
.navigation__link.active::after{
    content: "";
    position: absolute; top: 30%; left: 0;
    height: 40%; width: 0.25rem; border-radius: 2px;
    background-color: var(--currentColor);
}
.navigation__profile img{
    width: 2.5rem; height: 2.5rem;
    margin: 1.5rem 0.5rem;
    border-radius: 50%;
    object-fit: cover;
}

/* Навигационное меню для смартфонов */
.navigationBar{
    width: 100%; height: 4rem;
    display: none;
    position: fixed; bottom: 0; left: 0;
    justify-content: space-around;
    background-color: var(--aside-bg-color);
    padding-top: 0.5rem;
    z-index: 1000000;
    overflow: hidden;
}
.navigationBar__profile{
    width: 2.5rem; height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.navigationBar .navigation__link{
    background-color: unset;
    display: flex; flex-direction: column; gap: 0.25rem; align-items: center;
    color: #9ea5b0;
}
.navigationBar .navigation__link:before{
    content: "";
    background-color: var(--theme-light);
    width: 10%; height: 10%;
    clip-path: circle();
    position: absolute;
    top: 45%; left: 45%;
    opacity: 0;
    transition: all .1s;
}
.navigationBar .navigation__link:active{
    transform: none;
}
.navigationBar .navigation__link:active::before{
    width: 180%; height: 180%;
    left: -40%; top: -40%;
    opacity: 1;
}
.navigationBar .navigation__link.active{
    color: var(--currentColor);
}
.navigationBar .navigation__link svg{
    margin: 0; padding: 0.125rem;
}
.navigationBar .navigation__link.active::after{
    content: "";
    position: absolute; left: 10%; top: calc(100% + 0.5rem);
    height: 0.25rem; width: 80%; border-radius: 2px 2px 0 0;
    background-color: var(--currentColor);
}

@media screen and (max-width: 740px){
    body{
        padding-left: 0;
        padding-bottom: 4rem;
    }
    .navigation{ display: none }
    .navigationBar{ display: flex }
}

/* Формы просмотра и заполнения информации */
.form{
    visibility: hidden; transition: visibility .4s;
}
.form.active{
    visibility: visible;
}
.form::before{
    content: "";
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: #0006;
    z-index: 2;
    visibility: hidden; opacity: 0;
    transition-property: visibility opacity;
    transition-duration: .4s;
}
.form.active::before{
    visibility: visible; opacity: 1;
}
.form .form-wrapper{
    overflow-y: scroll; padding: 6rem 0;
    position: fixed; top: 0; left: calc(50% - 36.25rem);
    height: 100%;
    z-index: 3;
    display: flex; align-items: center;
}
.form .form-wrapper form{
    width: 72.5rem;
    background-color: var(--aside-bg-color);
    padding: 1rem 1.25rem; margin: auto 0;
    border-radius: 1rem;
    position: relative;
    display: flex; flex-direction: column; gap: 1rem;

    transform: translateY(2000px);
    transition: transform .4s;
}
.form.active .form-wrapper form{
    transform: translateY(0px) !important;
}

/* Строительный блок для форм (Костыль из прошлого)*/
.form .item-header{
    display: flex; justify-content: space-between; align-items: center;
    min-height: 3rem;
    gap: 0.5rem;
}
.form .item-header h2{
    white-space: nowrap;
    margin-right: auto;
}

/* Текстовые поля в форме */
.form .form-wrapper form .text-field{
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--item-bg-color);
    color: var(--text-primary-color);
}
.form .form-wrapper form .text-field-title{
    font-size: 1.3rem;
    white-space: nowrap;
}
.form .form-wrapper form .text-field::placeholder{
    font-size: 1rem;
}
.form .form-wrapper form .text-field-title::placeholder{
    font-size: 1.3rem;
}

@media screen and (max-width: 992px){
    .form .form-wrapper form{ width: 100% }
    .form .form-wrapper{ width: 98%; left: 1% }
}
@media screen and (max-width: 576px){
    .form form{
        padding: 1rem !important;
    }
    .form h2{
        display: none;
    }
}


/* Переключатели */
.toggle{
    height: 1rem; width: 2rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    margin: 0;
    background: linear-gradient(180deg, #eee 0%, #eee 100%);
    transition: all .2s ease;
}
.toggle:after{
    content: '';
    position: absolute;
    top: -2px; left: -2px;
    width: 1.25rem; height: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(44,44,44,.4);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}
.dark__theme .toggle.theme{
    background: #A1D214;
}
.dark__theme .toggle.theme:after{
    transform: translatex(1rem);
}
.toggle.color-scheme{
    width: 1rem;
}
.toggle.color-scheme::after{
    background-color: var(--currentColor);
}


/* Разделитель */
.divider{
    margin: 0.5rem 0;
    border-color: var(--text-primary-color);
    border-width: 1px;
    opacity: .1;
}


/* Файлы */
.files{
    display: flex; flex-wrap: wrap; gap: 1rem;
    width: 100%;
}
.file{
    height: 3rem;
    width: calc((100% - 3rem) / 4);
    min-width: 16rem;
    display: flex; align-items: center; flex-direction: row;
    border-radius: 0.25rem;
    overflow: hidden;
    border: var(--theme-light) solid 1px;
}
.file i{
    width: 3rem; height: 3rem;
    padding: 0 0.75rem;
    background-color: var(--theme-light);
    display: flex; align-items: center;
}
.file i::before{
    width: 1.5rem !important;
}

.file__info{
    overflow: hidden;
    padding: 0 0.5rem; margin-right: 1rem;
    display: flex; flex-direction: column; gap: 1px;
}
.file__name{
    color: var(--text-primary-color);
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file__size{
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file__actions{
    display: flex; gap: 0.5rem;
    padding: 0.25rem;
    margin-left: auto;
}
.file__actions button{
    width: 2rem; height: 2rem;
    background-color: unset;
    display: flex; align-items: center;
    padding: 0 0.5rem;
}
.file__actions button svg{
    fill: #70757D;
    width: 1rem; height: 1rem;
}
.file__actions button:hover svg{
    fill: var(--currentColor);
}


/* Пользователи */
.users{
    display: flex; gap: 0.5rem;
    flex-wrap: wrap;
}
.user{
    width: calc((100% - 1.5rem) / 4);
    padding: 0.5rem;
    border-radius: 2rem;
    transition: background-color .2s;
    overflow: hidden;
}
.user:hover{
    background-color: var(--item-bg-color);
}
.user:hover .user__name{
    color: var(--currentColor);
}
.user__info{
    width: calc(100% - 3rem - 0.5rem);
}
.user__name{
    font-weight: 500;
    color: var(--text-primary-color);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 768px){
    .user{
        width: calc((100% - 1rem) / 3);
    }
}
@media screen and (max-width: 576px){
    .user{
        width: calc((100% - 0.5rem) / 2);
    }
}
@media screen and (max-width: 400px){
    .user{
        width: 100%;
    }
}


/* Выпадающий список */
.filteringList{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.dropdownSelect{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dropdownSelect__trigger{
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 1rem;
    height: 3.5rem;
    border-radius: 8px;
    background-color: var(--theme-light);
    font-weight: 500;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
    color: var(--text-primary-color);
}
.filtering.disable .dropdownSelect__trigger{
    opacity: 0.5;
}

.dropdownSelect__options{
    position: absolute;
    display: block;
    top: 110%;
    left: 0; right: 0;
    transition: all 0.1s;
    opacity: 0; visibility: hidden;
    z-index: 1;
    max-height: 20rem; overflow-y: auto;
    border: var(--theme-light) solid 2px;
    background-color: var(--aside-bg-color);
}
.dropdownSelect__options::-webkit-scrollbar{
    width: 6px;
}
.dropdownSelect__options::-webkit-scrollbar-thumb{
    background-color: var(--currentColor);
    border-radius: 3px;
}
.dropdownSelect.open .dropdownSelect__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    border-radius: 0.5rem;
}
.dropdownSelect__option {
    position: relative;
    display: block;
    padding: 0 1rem;
    background-color: var(--aside-bg-color);
    line-height: 2.5rem;
    transition: all 0.1s;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
    color: var(--text-primary-color);
}
.dropdownSelect__option:hover {
    cursor: pointer;
    background-color: var(--theme-light);
}
.dropdownSelect__option.selected {
    color: #ffffff;
    background-color: var(--currentColor);
}

.arrowDown {
    position: relative;
    height: 10px; width: 10px;
    margin-left: 1rem;
}
.arrowDown::before, .arrowDown::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.16rem;
    border-radius: 0.8rem;
    height: 120%;
    background-color: #70757D;
}
.arrowDown::before {
    left: -3.3px;
    transform: rotate(45deg);
}
.arrowDown::after {
    left: 3.3px;
    transform: rotate(-45deg); 
}
.dropdownSelect__trigger.active .arrowDown::after, .dropdownSelect__trigger.active .arrowDown::before{
    background-color: var(--currentColor);
    width: 10px;
    left: 0;
    height: 100%;
}
.dropdownSelect__trigger.open .arrowDown::before {
    left: -3.3px;
    transform: rotate(-45deg);
}
.dropdownSelect__trigger.open .arrowDown::after {
    left: 3.3px;
    transform: rotate(45deg);
}


/* Вернуться в начало страницы */
#arrowTop{
    position: fixed;
    bottom: 1rem; right: 1rem;
    height: 3rem; width: 3rem;
    background-color: var(--bgColor);
    border-radius: 1rem;
    padding: 0.875rem;
    transform: rotate(-90deg);
    opacity: 0.5;
}
#arrowTop:hover{
    opacity: 1;
}
#arrowTop svg{
    fill: var(--currentColor);
}


/* Кнопки */
button.disabled{
    opacity: 0.5;
}

.primaryButton{
    height: 3rem;
    color: #7e8299;
    font-weight: 700;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    display: flex; align-items: center; gap: 0.5rem;
    background-color: var(--item-bg-color);
}
.primaryButton svg{
    width: 1rem; height: 1rem;
    fill: var(--currentColor);
}
button.primaryButton:hover{
    color: var(--currentColor);
}
.light__theme button.primaryButton:hover{
    color: #606374;
}

.secondaryButton{
    height: 3rem;
    background-color: var(--currentColor);
    color: #fff;
    font-weight: 600;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    display: flex; align-items: center; gap: 0.5rem;
}
.secondaryButton svg{
    width: 1rem; height: 1rem;
    fill: #fff;
}
.secondaryButton:hover{
    filter: brightness(0.9);
}

.dangerButton{
    height: 3rem;
    background-color: tomato;
    color: #fff;
    font-weight: 600;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    display: flex; align-items: center; gap: 0.5rem;
}
.dangerButton svg{
    width: 1rem; height: 1rem;
    fill: #fff;
}
.dangerButton:hover{
    filter: brightness(0.9);
}

.actionButton{
    height: 3rem; width: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--aside-bg-color);
}
.actionButton.transparent{
    background-color: unset;
}
.actionButton:hover svg{
    fill: var(--currentColor);
    fill-opacity: 1;
}
.actionButton svg{
    height: 1rem; width: 1rem;
    fill: var(--text-primary-color);
    fill-opacity: 0.4;
    transition: all .2s;
}

button[class$='Button']{
    font-size: 1.1rem;
    transition: all .05s;
}
button[class$='Button']:active{
    transition: transform .2s;
    transform: scale(0.96);
}


/* Меню по разделам */
.menu{
    border-radius: 1rem;
    display: flex; flex-direction: row; gap: 0.5rem;
    overflow: hidden;
    height: 4rem; min-height: 4rem;
    width: min-content;
    padding: 0.25rem;
    /* border: var(--theme-light) dashed 2px; */
    background-color: var(--item-bg-color);
}
.menu__button{
    display: flex; gap: 0.75rem; align-items: center;
    padding: 0 1.5rem;
    border-radius: 1rem;
    background-color: unset;
    transition: all .1s;
    position: relative;
}
.menu__button.active{
    background-color: var(--currentColor);
}
.menu__button svg{
    width: 1rem; height: 1rem;
    transition: all .1s;
    filter: saturate(0);
    fill: #70757D;
}
.menu__button:hover svg, .menu__button.active svg{
    fill: #fff;
}
.menu__button p{
    font-size: 1.125rem;
    font-weight: 500;
    white-space: nowrap;
}
.menu__button.active p{
    color: #fff;
}
.menu__button:not(.active):hover p{
    color: var(--text-primary-color);
}

@media screen and (max-width: 992px){
    .menu .menu__button p{
        display: none;
    }
    .menu .menu__button.active p{
        display: block;
    }
}


/* Оповещения */
.alertsContainer{
    position: fixed; bottom: 0; left: 0;
    padding: 1rem;
    z-index: 10;
    display: flex; flex-direction: column; align-items: center; gap: 8px;
    width: 100%;
}
@media screen and (max-width: 740px){
    .alertsContainer{
        bottom: 4rem;
    }
}
.alert{
    width: min-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #f1416cdd;
    display: flex; align-items: center; gap: 0.5rem;
}
.alert p{
    white-space: nowrap;
    color: #fff;
}
.alert svg{
    fill: #fff;
}
.alert button{
    background-color: unset;
    margin-left: auto;
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
}


/* Выбор пользователя */
.userSelect{
    width: 32rem;
    background-color: var(--item-bg-color);
    border-radius: 12px;
    display: flex; flex-direction: column;
    max-height: 16rem;
    overflow: auto;
    box-shadow: 0 0 1rem #0001;
}
.userSelect::-webkit-scrollbar{
    width: 6px;
}
.userSelect::-webkit-scrollbar-thumb{
    background-color: var(--theme-light-alpha);
    border-radius: 3px;
}
.userSelect__user{
    height: 5rem;
    padding: 1rem 1.5rem;
    transition: padding .2s, height .2s;
    display: flex; flex-direction: row; gap: 1rem;
}
.userSelect__user:hover{
    background-color: var(--theme-light);
}
.userSelect__user:hover .userSelect__userName{
    color: var(--currentColor);
}
.userSelect__userImage{
    width: 3rem; height: 3rem;
    border-radius: 25%;
    object-fit: cover; object-position: center;
}
.userSelect__userInfo{
    display: flex; flex-direction: column; gap: 4px;
}
.userSelect__userName{
    color: var(--text-primary-color);
    transition: color .2s;
}

#userSearch{
    height: 27.2px;
}
#selectedUsers{
    display: flex; flex-wrap: wrap; gap: 0.25rem;
}
#selectedUsers .userSelect__user{
    background-color: var(--bgColor);
    color: var(--currentColor);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    height: 27.2px;
    display: flex; align-items: center;
}
#selectedUsers .userSelect__user::after{
    content: "×";
    font-size: 1.5rem;
    margin-left: -0.5rem;
}
#selectedUsers .userSelect__user .userSelect__userName{
    font-weight: 400;
    font-size: 1rem;
    color: var(--currentColor);
}
#selectedUsers .userSelect__user .userSelect__userImage, #selectedUsers .userSelect__user .userSelect__userRole{
    display: none;
}


/* Кастомная полоса прокрутки */
.scrollbar{
    padding-right: 0.5rem;
}
.scrollbar::-webkit-scrollbar{
    width: 0.25rem;
}
.scrollbar::-webkit-scrollbar-thumb{
    background-color: var(--theme-light-alpha);
    border-radius: 0.125rem;
}

/* Таблицы */
table{
    width: 100%;
}
th{
    width: var(--width);
    text-align: left;
    background-color: var(--item-bg-color);
    border-radius: 0.25rem;
    padding: 0.75rem;
    color: var(--text-primary-color);
}
tr:hover > td{
    background-color: var(--bgColor);
}

td{
    background-color: var(--item-bg-color);
    border-radius: 0.5rem;
    padding: 0.75rem;
    color: var(--text-primary-color);
    vertical-align: top;
    transition: all .05s;
}


/* Шкалы */
.scale{
    background-color: var(--item-bg-color);
    width: 100%; height: 0.5rem;
    border-radius: 0.25rem;
}
.subscale{
    width: var(--percent);
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--currentColor);
}

/* Список */
.relativeBox{
    position: relative;
}
.list{
    display: none; flex-direction: column;
    position: absolute; top: calc(100% + 0.5rem); right: 0;
    z-index: 1;
    border-radius: 0.75rem;
    overflow: hidden;
    background-color: var(--aside-bg-color);
    box-shadow: 0 0 0 1px var(--item-bg-color);
}
.listButton{
    background-color: unset;
    display: flex; justify-content: space-between; align-items: center;
    width: 16rem; height: 4rem;
    font-weight: 500;
    padding: 0 1.5rem;
    color: var(--text-primary-color);
}
.listButton svg{
    width: 1rem; height: 1rem;
    fill: #70757D;
}
.listButton:hover{
    background-color: var(--theme-light);
}
.listButton:active{
    transform: none !important;
}


.combinedButton{
    background-color: unset;
    display: flex; flex-direction: row; gap: 0.75rem; align-items: center;
    height: 3rem;
    border-radius: 1.5rem;
    color: var(--text-primary-color);
    padding: 0 1rem;
    max-width: 90%; 
}
.combinedButton span{
    white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
    font-weight: 500;
}
.combinedButton svg{
    width: 1rem; height: 1rem;
    fill: #70757D;
}
.combinedButton:hover{
    background-color: var(--theme-light);
}
.combinedButton:hover svg{
    fill: var(--currentColor);
}
.combinedButton:active{
    transform: none !important;
}

/* Инпут */
.input{
    height: 4rem;
    background-color: var(--item-bg-color);
    border-radius: 1rem;
    padding: 0 1rem;
    display: flex; flex: 1 0 auto;
    font-size: 1.125rem; color: var(--text-primary-color); font-weight: 500;
}


/* Вкладки */
.tabs{
    display: flex; flex-direction: row; gap: 0.5rem;
    overflow: hidden;
    height: 4rem; min-height: 4rem;
    width: min-content;
    padding: 0.25rem;
}
.tab{
    display: flex; gap: 0.75rem; align-items: center;
    padding: 0 1.5rem;
    border-radius: 1rem;
    background-color: unset;
    transition: all .1s;
    position: relative;
}
.tab.active::before{
    content: "";
    position: absolute;
    left: 0; bottom: -0.25rem;
    height: 0.25rem; width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: var(--currentColor);
}
.tab svg{
    width: 1rem; height: 1rem;
    transition: all .1s;
    filter: saturate(0);
    fill: #70757D;
}
.tab:hover svg, .tab.active svg{
    fill: #fff;
}
.tab p{
    font-size: 1.125rem;
    font-weight: 500;
    white-space: nowrap;
}
.tab.active p{
    color: var(--text-primary-color);
}
.tab:not(.active):hover p{
    color: var(--text-primary-color);
}