::-webkit-scrollbar{ width: 0 }

*{ margin: 0; padding: 0; box-sizing: border-box }

button, input, textarea{ border: none; outline: none; cursor: pointer; resize: none; }
a{ text-decoration: none; color: unset; }
button:hover{ filter: brightness(1.1); }

/* Настройка шрифтов */
::placeholder{ font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen Cantarell, 'Open Sans', sans-serif }
h4, p{ font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen Cantarell, 'Open Sans', sans-serif }
h1, h2, h3{ font-family: "Poppins"; cursor: default }
h3, h5, h6, p{ line-height: 1.15 }
h1{ font-size: 2.5rem; font-weight: bold; color: #111926; line-height: 1 }
h2, h2 *{ font-size: 2rem; font-weight: bold; color: #111926; line-height: 1.75 }
h3, .dropdown-input{ font-size: 1.3; font-weight: 300; color: #6A6F78 }
h4{ font-size: 1.3rem; font-weight: 300; color: #6A6F78; line-height: 1.5 }
p{ font-size: 1rem; font-weight: normal; color: #70757D }

/* Основные элементы страницы */
body{
    background-color: #FAFAFA;
    position: relative;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}
body > section{ padding: 50px 0 0 150px; }

.item{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition-duration: .5s;
    transition-property: transform, box-shadow;
}
.item:hover{
    box-shadow:
    -1px 1px #65a9fc,
    -2px 2px #65a9fc,
    -3px 3px #65a9fc,
    -4px 4px #65a9fc,
    -5px 5px #65a9fc,
    -6px 6px #65a9fc,
    -7px 7px #65a9fc;
    -webkit-transform: translateX(7px) translateY(-7px);
    transform: translateX(7px) translateY(-7px);
}

/* Навигационное меню */
aside{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: #111926;
    border-radius: 0 40px 0 0;
    padding: 25px;
}
aside #logo{
    width: 60px;
    height: 60px;
    margin: 0 -5px;
    margin-bottom: 30px;
}
aside nav button{
    width: 60px;
    height: 60px;
    padding: 15px;
    margin: 10px -5px;
    background-color: unset;
    border-radius: 15px;
    font-size: 30px;
    color: #EFF1F3;
}
aside nav button:not(.user-img):hover{ background-color: #2C3B4F }
aside nav .active{ background-color: #2C3B4F }
.user-img{ font-size: 50px; padding: 0 }

/* Главная */
#main{ padding: 0 }

/* Виджеты */
#widgets{
    width: 100%;
    height: 500px;
    background-color: #EFF1F3;
    padding-left: 150px;
    box-shadow: 0 2px 10px 10px #2c3b4f2f;
    display: flex;
}
#widgets > div{
    height: 100%;
    padding: 50px;
    position: relative;
}
#widgets > div h1{ margin-bottom: 50px }

/* Виджет "Список дел" */
#widgets #mini-task-manager{ width: 50% }
#widgets #mini-task-manager h3{
    margin-top: -40px;
    margin-bottom: 30px;
}
#widgets #mini-task-manager::after{
    content: url(../Templates/img/bg.png);
    position: absolute;
    right: 0;
    bottom: -25px;
    transform: scale(0.8);
}
#widgets #mini-task-manager > div ul{
    list-style: none;
    overflow-y: scroll;
    height: 190px;
    width: 300px;
}
#widgets #mini-task-manager > div ul::-webkit-scrollbar{
    width: 10px;
    background-color: #DEDFE1;
    border-radius: 5px;
}
#widgets #mini-task-manager > div ul::-webkit-scrollbar-thumb{
    background-color: #d0d1d3;
    border-radius: 5px;
    border: #DEDFE1 solid 2px;
}
#widgets #mini-task-manager > div ul li{ position: relative }
#widgets #mini-task-manager > div ul li input{
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
    opacity: 0;
}
#widgets #mini-task-manager > div ul li h4::before{
    content: '\f229';
    font-family: "uicons-regular-rounded";
    font-size: 16px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: -30px;
}
#widgets #mini-task-manager > div ul li input[type=checkbox]:checked + h4:before{
    content: '\f143';
    color: limegreen;
}
#widgets #mini-task-manager > div ul li h4{
    display: inline-block;
    vertical-align: baseline;
}
#widgets #mini-task-manager > div #new-task{
    padding: 6px 15px;
    border-radius: 10px;
    background-color: #22B975;
    color: #fff;
    position: absolute;
    bottom: 50px;
}
#widgets #mini-task-manager > div #new-task p{
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}

/* Виджет "Твои курсы" */
#widgets #courses-manager{
    background-color: #85BBFF;
    border-radius: 0 0 0 40px;
    width: 960px;
}
#widgets #courses-manager > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
#widgets #courses-manager > div > div{
    width: 260px;
    height: 300px;
    box-shadow: none;
    margin-right: 3.5%;
    transition-duration: .5s;
    transition-property: transform, box-shadow;
}
#widgets #courses-manager > div > div:hover{
    box-shadow:
        -1px 1px #65a9fc,
        -2px 2px #65a9fc,
        -3px 3px #65a9fc,
        -4px 4px #65a9fc,
        -5px 5px #65a9fc,
        -6px 6px #65a9fc,
        -7px 7px #65a9fc;
    -webkit-transform: translateX(7px) translateY(-7px);
    transform: translateX(7px) translateY(-7px);
}
#widgets #courses-manager div:last-child{ margin-right: 0 }
#widgets #courses-manager > div > div img{
    object-fit: cover;
    width: 100%;
    height: 128px;
    border-radius: 15px 15px 0 0;
}
#widgets #courses-manager > div > div h2, #widgets #courses-manager > div > div h4{ margin: 0 0 0 15px }

/* Новости */
#news{
    width: 100%;
    background-color: #fff;
    padding: 50px 45px 0 195px;
}
#news > div{
    width: 100%;
    margin-top: 20px;
    padding: 0 5px;
    display: flex;
    gap: 2%;
}
#news > div .item{
    max-width: 32%;
    height: 280px;
    margin-bottom: 2%;
}
#news > div .item:last-child{ margin-right: 0 }
#news > div .item img{
    object-fit: cover;
    width: 100%;
    height: 128px;
    border-radius: 15px 15px 0 0;
}
#news > div .item h2, #news > div .item p{ margin: 0 25px }

/* Дневник */
#diary{ padding-left: 140px }
#diary header{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-bottom: 30px;
    padding: 0 10px;
}
#diary header .week-selector{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#diary header .week-selector h3{
    background-color: #22B975;
    border-radius: 10px;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
    margin: 0 5px;
}
#diary header .week-selector button{
    height: 40px;
    width: 40px;
    padding: 4px;
    background-color: #22B975;
    border-radius: 10px;
    color: #fff;
}
#diary header .week-selector span{
    font-size: 32px;
    margin-top: 6px;
}
#diary main{
    width: 800px;
    height: 800px;
    padding: 0 10px 200px 10px;
    overflow-y: scroll;
}
#diary main .day > h3{
    text-align: right;
    margin-top: 10px;
}
#diary main .day .item{
    padding: 10px 40px 25px 25px;
    margin-top: 10px;
    position: relative;
}
#diary main .day .item .item-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#diary main .day .item .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
#diary main .day .item .item-header .lesson-title h3{
    color: #0E58B5;
    font-weight: bold;
    margin-top: 22px;
    float: right;
}
#diary main .day .item .item-header .lesson-teacher{
    display: flex;
    align-items: center;
}
#diary main .day .item .item-header .lesson-teacher img{
    width: 40px;
    height: 40px;
}
#diary main .day .item .item-header .lesson-teacher h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

/* Псевдоэлемент оценки */
.day > .item::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 15px;
    border-radius: 0 15px 15px 0;
}
.four::after{ background-color: #00D575 } /* Идеально */
.three::after{ background-color: #FE9C4A } /* С замечаниями */
.two::after{ background-color: #FFCB3A } /* Сойдет */
.one::after{ background-color: #FF3A3A }  /* Плохо */
.absence::after{ background-color: #4C50B8 }  /* Отсутствие */
.disease::after{ background-color: #9c48c4 }  /* Отсутствие по болезни */


/* Почта */
#mail{ padding-left: 140px }
#mail header{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-bottom: 30px;
    padding: 0 10px;
}
#mail header > button h3{
    background-color: #0E58B5;
    border-radius: 10px;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
    color: #fff;
}
#mail header .week-selector{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mail header .week-selector h3{
    background-color: #22B975;
    border-radius: 10px;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
    margin: 0 5px;
}
#mail header .week-selector button{
    height: 40px;
    width: 40px;
    padding: 4px;
    background-color: #22B975;
    border-radius: 10px;
    color: #fff;
}
#mail header .week-selector span{
    font-size: 32px;
    margin-top: 6px;
}
#mail main{
    width: 800px;
    height: 800px;
    padding: 0 10px 200px 10px;
    overflow-y: scroll;
}
#mail main .day > h3{
    text-align: right;
    margin-top: 10px;
}
#mail main .day .item{
    padding: 10px 25px 25px 25px;
    margin-top: 10px;
    position: relative;
}
#mail main .day .item .item-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#mail main .day .item .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
#mail main .day .item .item-header .lesson-teacher{
    display: flex;
    align-items: center;
}
#mail main .day .item .item-header .lesson-teacher img{
    width: 40px;
    height: 40px;
}
#mail main .day .item .item-header .lesson-teacher h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

/* Статистика */
#statistics{ padding-left: 140px }
#statistics header{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-bottom: 30px;
    padding: 0 10px;
}
#statistics header .week-selector{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#statistics header .week-selector h3{
    background-color: #22B975;
    border-radius: 10px;
    height: 40px;
    vertical-align: middle;
    padding: 10px;
    margin: 0 5px;
}
#statistics header .week-selector button{
    height: 40px;
    width: 40px;
    padding: 4px;
    background-color: #22B975;
    border-radius: 10px;
    color: #fff;
}
#statistics header .week-selector span{
    font-size: 32px;
    margin-top: 6px;
}
#statistics main{
    width: 800px;
    height: 800px;
    padding: 0 10px 200px 10px;
    overflow-y: scroll;
}
#statistics main .day > h3{
    text-align: right;
    margin-top: 10px;
}
#statistics main .day .item{
    padding: 10px 25px 25px 25px;
    margin-top: 10px;
    position: relative;
}
#statistics main .day .item .item-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#statistics main .day .item .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
#statistics main .day .item .item-header .lesson-teacher{
    display: flex;
    align-items: center;
}
#statistics main .day .item .item-header .lesson-teacher img{
    width: 40px;
    height: 40px;
}
#statistics main .day .item .item-header .lesson-teacher h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

/* Формы */
.form{ display: none }
.form .filter{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000088;
}
.form-wrapper{
    position: fixed;
    height: 100%;
    top: 0;
    width: auto;
    display: flex;
    align-items: center;
    
}
.form-wrapper form{
    height: min-content;
    width: 822px;
    background-color: #fff;
    padding: 10px 40px 10px 25px;
    border-radius: 15px;
    margin: 0 auto;
}
.form-wrapper form .form-btn{
    color: #fff;
    font-family: "Poppins";
    font-size: 20px;
    background-color: #111926;
    padding: 0 25px;
    height: 51px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    transition-property: color background-color box-shadow;
    transition-duration: .2s;
}
.form-wrapper form .form-btn span{ margin-right: 10px }
.form-wrapper form .form-btn:hover{ color: #111926; background-color: #fff; box-shadow: 0 2px 10px 10px #2c3b4f2f; }

/* Форма */
.form-wrapper form .item-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.form-wrapper form .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
.form-wrapper form .item-header .lesson-title h3{
    color: #0E58B5;
    font-weight: bold;
    margin-top: 22px;
    float: right;
}
.form-wrapper form .item-header .lesson-teacher{
    display: flex;
    align-items: center;
}
.form-wrapper form .item-header .lesson-teacher img{
    width: 40px;
    height: 40px;
}
.form-wrapper form .item-header .lesson-teacher h4{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
.form-wrapper form .text-field{
    width: 761px;
    border-radius: 10px;
    border: #00000022 solid 1px;
    padding: 10px;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen Cantarell, 'Open Sans', sans-serif;
}
.form-wrapper form .text-field::placeholder{ font-size: 1rem }

/* Файлы */
.files{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 10px;
}
.file{
    min-width: 200px;
    height: 51px;
    border-radius: 10px;
    border: #00000022 solid 1px;
    margin: 5px 10px 5px 0;
    padding: 0 25px;
    font-family: "Poppins";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.file span{ margin-right: 10px }

/* Фон */
.bg{
    position: fixed;
    height: 90%;
    right: -20%;
    top: 5%;
    animation: you_spin_me_right_round 200s infinite;
}

/* Адаптивность */
@media screen and (max-width: 1600px){ body{ zoom: 83% }}
@media screen and (max-width: 1356px){ body{ zoom: 70% }}
@media screen and (max-width: 1280px){ body{ zoom: 65% }}
@media screen and (max-width: 1024px){ body{ zoom: 55% }}

/* Анимация */
@keyframes you_spin_me_right_round{
    from{ transform: rotate(0deg) }
    to{ transform: rotate(720deg) }
}


/* Стилизация выпадающего списка */

.dropdown-input{
    font-size: 1.5rem;
    color: #111926;
    font-weight: bold;
    margin-top: 10px;
    min-width: 400px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 6px 16px;
    display: block;
}
.dropdown-content a:hover{ background-color: #f1f1f1 }
  