::-webkit-scrollbar{
    width: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, input{
    border: none;
    outline: none;
    cursor: pointer;
}
/* Настройка шрифтов */
h4, p{
    font-family: "Helvetica";
}
h1, h2, h3{
    font-family: "Poppins";
    cursor: default;
}
h3, h5, h6, p{
    line-height: 1.15;
}
h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #111926;
    line-height: 1;
}
h2{
    font-size: 2rem;
    font-weight: bold;
    color: #111926;
    line-height: 1.75;
}
h3{
    font-size: 1.3;
    font-weight: 300;
    color: #6A6F78;
}
h4{
    font-size: 1.3rem;
    font-weight: 300;
    color: #6A6F78;
    line-height: 1.5;
}
p{
    font-size: 1rem;
    font-weight: normal;
    color: #70757D;
}

/* Основные элементы страницы */
body{
    background-color: #FAFAFA;
    height: 100vh;
}
.item{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

/* Навигационное меню */
aside{
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100px;
    background-color: #111926;
    border-radius: 0 40px 0 0;

    padding: 25px;
}
aside #logo{
    width: 50px;
    height: 50px;

    margin-bottom: 30px;
}
aside nav button{
    width: 60px;
    height: 60px;

    padding: 15px;
    margin: 10px -5px;
    background-color: unset;
    border-radius: 15px;

    font-size: 30px;
    color: #EFF1F3;
}
aside nav button:not(.user-img):hover, aside nav .active{
    background-color: #2C3B4F;
}

/* Главная */

/* Виджеты */
#widgets{
    width: 100%;
    height: 500px;
    background-color: #EFF1F3;
    padding-left: 150px;
    box-shadow: 0 2px 10px 10px #2c3b4f2f;

    display: flex;
}
#widgets > div{
    height: 100%;
    padding: 50px;
    position: relative;
}
#widgets > div h1{
    margin-bottom: 50px;
}
/* Виджет "Список дел" */
#widgets #mini-task-manager{
    width: 50%;
}
#widgets #mini-task-manager h3{
    margin-top: -40px;
    margin-bottom: 30px;
}
#widgets #mini-task-manager::after{
    content: url(../Templates/img/mini_task_manager.png);
    position: absolute;
    right: 0;
    bottom: -55px;

    transform: scale(0.8);
}
#widgets #mini-task-manager > div ul{
    list-style: none;
    overflow-y: scroll;

    height: 190px;
    width: 400px;
}
#widgets #mini-task-manager > div ul::-webkit-scrollbar{
    width: 10px;
    background-color: #d0d1d3;
    border-radius: 5px;
}
#widgets #mini-task-manager > div ul::-webkit-scrollbar-thumb{
    background-color: #70757D;
    border-radius: 5px;
    border: #d0d1d3 solid 2px;
}
#widgets #mini-task-manager > div ul input{
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
}
#widgets #mini-task-manager > div ul li h4{
    display: inline-block;
    vertical-align: baseline;
}
#widgets #mini-task-manager > div #new-task{
    padding: 6px 15px;
    border-radius: 10px;
    background-color: #22B975;
    color: #fff;

    position: absolute;
    bottom: 50px;
}
#widgets #mini-task-manager > div #new-task:hover{
    filter: brightness(1.1);
}
#widgets #mini-task-manager > div #new-task p{
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}

/* Виджет "Твои курсы" */
#widgets #courses-manager{
    background-color: #85BBFF;
    border-radius: 0 0 0 40px;
    width: 960px;
}
#widgets #courses-manager > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
#widgets #courses-manager > div > div{
    width: 260px;
    height: 300px;
    box-shadow: none;
    margin-right: 3.5%;
    transition-duration: .5s;
    transition-property: transform, box-shadow;
}
#widgets #courses-manager > div > div:hover{
    box-shadow:
        -1px 1px #65a9fc,
        -2px 2px #65a9fc,
        -3px 3px #65a9fc,
        -4px 4px #65a9fc,
        -5px 5px #65a9fc,
        -6px 6px #65a9fc,
        -7px 7px #65a9fc;
    -webkit-transform: translateX(7px) translateY(-7px);
    transform: translateX(7px) translateY(-7px);
}
#widgets #courses-manager div:last-child{
    margin-right: 0;
}
#widgets #courses-manager > div > div img{
    object-fit: cover;
    width: 100%;
    height: 128px;
    border-radius: 15px 15px 0 0;
}
#widgets #courses-manager > div > div h2, #widgets #courses-manager > div > div h4{
    margin: 0 0 0 15px;
}

/* Новости */
#news{
    width: 100%;
    background-color: #fff;
    padding: 50px 45px 0 195px;
}
#news > div{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 0 5px;

    display: flex;
    justify-content: flex-start;

    overflow: auto;
    overflow-y: hidden;
}
#news > div::-webkit-scrollbar{
    height: 10px;
    background-color: #d0d1d3;
    border-radius: 5px;
}
#news > div::-webkit-scrollbar-thumb{
    background-color: #70757D;
    border-radius: 5px;
    border: #d0d1d3 solid 2px;
}
#news > div .item{
    min-width: 500px;
    height: 280px;
    margin-right: 30px;
}
#news > div .item:last-child{
    margin-right: 0; 
}
#news > div .item img{
    object-fit: cover;
    width: 100%;
    height: 128px;
    border-radius: 15px 15px 0 0;
}
#news > div .item h2, #news > div .item p{
    margin: 0 25px;
}

/* Адаптивность */
@media screen and (max-width: 1610px){
    body{
        zoom: 83%;
    }
}
@media screen and (max-width: 1376px){
    body{
        zoom: 70%;
    }
}
@media screen and (max-width: 1290px){
    body{
        zoom: 65%;
    }
}
@media screen and (max-width: 1034px){
    body{
        zoom: 55%;
    }
}