@import url("fonts/Google font/stylesheet.css");

/* Скрываем скролбар */
::-webkit-scrollbar{ width: 0 }

*{ margin: 0; padding: 0; box-sizing: border-box }

button, input, textarea{ border: none; outline: none; cursor: pointer; resize: none; font-family: 'Google Sans'; }
a{ text-decoration: none; color: unset; }

/* Настройка шрифтов */
::placeholder{ font-family: 'Google Sans' }
h1{ font-size: 2rem; font-weight: bold; color: #111926}
h2, h2 *{ font-size: 1.6rem; font-weight: bold; color: #111926}
h3, .dropdown-input{ font-size: 1.1; font-weight: 500; color: #6A6F78 }
h4{ font-size: 1.2rem; font-weight: 300; color: #6A6F78}
p{ font-size: 1rem; font-weight: normal; color: #70757D }
h1, h2, h3, h4, h5, h6, p{ cursor: unset }

/* Основные элементы страницы */
body{
    background-color: #FeFeFe;
    position: relative;
    overflow-y: hidden;
    height: 100%; width: 100%;
    font-family: "Google Sans";

    /* Запрещает выделять текст */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body > section{ padding: 50px 0 0 150px; }

.item{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    transition-duration: .5s; transition-property: transform, box-shadow;
}
.item:hover{
    box-shadow: -1px 1px #65a9fc, -2px 2px #65a9fc, -3px 3px #65a9fc, -4px 4px #65a9fc, -5px 5px #65a9fc;
    -webkit-transform: translateX(5px) translateY(-5px);
    transform: translateX(5px) translateY(-5px);
}

/* Навигационное меню */
aside{
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100px;
    background-color: #111926;
    border-radius: 0 32px 0 0;
    padding: 25px;
}
aside #logo{
    width: 60px; height: 60px;
    margin: 0 -5px 30px;
}
aside nav{ width: 50px }
aside nav button{
    width: 60px; height: 60px;
    padding: 15px; margin: 10px -5px;
    background-color: unset;
    border-radius: 15px;
    font-size: 30px; color: #EFF1F3;
    transition-property: background-color;
    transition-duration: .2s;
}
aside nav button:not(.user-img):hover{ background-color: #2C3B4F }
aside nav .active{ background-color: #2C3B4F }
.user-img{ font-size: 40px; padding: 10px }


/* Формы */
.form{ display: none }
.form .filter{
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: #00000088;
}
.form-wrapper{
    overflow-y: scroll; padding: 100px 0;
    z-index: 100;
    position: fixed; top: 0; left: 150px;
    height: 100%;
    display: flex; align-items: center;
}
.form-wrapper form{
    height: auto; width: 800px;
    background-color: #fff;
    padding: 10px 25px 15px 25px; margin: auto 0;
    border-radius: 15px;
    position: relative;
    display: flex; flex-direction: column; gap: 10px;
}
.form-wrapper form .form-btn{
    color: #1967D2;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 0 15px;
    margin: 3px 0;
    height: 45px;
    border-radius: 10px;
    transition-property: color background-color box-shadow; transition-duration: .2s;
}
.form-wrapper form .form-btn h4{
    color: #fff;
    display: inline-block;
}
.form-wrapper form .form-btn span{
    margin-right: 10px; font-size: 1rem;
}
.form-wrapper form .form-btn:hover{
    background-color: #E3EEFC;
}

/* Форма */
.form-wrapper form .item-header{
    display: flex; justify-content: space-between; align-items: center;
    min-height: 51px;
}
.form-wrapper form .item-header .lesson-title{
    max-width: 75%;
}
.form-wrapper form .item-header .lesson-title h2{
    display: inline-block;
    margin-right: 10px;
}
.form-wrapper form .item-header .lesson-title h3{
    color: #0E58B5; font-weight: bold;
    margin-top: 6px; float: right;
}
.form-wrapper form .item-header .lesson-teacher{ display: flex; align-items: center }
.form-wrapper form .item-header .lesson-teacher img{ width: 32px; height: 32px }
.form-wrapper form .item-header .lesson-teacher h4{ display: inline-block; margin-right: 10px; font-size: 16px }
.form-wrapper form .text-field{
    width: 100%;
    border-radius: 10px; border: #00000022 solid 1px;
    padding: 10px;
    font-size: 1rem;
}
.form-wrapper form .text-field-title{
    font-size: 1.3rem;
    white-space: nowrap;
}
.form-wrapper form .text-field::placeholder{ font-size: 1rem }
.form-wrapper form .text-field-title::placeholder{ font-size: 1.3rem }

.form-wrapper form .preview{
    width: 800px;
    margin: -25px -25px 10px -25px;
    border-radius: 15px 15px 0 0;
}

/* Файлы */
.files{
    display: flex; flex-wrap: wrap; gap: 8px;
    width: 100%;
}
.file-info i{ margin-right: 5px }
.files h4{ display: inline-block; color: #000 }
.file{
    height: 51px;
    border-radius: 100px; border: #00000022 solid 1px;
    padding: 0 0 0 25px;
    display: flex; align-items: center;
    transition-duration: .2s; transition-property: box-shadow;
}
/* Название и иконка файла */
.file .file-info{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.file .file-info h4{
    max-width: 256px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Кнопка удаления и скачивания файла*/
.file .file-btns{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    margin-left: -25px;
}
.file button{
    background-color: unset;
    transition-duration: .4s;
    transition-property: color background-color;
    clip-path: circle();
    padding: 10px;
    display: flex; justify-content: center; align-items: center;
}
/* Кнопка "Удалить файл" */
.file .del-file::before{
    content: '\f15d';
    width: 13px;
    height: 13px;
    font-family: "uicons-regular-rounded";
}
.file .del-file:hover{
    background-color: #FF374B;
    color: #fff;
}
/* Кнопка "Скачать файл" */
.file .download-file::before{
    content: '\f171';
    font-family: "uicons-regular-rounded";
}
.file .download-file:hover{
    background-color: #0E58B5;
    color: #fff;
}
.file:hover{ box-shadow: 0 2px 2px 2px #2c3b4f23 }

/* Фон */
.bg{
    position: fixed; right: -20%; top: 5%;
    height: 90%;
    animation: you_spin_me_right_round 200s infinite;
    z-index: -1000;
}

/* Адаптивность от бога */
@media screen and (max-width: 1600px){ body{ zoom: 83% }}
@media screen and (max-width: 1356px){ body{ zoom: 70% }}
@media screen and (max-width: 1280px){ body{ zoom: 65% }}
@media screen and (max-width: 1024px){ body{ zoom: 55% }}

/* Анимация */
@keyframes you_spin_me_right_round{
    from{ transform: rotate(0deg) }
    to{ transform: rotate(720deg) }
}


/* Стилизация выпадающего списка */
.dropdown-input{
    font-size: 1.5rem; color: #111926; font-weight: bold;
    margin-top: 10px;
    min-width: 400px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 6px 16px;
    display: block;
}
.dropdown-content a:hover{ background-color: #f1f1f1 }
  

/* Стилизация расписания */
.calendar__timetable{
    border-radius: 10px;
    height: 40px;
    width: min-content;
    display: flex;
    align-items: center;
    background-color: #FFEAEC;
    font-weight: 800;
    cursor: help;
}

/* Расписание */
.calendar__timetable .day{
    border-radius: 10px;
    padding: 10px 15px;
    color: #FF374B;
}
.calendar__timetable .day-active{
    background-color: #FF374B;
    color: #fff;
}
.calendar__timetable .day-active time{
    background-color: #fff;
    color: #000;
    padding: 2px 5px;
    margin: 2px 5px;
    border-radius: 5px;
}