<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='../../main.css' /> <!-- Основные стили -->
    <link rel="stylesheet" href="style.css"> <!-- Стили страницы -->

    <link rel="shortcut icon" href="../../img/icon.svg" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    
    <link href="../../ql-editor.css" rel="stylesheet" /> <!-- Стили панели инструментов -->
    
    <title>Мои проекты</title>
</head>

<body class='dark__theme' colorScheme="colorScheme__blue">

    <!-- Навигационное меню -->
    <nav class='navigation'>

        <div class='navigation__logo'>
            <img src='../../img/icon.svg' alt='logo'/>
        </div>

        <div class='navigation__group column g8'>
            <button class='navigation__link'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M352 496V368a16 16 0 0 0-16-16h-96a16 16 0 0 0-16 16v128a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16V311.07c1.78-1.21 3.85-1.89 5.47-3.35L288 115l218.74 192.9c1.54 1.38 3.56 2 5.26 3.2V496a16 16 0 0 1-16 16H368a16 16 0 0 1-16-16z"></path>
                    <path d="M527.92 283.91L298.6 81.64a16 16 0 0 0-21.17 0L48.11 283.92a16 16 0 0 1-22.59-1.21L4.1 258.89a16 16 0 0 1 1.21-22.59l256-226a39.85 39.85 0 0 1 53.45 0l255.94 226a16 16 0 0 1 1.22 22.59l-21.4 23.82a16 16 0 0 1-22.6 1.2z"></path>
                </svg>
            </button>
            <button class='navigation__link'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M576 62.75v337.84c0 16.23-13.13 29.77-30 30.66-49.47 2.6-149.52 12.1-218.7 46.92-10.65 5.36-23.28-1.94-23.28-13.49V100.81a15.37 15.37 0 0 1 7.27-13.17c67.24-41.16 176.16-52.48 231-55.59C560.64 31 576 45 576 62.75z"></path>
                    <path d="M264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31 0 45 0 62.75V400.6c0 16.24 13.13 29.78 30 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63a15.05 15.05 0 0 0-7.25-12.99z"></path>
                </svg>
            </button>
            <button class='navigation__link active'>
                <svg viewBox="0 0 512 512">
                    <path opacity='0.3' d="M320 288h192v144c0 25.6-22.4 48-48 48H48c-25.6 0-48-22.4-48-48V288h192v48a16 16 0 0 0 16 16h96a16 16 0 0 0 16-16z"></path>
                    <path d="M464 128h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128z"></path>
                </svg>
            </button>
            <button class='navigation__link'>
                <svg viewBox="0 0 576 512">
                    <path opacity='0.3' d="M352 287.9H162.3L79.5 350a9.7 9.7 0 0 1-15.5-7.8V288a64.06 64.06 0 0 1-64-64V64A64.06 64.06 0 0 1 64 0h288a64.06 64.06 0 0 1 64 64v160a63.91 63.91 0 0 1-64 63.9z"></path>
                    <path d="M576 224v160a64.06 64.06 0 0 1-64 64h-32v54.3a9.7 9.7 0 0 1-15.5 7.8L381.7 448H256a64.06 64.06 0 0 1-64-64v-64h160a96.15 96.15 0 0 0 96-96v-64h64a64.06 64.06 0 0 1 64 64z"></path>
                </svg>
            </button>
        </div>

        <div class='navigation__group column g8'>
            <button onclick="switch_theme()" class='navigation__link'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <g id="eclipse" transform="translate(-8 -8)">
                        <path opacity='0.3' d="M12,24a4,4,0,1,1,4-4A4,4,0,0,1,12,24Z"/>
                        <g>
                        <path d="M16.333,10.667A5.007,5.007,0,0,0,11.426,14.7,5.409,5.409,0,0,1,12,14.667,5.34,5.34,0,0,1,17.332,20a5.394,5.394,0,0,1-.033.573,5,5,0,0,0-.966-9.906Z"/>
                        <path d="M16.333,10a.667.667,0,0,1-.667-.667V8.667a.667.667,0,0,1,1.334,0v.667A.667.667,0,0,1,16.333,10Z"/>
                        <path d="M23.333,16.333h-.667a.667.667,0,1,1,0-1.333h.667a.667.667,0,0,1,0,1.333Z"/>
                        <path d="M20.341,11.66a.668.668,0,0,1,0-.943l.471-.472a.667.667,0,1,1,.943.943l-.471.472A.668.668,0,0,1,20.341,11.66Z"/>
                        <path d="M20.812,21.088l-.471-.472a.667.667,0,0,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                        <path d="M11.383,11.66l-.471-.472a.667.667,0,1,1,.943-.943l.471.472a.667.667,0,0,1-.943.943Z"/>
                        </g>
                    </g>
                </svg>
            </button>
            <button onclick="switch_color_scheme()" class='navigation__link'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <g id="roller" transform="translate(-8 -8)">
                        <path d="M19.5,8H9.833A1.835,1.835,0,0,0,8,9.833v2.333A1.835,1.835,0,0,0,9.833,14H19.5a1.835,1.835,0,0,0,1.833-1.833V9.834A1.835,1.835,0,0,0,19.5,8Z"/>
                        <path opacity='0.3' d="M22.333,10.333h-1v1.333h1a.333.333,0,0,1,.333.333v3a.334.334,0,0,1-.333.333H15.666a2,2,0,0,0-2,2V18H15v-.667a.668.668,0,0,1,.667-.667h6.667A1.667,1.667,0,0,0,24,15V12A1.668,1.668,0,0,0,22.333,10.333Z"/>
                        <path d="M15.5,18H13.167A1.168,1.168,0,0,0,12,19.167v3.667A1.167,1.167,0,0,0,13.167,24H15.5a1.168,1.168,0,0,0,1.167-1.167V19.166A1.168,1.168,0,0,0,15.5,18Z"/>
                    </g>
                </svg>
            </button>
        </div>

        <div class='navigation__group column g8'>

            <!-- Список задач -->
            <button class='navigation__link'>
                <svg viewBox="0 0 512 512">
                    <path opacity='0.3' d="M166.57 282.71L44 159.21a17.87 17.87 0 0 1 .18-25.2l42.1-41.77a17.87 17.87 0 0 1 25.2.18l68.23 68.77L336.87 5.11a17.88 17.88 0 0 1 25.21.18L404 47.41a17.88 17.88 0 0 1-.18 25.21L191.78 282.89a17.88 17.88 0 0 1-25.21-.18z"></path>
                    <path d="M504.5 172a25.86 25.86 0 0 1 0 36.42L210.1 504.46a25.48 25.48 0 0 1-36.2 0L7.5 337.1a25.84 25.84 0 0 1 0-36.41l36.2-36.41a25.48 25.48 0 0 1 36.2 0L192 377l240.1-241.46a25.5 25.5 0 0 1 36.2 0L504.5 172z"></path>
                </svg>
            </button>

            <!-- Уведомления -->
            <button class='navigation__link'>
                <svg viewBox="0 0 448 512">
                    <path d="M448 384c-.1 16.4-13 32-32.1 32H32.08C13 416 .09 400.4 0 384a31.25 31.25 0 0 1 8.61-21.71c19.32-20.76 55.47-52 55.47-154.29 0-77.7 54.48-139.9 127.94-155.16V32a32 32 0 1 1 64 0v20.84C329.42 68.1 383.9 130.3 383.9 208c0 102.3 36.15 133.53 55.47 154.29A31.27 31.27 0 0 1 448 384z"></path>
                    <path opacity='0.3' d="M160 448h128a64 64 0 0 1-128 0z"></path>
                </svg>
            </button>

            <!-- Профиль -->
            <div class="navigation__profile">
                <img src='../../img/Kaelthas.jpg'>
            </div>
        </div>
    </nav>

    <!-- Навигационное меню для смартфонов -->
    <nav class='navigationBar'>
        <button class='navigation__link'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M352 496V368a16 16 0 0 0-16-16h-96a16 16 0 0 0-16 16v128a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16V311.07c1.78-1.21 3.85-1.89 5.47-3.35L288 115l218.74 192.9c1.54 1.38 3.56 2 5.26 3.2V496a16 16 0 0 1-16 16H368a16 16 0 0 1-16-16z"></path>
                <path d="M527.92 283.91L298.6 81.64a16 16 0 0 0-21.17 0L48.11 283.92a16 16 0 0 1-22.59-1.21L4.1 258.89a16 16 0 0 1 1.21-22.59l256-226a39.85 39.85 0 0 1 53.45 0l255.94 226a16 16 0 0 1 1.22 22.59l-21.4 23.82a16 16 0 0 1-22.6 1.2z"></path>
            </svg>
            Главная
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M576 62.75v337.84c0 16.23-13.13 29.77-30 30.66-49.47 2.6-149.52 12.1-218.7 46.92-10.65 5.36-23.28-1.94-23.28-13.49V100.81a15.37 15.37 0 0 1 7.27-13.17c67.24-41.16 176.16-52.48 231-55.59C560.64 31 576 45 576 62.75z"></path>
                <path d="M264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31 0 45 0 62.75V400.6c0 16.24 13.13 29.78 30 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63a15.05 15.05 0 0 0-7.25-12.99z"></path>
            </svg>
            Задания
        </button>
        <button class='navigation__link active'>
            <svg viewBox="0 0 512 512">
                <path opacity='0.3' d="M320 288h192v144c0 25.6-22.4 48-48 48H48c-25.6 0-48-22.4-48-48V288h192v48a16 16 0 0 0 16 16h96a16 16 0 0 0 16-16z"></path>
                <path d="M464 128h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128z"></path>
            </svg>
            Проекты
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 576 512">
                <path opacity='0.3' d="M352 287.9H162.3L79.5 350a9.7 9.7 0 0 1-15.5-7.8V288a64.06 64.06 0 0 1-64-64V64A64.06 64.06 0 0 1 64 0h288a64.06 64.06 0 0 1 64 64v160a63.91 63.91 0 0 1-64 63.9z"></path>
                <path d="M576 224v160a64.06 64.06 0 0 1-64 64h-32v54.3a9.7 9.7 0 0 1-15.5 7.8L381.7 448H256a64.06 64.06 0 0 1-64-64v-64h160a96.15 96.15 0 0 0 96-96v-64h64a64.06 64.06 0 0 1 64 64z"></path>
            </svg>
            Сообщения
        </button>
        <button class='navigation__link'>
            <svg viewBox="0 0 512 512">
                <path opacity='0.3' d="M400 144A144 144 0 1 1 256 0a144 144 0 0 1 144 144z"></path>
                <path d="M384 320h-55.1a174.1 174.1 0 0 1-145.8 0H128A128 128 0 0 0 0 448v16a48 48 0 0 0 48 48h416a48 48 0 0 0 48-48v-16a128 128 0 0 0-128-128z"></path>
            </svg>
            Профиль
        </button>
    </nav>

    <div class="mainContainer">
        <section class="myProjectsPage column g24">

            <header class="header">
                <button class="combinedButton" onclick="history.back();">
                    <svg viewBox="0 0 14 14" style='transform: rotate(180deg)'>
                        <g transform="translate(-5 -5)">
                            <rect width="2" height="14" rx="1" transform="translate(5 13) rotate(-90)" opacity='0.3'/>
                            <path d="M9.707-15.707a1,1,0,0,0-1.414,0,1,1,0,0,0,0,1.414l6,6a1,1,0,0,0,1.383.03l6-5.5a1,1,0,0,0,.062-1.413,1,1,0,0,0-1.413-.061L15.03-10.384Z" transform="translate(27 27) rotate(-90)"/>
                        </g>
                    </svg>
                    <span>Назад</span>
                </button>
                <button class="secondaryButton" onclick="open_form('#createProject')">
                    <svg viewBox="0 0 448 512">
                        <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>
                    </svg>
                    Создать проект
                </button>
            </header>

            <header class="header">
                <h1>Мои проекты</h1>
                <div class="filtering" style="width: 12rem">
                    <div class="dropdownSelect">
                        <div class="dropdownSelect__trigger">
                            <div>
                                Все
                            </div>
                            <div class="arrowDown"></div>
                        </div>
                        <div class="dropdownSelect__options">
                            <span class='dropdownSelect__option selected'>Все</span>
                            <span class='dropdownSelect__option'>Активные</span>
                            <span class='dropdownSelect__option'>Завершенные</span>
                        </div>
                    </div>
                </div>
            </header>
    
            <section class="projects">
                <div class="project">
                    <img src="../../img/telescope.png" class="project__illustration">
                    <div class="project__content">
                        <p class="project__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, aliquam.</p>
                        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sint voluptatibus modi hic debitis quos, id quidem aspernatur deserunt voluptates dicta perferendis ratione rem aperiam laboriosam, fugiat expedita? Numquam quos sunt unde facere autem natus, tempore, veritatis, est eveniet ipsum quod omnis aperiam quo reiciendis. Libero eos minus obcaecati et.</p>
                        <div class="project__info">
                            <div class="column g8">
                                <p>Направление</p>
                                <div class="row g8">
                                    <span class="tag">Направление</span>
                                    <span class="tag">Направление</span>
                                </div>
                            </div>
                            <div class="column g8">
                                <p>Статус</p>
                                <span class="tag">Активный</span>
                            </div>
                            <div class="column g8">
                                <p>Набор участников</p>
                                <span class="tag">Открыт</span>
                            </div>
                            <div class="column g8">
                                <p>Участники</p>
                                <div class="project__members members">
                                    <div class="member" title="Фамилия Имя">
                                        <img src="../../img/avatars/Upstream-8.png" class="avatar">
                                    </div>
                                    <div class="member" title="Фамилия Имя">
                                        <img src="../../img/avatars/Upstream-7.png" class="avatar">
                                    </div>
                                    <div class="member" title="Фамилия Имя">
                                        <img src="../../img/avatars/Upstream-5.png" class="avatar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img src="../../img/telescope.png" class="project__illustration">
                    <div class="project__content">
                        <p class="project__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, aliquam. ырщырв9аыр0ф ывфывфывфывф ыв</p>
                        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sint voluptatibus modi hic debitis quos, id quidem aspernatur deserunt voluptates dicta perferendis ratione rem aperiam laboriosam, fugiat expedita? Numquam quos sunt unde facere autem natus, tempore, veritatis, est eveniet ipsum quod omnis aperiam quo reiciendis. Libero eos minus obcaecati et.</p>
                        <div class="project__info">
                            <div class="column g8">
                                <p>Направление</p>
                                <span class="tag">Направление</span>
                            </div>
                            <div class="column g8">
                                <p>Статус</p>
                                <span class="tag">Активный</span>
                            </div>
                            <div class="column g8">
                                <p>Набор участников</p>
                                <span class="tag">Открыт</span>
                            </div>
                            <div class="column g8">
                                <p>Участники</p>
                                <div class="project__members members">
                                    <div class="member" title="Фамилия Имя">
                                        <img src="../../img/avatars/Upstream-8.png" class="avatar">
                                    </div>
                                    <div class="member" title="Фамилия Имя">
                                        <img src="../../img/avatars/Upstream-7.png" class="avatar">
                                    </div>
                                    <div class="member" title="Фамилия Имя">
                                        <img src="../../img/avatars/Upstream-5.png" class="avatar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </section>

    </div>

    <!-- Форма создания проекта -->
    <div class='modal' id='createProject'>
        <div class="modal__viewport">
            <form class="modal__content">
                <div class='modal__block'>
                    <h1 class="modal__title">Создание проекта</h1>
                    <button class='secondaryButton' type="submit">
                        <svg viewBox="0 0 24 24">
                            <circle cx="12" cy="14" r="2" opacity='0.6'/>
                            <path d="M22.536,4.122,19.878,1.464A4.99,4.99,0,0,0,19,.775V3a5.006,5.006,0,0,1-5,5H10A5.006,5.006,0,0,1,5,3V0A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V7.657A4.966,4.966,0,0,0,22.536,4.122ZM12,18a4,4,0,1,1,4-4A4,4,0,0,1,12,18Z"/>
                            <path opacity='0.6' d="M10,6h4a3,3,0,0,0,3-3V.064A5.128,5.128,0,0,0,16.343,0H7V3A3,3,0,0,0,10,6Z"/>
                        </svg>    
                        Сохранить
                    </button>
                </div>

                <h3>Название</h3>
                <input class='text-field text-field-title' autocomplete="off" value=""/>

                <h3>Участники</h3>

                <div id="selectedUsers">
                    <!-- Здесь появляются участники -->
                </div>

                <input type="text" onkeyup="filterFunction(this)" id='userSearch'>

                <div class="userSelect" id='userSelect'>
                    <div class="userSelect__user row">
                        <img src="../../img/avatars/Upstream-8.png" class='userSelect__userImage'>
                        <div class="userSelect__userInfo">
                            <h3 class="userSelect__userName">Каратаев Вадим</h3>
                            <p class="userSelect__userRole">Ученик</p>
                        </div>
                    </div>
                    <div class="userSelect__user row">
                        <img src="../../img/avatars/Upstream-4.png" class='userSelect__userImage'>
                        <div class="userSelect__userInfo">
                            <h3 class="userSelect__userName">Павел Сергеевич</h3>
                            <p class="userSelect__userRole">Учитель</p>
                        </div>
                    </div>
                    <div class="userSelect__user row">
                        <img src="../../img/avatars/Upstream-7.png" class='userSelect__userImage'>
                        <div class="userSelect__userInfo">
                            <h3 class="userSelect__userName">Смышляев Дмитрий</h3>
                            <p class="userSelect__userRole">Ученик</p>
                        </div>
                    </div>
                    <div class="userSelect__user row">
                        <img src="../../img/avatars/Upstream-13.png" class='userSelect__userImage'>
                        <div class="userSelect__userInfo">
                            <h3 class="userSelect__userName">Александра Денисовна</h3>
                            <p class="userSelect__userRole">Администратор</p>
                        </div>
                    </div>
                </div>

                <h3>Описание</h3>
                <div id="editor" class='text-field'></div>

                <button class='secondaryButton' type="button" style="margin-top: 1rem">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.666" height="16" viewBox="0 0 14.666 16">
                        <g transform="translate(-8.667 -8)">
                            <path opacity='0.3' d="M10.667,12.5a3.171,3.171,0,0,1,3.167-3.167h6.089A1.832,1.832,0,0,0,18.167,8H10.5A1.835,1.835,0,0,0,8.667,9.833V20.166A1.835,1.835,0,0,0,10.5,22h.167Z"/>
                            <path d="M21.5,10.667H13.833A1.835,1.835,0,0,0,12,12.5v9.667A1.835,1.835,0,0,0,13.833,24H21.5a1.835,1.835,0,0,0,1.833-1.833V12.5A1.835,1.835,0,0,0,21.5,10.667ZM20.167,22h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.333h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Zm0-2.667h-5a.5.5,0,0,1,0-1h5a.5.5,0,0,1,0,1Z"/>
                        </g>
                    </svg>
                    Прикрепить файл
                </button>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- JQuery -->
    <script src='../../JS/script.js'></script> <!-- JavaScript -->

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> <!-- Панель инструментов -->
    <script src='../../JS/toolbar_options.js'></script> <!-- Настройки панели -->

    <script>
        $(".menu__button").on("click", function(){
            $(this).parent().find(".menu__button").removeClass("active");
            $(this).toggleClass("active", "inactive");
        });

        $('.userSelect__user').click( function() {
            if ($(this).parent().attr('id') == 'userSelect') {
                $('#selectedUsers').append($(this));
                $('#userSearch').val('').focus();
            } else {
                $('#userSelect').append($(this));
            }
        });
    </script>

    <script src="../../JS/dropdownSelect.js"></script> <!-- Выпадающие меню -->
</body>

</html>