{% load journal_tags %}

<body>

    <div class="schedule__headers">
        <div class="schedule__header"></div>
        <div class="schedule__header">ПН</div>
        <div class="schedule__header">ВТ</div>
        <div class="schedule__header">СР</div>
        <div class="schedule__header">ЧТ</div>
        <div class="schedule__header">ПТ</div>
        <div class="schedule__header">СБ</div>
        <div class="schedule__header">ВС</div>
    </div>

    {% for teacher in teachers %}

    <div class="schedule__body">
        <div class="schedule__row">
            <div class="schedule__teacher">
                <div class="row g16 items-center" onclick="location.href=`{% url 'info_page' teacher.id %}`">
                    <img src='{{ teacher.image.url }}' class="avatar"/>
                    <div class="column g4">
                        <p>{{ teacher.surname }} {{ teacher.name }} {{ teacher.patronymic }}</p>
                        <p>Учитель</p>
                    </div>
                </div>
            </div>
            
            <div class="schedule__week">

                {% with 'ПН ВТ СР ЧТ ПТ СБ ВС' as week_days %}

                    {% for day in week_days.split %}

                    <div class="schedule__weekDay">
                        {% for course, schedule in teacher|get_shedules:day %}
                            <div class="lesson">
                                <p class="lesson__group">{{ course }}</p>
                                <p class="lesson__time">{{ schedule }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    {% endfor %}

                {% endwith %}

            </div>
        </div>
    </div>

    {% endfor %}

</body>

</html>