/* Дневник */
#diary { padding-left: 190px }

/* Шапка секции */
header .page-header{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 0 10px;
}
header .page-header .week-selector {
    height: 40px;
    display: flex; align-items: center;
}
header .page-header .week-selector .main-btn .weeks {
    margin: 0 5px;
    font-size: 24px;
}
header .page-header .week-selector .main-btn .btn {
    padding: 4px;
    font-size: 32px;
}
header .page-header .week-selector .main-btn .btn span{
    color: #fff;
}
/* Кнопки "<<" и ">>" */
.main-btn button{
    height: 40px;
    width: max-content;
}

/* Занятия */
#diary main {
    width: 1000px;
    height: 800px;
    padding: 0 10px 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#diary main .day{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#diary main .day > h3 {
    text-align: right;
}
#diary main .day .item {
    padding: 10px 25px 15px 25px;
    position: relative;
    border: #0001 solid 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#diary main .day .item .item-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
#diary main .day .item .item-header .lesson-title h2 {
    display: inline-block;
    margin-right: 10px;
}
#diary main .day .item .item-header .lesson-title h3 {
    color: var(--color-scheme-dark);
    font-weight: bold;
    display: inline-block;
}
#diary main .day .item .item-header .lesson-teacher {
    display: flex; 
    align-items: center;
}
#diary main .day .item .item-header .lesson-teacher img {
    width: 32px; height: 32px;
}
#diary main .day .item .item-header .lesson-teacher h4 {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
#diary main .day .item .files{
    margin-top: 10px;
}
#diary main .day .item .item-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}