/* Дневник */
#diary { padding-left: 140px }

/* Шапка секции */
#diary header {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-bottom: 30px;
    padding: 0 10px;
}
#diary header .week-selector {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#diary header .week-selector .weeks {
    height: 40px;
    margin: 0 5px;
    font-size: 24px;
}
#diary header .week-selector .btn {
    width: 40px;
    padding: 4px;
}
#diary header .week-selector span { font-size: 32px }

/* Занятия */
#diary main {
    width: 800px;
    height: 800px;
    padding: 0 10px 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#diary main .day{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#diary main .day > h3 {
    text-align: right;
}
#diary main .day .item {
    padding: 10px 25px 15px;
    position: relative;
}
#diary main .day .item .item-header {
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 5px;
    height: 40px;
}
#diary main .day .item .item-header .lesson-title h2 {
    display: inline-block;
    margin-right: 10px;
}
#diary main .day .item .item-header .lesson-title h3 {
    color: #0E58B5;
    font-weight: bold;
    display: inline-block;
}
#diary main .day .item .item-header .lesson-teacher {
    display: flex; align-items: center;
    height: 100%;
}
#diary main .day .item .item-header .lesson-teacher img {
    width: 32px; height: 32px;
}
#diary main .day .item .item-header .lesson-teacher h4 {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
#diary main .day .item .item-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Кнопки "<<" и ">>" */
.main-btn{
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #0E58B5;
    color: #fff;
    transition-duration: .2s;
    transition-property: transform box-shadow;
    box-shadow: 0 5px 0 0 #0b458b;
    transform: translate(0, 0);
}
.main-btn:hover{
    box-shadow: 0 3px 0 0 #0b458b;
    transform: translate(0, 3px);
}