<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../../../main.css' /> <!-- Основные стили -->
    <link rel='stylesheet' href='../../../uicons-regular-rounded.css' /> <!-- Иконки -->
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png" /> <!-- Логотип -->
    <link rel='stylesheet' href='../../../fonts/icon fonts/file icons/file icons.css' /> <!-- Иконки расширений файлов -->
    <link rel="stylesheet" href="style.css">
    <title>Дневник</title>
</head>

<body>
    <!-- Навигационное меню -->
    <aside>
        <img src='../../../img/logo.png' id='logo' alt='logo' onclick="reload(this)" />
        <nav>
            <button><a href='/student/main'><span class="fi fi-rr-apps"></a></button>
            <button class='active'><a href='student/diary'><span class="fi fi-rr-book-alt"></a></button>
            <button><a href='student/mail'><span class="fi fi-rr-envelope"></a></button>
            <button><a href='student/stat'><span class="fi fi-rr-stats"></a></button>
            <button><a href='student/portfolio'><span class="fi-rr-trophy"></a></button>
        </nav>
        <nav style='position: absolute; bottom: 15px'>
            <button><span class="fi fi-rr-list-check"></button> <!-- TaskManager -->
            <button><span class="fi fi-rr-bell"></button> <!-- Notifications -->
            <button class='user-img'><span class="fi fi-rr-circle"></button>
        </nav>
    </aside>

    <!-- Дневник -->
    <section id="diary">
        <header>
            <span class="fi fi-rr-book-alt" style='font-size: 1.5rem'><h1 style='display: inline-block; margin-left: 5px;'>Дневник</h1></span>
            <div class="week-selector">
                <button class='btn main-btn'><span class="fi-rr-angle-double-small-left"></span></button>
                <button class="weeks main-btn">01.02 - 07.02</button>
                <button class='btn main-btn'><span class="fi-rr-angle-double-small-right"></span></button>
            </div>
        </header>
        <main>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Зарывных П. С</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                    <hr style='margin: 10px 0; opacity: .5;'/>
                    <div class="files" style='width: 100%'>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-docx'></i>
                                <h4>Домашнее задание.docx</h4>
                            </div>
                            <div class="file-btns">
                                <button class='download-file'></button>
                            </div>
                        </div>
                        <div class="file">
                            <div class="file-info">
                                <i class='file-pptx'></i>
                                <h4>Теория.pptx</h4>
                            </div>
                            <div class="file-btns">
                                <button class='download-file'></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
            <div class='day'>
                <h3>BT 02.02.2021</h3>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
                <div class="item">
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div class='lesson-teacher'>
                            <h4>Педагог</h4>
                            <img src='../../../img/unnamed.png' />
                        </div>
                    </div>
                    <p class='item-text'>
                        Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php
                    </p>
                </div>
            </div>
        </main>
        <img src='../../../img/atom.png' class='bg' />
        <!-- Форма просмотра домашнего задания -->
        <div class='form'>
            <div class='filter' onclick="close_form(this)"></div>
            <div class="form-wrapper" style='overflow-y: scroll; padding: 100px 0'>
                <form>
                    <div class='item-header'>
                        <div class='lesson-title'>
                            <h2>IT</h2>
                            <h3>18:20</h3>
                        </div>
                        <div>
                            <button class='form-btn' type="submit"><span class="fi-rr-book"></span><h4>Перейти к оцениванию</h4></button>
                            <button class='form-btn' type="submit"><span class="fi-rr-disk"></span><h4>Сохранить</h4></button>
                        </div>
                    </div>
                    <textarea name="Homework-text" class='text-field' autocomplete="off" placeholder="Задание" style='min-height: 256px'>Нужно реализовать свой сервер на технологии ASP.NET Core MVC. И положить его на бесплатный хостинг somme.com, инструкция прилагается по ссылке: https://metanit.com/sharp/mvc/13.3.php</textarea>
                    <div class="item-header">
                        <div class='files'>
                            <div class="file">
                                <div class="file-info"><i class='file-java'></i><h4>java prog.java</h4></div>
                                <div class="file-btns"><button class="del-file"></button></div>
                            </div>
                            <div class="file">
                                <div class="file-info"><i class='file-xml'></i><h4>excel document.xml</h4></div>
                                <div class="file-btns"><button class="del-file"></button></div>
                            </div>
                            <div class="file">
                                <div class="file-info"><i class='file-pptx'></i><h4>presentation.pptx</h4></div>
                                <div class="file-btns"><button class="del-file"></button></div>
                            </div>
                            <div class="file">
                                <div class="file-info"><i class='file-doc'></i><h4>document.doc</h4></div>
                                <div class="file-btns"><button class="del-file"></button></div>
                            </div>
                        </div>
                        <div>
                            <button class='form-btn' type="submit"><span class="fi-rr-clip"></span><h4>Документ</h4></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='../../../JS/sections_manager.js'></script>
    <!-- Менеджер секций-->
</body>

</html>