{% load mail_tags %}

{% for mail in mails %}
<div class="mailItem" onclick="location.href='{% url 'mail_detail' user.id mail.id %}'">
    <div class="senderInfo">
        <img src="{{ mail.sender.image.url }}" class="senderInfo__img">
        <div>
            <p class="senderInfo__name">{{ mail.sender.surname }} {{ mail.sender.name }}</p>
            <p class="senderInfo__role">{{ mail.sender.permission }}</p>
        </div>
    </div>
    <div class="column">
        <p class="mailItem__title">
            <strong>{{ mail.title }}</strong>
            {{ mail.text }}
        </p>

        <div class='files'>
            {% for file in mail.files|get_objects %}
            <div class="file file-mini">
                <div class="file-info">
                    <i class='file-{{ file|file_extension }}'></i>
                    <h4>{{ file|file_name }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <p class="mailItem__date">{{ mail.date }}</p>
</div>
{% endfor %}