/* Главная */
#main{ padding: 0 }

header{
    width: 100%; height: 100px;
    padding: 25px 45px 25px 195px;
    display: flex;
    align-items: center;
}
/* Панель инструментов */
header .toolbar{
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: auto;
}
header .toolbar button{
    width: 40px; height: 40px;
    margin: 5px 0; padding: 10px;
    border-radius: 5px;
    color: #1967D2; font-size: 20px;
    background-color: #fff;
    transition: .2s background-color;
}
header .toolbar button:hover{
    background-color: #E3EEFC;
}
/* Профиль */
header .profile{
    display: flex;
    gap: 10px;
    align-items: center;
}
header .profile .info{
    display: flex;
    flex-direction: column;
    text-align: right;
}
header .profile .info h2{
    font-size: 1.2rem;
}
header .profile .info h4{
    font-size: 1rem;
}
header .profile img{
    width: 44px; height: 44px;
    border-radius: 100%;
    object-fit: cover;
}

/* Виджеты */
#widgets{
    width: 100%;
    background-color: aliceblue;
    padding: 25px 45px 25px 195px;
    display: flex;
    height: 350px;
}
#widgets > div{
    padding: 25px;
    position: relative;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
}

/* Виджет с цитатой */
#widgets #quote-widget{
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}
#widgets #quote-widget div h6{
    width: 50%;
    font-size: 1.2rem; font-weight: 300; font-style: italic;
}
#widgets #quote-widget div h4{
    text-align: right;
    width: 50%;
    font-size: 1rem; font-weight: 300;
}

#widgets #quote-widget::after{
    content: url('../../../img/illustration.png');
    position: absolute; right: 0; bottom: -6px;
}

/* Виджет "Твои курсы" */
#widgets #courses-manager{
    background-color: #85BBFF;
    min-width: 775px;
    display: flex; flex-direction: column;
    gap: 10px;
}
#widgets #courses-manager > .widget-header{
    display: flex; justify-content: space-between;
}
#widgets #courses-manager > #slider{
    width: 730px;
    padding-right: 5px;
    display: flex; justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: 10px;
}
#widgets #courses-manager > #slider::-webkit-scrollbar{
    height: 0;
}
#slider-controller{
    display: flex; align-items: center; gap: 10px;
}
#next, #prev{
    height: 30px; width: 30px;
    background-color: #fff;
    border-radius: 15px;
    padding: 8.5px;
    transition: .2s transform;
}
#next:hover, #prev:hover{ transform: scale(1.2) }
#widgets #courses-manager > #slider div{
    min-width: 225px; height: 190px;
    box-shadow: none;
    margin-right: 25px;
    transition-duration: .5s;
    transition-property: transform, box-shadow;
}
#widgets #courses-manager > #slider > div:hover{
    box-shadow: -1px 1px #65a9fc, -2px 2px #65a9fc, -3px 3px #65a9fc, -4px 4px #65a9fc, -5px 5px #65a9fc;
    -webkit-transform: translateX(5px) translateY(-5px);
    transform: translateX(5px) translateY(-5px);
}
#widgets #courses-manager > #slider > div img{
    object-fit: cover;
    width: 100%; height: 100px;
    border-radius: 15px 15px 0 0;
}
#widgets #courses-manager > #slider > div h2, #widgets #courses-manager > #slider > div h4{ margin: 0 0 0 15px }
#widgets #courses-manager > #slider > div h4{ font-size: 1rem }

/* Новости */
#news{
    width: 100%;
    background-color: #fff;
    padding: 25px 45px 25px 195px;
    display: flex; flex-direction: column; gap: 25px;
}
#news > div{
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
#news > div .item{
    width: 32%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 25px;
}
#news > div .item img{
    object-fit: cover;
    width: calc(100% + 50px);
    margin: -15px -25px 10px;
    height: 228px;
    border-radius: 15px 15px 0 0;
}
#news > div .item p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Кнопка "Больше новостей" */
.main-btn{
    width: 100%;
    display: flex; justify-content: center;
}
.main-btn button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #0E58B5;
    color: #fff;
    font-size: 24px;
    transition-duration: .2s;
    transition-property: transform box-shadow;
    box-shadow: 0 5px 0 0 #0b458b;
    transform: translate(0, -3px);
}
.main-btn button:hover{
    box-shadow: 0 3px 0 0 #0b458b;
    transform: translate(0, 0);
}
