{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CoreApp/main.css' %}">
    <link rel="stylesheet" href="{% static 'CoreApp/icons/uicons-regular-rounded.css' %}">
    <link rel="shortcut icon" href="{% static 'CoreApp/imgs/favicon.png' %}" type="image/png">
</head>

<style>
	body[colorScheme='colorScheme__blue']{
	    --illustration: url({% static 'CoreApp/imgs/1.jpg' %});
	}

	body[colorScheme='colorScheme__red']{
	    --illustration: url({% static 'CoreApp/imgs/5.jpg' %});
	}

	body[colorScheme='colorScheme__purple']{
	    --illustration: url({% static 'CoreApp/imgs/11.jpg' %});
	}
	body[colorScheme='colorScheme__green']{
	    --illustration: url({% static 'CoreApp/imgs/6.jpg' %});
	}
</style>
