

/* Виджет "Календарь" */
#eventsWidget{
    width: calc(100% - 48rem - 1rem); height: 22rem;
    border-radius: 1rem;
    border: 2px dashed var(--item-bg-color);
    padding: 1.5rem;
}

/* Расписание мероприятий */
#eventsWidget .timetable{
    width: 100%; height: 100%;
    overflow: auto;
}
.event{
    min-height: 3rem;
    border-radius: 0.5rem;
    transition: background-color .2s;
    cursor: pointer;
}
.event:hover{
    background-color: var(--theme-light);
}
.event__date{
    width: 2.5rem;
    font-weight: 500; color: var(--text-primary-color);
    text-align: right;
}
.event__name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    max-width: calc(100% - 2.5rem - 2rem - 1rem);
}
.event__marker{
    height: 1rem; width: 1rem;
    position: relative;
}
.event__marker::before{
    content: "";
    width: 0.25rem; height: 3rem;
    background-color: var(--item-bg-color);
    position: absolute; top: -1rem; left: 0.375rem;
}
.event__marker::after{
    content: "";
    height: 0.5rem; width: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--aside-bg-color);
    border: var(--currentColor) solid 0.25rem;
    position: absolute; top: 0; left: 0;
    box-shadow: 0 0 0 0.125rem var(--aside-bg-color);
}
.event:first-of-type .event__marker::before{
    height: 1.5rem; top: 0.5rem;
}
.event:last-of-type .event__marker::before{
    height: 1.5rem;
}


/* Виджет "Расписание" */
#scheduleWidget{
    width: 48rem; height: 22rem;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 2px dashed var(--item-bg-color);
}

.courseList{
    width: 100%; min-height: 16rem; max-height: 16rem;
    overflow: auto;
}

/* Направление */
.course{
    height: 5rem; width: 100%;
    border-radius: 1rem;
    background-color: var(--item-bg-color);
    cursor: pointer;
    transition: transform .1s;
}
.course:active{
    transform: scale(0.98);
}
.course__illustration{
    width: 4rem; height: 4rem;
    margin: 0.5rem 1rem;
}
.course__title{
    font-size: 1.25rem; font-weight: 500;
    color: var(--text-primary-color);
    width: 12rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lesson{
    background-color: var(--bgColor);
    width: 3rem; height: 3rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}
.lesson__day{
    font-weight: 800;
}
.lesson__day, .lesson__time{
    color: var(--currentColor);
    text-align: center;
}
.lesson.inactive{
    background-color: var(--theme-light);
}
.lesson.inactive .lesson__day{
    color: #70757D;
}

/* Новости */
.newsContainer{
    flex-wrap: wrap;
}
.newsItem{
    width: calc((100% - 2rem) / 3); height: 400px;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.newsItem:hover .newsItem__preview{
    transform: scale(1.05);
}
.newsItem__preview{
    width: calc(100% + 4rem); height: calc(100% + 4rem);
    filter: brightness(0.6);
    object-fit: cover;
    margin: -2rem;
    border-radius: 1rem;
    z-index: -1;
    transition: transform .4s ease;
}
.newsItem__content{
    position: absolute;
    bottom: 2rem;
    padding-right: 2rem;    
}
.newsItem__title{
    color: #eee;
    font-size: 1.8rem; font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newsItem__text{
    color: rgba(238, 238, 238, 0.8);
    font-size: 1rem;
    overflow: hidden;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.newsItem__info{
    color: #eee; font-size: 1.1rem;
}
.newsItem__info p{
    color: #eee;
}
.newsItem__info .dot{
    background-color: #eee;
    width: 8px; height: 8px;
    border-radius: 4px;
}


@media screen and (max-width: 1100px){
    .newsItem{
        width: calc((100% - 1rem) / 2);
    }
    #scheduleWidget{
        width: 32rem;
    }
    #eventsWidget{
        width: calc(100% - 32rem - 1rem);
    }
    .lesson.inactive{
        display: none;
    }
}
@media screen and (max-width: 820px){
    #widgets{
        flex-direction: column;
    }
    #scheduleWidget, #eventsWidget{
        width: 100%;
    }
    .lesson.inactive{
        display: flex;
    }
}

@media screen and (max-width: 740px){
    .mainContainer{
        padding: 1rem;
    }
    .newsItem{
        width: 100%;
    }
    #scheduleWidget, #eventsWidget{
        padding: 1rem;
    }
}

@media screen and (max-width: 576px){
    .lesson.inactive{
        display: none;
    }
}